<editable-form noButtons 
    [form]="form!" 
    [disabled]="formDisabled"
>
    <div class="row">
        <grid [items]="items"
            [form]="form!"
            [add]="addProcesso.bind(this)"
            [load]="loadProcesso.bind(this)"
            [remove]="removeProcesso.bind(this)"
            [save]="saveProcesso.bind(this)"
            [editEnd]="editEndProcesso.bind(this)"
            [selectable]="this.isSearching"
            [hasAdd]="!isSearching"
            [hasEdit]="!isSearching" 
            [hasDelete]="!isSearching"
            (select)="onSelect($event)"
            editable
        >
            <columns>
                <column title="Nível" [template]="nivel" [editTemplate]="editNivel">
                    <ng-template let-row="row" let-metadata="metadata" #nivel>
                        <small class="d-block">{{getSequencia(metadata, row)}}</small>
                    </ng-template>
                    <ng-template let-row="row" #editNivel>
                        <input-level [size]="6" controlName="nivel" [validate]="validateLevel"></input-level>
                    </ng-template>
                </column>
                <column title="Processos" [template]="processo" [editTemplate]="editProcesso">
                    <ng-template let-row="row" let-metadata="metadata" #processo>
                        <strong class="d-block text-break w-100" [style.margin-left.px]="getNivelSequencia(metadata)">{{row.nome || ""}}</strong>
                    </ng-template>
                    <ng-template let-row="row" #editProcesso>
                        <input-text [size]="6" controlName="nome" [control]="form!.controls.nome" [attr.maxlength]=250></input-text>
                    </ng-template>
                </column>
                <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
            </columns>
        </grid>
    </div>
</editable-form>