<editable-form [form]="form!" [forceInvalid]="forceInvalid" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="USUARIO" [label]="lex.noun('Usuario')">
            <preferencia-form-usuario #usuario panel [usuarioId]="auth.usuario!.id"></preferencia-form-usuario>
        </tab>
        <tab key="PETRVS" label="Petrvs">
            <preferencia-form-petrvs #petrvs panel></preferencia-form-petrvs>
        </tab>
        <tab *ngIf="auth.entidade" key="ENTIDADE" [label]="lex.noun('Entidade')">
            Em desenvolvimento
        </tab>
    </tabs>
</editable-form>
