<grid multiselect [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_PTR_INCL')"
    [hasEdit]="false"
    [dynamicMultiselectMenu]="dynamicMultiselectMenu.bind(this)"
    [multiselectAllFields]="multiselectAllFields">
    <toolbar *ngIf="!selectable">
      <input-switch [size]="4" labelPosition="left" label="Agrupar por Un." controlName="agrupar" [control]="filter!.controls.agrupar" (change)="onAgruparChange($event)"></input-switch>
    </toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="6" label="Usuário" controlName="usuario" [control]="filter!.controls.usuario" placeholder="Usuário"></input-text>
            <input-search [size]="6" label="Unidade" controlName="unidade_id" [control]="filter!.controls.unidade_id" [dao]="unidadeDao" [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
        </div>
        <div class="row">
          <input-search [size]="6" label="Tipo de modalidade" controlName="tipo_modalidade_id" [control]="filter!.controls.tipo_modalidade_id" [dao]="tipoModalidadeDao" [selectRoute]="{route: ['cadastros', 'tipo-modalidade']}"></input-search>
          <input-select [size]="2" label="Data" itemTodos="- Nenhum -" [valueTodos]="null" controlName="data_filtro" [control]="filter!.controls.data_filtro" [items]="DATAS_FILTRO"></input-select>
          <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Início" controlName="data_filtro_inicio" [control]="filter!.controls.data_filtro_inicio" labelInfo="Data início do período"></input-datetime>
          <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Fim" controlName="data_filtro_fim" [control]="filter!.controls.data_filtro_fim" labelInfo="Data fim do período"></input-datetime>
      </div>
    </filter>
    <columns>
        <column [titleTemplate]="titleNumero" field="numero" [minWidth]="50">
            <ng-template let-header="header" #titleNumero>
                <order by="numero" [header]="header">#ID</order>
            </ng-template>
        </column>
        <column [titleTemplate]="titleUsuario" [template]="columnUsuario">
            <ng-template let-header="header" #titleUsuario>
                <order by="usuario.nome" [header]="header">Usuário</order>
            </ng-template>
            <ng-template let-row="row" #columnUsuario>
                <span> {{row.usuario?.nome || ""}}</span>
            </ng-template>
        </column>
        <column title="Programa" [template]="columnPrograma">
            <ng-template let-row="row" #columnPrograma>
                <span> {{row.programa?.nome || ""}}</span>
            </ng-template>
        </column>
        <column title="Unidade" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <span> {{row.unidade?.nome || ""}}</span>
            </ng-template>
        </column>
        <column title="Modalidade" [template]="columnModalidade">
            <ng-template let-row="row" #columnModalidade>
                <span> {{row.tipo_modalidade?.nome || ""}}</span>
            </ng-template>
        </column>
        <column [titleTemplate]="titleVigencia" [template]="columnInicioVigencia">
            <ng-template let-header="header" #titleVigencia>
              Vigência de<br><order by="data_inicio_vigencia" [header]="header">Início</order>a<order by="data_fim_vigencia" [header]="header">Fim</order>
            </ng-template>
            <ng-template let-row="row" #columnInicioVigencia>
                <span> {{dao!.getDateFormatted(row.data_inicio_vigencia)+" até "+dao!.getDateFormatted(row.data_fim_vigencia)}}</span>
            </ng-template>
        </column>
        <column [title]="'Termo\nAssinaturas'" [template]="documento">
            <ng-template let-row="row" #documento>
                <badge *ngIf="row.documento" color="light" icon="bi bi-file-earmark-check" [rounded]="false" [data]="row.documento" [click]="documentoService.preview.bind(documentoService)">
                    <span [style.max-width.px]="200" class="text-wrap"><small><strong>#{{row.documento.numero}}</strong> - {{row.documento.titulo_documento}}</small></span>
                    <separator *ngIf="row.documento?.assinaturas?.length" transparent>
                        <profile-picture *ngFor="let assinatura of row.documento!.assinaturas" [url]="assinatura.usuario.url_foto" [hint]="assinatura.usuario.nome"></profile-picture>
                    </separator>
                </badge>
                <badge *ngIf="row.documento?.numero_processo?.length" [class]="'d-block'" color="warning" icon="bi bi-folder-symlink" [rounded]="false" [data]="row.documento" [click]="documentoService.onProcessoClick.bind(documentoService)" [hint]="documentoService.processoHint(row)">
                    {{row.documento?.numero_processo?.length ? row.documento?.numero_processo : "Não atribuído"}}
                    <small *ngIf="row.documento?.numero_documento?.length"><br>Sei nº {{row.documento?.numero_documento}}</small>
                </badge>
                <!--span *ngIf="row.documento?.numero_processo?.length" class="badge bg-warning text-dark" [attr.role]="row.documento?.numero_processo?.length ? 'button' : undefined" data-bs-toggle="tooltip" data-bs-placement="top" (click)="onProcessoClick(row)" [title]="allPages.getButtonTitle(row.documento?.numero_processo, row.documento?.numero_documento)">
                    <i [class]="'bi ' + (row.documento?.numero_processo?.length ? 'bi bi-folder-symlink' : 'bi bi-x-lg')"></i>
                    {{row.documento?.numero_processo?.length ? row.documento?.numero_processo : "Não atribuído"}}
                    <small *ngIf="row.documento?.numero_documento?.length"><br>Sei nº {{row.documento?.numero_documento}}</small>
                </span//-->
            </ng-template>
        </column>
        <column type="options" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <report>
      <column title="Numero" [template]="reportNumero"><ng-template let-row="row" #reportNumero>{{row.numero}}</ng-template></column>
      <column title="Matricula usuário" [template]="reportMatricula"><ng-template let-row="row" #reportMatricula>{{row.usuario?.matricula || ""}}</ng-template></column>
      <column title="Programa" [template]="reportPrograma"><ng-template let-row="row" #reportPrograma>{{row.programa?.nome || ""}}</ng-template></column>
      <column title="Unidade" [template]="reportUnidade"><ng-template let-row="row" #reportUnidade>{{row.unidade?.nome || ""}}</ng-template></column>
      <column title="Modalidade" [template]="reportModalidade"><ng-template let-row="row" #reportModalidade>{{row.tipo_modalidade?.nome || ""}}</ng-template></column>
      <column title="Início vigência" [template]="reportInicioVigencia"><ng-template let-row="row" #reportInicioVigencia>{{util.getDateTimeFormatted(row.data_inicio_vigencia)}}</ng-template></column>
      <column title="Fim vigência" [template]="reportFimVigencia"><ng-template let-row="row" #reportFimVigencia>{{util.getDateTimeFormatted(row.data_fim_vigencia)}}</ng-template></column>
      <column title="Termo de Adesão" [template]="reportTermoAdesao"><ng-template let-row="row" #reportTermoAdesao>{{row.documento?.numero_processo?.length ? row.documento?.numero_processo : "Não atribuído"}}</ng-template></column>
    </report>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
