<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="nome" (submit)="onSaveData()" (cancel)="onCancel()">
  <div class="row">
    <input-search [size]="4" #tipoCliente label="Tipo" [dao]="tipoClienteDao" controlName="tipo_cliente_id" (change)="alteraTipo()" [selectRoute]="{route: ['cadastros', 'tipo-cliente']}"></input-search>
    <input-search [size]="8" #unidade label="Unidade" controlName="unidade_id" [dao]="unidadeDao" [classList]="'d-none'" (select)="selecionaUnidade($event)"></input-search>
    <input-text [size]="8" #nome label="Nome" controlName="nome" [attr.maxlength]=250 required></input-text>
  </div>

</editable-form>