<editable-form [form]="form!" [title]="title" [buttons]="buttons">
    <div class="row">
        <input-search #usuario [size]="6" controlName="usuario_id" [dao]="usuarioDao" (select)="onUsuarioSelect($event)"
            [join]="['planos.tipo_modalidade:id,nome','planos.unidade:id,nome,sigla']"></input-search>
        <input-select #plano nullable [label]="lex.noun('Plano de trabalho')" [size]="6" controlName="plano_trabalho_id"
            [items]="planos" [labelInfo]="lex.noun('Plano de trabalho',true)" (change)="onPlanoChange($event)"></input-select>
    </div>
    <div class="row">
        <input-datetime [size]="4" label="Início" controlName="data_inicio" labelInfo="Início do período de pesquisa"></input-datetime>
        <input-datetime [size]="4" label="Fim" controlName="data_fim" labelInfo="Final do período de pesquisa"></input-datetime>
    </div>
    <hr />
</editable-form>