.subtitle {
    font-weight: bold;
    font-style: italic;

    i {
        margin-right: 5px;
    }
}

.dados-siape {
    margin-bottom: 20px;
}

.unidade {
    color: white;
    background-color: royalblue;
    border-radius: 10px;
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
}