<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [join]="join" [hasAdd]="auth.hasPermissionTo('MOD_PLAN_INST_INCL')"
      [hasEdit]="auth.hasPermissionTo('MOD_PLAN_INST_EDT')" [orderBy]="orderBy" [selectable]="selectable" (select)="onSelect($event)">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" label="Nome" controlName="nome" [control]="filter!.controls.nome"></input-text>
        </div>
        <div class="row">
            <input-search [size]="8" controlName="planejamento_id"  [dao]="planejamentoDao"></input-search>                
            <input-search [size]="4" controlName="eixo_tematico_id" [dao]="eixoTematicoDao"></input-search>                
        </div>
    </filter>
    <columns>
        <column title="Nome" [template]="columnNome" orderBy="nome">
            <ng-template let-row="row" #columnNome><span> {{row.nome}}</span></ng-template>
        </column>
        <column [title]="lex.translate('Planejamento Institucional')" [template]="columnPlanejamento" orderBy="planejamento.nome">
            <ng-template let-row="row" #columnPlanejamento><span> {{ row.planejamento?.nome }}</span></ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>

