<div class="d-flex vh-100 g-0 bg-gray-100">
    <div class="col-lg-6 position-relative d-none d-lg-block bg-primary-subtle">        
        <div class="bg-holder" style="background-image: url(../../../assets/images/intro_login.jpg)"></div>
    </div>

    <div [class]="modalRoute ? 'col-12 col-lg-6' : 'col-12 col-lg-6'">

        <button class="btn btn-outline-primary botao-suporte rounded btn-sm" (click)="openModal({route: ['suporte']})"  [attr.data-bs-toggle]="'tooltip'" data-bs-placement="top" title="Suporte Petrvs">
            <i class="bi bi-headset"></i>
        </button>

        <div class="d-flex align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class=".col col-sm-6 col-lg-7 col-xl-6">
                <div *ngIf="error?.length" class="alert alert-danger mt-2 mb-5" role="alert">
                    <span><u><strong>{{ (error || '').split('&')[0] }}</strong></u></span><br>{{ (error || '').split('&')[1] }}
                </div>

                <div class="text-center mb-5 d-flex align-items-center justify-content-center">
                    <img src="../assets/images/logo_pgd.png" class="logo-pgd">
                    <img [src]="globals.getResourcePath('assets/images/' + globals.IMAGES.login)" class="logo-petrvs" alt="Petrvs"/>
                </div>
                <div class="text-center mb-5">
                    <h3 class="fw-bold">Acesso</h3>
                </div>
                <div class="text-center mb-5">

                    <h4 class="fw-bold text-danger">{{ ambiente }}</h4>
                </div>
                <div class="text-center">
                    <div class="card-body">

                      <div *ngIf="globals.hasGoogleLogin" class="card-body">
                        <div id="gbtn"></div>
                      </div>
                        <div class="or-container" *ngIf="globals.hasGoogleLogin">
                          <div class="line-separator"></div>
                          <div *ngIf="globals.hasLoginUnicoLogin" class="or-label">ou</div>
                          <div *ngIf="globals.hasLoginUnicoLogin" class="line-separator"></div>
                        </div>
                        <div class="govbr" *ngIf="globals.hasLoginUnicoLogin">
                            <button class="br-button btn btn-primary rounded-pill mt-3" type="button" (click)="signInLoginUnicoBackEnd()">
                                Entrar com <span>gov.br</span>
                            </button>
                        </div>
                      <div class="or-container"  *ngIf="globals.hasLoginUnicoLogin">
                        <div class="line-separator"></div>
                        <div *ngIf="globals.hasAzureLogin" class="or-label">ou</div>
                        <div *ngIf="globals.hasAzureLogin" class="line-separator"></div>
                      </div>
                        <div *ngIf="globals.hasAzureLogin" class="card-body">

                          <div class="row mt-2">
                            <div class="col-md-12 d-flex justify-content-center">
                              <a *ngIf="!auth.logging" class="btn btn-lg btn-google btn-outline" (click)="signInAzure()">
                                <img [src]="globals.getResourcePath('assets/images/microsoft_logo.png')"/>
                                Microsoft (Login Institucional)
                              </a>
                              <div *ngIf="auth.logging" class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden"></span>
                              </div>
                            </div>
                          </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="logos">     
            <div class="text-left mt-3 small text-muted" *ngIf="buildInfo">
                <p class="m-0">Build Data: {{ buildInfo.build_date }}</p>
                <p class="m-0">Build Número: {{ buildInfo.build_number }}</p>
            </div>
            <div class="text-left mt-3 small text-muted" >
                <p class="m-0"><small class="text-primary">Versão: {{globals.VERSAO_SYS}}</small></p>
            </div>

            <img src="../assets/images/logo_gov.png">
        </div>        
    </div>
</div>
