<tabs display right class="my-5">
    <tab key="SOFTSKILLS" class="fw-bold" label="Soft-Skills">
        <curriculum-atributos-soft-form></curriculum-atributos-soft-form>
    </tab>
    <tab key="BIG5" class="fw-bold" label="Big-Five">
        <curriculum-atributos-big5-form></curriculum-atributos-big5-form>
    </tab>
    <!--<tab key="QVT" class="fw-bold" label="QVT">
        <curriculum-atributos-qvt-form></curriculum-atributos-qvt-form>
    </tab>-->
    <!--<tab key="DASS21" class="fw-bold" label="DASS-21">
        <curriculum-atributos-dass-form></curriculum-atributos-dass-form>
    </tab>-->
    
</tabs>
