.comentario-table {
    width: 100%;
}
.comentario-user {
    width: 50px; 
    vertical-align: top; 
    padding: 8px;
}
.comentario-container {
    padding-left: 10px;
    width: auto;
    border-left: var(--bs-gray-400) 2px solid;
    position: relative;
}
.comentario-user-indicator {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: -12px;
    border-top: .75rem solid var(--bs-gray-400);
    border-left: .75rem solid transparent;
    border-bottom: none;
    border-right: none;
}
.comentario-level {
    color: var(--bs-gray);
}
.comentario-message-title {
    span {
        font-size: 0.7em;
        color: var(--bs-gray);
    }
    span::before {
        content: " • ";
    }
}