<editable-form [form]="form!" [disabled]="formDisabled" initialFocus="descricao" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right [title]="!isModal ? title : ''">
        <tab key="TAREFA" [label]="lex.translate('Tarefa da Atividade')">
            <div class="row">
                <input-textarea label="Descrição" [size]="12" [rows]="2" controlName="descricao" [control]="form!.controls.descricao" required></input-textarea>
            </div>
            <div class="row">
                <input-search [label]="lex.translate('Tipo de Tarefa')" #tipoTarefa [size]="7" controlName="tipo_tarefa_id" [dao]="tipoTarefaDao" (select)="onTipoTarefaSelect($event)"></input-search>
                <input-timer onlyHours label="Tempo estimado" [size]="3" controlName="tempo_estimado" [control]="form!.controls.tempo_estimado" labelInfo="Tempo estimado de execução"></input-timer>
                <input-switch label="Concluído" [size]="2" controlName="concluido" [control]="form!.controls.concluido" labelInfo="Se foi concluída"></input-switch>
            </div>
            <documento-link #documento [sei]="sei" [documento]="form!.controls.documento.value"></documento-link>
        </tab>
        <tab key="COMENTARIOS" label="Comentarios">
            <div clss="row">
                <comentarios #comentarios origem="ATIVIDADE_TAREFA" [control]="form!.controls.comentarios"></comentarios>
            </div>
        </tab>
    </tabs>
</editable-form>
