.link {
    cursor: pointer;
    text-decoration: none;
}

.no-data {
  text-align: center;
  color: #666;
  font-weight: bold;
  padding: 50px;
  width: 100%;
}

.graficos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 10px auto;
  gap: 20px;
}

.grafico {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grafico .titulo{
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 50px;
}

.grafico-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

canvas {
  margin: 0 auto;
  width: 300px;
}
