<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)" [hasAdd]="canAdd()"
    [hasEdit]="false" [loadList]="onGridLoad.bind(this)">
    <toolbar *ngIf="!selectable" [buttons]="toolbarButtons">
        <input-switch [size]="4"
                      labelPosition="left"
                      label="Unidades Subordinadas"
                      (change)="disableMeus()"
                      labelInfo="Planos de entrega das unidades subordinadas"
                      [control]="filter!.controls.subordinadas"
        >
        </input-switch>
        <input-switch *ngIf="!avaliacao" [size]="2" labelPosition="left" label="Vinculados" controlName="principais" [control]="filter!.controls.principais" (change)="onPrincipaisChange($event)" [labelInfo]="lex.translate('Unidades') + ' onde o ' + lex.translate('usuario') + ' é integrante, incluindo unidades superiores sob sua gerência.'"></input-switch>
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed" [visible]="showFilter">
        <div *ngIf="isModal else naoEModal">
            <div class="row">
                <input-switch [size]="1"
                              label="Meus"
                              (change)="disableSub()"
                              [control]="filter!.controls.meus_planos"
                              labelInfo="Planos de entrega das unidades da qual sou integrante (Áreas de trabalho)"
                >
                </input-switch>
                <input-search #unidade [size]="5" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao"></input-search>
                <input-select [size]="2" label="Data" itemTodos="- Nenhum -" [valueTodos]="null" controlName="data_filtro" [control]="filter!.controls.data_filtro" [items]="DATAS_FILTRO"></input-select>
                <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Início" controlName="data_filtro_inicio" [control]="filter!.controls.data_filtro_inicio" labelInfo="Data início do período"></input-datetime>
                <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Fim" controlName="data_filtro_fim" [control]="filter!.controls.data_filtro_fim" labelInfo="Data fim do período"></input-datetime>
            </div>
        </div>
        <ng-template #naoEModal>
            <div class="row">
                <input-switch [size]="1" label="Meus"

                              [control]="filter!.controls.meus_planos"
                              (change)="disableSub()"
                              labelInfo="Planos de entrega das unidade da qual sou integrante (Áreas de trabalho)">

                </input-switch>
                <input-text [size]="3" label="Nome" controlName="nome" [control]="filter!.controls.nome" [placeholder]="'Nome do '+lex.translate('plano de entrega')" [attr.maxlength]=250></input-text>
                <input-search #unidade [size]="4" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao"></input-search>
                <input-select [size]="3" label="Status" controlName="status" [control]="filter!.controls.status" [items]="lookup.PLANO_ENTREGA_STATUS" [filter]="avaliacao ? ['CONCLUIDO', 'AVALIADO'] : undefined" itemTodos="- Todos -" [valueTodos]="'TODOS'"></input-select>
                <input-switch [size]="1" label="Arquivados" controlName="arquivadas" [control]="filter!.controls.arquivadas" labelInfo="Listar também os planos de entregas arquivados"></input-switch>
            </div>
            <div class="row">
                <input-search #planejamento [size]="3" [control]="filter!.controls.planejamento_id" controlName="planejamento_id" [dao]="planejamentoDao"></input-search>
                <input-search #cadeiaValor [size]="3" [control]="filter!.controls.cadeia_valor_id" controlName="cadeia_valor_id" [dao]="cadeiaValorDao"></input-search>
                <input-select [size]="2" label="Data" itemTodos="- Nenhum -" [valueTodos]="null" controlName="data_filtro" [control]="filter!.controls.data_filtro" [items]="DATAS_FILTRO"></input-select>
                <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Início" controlName="data_filtro_inicio" [control]="filter!.controls.data_filtro_inicio" labelInfo="Data início do período"></input-datetime>
                <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Fim" controlName="data_filtro_fim" [control]="filter!.controls.data_filtro_fim" labelInfo="Data fim do período"></input-datetime>
            </div>
        </ng-template>
    </filter>
    <columns>
        <column *ngIf="!selectable" type="expand" icon="bi bi-list-check" [align]="'center'" [hint]="lex.translate('Entrega')" [template]="columnEntregas" [expandTemplate]="columnExpandedEntregas">
            <ng-template let-row="row" #columnEntregas>
                <span *ngIf="row.entregas?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-list-check"></i> {{row.entregas?.length}}</span>
            </ng-template>
            <ng-template let-row="row" #columnExpandedEntregas>
                <plano-entrega-list-entrega [parent]="this" [disabled]="avaliacao || !botaoAtendeCondicoes(BOTAO_ALTERAR, row)" [entity]="row" [execucao]="execucao" [cdRef]="cdRef" [planejamentoId]="row.planejamento_id" [cadeiaValorId]="row.cadeia_valor_id" [unidadeId]="row.unidade_id"></plano-entrega-list-entrega>
            </ng-template>
        </column>
        <column [titleTemplate]="titleIdNumeroStatus" [template]="columnNumero">
            <ng-template let-header="header" #titleIdNumeroStatus>
                <order by="numero" [header]="header">#ID</order>
            </ng-template>
            <ng-template let-row="row" #columnNumero>
                <small class="micro-text fw-ligh">#{{row.numero}}</small>
            </ng-template>
        </column>
        <column [titleTemplate]="titleNomeProgramaUnidade" [template]="columnNome">
            <ng-template let-header="header" #titleNomeProgramaUnidade>
                <order by="nome" [header]="header">Nome</order><br>
                Programa{{ !filter!.controls.agrupar.value ? ' - Unidade' : ''}}
            </ng-template>
            <ng-template let-row="row" #columnNome>
                <span class="text-break text-wrap" [style.max-width.px]="400">{{row.nome || ""}}</span><br>
                <badge *ngIf="row.programa" [icon]="entityService.getIcon('Programa')" [label]="row.programa.nome" color="light"></badge>
                <badge *ngIf="!filter!.controls.agrupar.value && row.unidade" color="secondary" [icon]="entityService.getIcon(lex.translate('unidade'))" [label]="row.unidade.sigla"></badge>
            </ng-template>
        </column>
        <column title="Início" [template]="columnInicio" orderBy="data_inicio">
            <ng-template let-row="row" #columnInicio>
                <span> {{dao!.getDateFormatted(row.data_inicio)}}</span>
            </ng-template>
        </column>
        <column title="Fim" [template]="columnFim" orderBy="data_fim">
            <ng-template let-row="row" #columnFim>
                <span> {{dao!.getDateFormatted(row.data_fim)}}</span>
            </ng-template>
        </column>
        <column [titleTemplate]="titlePlanoCadeia" [template]="columnPlanoCadeia">
            <ng-template let-header="header" #titlePlanoCadeia>
                Planejamento Institucional<br>
                Cadeia de Valor
            </ng-template>
            <ng-template let-row="row" #columnPlanoCadeia>
                <badge *ngIf="row.planejamento" [maxWidth]="300" color="light" [icon]="entityService.getIcon('Planejamento')" [label]="row.planejamento?.nome"></badge>
                <badge *ngIf="row.cadeia_valor" [maxWidth]="300" color="light" [icon]="entityService.getIcon('CadeiaValor')" [label]="row.cadeia_valor?.nome"></badge>
            </ng-template>
        </column>
        <column [title]="'Status\nAvaliação'" [template]="columnStatus">
            <ng-template let-row="row" #columnStatus>
                <badge [color]="statusColor(row)" [icon]="statusIcon(row)" [label]="statusLabel(row)"></badge><br>
                <badge *ngIf="row.data_arquivamento" color="warning" icon="bi bi-inboxes" label="Arquivado"></badge>
                <badge *ngIf="row.deleted_at" color="danger" icon="bi bi-trash3" label="Excluído"></badge>
                <avaliar-nota-badge *ngIf="row.avaliacao" [align]="'left'" [tipoAvaliacao]="row.avaliacao.tipo_avaliacao" [nota]="row.avaliacao.nota"></avaliar-nota-badge>
            </ng-template>
        </column>
        <column type="options" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>

<!-- Planejamento/           [ Incluir ] 
Numero  Nome              Data inicio  Data Fim   Cadeia de Valor    Status      
------------------------------------------------------------------------------- [...]
                                                   | Consultar                      |
                                                   | Alterar                        |
                                                   | Excluir                        |
                                                   | Entregas                       |
                                                   | Homologar                      |
                                                   | Ponto de Controle (Avaliação)  |

 -->