<input-container [labelPosition]="labelPosition" [labelClass]="labelClass"  [loading]="loading" [disabled]="disabled" [controlName]="controlName" [required]="required" [control]="control" [label]="isNoBox ? label : ''" [labelInfo]="labelInfo" [icon]="icon" [bold]="bold" errorMessageIcon="bi-info-circle">
    <div [class.card]="!isNoBox">
        <h5 *ngIf="label?.length && !isNoBox" class="card-header">
            <i *ngIf="icon.length" [class]="icon"></i>
            {{label}}
        </h5>
        <div [class.card-body]="!isNoBox">
            <div class="multiselect">
                <div class="container-fluid border rounded multiselect-list px-1 mb-3" [style.max-height.px]="maxListHeight > 0 ? maxListHeight : undefined">
                    <ng-container *ngFor="let item of items">
                        <!--button *ngIf="item.data?._status != 'DELETE'" type="button" [id]="generatedId(controlName) + '_button_' + item.key" class="btn btn-light m-1 multiselect-item" [class.multiselect-has-edit]="canEdit" [class.multiselect-item-row]="multiselectStyle == 'rows'" [style.max-width.px]="multiselectStyle == 'inline' ? maxItemWidth : undefined" data-bs-toggle="tooltip" [attr.title]="item.value">
                            <i *ngIf="item.icon" [class]="'multiselect-icon ' + item.icon"></i>
                            <div class="text-truncate multiselect-text" [class.muiltiselect-text-icon]="item.icon" [style.color]="getHexColor(item.color)">{{item.value}}</div>
                            <span *ngIf="!isDisabled && !editing && canEdit" class="badge bg-primary ms-1 multiselect-delete-button" role="button" (click)="onEdit(item)"><i class="bi bi-pencil-square"></i></span>
                            <span *ngIf="!isDisabled && !editing" class="badge bg-danger ms-1 multiselect-delete-button" role="button" (click)="onDelete(item)">X</span>
                        </button/-->
                        <button *ngIf="item.data?._status != 'DELETE'" type="button" [id]="generatedId(controlName) + '_button_' + item.key" class="btn btn-light m-1 multiselect-item d-flex" [class.multiselect-item-row]="multiselectStyle == 'rows'" [style.max-width.px]="multiselectStyle == 'inline' ? maxItemWidth : undefined" data-bs-toggle="tooltip" [attr.title]="item.value">
                            <div class="flex-grow-1">
                                <i *ngIf="item.icon" [class]="'multiselect-icon ' + item.icon"></i>
                                <div class="text-truncate text-start" [class.muiltiselect-text-icon]="item.icon" [style.color]="getHexColor(item.color)">{{item.value}}</div>
                            </div>
                            <div class="text-nowrap">
                                <span *ngIf="!isDisabled && !editing && canEdit" class="badge bg-primary ms-1 multiselect-delete-button" role="button" (click)="onEdit(item)"><i class="bi bi-pencil-square"></i></span>
                                <span *ngIf="!isDisabled && !editing" class="badge bg-danger ms-1 multiselect-delete-button" role="button" (click)="onDelete(item)">X</span>
                            </div>
                        </button>
                    </ng-container>
                </div>    
                <!--div *ngIf="!isDisabled && !isNoForm" class="multiselect-container">
                    <div class="multiselect-container-form row">
                        <ng-content></ng-content>
                    </div>
                    <div class="multiselect-container-buttons">
                        <button *ngIf="!editing" type="button" [id]="generatedId(controlName) + '_add_button'" class="btn btn-success multiselect-container-form-button" (click)="onAddItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar"><i class="bi bi-arrow-bar-up"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_save_button'" class="btn btn-primary multiselect-container-form-button" (click)="onSaveItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar"><i class="bi bi-check-circle"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_cancel_button'" class="btn btn-danger multiselect-container-form-button" (click)="onCancelItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar"><i class="bi bi-dash-circle"></i></button>
                    </div>
                    <div class="multiselect-container-buttons">
                        <button *ngIf="!editing" type="button" [id]="generatedId(controlName) + '_add_button'" class="btn btn-success multiselect-container-form-button" (click)="onAddItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar"><i class="bi bi-arrow-bar-up"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_save_button'" class="btn btn-primary multiselect-container-form-button" (click)="onSaveItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar"><i class="bi bi-check-circle"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_cancel_button'" class="btn btn-danger multiselect-container-form-button" (click)="onCancelItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar"><i class="bi bi-dash-circle"></i></button>
                    </div>
                </div/-->
                <div *ngIf="!isDisabled && !isNoForm" class="multiselect-container d-flex align-items-end">
                    <div class="flex-grow-1 row">
                        <ng-content></ng-content>
                    </div>
                    <div class="btn-group align-self-center mx-2 mt-2">
                        <button *ngIf="!editing" type="button" [id]="generatedId(controlName) + '_add_button'" class="btn btn-success" (click)="onAddItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar"><i class="bi bi-arrow-bar-up"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_save_button'" class="btn btn-primary" (click)="onSaveItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar"><i class="bi bi-check-circle"></i></button>
                        <button *ngIf="editing" type="button" [id]="generatedId(controlName) + '_cancel_button'" class="btn btn-danger" (click)="onCancelItemClick()" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar"><i class="bi bi-dash-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</input-container>