<div class="row">
  <div class="col-6 col-md-4 my-1">
    <home-atalho-card icone="bi bi-bar-chart-line" titulo="Painel Gerencial" [desabilitado]="true" (acao)="irParaPainelGerencial()" />
  </div>
  <div class="col-6 col-md-4 my-1">
    <home-atalho-card icone="bi bi-journal-check" titulo="Plano de Entregas Vigente" (acao)="irParaPlanoEntregas()" />
  </div>
  <div class="col-6 col-md-4 my-1">
    <home-atalho-card icone="bi bi-person-check" titulo="Meu Plano de Trabalho Vigente" (acao)="irParaPlanoTrabalho()" />
  </div>
</div>
