@if (loading()) {
  <div class="d-flex justify-content-center py-3">
    <span class="br-loading small" role="progressbar"></span>
  </div>
} @else {
  <div class="d-flex flex-column flex-wrap flex-md-row gap-3 justify-content-center">
    <br-button class="home-btn-atalho" shape="block" emphasis="secondary" (click)="irParaPainelGerencial()" [disabled]="true">
      Painel Gerencial
    </br-button>
    <br-button class="home-btn-atalho" shape="block" emphasis="secondary" (click)="irParaPlanoEntregas()">
      Meu Plano de Entregas Vigente
    </br-button>
    <br-button class="home-btn-atalho" shape="block" emphasis="secondary" (click)="irParaPlanoTrabalho()">
      Meu Plano de Trabalho Vigente
    </br-button>
  </div>
}
