<grid multiselect [dao]="dao" [form]="form" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" editable 
      [add]="addParticipante.bind(this)" [load]="loadParticipante.bind(this)" [remove]="removeParticipante.bind(this)" 
      [save]="saveParticipante.bind(this)" [selectable]="selectable" (select)="onSelect($event)" 
      [hasAdd]="auth.hasPermissionTo('MOD_PRGT_PART_INCL')" [hasEdit]="auth.hasPermissionTo('MOD_PRGT_PART_EDT')" 
      [hasDelete]="auth.hasPermissionTo('MOD_PRGT_PART_EXCL')"
      [multiselectMenu]="multiselectMenu">
    <toolbar *ngIf="!selectable">
        <input-switch [size]="3" labelPosition="left" label="Todos" controlName="todos" [control]="filter!.controls.todos" (change)="grid!.reloadFilter()"></input-switch>
    </toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="6" label="Nome" controlName="nome" [control]="filter!.controls.nome" [placeholder]="'Nome do '+ lex.translate('usuario')+'...'"></input-text>
            <input-search [size]="6" #unidade controlName="unidade_id" [dao]="unidadeDao"></input-search>
        </div>
    </filter>
    <columns>
        <column icon="bi-person" [align]="'center'" [template]="columnFoto" [editTemplate]="editFoto">
            <ng-template let-row="row" #columnFoto>
                <profile-picture [url]="row.usuario?.url_foto" [size]="40" [hint]="row.usuario?.nome"></profile-picture>
            </ng-template>
            <ng-template let-row="row" #editFoto>
                <profile-picture [url]="usuario?.selectedEntity?.url_foto" [size]="40"></profile-picture>
            </ng-template>
        </column>
        <column title="Usuário" [template]="columnUsuario" [editTemplate]="editUsuario">
            <ng-template let-row="row" #columnUsuario>
                <strong>{{row.usuario?.nome }}</strong><br>
                <small>{{row.usuario?.apelido }}</small>
                <!-- Pensar na possibilidade de por as lotacoes -->
            </ng-template>
            <ng-template let-row="row" #editUsuario>
                <input-search #usuario [size]="12" label icon [control]="form!.controls.usuario_id" [dao]="usuarioDao"></input-search>
            </ng-template>
        </column>
        <column title="Habilitado" [template]="columnHabilitado" [editTemplate]="editHabilitado">
            <ng-template let-row="row" #columnHabilitado>
                <i *ngIf="row.habilitado" class="bi bi-person-check"></i>
            </ng-template>
            <ng-template let-row="row" #editHabilitado>
                <input-switch [size]="12" controlName="habilitado" [control]="form!.controls.habilitado"></input-switch>
            </ng-template>
        </column>
        <column type="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>