<grid multiselect [dao]="dao" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy"
    [join]="join" editable [selectable]="selectable" 
    (select)="onSelect($event)" [hasAdd]="false" [hasEdit]="false" [hasDelete]="false" [multiselectMenu]="multiselectMenu">
    <toolbar *ngIf="!selectable">
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [clear]="filterClear.bind(this)"
        [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)"
        [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-search #programaSearch [size]="8" [disabled]="isModal ? 'true' : undefined" controlName="programa_id" [control]="filter!.controls.programa_id" [dao]="programaDao" [where]="[['vigentesUnidadeExecutora', '==', auth.unidade!.id]]" [metadata]="{'vigentesUnidadeExecutora': true}" (change)="onProgramaChange()" required [value]="programa?.nome"></input-search>
            <input-select controlName="habilitados" [size]="4" [items]="condicoes" [label]="'Situação ' + lex.translate('no programa')" [control]="filter!.controls.habilitados" itemTodos="- Todos -" [valueTodos]="null"></input-select>
        </div>
        <div class="row">
            <input-text [size]="6" [label]="'Nome do '+ lex.translate('usuário')" controlName="nome_usuario" [control]="filter!.controls.nome_usuario"
                [placeholder]="'Nome do '+ lex.translate('usuario')+'...'" [attr.maxlength]=250></input-text>
            <input-search #unidade [size]="6" [control]="filter!.controls.unidade_id" controlName="unidade_id" [label]="lex.translate('Unidade ') + lex.translate('de lotação')" [labelInfo]="'Se a opção TODOS estiver OFF, exibe apenas ' + lex.translate('os usuários') + ' habilitados lotados ' + lex.translate('nessa unidade') + '. Se a opção TODOS estiver ON, exibe todos ' + lex.translate('os usuários') + ' lotados ' + lex.translate('nessa unidade') + ', habilitados, desabilitados e inabilitados.'"
                [dao]="unidadeDao"></input-search>
        </div>
    </filter>
    <div *ngIf="grid?.filterRef?.collapsed" class="mt-2 mb-4"><span><strong>{{ lex.translate('Usuários') }}</strong></span></div>
    <columns>
       
        <column [title]="lex.translate('Usuário')" [template]="columnUsuario" >
            <ng-template let-row="row" #columnUsuario>
                <strong>{{row.nome }}</strong><br>
                <label class="badge text-bg-warning" *ngIf="row.usuario_externo">Usuário Externo</label>
                <label class="badge text-bg-danger" *ngIf="row.pedagio">Teletrabalho indisponível</label>
            </ng-template>
        </column>

        <column [title]="lex.translate('Programa de Gestão')" [template]="columnPrograma" >
            <ng-template let-row="row" #columnPrograma>
                <ng-container *ngFor="let pp of row.participacoes_programas">
                    <small *ngIf="pp.habilitado == 1" class="text-success">{{pp.programa.nome}}</small>
                </ng-container>
                <badge *ngIf="row.participacoes_programas.length == 0" [color]="'danger'">{{lex.translate('Sem participação')}}</badge>
            </ng-template>
        </column>

    
        <column [title]="lex.translate('Vínculos')" [template]="columnLotacao">
            <ng-template let-row="row" #columnLotacao>
                <div *ngFor="let area of row.areas_trabalho">
                    <small>{{area.unidade?.sigla}}</small>
                </div>
            </ng-template>
        </column>
        <column [title]="lex.translate('Plano de Trabalho') + ' ativo?'" [align]="'center'" [template]="columnPlanoTrabalho">
            <ng-template let-row="row" #columnPlanoTrabalho>
                <span>{{ hasPlanoTrabalhoAtivo(row) ? 'sim' : 'não' }}</span>
            </ng-template>
        </column>
        <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>