
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
        <div class="row">
            <input-search #programa [size]="4" disabled label="Programa" icon="bi bi-layout-text-window-reverse" controlName="programa_id" [control]="form!.controls.programa_id" [dao]="programaDao"></input-search>
            <input-datetime [size]="4" disabled label="Início" icon="bi bi-calendar-date" controlName="data_inicio_vigencia" [control]="form!.controls.data_inicio_vigencia" labelInfo="Início da Vigência do Programa"></input-datetime>
            <input-datetime [size]="4" disabled label="Final" icon="bi bi-calendar-date" controlName="data_fim_vigencia" [control]="form!.controls.data_fim_vigencia" labelInfo="Final da Vigência do Programa"></input-datetime>
        </div>
        <div class="row">
            <input-multiselect label="Usuários" controlName="usuarios" [size]="6">
            <input-text label="Usuário" icon="far fa-edit" controlName="usuario_id"></input-text>
          </input-multiselect>
          <input-multiselect label="Unidades" controlName="unidades" [size]="6">
            <input-text label="Usuário" icon="far fa-edit" controlName="unidade_id"></input-text>
          </input-multiselect>
        </div>
    <separator title="Pré-visualização do termo de ciêcia e responsabilidade" collapse [collapsed]="true">
        <input-editor></input-editor>
    </separator>
</editable-form>
