<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" 
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_USER_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_USER_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="4" [label]="lex.translate('Usuário')" controlName="usuario" [control]="filter!.controls.usuario" placeholder="Nome" [attr.maxlength]=250></input-text>
            <input-search [size]="4" [label]="lex.translate('Lotação')" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao" [disabled]="!auth.hasPermissionTo('MOD_USER_LIST_ALL') ? 'true' : undefined"></input-search>
            <input-select [size]="4" [label]="lex.translate('Perfil')" controlName="perfil_id" nullable [control]="filter!.controls.perfil_id" [dao]="perfilDao"></input-select>
            <input-check [size]="12" [label]="lex.translate('Atribuições')" controlName="atribuicoes" [control]="filter!.controls.atribuicoes" [items]="lookup.UNIDADE_INTEGRANTE_TIPO" [inline]="true"></input-check>
        </div>
    </filter>
    <columns>
            
        <column title="Matrícula" field="matricula"></column>
        <column title="CPF" field="cpf"></column>
        <column title="Nome" field="nome" orderBy="nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                {{row.nome}}<br>
                <label class="badge text-bg-warning" *ngIf="row.usuario_externo">Usuário Externo</label>                
                <label class="badge text-bg-danger" *ngIf="row.pedagio">Teletrabalho indisponível</label>
            </ng-template>
        </column>

        <column [title]="lex.translate('Perfil')" [template]="columnPerfil">
            <ng-template let-row="row" #columnPerfil>
                <strong>{{row.perfil?.nome || ""}}</strong>
            </ng-template>
        </column>
        <column title="Situação" [template]="columnSituacaoSiape">
            <ng-template let-row="row" #columnSituacaoSiape>
                <label class="py-1 px-3 rounded-4" [ngClass]="{'text-bg-success': row.situacao_siape == 'ATIVO', 'text-bg-primary': row.situacao_siape == 'ATIVO_TEMPORARIO', 'text-bg-light': row.situacao_siape == 'INATIVO'}">
                    <small class="fw-medium">{{lookup.getValue(lookup.USUARIO_SITUACAO_SIAPE, row.situacao_siape) || "-"}}</small>
                </label>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [dynamicOptions]="dynamicOptions.bind(this)" [options]="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>

<ng-template #justificativaDialog>
  
    <div class="modal-body">
        <input-textarea [label]="'Justificativa'" controlName="justificativa" [control]="justificativaForm.controls.justificativa" [attr.maxlength]=250></input-textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Enviar</button>

    </div>
</ng-template>
