<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" 
    (select)="onSelect($event)"
    [hasAdd]="this.isCurador"
    [hasEdit]="this.auth.hasPermissionTo('MOD_SOLUCOES_EDT')">
    <toolbar *ngIf="!selectable">
        <button type="button" class="btn btn-outline-success" 
            (click)="this.ativarTodas()" 
            [disabled]="isUpdating"
            *ngIf="(this.grid?.items?.length ?? 0 == 0)"
        >Ativar todas as Soluções
        </button>
        <button type="button" class="btn btn-outline-danger" 
            (click)="this.desativarTodas()" 
            [disabled]="isUpdating && this.grid?.items?.length"
            *ngIf="(this.grid?.items?.length ?? 0 == 0)"
        >Desativar todas as Soluções
        </button>
    </toolbar>
    <filter 
        [deleted]="false" 
        [form]="filter" 
        [where]="filterWhere" 
        [submit]="filterSubmit.bind(this)" 
        [collapseChange]="filterCollapseChange.bind(this)" 
        [collapsed]="!selectable && filterCollapsed"
    >
        <div class="row">
            <div class="col-md-4">  
                <input-text 
                    [size]="12" 
                    label="Nome" 
                    icon="bi bi-textarea-t" 
                    [control]="filter!.controls.nome" 
                    controlName="this.filter.nome" 
                    [attr.maxlength]=250
                ></input-text>
            </div>
            <div class="col-md-8 busca-avancada">
               <div class="busca-avancada-link"><a (click)="onBuscaAvancada()">Busca Avançada</a></div>
               <div class="busca-avancada-clear"><a (click)="this.onFilterClear()">Limpar filtros de busca</a></div>
               <div class="busca-avancada-filtros-aplicados">Filtros aplicados:
                    <span *ngIf="filter!.controls.nome.value.length > 0">Nome</span>
                    <span *ngIf="filter!.controls.id.value.length > 0">#ID</span>
                    <span *ngIf="filter!.controls.status.value.length > 0">Status</span>
               </div>
            </div>
        </div>
    </filter>
    
    <columns>
        <column title="ID#" [template]="columnID">
            <ng-template let-row="row" #columnID>
                <span> {{row.identificador}}</span><br>
            </ng-template>
        </column>

        <column title="Nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                <span> {{row.nome}}</span><br>
            </ng-template>
        </column>
        <column title="Sigla/Nome Fantasia" [template]="columnSigla">
            <ng-template let-row="row" #columnSigla>
                <span>  {{row.sigla}}</span><br>
            </ng-template>
        </column>
        <column title="Status" [template]="columnStatus" *ngIf="!this.isSearching">
            <ng-template let-row="row" #columnStatus>
                <badge 
                    [color]="isActive[row.id] ? 'success' : 'danger'" 
                    [label]="isActive[row.id] ? 'Ativo' : 'Inativo'">
                </badge>
            </ng-template>
        </column>
        <column title="Ativar/Desativar para a sua unidade" [template]="columnAtivar" *ngIf="!this.isSearching">
            <ng-template let-row="row" #columnAtivar>
                <input-switch 
                    [size]="12" 
                    scale="small" 
                    [value]="isActive[row.id] ? 'true' : 'false'" 
                    [valueOn]="'true'"  
                    [valueOff]="'false'"
                    (change)="ativarDesativar(row, $event)"
                ></input-switch>
            </ng-template>
        </column>
        
        <column type="options" [onEdit]="edit" [options]="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
