<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [hasAdd]="false"
    [hasEdit]="false">
    <toolbar></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="'Nome ' + lex.translate('Perfil')" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome..." [attr.maxlength]=250></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome" field="nome"></column>
        <column title="Descrição" field="descricao"></column>
        <column title="Nível de acesso" [template]="columnNivel">
            <ng-template let-row="row" #columnNivel><span>{{row.nivel}}</span></ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
