<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <div class="row">
            <input-text [size]="12" label="Nome da entrega" icon="bi bi-textarea-t" controlName="nome" [control]="form!.controls.nome"></input-text>
        </div>
        <div class="row">
            <input-select [size]="6" label="Tipo de indicador" icon="bi bi-arrow-up-right-circle" controlName="tipo_indicador" [control]="form!.controls.tipo_indicador" [items]="lookup.TIPO_INDICADOR" (select)="onSelect()"></input-select>
            <div *ngIf="form?.controls!.tipo_indicador.value == 'QUALITATIVO' || null" class="row col-6">
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-12">
                          <label for="itemQualitativo" class="radio control-label">&nbsp;</label>
                          <input-multiselect controlName="qualitativo" [addItemHandle]="addItemHandleItemQualitativo.bind(this)">
                            <input-text [size]="12" icon="far fa-edit" controlName="itemQualitativo" [control]="form!.controls.itemQualitativo"></input-text>
                          </input-multiselect>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</editable-form>
