<div class="container">
  <div class="row mb-3">
    <div class="col-4">
      <label for="nome">Nome <span class="text-danger">*</span></label>
      <input type="text" id="nome" required="true" maxlength="255" class="form-control" [(ngModel)]="newJob.nome">
    </div>
    <div class="col-4">
      <label for="jobType">Job: <span class="text-danger">*</span></label>
      <select class="form-control" id="jobType" [(ngModel)]="newJob.classe">
        <option *ngFor="let job of jobTypes" [value]="job.value">{{job.text}}</option>
      </select>
    </div>
    <div class="col-4">
      <label for="server">Tenant <span class="text-danger">*</span></label>
      <select id="server" class="form-control" [(ngModel)]="newJob.tenant_id">
        <option *ngFor="let Tenant of tenants" [value]="Tenant.value">{{Tenant.text}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <label for="minutos">Expressão CRON <span class="text-danger">*</span></label>
      <input 
        type="text" 
        id="expressao_cron" 
        class="form-control" 
        [(ngModel)]="newJob.expressao_cron"
        [ngClass]="{'is-invalid': !isCronValid && newJob.expressao_cron.length > 0}"
      />
      <div *ngIf="!isCronValid && newJob.expressao_cron.length > 0" class="text-danger">
        Expressão CRON inválida!
      </div>
    </div>
    
      <div class="col-2">
        <input-radio
          [items]="radioItems"
          [controlName]="'ativo'"
          [form]="formGroup"
          [label]="'Ativo'"
          [value]="newJob.ativo"
          >
        </input-radio>
      </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 text-left">
      <button class="btn btn-info" (click)="createJob()">Adicionar</button>
    </div>
  </div>
</div>
<grid [items]="jobs">
  <columns>
      <column title="Nome" [template]="columnNome">
          <ng-template let-row="row" #columnNome>
            <span>{{row.nome}}</span>
          </ng-template>
      </column>
      <column title="Job" [template]="columnClasse">
          <ng-template let-row="row" #columnClasse>
            <span>{{row.classe}}</span>
          </ng-template>  
      </column>
      <column title="Expressão Cron" [template]="columnTipo">
          <ng-template let-row="row" #columnTipo>
            <span>{{row.expressao_cron.trim()}}</span>
          </ng-template>
      </column>
      <column title="Ação" [template]="columnAction">
        <ng-template let-row="row" #columnAction>
          <button class="btn btn-danger"  (click)="deleteJob(row.id)"><i class="bi bi-trash"></i></button>
        </ng-template>
    </column>

  </columns>
</grid>
