<div class="container">
  <div class="row mb-3">
    <div class="col-4">
      <label for="nome">Nome <span class="text-danger">*</span></label>
      <input type="text" id="nome" required="true" maxlength="255" class="form-control" [(ngModel)]="newJob.nome">
    </div>
    <div class="col-4">
      <label for="jobType">Job: <span class="text-danger">*</span></label>
      <select class="form-control" id="jobType" [(ngModel)]="newJob.classe">
        <option *ngFor="let job of jobTypes" [value]="job.value">{{job.text}}</option>
      </select>
    </div>
    <div class="col-4">
      <label for="server">Tenant <span class="text-danger">*</span></label>
      <select id="server" class="form-control" [(ngModel)]="newJob.tenant_id">
        <option *ngFor="let Tenant of tenants" [value]="Tenant.value">{{Tenant.text}}</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <label for="action">Parametros <span class="text-danger">*</span></label>
      <input type="text" id="action" class="form-control" [(ngModel)]="newJob.parameters">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <label for="minutos">Minutos <span class="text-danger">*</span></label>
      <input type="number" id="minutos" class="form-control" (change)="onInputChange()" [(ngModel)]="newJob.minutos" min="0" max="59" placeholder="*">
    </div>
    <div class="col-2">
      <label for="horas">Horas <span class="text-danger">*</span></label>
      <input type="number" id="horas" class="form-control" (change)="onInputChange()" [(ngModel)]="newJob.horas" min="0" max="23" placeholder="*">
    </div>
    <div class="col-2">
      <label for="dias">Dias <span class="text-danger">*</span></label>
      <input type="number" id="dias" class="form-control" (change)="onInputChange()" [(ngModel)]="newJob.dias" min="1" max="31" placeholder="*">
    </div>
    <div class="col-2">
      <label for="meses">Meses <span class="text-danger">*</span></label>
      <input type="number" id="meses" class="form-control" (change)="onInputChange()" [(ngModel)]="newJob.meses" min="1" max="12" placeholder="*">
    </div>
    <div class="col-2">
      <label for="semanas">Semanas <span class="text-danger">*</span></label>
      <input type="number" id="semanas" class="form-control" (change)="onInputChange()" [(ngModel)]="newJob.semanas" min="0" max="7" placeholder="*">
    </div>
      <div class="col-2">
        <input-radio
          [items]="radioItems"
          [controlName]="'ativo'"
          [form]="formGroup"
          [label]="'Ativo'"
          [value]="newJob.ativo"
          >
        </input-radio>
      </div>
      
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <label for="cron">Cron <span class="text-danger">*</span></label>
      <input type="text" id="cron"  [disabled]="isDisabled" class="form-control" [(ngModel)]="newJob.expressao_cron" placeholder="* * * * * *">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-left">
      <button class="btn btn-info" (click)="createJob()">Adicionar</button>
    </div>
  </div>
</div>
<grid [items]="jobs">
  <columns>
      <column title="Nome" [template]="columnNome">
          <ng-template let-row="row" #columnNome>
            <span>{{row.nome}}</span>
          </ng-template>
      </column>
      <column title="Job" [template]="columnClasse">
          <ng-template let-row="row" #columnClasse>
            <span>{{row.classe}}</span>
          </ng-template>  
      </column>
      <column title="Minutos" [template]="columnMinutos">
          <ng-template let-row="row" #columnMinutos>
              <span>{{row.minutos}}</span>
          </ng-template>
      </column>
      <column title="Horas" [template]="columnHoras">
          <ng-template let-row="row" #columnHoras>
              <span>{{row.horas}}</span>
          </ng-template>
      </column>
      <column title="Dias" [template]="columnDias">
          <ng-template let-row="row" #columnDias>
              <span>{{row.dias}}</span>
          </ng-template>
      </column>
      <column title="Semanas" [template]="columnSemanas">
        <ng-template let-row="row" #columnSemanas>
            <span>{{row.semanas}}</span>
        </ng-template>
    </column>
      <column title="Meses" [template]="columnMeses">
        <ng-template let-row="row" #columnMeses>
            <span>{{row.meses}}</span>
        </ng-template>
    </column>
      <column title="Expressão Cron" [template]="columnTipo">
          <ng-template let-row="row" #columnTipo>
            <span>{{row.expressao_cron.trim()}}</span>
          </ng-template>
      </column>
      <column title="Ação" [template]="columnAction">
        <ng-template let-row="row" #columnAction>
          <button class="btn btn-danger"  (click)="deleteJob(row.id)"><i class="bi bi-trash"></i></button>
        </ng-template>
    </column>

  </columns>
</grid>
