/back-end/.vscode/launch.json
/back-end/.vscode/tasks.json

*.bak

back-end/vendor/*
front-end/node_modules/*
front-end/.angular/*

*Zone.Identifier*

package-lock.json

/resources/mysql/*
/resources/docker/mariadb/*

back-end/database/seeders/LogSeeder.php
resources/docker/dev/docker-compose.yml
Dump Tabela Atividades.sql

# Farias
back-end/database/seeders/BackupUnidadeSeeder.php
back-end/database/seeders/ZBackupUnidadeSeeder.php
back-end/database/seeders/DemandaEntregaSeeder.php
back-end/database/seeders/ZDemandaEntregaSeeder.php
back-end/database/seeders/ExcluirUsuarioSeeder.php
back-end/database/seeders/ZExcluirUsuarioSeeder.php
back-end/database/seeders/LocalSeeder.php
back-end/database/seeders/ZLocalSeeder.php
back-end/database/seeders/ZLogsSeeder.php
back-end/database/seeders/LotacaoSeeder.php
back-end/database/seeders/ZLotacaoSeeder.php
back-end/database/seeders/ReinserirUsuarioSeeder.php
back-end/database/seeders/ZReinserirUsuarioSeeder.php
back-end/database/seeders/UnidadeOrigemAtividadeSeeder.php
back-end/database/seeders/ZUnidadeOrigemAtividadeSeeder.php
back-end/public/info.php
back-end/servidores.xml
back-end/unidades.xml
back-end/local_files/*
front-end/src/environments/environment.prod.ts
front-end/src/proxy.conf.json
front-end/tsconfig.json
*.bak
front-end/.vscode/settings.json

# Dario
back-end/storage/tenant*/*/
back-end/database/seeders/ZUnidadesSeeder.php
resources/documentacao/Gestão/plano_trabalho.pdf


# Para Apple
*.DS_Store

microservice/api-pgd/storage/logs/schedule.log
back-end/supervisord.log
back-end/supervisord.pid
back-end/storage/logs/*.log
kubectl
.trae/diagnostics/
.vscode/diagnostics/
