/back-end/.vscode/launch.json
/back-end/.vscode/tasks.json

*.bak

back-end/vendor/*
# Conteúdo gerado pelo build do front-end
# back-end/public/*.js
# back-end/public/*.map
# back-end/public/*.css
# back-end/public/*.woff
# back-end/public/*.woff2
# back-end/public/*.ttf
# back-end/public/favicon.ico
# back-end/public/3rdpartylicenses.txt
# back-end/public/app.json
# back-end/public/assets/*
# back-end/public/docs/*
# back-end/public/tinymce/*
# back-end/public/webfonts/*
# back-end/resources/views/angular.blade.php
front-end/node_modules/*
front-end/.angular/*

*Zone.Identifier*

/resources/mysql/*
/resources/docker/mariadb/*
/resources/rabbitmq/*


back-end/database/seeders/LogSeeder.php
Dump Tabela Atividades.sql

# Farias
back-end/database/seeders/BackupUnidadeSeeder.php
back-end/database/seeders/ZBackupUnidadeSeeder.php
back-end/database/seeders/DemandaEntregaSeeder.php
back-end/database/seeders/ZDemandaEntregaSeeder.php
back-end/database/seeders/ExcluirUsuarioSeeder.php
back-end/database/seeders/ZExcluirUsuarioSeeder.php
back-end/database/seeders/LocalSeeder.php
back-end/database/seeders/ZLocalSeeder.php
back-end/database/seeders/ZLogsSeeder.php
back-end/database/seeders/LotacaoSeeder.php
back-end/database/seeders/ZLotacaoSeeder.php
back-end/database/seeders/ReinserirUsuarioSeeder.php
back-end/database/seeders/ZReinserirUsuarioSeeder.php
back-end/database/seeders/UnidadeOrigemAtividadeSeeder.php
back-end/database/seeders/ZUnidadeOrigemAtividadeSeeder.php
back-end/public/info.php
back-end/servidores.xml
back-end/unidades.xml
back-end/local_files/*
front-end/src/environments/environment.prod.ts
front-end/src/proxy.conf.json
front-end/tsconfig.json
*.bak
front-end/.vscode/settings.json
front-end/out-tsc/*

# Dario
back-end/storage/tenant*/*/
back-end/database/seeders/ZUnidadesSeeder.php
resources/documentacao/Gestão/plano_trabalho.pdf


# Para Apple
*.DS_Store

microservice/api-pgd/storage/logs/schedule.log
back-end/supervisord.log
back-end/supervisord.pid
back-end/storage/logs/*.log
kubectl
.trae/diagnostics/
.vscode/diagnostics/
back-end/public/app.json
back-end/public/app.json
review-pr-*
front-end/out-tsc/app/main.js
