<grid [dao]="dao" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable" (select)="onSelect($event)">
    <toolbar *ngIf="!selectable"></toolbar>
    <columns>
        <column title="Arquivo" field="filename"></column>
        <column title="Tamanho" field="size">
            <ng-template let-row="row">
                {{ (row.size / 1024).toFixed(2) }} KB
            </ng-template>
        </column>
        <column title="Modificado em" field="last_modified" type="datetime"></column>
        <column type="options">
            <ng-template let-row="row">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="download(row)" title="Download">
                    <i class="bi bi-download"></i>
                </button>
            </ng-template>
        </column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
