<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"  [hasAdd]="auth.hasPermissionTo('MOD_RX_VIS_DPE')" [hasEdit]="auth.hasPermissionTo('MOD_RX_VIS_DPE')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="3" label="Nome da Função" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome da área de conhecimento"></input-text>
            <input-text [size]="3" label="Nível" controlName="nivel" [control]="filter!.controls.nivel" placeholder=""></input-text>
            <input-text [size]="3" label="Descrição" controlName="descricao" [control]="filter!.controls.descricao" placeholder=""></input-text>
            <input-text [size]="3" label="Código SIAPE" controlName="siape" [control]="filter!.controls.siape" placeholder=""></input-text>
            <input-text [size]="3" label="Código CBO" controlName="cbo" [control]="filter!.controls.cbo" placeholder=""></input-text>
            <input-switch [size]="3" label="Ativo" controlName="ativo" [control]="filter!.controls.ativo" placeholder=""></input-switch>
           
        </div>
    </filter>
    <columns>
        <column title="Funções" field="nome" orderBy="nome"></column>
        <column title="Nível" field="nivel"></column>
        <column title="Descrição" field="descricao"></column>
        <column title="SIAPE" field="siape"></column>
        <column title="CBO" field="cbo"></column>
        <column title="Ativo" field="ativo"></column>
           
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>

