<h3>
  Dúvidas sobre o uso do Petrvs
</h3>
<div class="row mt-3">  
  <div class="col-12 col-sm-12 mb-3">
    <p>
      Se você é usuário comum do sistema PGD Petrvs, orientamos que entre em contato com o Administrador Negocial ou Administrador Master do seu órgão 
      ou entidade para tirar dúvidas ou reportar erros do sistema (<a target="_blank" href="https://www.gov.br/servidor/pt-br/assuntos/programa-de-gestao/lista-de-administradores-master/">consulte aqui os Administradores Master do seu órgão</a>).
    </p>
    
    <p>
      Se você possui o perfil de Administrador Negocial ou Master, observe:
      Para reportar erros de versões do sistema ou falhas de integração com o Siape, acesse a Central de Atendimento, no Portal de Serviços (<a target="_blank" href="https://portaldeservicos.gestao.gov.br/pt#/">acesse aqui</a>).
      Para demais assuntos relacionados ao PGD Petrvs, entre em contato pelo e-mail: <a href="mailto:pgdsistema@gestao.gov.br">pgdsistema@gestao.gov.br</a>.
    </p>
  </div>  
</div>