<h3>
  Feedback/Dúvidas
</h3>
<div class="row mt-3">  
  <div class="col-12 col-sm-12 mb-3">
    <p>
    Para reportar um feedback, dúvida ou erro no sistema, possuímos um canal 
    exclusivo para usuários do sistema PGD Petrvs com perfis de Administradores Negocial e Master.</p>
    
    <p>Se você é usuário, mas não tem nenhum desses perfis, 
     consulte diretamente a área responsável pelo PGD na sua instituição.</p>
    
     <p>(veja quem são as pessoas que integram a Rede PGD de cada órgão/entidade
     <a target="_blank"
      href="https://www.gov.br/servidor/pt-br/assuntos/programa-de-gestao/nova-in-2023/representantes-do-pgd-nos-orgaos-entidades/copy_of_representantes">
      neste link</a>)
     </p>
  </div>  
</div>