<div class="container-fluid" >
    <form [formGroup]="form!" class="mt-2">
        <ng-content></ng-content>
    </form>
    <div *ngIf="!isNoButtons" class="d-flex flex-row-reverse mt-2">
        <div class="flex-fill d-flex justify-content-end">
            <div *ngIf="deleted" class="me-2" >
                <input-switch [size]="4" labelPosition="left" [label]="deletedLabel" [hostClass]="'mt-0'" [control]="deletedControl" (change)="onDeletedChange($event)"></input-switch>
            </div>
            <div class="btn-group" role="group" aria-label="Grupo de botões para filtrar e limpar filtro">
                <button type="button" [id]="getId('_filter_filtrar')" class="btn btn-outline-success" (click)="onButtonFilterClick()">
                    <i class="bi bi-filter-circle"></i> {{ filterLabel }}
                </button>
                <button type="button"
                    *ngIf="hasExportExcel"
                    class="btn  btn-outline-success"
                    (click)="onButtonExcelClick()"
                >
                    <i class="bi bi-file-excel"></i> Exportar para Excel
                </button>
                <button type="button" [id]="getId('_filter_limpar')" class="btn btn-outline-danger" (click)="onButtonClearClick()">
                    <i class="bi bi-x-circle"></i> Limpar
                </button>
            </div>
        </div>
    </div>
</div>
