<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="nome" (submit)="onSaveData()" (cancel)="onCancel()">
  <div class="row">
    <div class="col-md-4">
      <input-text 
        [size]="8" 
        label="Nome da Solução" 
        icon="bi bi-textarea-t" 
        controlName="nome" 
        [control]="form!.controls.nome" 
        [attr.maxlength]=250 
        labelInfo="Nome formal da Solução. Ex: Programa de Gestão e Desempenho"
        required   
      ></input-text>
    </div>
    <div class="col-md-8">
      <input-text 
        [size]="8" 
        label="Sigla/Nome Fantasia" 
        icon="bi bi-textarea-t" 
        controlName="nome" 
        [control]="form!.controls.sigla" 
        [attr.maxlength]=250 
        labelInfo="Nome informal da Solução. Ex: PGD"
        required>
      </input-text>
    </div>
   
  </div>
  <div class="row">
    <div class="col-md-6">
      <input-text 
        [size]="6" 
        label="Descrição" 
        icon="bi bi-textarea-t" 
        controlName="descricao" 
        [control]="form!.controls.descricao" 
        [attr.maxlength]=250 
        labelInfo="Objetivo e aplicabilidade da solução. Ex: Programa indutor de melhoria de desempenho individual e institucional."
        required   
      ></input-text>
    </div>
    <div class="col-md-6">
      <input-text 
        required
        [size]="6" 
        label="URL" 
        icon="bi bi-textarea-t" 
        controlName="url" 
        [control]="form!.controls.url" 
        [attr.maxlength]=250 
        labelInfo="Página oficial da Solução. Ex: www.gov.br/pgd"
      ></input-text>
    </div>
  </div>
</editable-form>




