<ng-template #ticket let-card="card" let-metadata="metadata">
    <div *ngIf="card.data.alocacoes?.length" class="d-block">
        <separator title="Recursos alocados" small></separator>
        <profile-picture *ngFor="let recurso of getRecursos(card.data, metadata)" [url]="recurso.url" [hint]="recurso.hint"></profile-picture>
    </div>
    <ng-container *ngIf="!filter?.controls?.resumido?.value">
        <div class="card-status-container">
            <badge *ngFor="let status of getStatus(card.data, metadata)" [color]="getStatusColor(status)" [icon]="status.icon" [label]="status.value"></badge>
        </div>
        <separator title="Comentários" small [button]="addComentarioButton"></separator>
    </ng-container>
</ng-template>
<ng-template #editDocker>
    <input-select [size]="12" controlName="etiqueta" [control]="formEdit.controls.etiqueta" [items]="etiquetasEdit"></input-select>
</ng-template>
<ng-template #placeholder>
    <div class="card-body">
        <div class="d-flex w-100">
            <div class="flex-fill">
                <h5 class="card-title placeholder-glow"><span class="placeholder col-6"></span></h5>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-sm btn-outline-secondary disabled placeholder">
                    <i class="bi bi-question"></i>
                </button>
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted placeholder-glow"><span class="placeholder col-8"></span></h6>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
    </div>
</ng-template>
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs #planejamentoTabs display right>
        <tab key="GANTT" label="Principal" icon="bi bi-bar-chart-steps"></tab>
        <tab key="CALENDARIO" label="Calendário" icon="bi bi-calendar-week"></tab>
        <tab key="BURNDOWN" label="Burndown" icon="bi bi-graph-down"></tab>
        <tab key="KANBAN" label="Quadro" icon="bi bi-card-heading"></tab>
    </tabs>
    <!-- Tab Gantt -->
    <div [class.d-none]="planejamentoTabs.active != 'GANTT'">
        <gantt *ngIf="shown" [project]="project" [height]="ganttHeight"></gantt>
    </div>
    <!-- Tab Calendário -->
    <!--div *ngIf="planejamentoTabs.active == 'CALENDARIO'" class="d-block text-center" style="min-height: 400px; max-width: 1000px; margin: auto;"/-->
    <div *ngIf="planejamentoTabs.active == 'CALENDARIO'" class="row" style="min-height: 400px;">
        <div class="col-md-6">
            <projeto-tarefa-filter [projeto]="entity" [change]="onCalendarioFilterChange.bind(this)"></projeto-tarefa-filter>
        </div>
        <div class="col-md-6">
            <full-calendar *ngIf="afterLoadData" [options]="calendarOptions"></full-calendar>
        </div>
    </div>
    <!-- Tab Burndown -->
    <div *ngIf="planejamentoTabs.active == 'BURNDOWN'" class="row">
        <div class="col-md-6">
            <projeto-tarefa-filter [projeto]="entity" [change]="onCalendarioFilterChange.bind(this)"></projeto-tarefa-filter>
        </div>
        <div class="col-md-6">
            <img [src]="gb.getResourcePath('assets/images/burndown-example.png')" style="width: 100%">
        </div>        
    </div>
    <!-- Tab Kanban -->
    <div *ngIf="planejamentoTabs.active == 'KANBAN'">
        <kanban #planejamentoKanban 
            [dockers]="labels" 
            [template]="ticket" 
            [placeholderTemplate]="placeholder" 
            [loading]="loading" 
            [swimlaneDrop]="onSwimlaneDrop.bind(this)"
            [dockerDragged]="onDragged.bind(this)" 
            [dockerDrop]="onDrop.bind(this)" 
            [dockerEditTemplate]="editDocker" 
            [dockerToggle]="onDockerCollapse.bind(this)" 
            [dockerEdit]="editEtiquetas.bind(this)" 
            [dockerSave]="saveEtiquetas.bind(this)" 
            [dockerDelete]="deleteEtiquetas.bind(this)" 
            [dockerCancel]="cancelEtiquetas.bind(this)" 
            [dockerColorStyle]="getLabelStyle" 
            useCardData>
        </kanban>
    </div>
</editable-form>