<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title">
    <!--(submit)="onSaveData()" (cancel)="onCancel()"></editable-form>-->

    <div class="row mt-5">
        <input-textarea label="Apresente-se" [size]="12" [bold]="true" icon="bi-card-list" controlName="apresentese"
            [control]="form!.controls.apresentese"></input-textarea><!-- [control]="form!.controls.apresentese">-->
    </div>

    <div class="row mt-5">
        <label class="fw-bold">Dados residenciais</label>
        <hr>
    </div>

    <div class="row mt-2">
        <input-select [size]="4" label="Estado" icon="bi bi-arrow-up-right-circle" controlName="estados"
            [control]="form!.controls.estados" [items]="lookup.UF" (change)="onEstadosChange()">
        </input-select>
        <input-select [size]="4" label="Município" icon="bi bi-arrow-up-right-circle" controlName="municipios"
            [control]="form!.controls.municipios" [items]="municipios">
        </input-select>
        <input-text [size]="4" label="Telefone de contato WhatsAPP" icon="bi bi-arrow-up-right-circle"
            controlName="telefone" [control]="form!.controls.telefone"></input-text>
    </div>


    <div class="row mt-5">
        <label class="fw-bold">Estado Civil</label>
        <hr>
    </div>
    <div class="row mt-2">
        <input-select [size]="5" label="Estado Civil" icon="bi bi-arrow-up-right-circle" controlName="estadoCivil"
            [control]="form!.controls.estadoCivil" [items]="estadoCivil">
        </input-select>
        <input-radio [size]="3" label="Possui Filhos?" icon="fas fa-hourglass-start" controlName="radioFilhos"
            [control]="form!.controls.radioFilhos" labelInfo="Possui Filhos?" [items]="lookup.SIMNAO"></input-radio>
        <input-number [hidden]="form!.controls.radioFilhos.value ? undefined : 'true'" [size]="4" label="Quantos?"
            icon="bi bi-arrow-up-right-circle" controlName="qtsFilhos" [control]="form!.controls.qtsFilhos"
            [minValue]="0"></input-number>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Idiomas</label>
        <hr>
    </div>
    <div class="row my-3">
        <input-radio [size]="3" label="Fala outros idiomas?" icon="fas fa-hourglass-start" controlName="radioFalaIdioma"
            [control]="form!.controls.radioFalaIdioma" [items]="lookup.SIMNAO">
        </input-radio>
    </div>
    <div *ngIf="form!.controls.radioFalaIdioma.value ? 'true' : undefined">
        <input-multiselect controlName="idiomasM" [size]="8" [control]="form!.controls.idiomasM" [addItemHandle]="addItemIdioma.bind(this)" noBox>

            <input-select [size]="3" label="Idioma" icon="fas fa-sign-out-alt" controlName="idioma" liveSearch
                [control]="form!.controls.idioma" [items]="idiomas">

            </input-select>
            <input-select [size]="3" label="Qual nível de fala?" icon="fas fa-sign-out-alt" controlName="idiomaFala"
                 [control]="form!.controls.idiomaFala" [items]="nivelIdioma">
            </input-select>
            <input-select [size]="3" label="Qual nível de escrita?" icon="fas fa-sign-out-alt"
                controlName="idiomaEscrita"  [control]="form!.controls.idiomaEscrita" [items]="nivelIdioma">
            </input-select>
            <input-select [size]="3" label="Qual nível de entendimento?" icon="fas fa-sign-out-alt"
                controlName="idiomaEntendimento"  [control]="form!.controls.idiomaEntendimento"
                [items]="nivelIdioma">
            </input-select>

        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Graduação</label>
        <hr>
    </div>
    <div class="row my-3">
        <input-radio [size]="2" label="Possui Graduação?" icon="fas fa-hourglass-start" controlName="radioGraduacao"
            [control]="form!.controls.radioGraduacao" labelInfo="Possui graduacão?" [items]="lookup.SIMNAO">
        </input-radio>
        
        <input-radio [hidden]="form!.controls.radioGraduacao.value ? 'true': undefined" [size]="2"
            label="Pretende Cursar?" icon="fas fa-hourglass-start" controlName="radioPretendeGraduacao"
            [control]="form!.controls.radioPretendeGraduacao" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
        </input-radio>
        
    </div>
    <!--<div class="row my-3">
        <input-radio [disabled]="form!.controls.radioGraduacao.value ? 'true': undefined" [size]="2"
            label="Pretende Cursar?" icon="fas fa-hourglass-start" controlName="radioPretendeGraduacao"
            [control]="form!.controls.radioPretendeGraduacao" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
        </input-radio>
    </div>-->
    <div *ngIf="form!.controls.radioGraduacao.value || form!.controls.radioPretendeGraduacao.value">
        <input-multiselect  controlName="graduacao" [size]="12" [control]="form!.controls.graduacao"
            [addItemHandle]="addItemGraduacao.bind(this)" noBox>

            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="area"
                [control]="form!.controls.area" [items]="graduacaoArea" (change)="onAreaChange()">

            </input-select>
            <input-select [size]="6" label="Curso" icon="fas fa-sign-out-alt" controlName="curso" liveSearch
                [control]="form!.controls.curso" [items]="cursos"></input-select>

        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Pós-Graduação</label>
        <hr>

        <div class="row my-3">
            <input-radio [size]="2" label="Possui Pós-Graduação?" icon="fas fa-hourglass-start"
                controlName="radioPosGraduacao" [control]="form!.controls.radioPosGraduacao"
                labelInfo="Possui Pós graduacão?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div class="row my-3">
            <input-radio [size]="2" label="Pretende Cursar?" icon="fas fa-hourglass-start"
                controlName="radioPretendePosGraduacao" [control]="form!.controls.radioPretendePosGraduacao"
                labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>

        <input-multiselect label="Pós-Graduação" controlName="posgraduacao" [size]="12"
            [control]="form!.controls.posgraduacao" [addItemHandle]="addItemGraduacao.bind(this)" noBox>

            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaPos" liveSearch
                [control]="form!.controls.areaPos" [items]="graduacaoArea" (change)="onAreaChange()">

            </input-select>
            <input-select [size]="6" label="Curso" icon="fas fa-sign-out-alt" controlName="cursoPos" liveSearch
                [control]="form!.controls.cursoPos"></input-select>

        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Mestrado</label>
        <hr>

        <div class="row my-3">
            <input-radio [size]="2" label="Possui Mestrado?" icon="fas fa-hourglass-start" controlName="radioMestrado"
                [control]="form!.controls.radioMestrado" labelInfo="Possui Mestrado?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div class="row my-3">
            <input-radio [size]="2" label="Pretende Cursar?" icon="fas fa-hourglass-start"
                controlName="radioPretendeMestrado" [control]="form!.controls.radioPretendeMestrado"
                labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>

        <input-multiselect label="Mestrado" controlName="mestrado" [size]="12" [control]="form!.controls.mestrado"
            [addItemHandle]="addItemGraduacao.bind(this)" noBox>

            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaMestrado" liveSearch
                [control]="form!.controls.areaMestrado" [items]="graduacaoArea" (change)="onAreaChange()">

            </input-select>
            <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoMestrado"
                [control]="form!.controls.cursoMestrado"></input-text>

        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Doutorado</label>
        <hr>

        <div class="row my-3">
            <input-radio [size]="2" label="Possui Doutorado?" icon="fas fa-hourglass-start" controlName="radioDoutorado"
                [control]="form!.controls.radioDoutorado" labelInfo="Possui graduacão?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div class="row my-3">
            <input-radio [size]="2" label="Pretende Cursar?" icon="fas fa-hourglass-start"
                controlName="radioPretendeDoutorado" [control]="form!.controls.radioPretendeDoutorado"
                labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>

        <input-multiselect label="Doutorado" controlName="doutorado" [size]="12" [control]="form!.controls.doutorado"
            [addItemHandle]="addItemGraduacao.bind(this)" noBox>

            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaDoutorado" liveSearch
                [control]="form!.controls.areaDoutorado" [items]="graduacaoArea" (change)="onAreaChange()">

            </input-select>
            <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoDoutorado"
                [control]="form!.controls.cursoDoutorado"></input-text>

        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Pós-Doutorado</label>
        <hr>

        <div class="row my-3">
            <input-radio [size]="2" label="Possui Pós-Doutorado?" icon="fas fa-hourglass-start"
                controlName="radioPosDoutorado" [control]="form!.controls.radioPosDoutorado" labelInfo="Possui PosDoc?"
                [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div class="row my-3">
            <input-radio [size]="2" label="Pretende Cursar?" icon="fas fa-hourglass-start"
                controlName="radioPretendePosDoutorado" [control]="form!.controls.radioPretendePosDoutorado"
                labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>

        <input-multiselect label="Pós-Doutorado" controlName="posdoutorado" [size]="12"
            [control]="form!.controls.posdoutorado" [addItemHandle]="addItemGraduacao.bind(this)" noBox>

            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaPosDoutorado" liveSearch
                [control]="form!.controls.areaPosDoutorado" [items]="graduacaoArea" (change)="onAreaChange()">

            </input-select>
            <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoPosDoutorado"
                [control]="form!.controls.cursoPosDoutorado"></input-text>

        </input-multiselect>
    </div>
    <!--<div class="row">
            <grid [items]="idiomas" [form]="form!" [hasDelete]="true" [add]="addFase.bind(this)" [load]="loadFase.bind(this)" [remove]="removeFase.bind(this)" [save]="saveFase.bind(this)" editable>
                <columns>
                    <column title="Idioma" [template]="idioma" [editTemplate]="editIdioma">
                        <ng-template let-row="row" #faseNome>
                            <badge [color]="row.cor" [label]="row.nome"></badge>
                        </ng-template>
                        <ng-template let-row="row" #editFaseNome>
                            <div class="row">
                                <input-text [size]="8" controlName="nome" [control]="form!.controls.nome"></input-text>
                                <input-color [size]="4" controlName="cor" [control]="form!.controls.cor"></input-color>
                            </div>
                        </ng-template>
                    </column>
                    <column title="Descrição" [template]="faseDescricao" [editTemplate]="editFaseDescricao">
                        <ng-template let-row="row" #faseDescricao>
                            <small class="d-block">{{row.descricao || ""}}</small>
                        </ng-template>
                        <ng-template let-row="row" #editFaseDescricao>
                            <input-text [size]="12" controlName="descricao" [control]="form!.controls.descricao"></input-text>
                        </ng-template>
                    </column>
                    <column title="Início" [template]="faseInicio" [editTemplate]="editFaseInicio">
                        <ng-template let-row="row" #faseInicio>
                            <strong class="d-block">{{util.getDateFormatted(row.inicio)}}</strong>
                        </ng-template>
                        <ng-template let-row="row" #editFaseInicio>
                            <input-datetime date [size]="12" controlName="inicio" [control]="form!.controls.inicio"></input-datetime>
                        </ng-template>
                    </column>
                    <column title="Termino" [template]="faseTermino" [editTemplate]="editFaseTermino">
                        <ng-template let-row="row" #faseTermino>
                            <strong class="d-block">{{util.getDateFormatted(row.termino)}}</strong>
                        </ng-template>
                        <ng-template let-row="row" #editFaseTermino>
                            <input-datetime date [size]="12" controlName="termino" [control]="form!.controls.termino"></input-datetime>
                        </ng-template>
                    </column>
                    <column type="options"></column>
                </columns>
            </grid>
        </div>
    
-->
    <!--


 <select id="selectcadidio1" class="form-select form-control input" onchange="" oninvalid="">
                        <option value="" selected></option>
                        <option value="Alemão"> Alemão</option>
                        <option value="Árabe"> Árabe</option>
                        <option value="Argelino"> Argelino</option>
                        <option value="Azeri"> Azeri</option>
                        <option value="Bengali"> Bengali</option>
                        <option value="Chinês"> Chinês</option>
                        <option value="Coreano"> Coreano</option>
                        <option value="Espanhol"> Espanhol</option>
                        <option value="Francês"> Francês</option>
                        <option value="Hindi"> Hindi</option>
                        <option value="Holandês"> Holandês</option>
                        <option value="Indonésio"> Indonésio</option>
                        <option value="Inglês"> Inglês</option>
                        <option value="Iorubá"> Iorubá</option>
                        <option value="Italiano"> Italiano</option>
                        <option value="Japonês"> Japonês</option>
                        <option value="Javanês"> Javanês</option>
                        <option value="Malaio"> Malaio</option>
                        <option value="Malaio/Bahasa"> Malaio/Bahasa</option>
                        <option value="Marata"> Marata</option>
                        <option value="Persa"> Persa</option>
                        <option value="Romeno"> Romeno</option>
                        <option value="Russo"> Russo</option>
                        <option value="Suaíli"> Suaíli</option>
                        <option value="Tailandês"> Tailandês</option>
                        <option value="Tâmil"> Tâmil</option>
                        <option value="Telugu"> Telugu</option>
                        <option value="Turco"> Turco</option>
                        <option value="Urdu"> Urdu</option>
                        <option value="Vietnamita"> Vietnamita</option>

                    </select>

                     <option value="" selected></option>
                    <option value="Ciências Agrárias">Ciências Agrárias</option>
                    <option value="Ciências Biológicas">Ciências Biológicas</option>
                    <option value="Ciências da Saúde">Ciências da Saúde</option>
                    <option value="Ciências Exatas e da Terra">Ciências Exatas e da Terra</option>
                    <option value="Ciências Humanas">Ciências Humanas</option>
                    <option value="Ciências Sociais Aplicadas">Ciências Sociais Aplicadas</option>
                    <option value="Engenharias">Engenharias</option>
                    <option value="Linguística, Letras e Artes">Linguística, Letras e Artes</option>
                    <option value="Outro">Outro</option>
-->
</editable-form>