.dndDropzoneDisabled {
    cursor: no-drop;
}

@media only screen and (min-width: 576px) {
    .docker-collapsed {
        transform: translateY(50%) rotate(90deg);
        transform-origin: 25px 25px;
        margin-top: -25px;
        min-width: 400px;
    }
    .docker-fixed-size {
        width: 380px;
    }
    .docker-margin-left {
        margin-left: 20px;
    }
}

.dndDraggingSource {
    display: none;
}

/*.docker:has(.dndDragover) {
    border-width: 3px !important;
}

.docker {
    border-width: 8px !important;
}

.dndDragover {
    background-color: brown;
}*/
