<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
      [selectable]="selectable" (select)="onSelect($event)"
      [hasAdd]="auth.hasPermissionTo('MOD_TRF_INCL')"
      [hasEdit]="auth.hasPermissionTo('MOD_TEMP_EDT')">
  <toolbar *ngIf="!selectable"></toolbar>
  <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
    <div class="row">
      <input-text [size]="12" [label]="lex.noun('Template')" controlName="titulo" [control]="filter!.controls.titulo" placeholder="Título ..."></input-text>
    </div>
  </filter>
  <columns>
    <column title="Número" field="numero" orderBy="numero"></column>
    <column title="Tipo" field="tipo" orderBy="tipo"></column>
    <column title="Título" field="titulo" orderBy="titulo"></column>
    <column title="Conteúdo" field="conteudo" orderBy="conteudo" >
    </column>
    <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
  </columns>
  <pagination [rows]="rowsLimit"></pagination>
</grid>
