
<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/panel">Painel SaaS - Petrvs</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/panel/tenants']" (click)="toggleNavbar()">Tenants</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/admins']" (click)="toggleNavbar()">Usuários do painel</a>
        </li> 
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/logs2']" (click)="toggleNavbar()">Logs</a>
        </li> 
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/env']" (click)="toggleNavbar()">Dados de Ambiente</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/admins']" (click)="executaMigrations({})">Migrations</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/seeder']" (click)="toggleNavbar()">Seeders</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" [routerLink]="['/panel/job-agendados']" (click)="toggleNavbar()">Agendamentos</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.nivel == 1">
          <a class="nav-link" href="javascript:void(0);" (click)="resetQueues()">Limpar Filas</a>
        </li>
      </ul>
      <a class="btn btn-outline-info me-2" (click)="changePassword()">Alterar minha senha</a>
      <a class="btn btn-outline-danger" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>
<h4 class="my-2">{{title}}</h4>
<hr>
<router-outlet></router-outlet>