<grid [dao]="dao" [hasAdd]="false" [hasEdit]="false" [hasDelete]="false" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join">
  <toolbar [buttons]="toolbarButtons"></toolbar>
  <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed">
      <div class="row">
        <input-switch [size]="2" label="Todas" controlName="todas" [control]="filter!.controls.todas" labelInfo="Todas as notificações incluindo as já lidas"></input-switch>
        <input-datetime [size]="5" label="Início" controlName="inicio" [control]="filter!.controls.inicio" labelInfo="Data início"></input-datetime>
        <input-datetime [size]="5" label="Fim" controlName="fim" [control]="filter!.controls.fim" labelInfo="Data fim"></input-datetime>
      </div>
  </filter>
  <columns>
    <column title="Mensagens" [template]="mensagemTemplate">
      <ng-template let-row="row" #mensagemTemplate>
        <div class="row">
          <strong>#{{row.numero}}<small> • {{util.getDateTimeFormatted(row.data_registro)}}</small></strong>
        </div>
        <!--div class="row">
          <small>{{row.titulo_documento}}</small>
        </div//-->
        <div class="row">
          <div class="col-12 text-wrap">
            {{row.mensagem}}
          </div>
        </div>
      </ng-template>
    </column>
    <column title="Envios" [template]="formatoTemplate">
      <ng-template let-row="row" #formatoTemplate>
        <div class="text-wrap">
          <ng-container *ngFor="let destinatario of row.destinatarios">
            <badge *ngIf="destinatario.tipo == 'PETRVS'" img="assets/images/logo-24x24.png" hint="PETRVS" [label]="destinatario.data_leitura ? 'Lido' : 'Não lido'"></badge>
            <badge *ngIf="destinatario.tipo == 'EMAIL'" icon="bi bi-envelope-at" hint="E-mail" [label]="destinatario.data_leitura ? 'Lido' : 'Não lido'"></badge>
            <badge *ngIf="destinatario.tipo == 'WHATSAPP'" icon="bi bi-whatsapp" hint="WhatsApp" [label]="destinatario.data_leitura ? 'Lido' : 'Não lido'"></badge>
          </ng-container>
        </div>
        <!--badge [color]="lookup.getColor(lookup.DOCUMENTO_ESPECIE, row.especie)" icon="bi bi-hash" [label]="lookup.getValue(lookup.DOCUMENTO_ESPECIE, row.especie)"></badge//-->
      </ng-template>
    </column>
  </columns>
</grid>