<top-alert [type]="'warning'" [message]="'Atenção:'">
    <ng-container>
        <p class="my-1 ms-4" *ngFor="let message of topAlertMessages()">{{ message }}</p>
    </ng-container>
</top-alert>
<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_SIAPE_BLACKLIST_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_SIAPE_BLACKLIST_EDT')"
    [fields]="fields" [leftJoin]="leftJoin">
    <toolbar *ngIf="!selectable" [buttons]="toolbarButtons"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="6" label="CPF" controlName="cpf" placeholder="CPF..." [attr.maxlength]="14" [form]="filter"></input-text>
            <input-select [size]="6" label="Situação" controlName="inativado" [items]="[{key: null, value: 'Todos'}, {key: false, value: 'Em contagem'}, {key: true, value: 'Inativado'}]" [form]="filter"></input-select>
        </div>
    </filter>
    <columns>
        <column title="CPF" field="cpf"></column>
        <column title="Nome" field="nome"></column>
        <column title="Matrícula" field="matricula"></column>
        <column title="Prazo para inativação" field="inativado" [template]="columnStatus" [titleHint]="statusTitleHint()">
            <ng-template #columnStatus let-row="row">
                <ng-container *ngIf="prazoInativacao(row) as prazo">
                    <badge [color]="prazo.color" [label]="prazo.label" [hint]="prazo.hint"></badge>
                    <small *ngIf="prazo.vencido" class="d-block text-danger mt-1">
                        Aguarda rotina diária. Recarregue a lista; se persistir, verifique scheduler e fila SIAPE.
                    </small>
                </ng-container>
            </ng-template>
        </column>
        <column title="Criado em" field="created_at" type="datetime"></column>
        <column title="Atualizado em" field="updated_at" type="datetime"></column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
