<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-search [size]="5" controlName="area_materia_id" [dao]="areaDao" (change)="onAreaGraducaoChange()"></input-search>
        <input-select [size]="5" label="Curso" [items]="this.cursos" controlName="curso_materia_id"></input-select>
        <input-text [size]="5" label="Nome da Matéria" controlName="nome"></input-text>
        <input-number [size]="5" label="Horas Aula" controlName="horas_aula"></input-number>
        <input-switch [size]="2" labelPosition="left" label="Ativo" controlName="ativo"></input-switch>
    </div>    
</editable-form>
