<editable-form [form]="form!" [title]="title" [buttons]="buttons">
  <div class="row">
    <input-search #unidade [size]="6" label="Área" icon="bi bi-diagram-3-fill" controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao"
           [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
    <input-search #programa [size]="6" label="Programa" icon="bi bi-layout-text-window-reverse" controlName="programa_id" [control]="form!.controls.programa_id" [dao]="programaDao"
           [selectRoute]="{route: ['cadastros', 'programa']}"></input-search>
  </div>
</editable-form>

