<tabs right [title]="isModal ? '' : title" [select]="onSelectTab.bind(this)">
    <tab key="CONSOLIDACOES" icon="bi bi-clipboard-check" [label]="lex.translate('Consolidações')" [template]="consolidacoes">
        <ng-template #consolidacoes>
            <grid [dao]="dao" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [init]="initGrid.bind(this)"
                [hasAdd]="false" [hasEdit]="false" [loadList]="onGridLoad.bind(this)" [groupTemplate]="groupUnidadeUsuario"><!--[title]="isModal ? '' : title"-->
                <ng-template let-separator="separator" #groupUnidadeUsuario>
                    <div class="d-flex">
                        <div class="ms-3">
                            <profile-picture [url]="usuarioSeparator(separator)?.url_foto" [size]="40" [hint]="usuarioSeparator(separator)?.nome"></profile-picture>
                        </div>
                        <div class="flex-fill ms-3">
                            <strong>{{usuarioSeparator(separator)?.nome || "Desconhecido"}}</strong><br>
                            <badge [icon]="entityService.getIcon('Unidade')" color="primary" [label]="unidadeSeparator(separator)?.sigla || 'Desconhecido'"></badge>
                        </div>
                    </div>
                </ng-template>
                <toolbar *ngIf="!selectable"></toolbar>
                <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed" [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')">
                    <div class="row">
                        <input-text [size]="2" [label]="lex.translate('Nº')" controlName="numero" [control]="filter!.controls.numero" placeholder="Nº" [attr.maxlength]=250></input-text>
                        <input-search [size]="4" #usuario [control]="filter!.controls.usuario_id" controlName="usuario_id" [dao]="usuarioDao"></input-search>
                        <input-search [size]="4" #unidade [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao" (change)="onUnidadeChange($event)"></input-search>
                        <input-switch [size]="1" #subordinadas [disabled]="canFilterSubordinadas" label="Sub." [control]="filter!.controls.unidades_subordinadas" controlName="unidades_subordinadas" labelInfo="Incluir as unidades subordinadas"></input-switch>
                        <input-switch [size]="1" #arquivadas label="Arq." [control]="filter!.controls.incluir_arquivados" controlName="incluir_arquivados" labelInfo="Incluir os planos de trabalhos arquivados"></input-switch>
                    </div>
                </filter>
                <columns>
                    <column type="expand" [icon]="entityService.getIcon('PlanoTrabalhoConsolidacao')" [align]="'center'" [hint]="lex.translate('Consolidação')" [template]="columnConsolidacao" [expandTemplate]="columnExpandedConsolidacao">
                        <ng-template let-row="row" #columnConsolidacao>
                            <!--span *ngIf="row?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-boxes"></i> {{row?.length}}</span//-->
                        </ng-template>
                        <ng-template let-row="row" #columnExpandedConsolidacao>
                            <plano-trabalho-consolidacao-form #consolidacao [disabled]="true" [entity]="row" [planoTrabalho]="row.plano_trabalho" [cdRef]="cdRef"></plano-trabalho-consolidacao-form>
                        </ng-template>
                    </column>
                    <column [title]="'Plano de trabalho/Vigência/Modalidade'" [template]="columnPlanoTrabalho">
                        <ng-template let-row="row" #columnPlanoTrabalho>
                            #{{row.plano_trabalho?.numero}} <badge label="Início" color="light" icon="bi bi-calendar2" [textValue]="util.getDateFormatted(row.plano_trabalho?.data_inicio)"></badge><badge label="Término" color="light" icon="bi bi-calendar2-check" [textValue]="util.getDateFormatted(row.plano_trabalho?.data_fim)"></badge>
                            <badge [icon]="entityService.getIcon('TipoModalidade')" [label]="row.plano_trabalho?.tipo_modalidade?.nome" color="light" [hint]="lex.translate('Tipo de modalidade')"></badge>
                        </ng-template>
                    </column>
                    <column title="Data início" [template]="columnDataInicio">
                        <ng-template let-row="row" #columnDataInicio>
                            {{util.getDateFormatted(row.data_inicio)}}
                        </ng-template>
                    </column>
                    <column title="Data fim" [template]="columnDataFim">
                        <ng-template let-row="row" #columnDataFim>
                            <strong>{{util.getDateFormatted(row.data_fim)}}</strong>
                        </ng-template>
                    </column>
                    <column [title]="'Estatísticas\nAvaliações'" [template]="columnEstatisticas" [width]="300">
                        <ng-template let-row="row" #columnEstatisticas>
                            <avaliar-nota-badge *ngIf="row.avaliacao" [align]="'left'" [tipoAvaliacao]="row.avaliacao.tipo_avaliacao" [nota]="row.avaliacao.nota"></avaliar-nota-badge>
                            <separator *ngIf="row.avaliacao?.recurso?.length" title="Recurso da avaliação" collapse [collapsed]="false">
                                <small>{{row.avaliacao.recurso}}</small>
                            </separator>
                        </ng-template>
                    </column>
                    <column title="Status" [template]="columnStatus">
                        <ng-template let-row="row" #columnStatus>
                            <div class="one-per-line">
                                <badge [color]="lookup.getColor(lookup.CONSOLIDACAO_STATUS, row.status)" [icon]="lookup.getIcon(lookup.CONSOLIDACAO_STATUS, row.status)" [label]="avaliacaoStatus(row.status) || lookup.getValue(lookup.CONSOLIDACAO_STATUS, row.status)"></badge>
                                <badge *ngIf="row.avaliacao?.recurso?.length" icon="bi bi-journal-medical" color="warning" label="Recorrido"></badge>
                            </div>
                        </ng-template>
                    </column>
                    <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
                </columns>
                <pagination [rows]="rowsLimit"></pagination>
            </grid>
        </ng-template>
    </tab>    
</tabs>
