<grid #gridProdutos noMargin 
  [items]="items" 
  [selectable]="false" 
  [hasDelete]="false" 
  [hasEdit]="false" 
  [hasAdd]="false"
>
  <columns>
    <column title="ID#" [template]="columnID">
      <ng-template let-row="row" #columnID>
          <span> {{row.produto.identificador}}</span>
      </ng-template>
    </column>

    <column title="Nome" [template]="columnNome">
      <ng-template let-row="row" #columnNome>
          <span> {{row.produto.nome}}</span>
      </ng-template>
    </column>

    <column title="Unidade" [template]="columnUnidade">
      <ng-template let-row="row" #columnUnidade>
          <span> {{row.produto.unidade?.sigla}}</span>
      </ng-template>
    </column>

    <column title="Tipo" [template]="columnTipo">
      <ng-template let-row="row" #columnTipo>
        <span>{{lookup.getValue(lookup.TIPO_PRODUTO, row.produto?.tipo)}}</span>
      </ng-template>
    </column>

    <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
  </columns>
</grid>

