<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" [confirmLabel]="confirmLabel"
               (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <div class="row" *ngIf="formDisabled">
            <input-text #entidade [size]="4" label="Entidade" icon="bi bi-upc" controlName="entidade_id" [control]="form!.controls.entidade_id"></input-text>
            <input-text #usuario [size]="5" label="Usuário" icon="bi bi-upc" controlName="usuario_id" [control]="form!.controls.usuario_id"></input-text>
            <input-datetime datetime [size]="3" label="Execução" icon="bi bi-calendar-date" controlName="data_execucao" [control]="form!.controls.data_execucao"></input-datetime>
        </div>
        <div class="row" *ngIf="formDisabled">
            <separator title="UNIDADES" [collapse]="'collapse'" class="mt-2">
                <div class="row">
                    <span><strong>Resultado</strong></span>
                    <span>{{ resultado_unidades }}</span>
                </div>
                <div class="row mt-2">
                    <span><strong>Observações</strong></span>
                    <span *ngFor="let obs of obs_unidades; index as i">{{ '[' + (i+1) + '] ' + obs }}</span>
                </div>
                <div *ngIf="falhas_unidades.length > 0" class="row mt-2">
                    <span><strong>Falhas</strong></span>
                    <span *ngFor="let falha of falhas_unidades; index as i">{{ '[' + (i+1) + '] ' + falha }}</span>
                </div>
            </separator>
            <separator title="SERVIDORES" [collapse]="'collapse'">
                <div class="row">
                    <span><strong>Resultado</strong></span>
                    <span>{{ resultado_servidores }}</span>
                </div>
                <div class="row mt-2">
                    <span><strong>Observações</strong></span>
                    <span *ngFor="let obs of obs_servidores; index as i">{{ '[' + (i+1) + '] ' + obs }}</span>
                </div>
                <div *ngIf="falhas_servidores.length > 0" class="row mt-2">
                    <span><strong>Falhas</strong></span>
                    <span *ngFor="let falha of falhas_servidores; index as i">{{ '[' + (i+1) + '] ' + falha }}</span>
                </div>
            </separator>
            <separator title="GESTORES" [collapse]="'collapse'">
                <div class="row">
                    <span><strong>Resultado</strong></span>
                    <span>{{ resultado_gestores }}</span>
                </div>
                <div class="row mt-2">
                    <span><strong>Observações</strong></span>
                    <span *ngFor="let obs of obs_gestores; index as i">{{ '[' + (i+1) + '] ' + obs }}</span>
                </div>
                <div *ngIf="falhas_gestores.length > 0" class="row mt-2">
                    <span><strong>Falhas</strong></span>
                    <span *ngFor="let falha of falhas_gestores; index as i">{{ '[' + (i+1) + '] ' + falha }}</span>
                </div>
            </separator>
        </div>
        <separator [title]="formDisabled ? 'Parâmetros utilizados' : ''" [collapse]="formDisabled ? 'collapse' : undefined" class="mt-2">
            <div class="row">
                <separator title="Deve ser atualizado pela Rotina de Integração:">
                    <input-switch labelPosition="right" [size]="4" label="Unidades" controlName="atualizar_unidades" [control]="form!.controls.atualizar_unidades" ></input-switch>
                    <input-switch labelPosition="right" [size]="4" label="Servidores" controlName="atualizar_servidores" [control]="form!.controls.atualizar_servidores" ></input-switch>
                    <input-switch [disabled]="!this.util.isDeveloper() ? 'disabled' : undefined" labelPosition="right" [size]="4" label="Gestores" controlName="atualizar_gestores" [control]="form!.controls.atualizar_gestores" ></input-switch>
                </separator>
            </div>
            <div class="row mt-4" >
                <separator title="Com relação aos dados atualizados...(*)">
                    <span class="badge rounded-pill bg-info text-dark">(*) Não funciona em ambientes de Produção / Homologação</span>
                    <input-switch [disabled]="production ? 'disabled' : undefined" labelPosition="right" [size]="4" label="Usar arquivos locais" controlName="usar_arquivos_locais" [control]="form!.controls.usar_arquivos_locais" labelInfo="Selecione se os dados para atualização devem ser lidos de um arquivo local"></input-switch>
                    <input-switch [disabled]="production ? 'disabled' : undefined" labelPosition="right" [size]="4" label="Gravar em arquivos locais" controlName="gravar_arquivos_locais" [control]="form!.controls.gravar_arquivos_locais" labelInfo="Selecione se os dados atualizados devem ser salvos em um arquivo local"></input-switch>
                </separator>
            </div>
        </separator>
    </div>
</editable-form>