<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-search [size]="5" controlName="area_curso_id" [dao]="areaDao"></input-search>
        <input-text [size]="5" label="Nome do Curso" controlName="nome"></input-text>
        <input-select [size]="5" label="Titulo" [items]="this.lookup.TITULOS_CURSOS" controlName="titulo"></input-select>
        <input-search [size]="5" controlName="tipo_curso_id" [dao]="tipoCursoDao"></input-search>
        <input-switch [size]="2" labelPosition="left" label="Ativo" controlName="ativo"></input-switch>
    </div>    
</editable-form>
