<p class="text-secondary">Você está acessando o módulo de Execução.</p>

<div class="row mt-5">
  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Registrar meu Trabalho"
      imgIcon="../../../../assets/icons/home/todo-list.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/atividade']}"
      [metadata]="{ metadata: {atribuidas_para_mim: true}}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Consolidar meu registro mensal"
      imgIcon="../../../../assets/icons/home/consolidation.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/plano-trabalho/consolidacao']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Ver minhas avaliações"
      imgIcon="../../../../assets/icons/home/podio.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/plano-trabalho/consolidacao']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Propósito do meu trabalho"
      imgIcon="../../../../assets/icons/home/monitoring.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['execucao/plano-entrega']}"
    ></app-button-dashboard>
  </div>

</div>
