<p>projeto-form-envolvidos works!</p>


<!--

Recurso humano/departamento                          Regra                  [ + ]
---------------------------------------------------+------------------+----------
(i) Nome                                             xxxxxxxxxxxxxxxx   [Ed] [Ex]
[(i) Tipo do recurso] [(U) Metro] [($) 121,11]


[Select                                       [v]]   [Select      [v]]

public projeto_id: string = "";
public recurso_id: string = "";
public regra_id: string | null = null;
-->


