<!--top-alert type="warning" message="ATENÇÃO: O módulo Quadro ainda está em desenvolvimento, utilize apenas a Lista!"></top-alert/-->
<toolbar [buttons]="toolbarButtons">
    <input-switch [size]="2" labelPosition="left" label="Resumido" controlName="resumido" [control]="filter!.controls.resumido" (change)="onResumidoChange($event)"></input-switch>
    <input-switch [size]="2" labelPosition="left" label="Usar etiquetas" class="me-2" controlName="usarEtiquetas" [control]="filter!.controls.usarEtiquetas" (change)="onUsarEtiquetasChange($event)"></input-switch>
</toolbar>
<filter [form]="filter" #filterRef [where]="filterWhere" [query]="query" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed">
    <div class="row">
        <input-switch [size]="1" label="Minhas" controlName="atribuidas_para_mim" [control]="filter!.controls.atribuidas_para_mim" (change)="onAtribuidasParaMimChange($event)"></input-switch>
        <input-search [size]="5" label="Usuário" #usuario controlName="usuario_id" [control]="filter!.controls.usuario_id" [disabled]="filter!.controls.atribuidas_para_mim.value ? 'true' : undefined" [dao]="usuarioDao" [selectRoute]="{route: ['configuracoes', 'usuario']}"></input-search>
        <input-switch [size]="1" label="Atual" controlName="somente_unidade_atual" [control]="filter!.controls.somente_unidade_atual" (change)="onSomenteUnidadeAtualChange($event)" labelInfo="Somente as demandas da unidade selecionada"></input-switch>
        <input-search [size]="4" label="Unidade" #unidade controlName="unidade_id" [control]="filter!.controls.unidade_id" [disabled]="filter!.controls.somente_unidade_atual.value ? 'true' : undefined" [dao]="unidadeDao" [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
        <input-switch [size]="1" label="Sub." controlName="unidades_subordinadas" [control]="filter!.controls.unidades_subordinadas" labelInfo="Incluir as unidades subordinadas"></input-switch>      
    </div>
    <div class="row">
        <input-text [size]="4" label="Nº Processo (Sei)" maskFormat="00000.000000/0000-00" controlName="numero_processo" [control]="filter!.controls.numero_processo" [labelInfo]="'Pesquisa na Requisição, Conclusão e ' + lex.noun('Entrega', true)"></input-text>
        <input-select [size]="4" label="Status" itemTodos="- Todos -" [valueTodos]="null" [disabled]="fixedFilter?.length && fixedFilter![0]![0] == 'status' ? 'true' : undefined" controlName="status" [control]="filter!.controls.status" [items]="lookup.DEMANDA_STATUS"></input-select>
        <input-multiselect noForm noBox [size]="4" label="Etiquetas" controlName="etiquetas" [control]="filter!.controls.etiquetas"></input-multiselect>
    </div>
</filter>  
<ng-template #ticket let-card="card">
    <div class="d-flex w-100">
        <div class="flex-fill">
            <div class="text-nowrap">
                <span class="badge bg-light text-dark">
                    #{{card.data.numero}}
                </span>
                <span class="badge bg-light text-dark">
                    <i class="bi bi-briefcase"></i>
                    {{card.data.unidade.sigla}}    
                </span>
                <span class="badge bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Responsável: {{card.data.usuario?.nome || 'Não atribuido a nenhum usuário'}}">
                    <i [class]="'bi ' + (card.data.usuario?.nome?.length ? 'bi-person-check' : 'bi-person-x')"></i>
                    {{util.apelidoOuNome(card.data.usuario, true) || "(Não atribuído)"}}    
                </span>
            </div>
            <span class="badge bg-light text-dark fw-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Demandante: {{card.data.demandante?.nome || 'Desconhecido'}}">
                <i class="bi bi-cursor"></i>
                {{util.apelidoOuNome(card.data.demandante, true) || "Desconhecido"}}
            </span>
        </div>
        <div *ngIf="card.data.usuario">
            <profile-picture [url]="card.data.usuario.url_foto" [hint]="'Responsável: ' + (card.data.usuario?.nome || 'Não atribuido a nenhum usuário')"></profile-picture>
            <!--img [src]="card.data.usuario.url_foto" class="rounded-circle profile-photo" onerror="this.src='./assets/images/profile.png'" width="25" height="25" data-bs-toggle="tooltip" data-bs-placement="top" title="Responsável: {{card.data.usuario?.nome || 'Não atribuido a nenhum usuário'}}"//-->
        </div>
    </div>
    <ng-container *ngIf="!filter?.controls?.resumido?.value">
        <div class="card-status-container">
            <badge *ngIf="card.data.numero_processo?.length" [label]="card.data.numero_processo" color="light" icon="bi-folder-symlink" [data]="card.data" [click]="onProcessoClick.bind(this)" [hint]="allPages.getButtonTitle(card.data.numero_processo, card.data.numero_requisicao)">
                <small *ngIf="card.data.numero_requisicao?.length"><br>Sei nº {{card.data.numero_requisicao}}</small>
            </badge>
            <!--span *ngIf="card.data.numero_processo?.length" class="badge bg-light text-dark" role="button" data-bs-toggle="tooltip" data-bs-placement="top" (click)="onProcessoClick(card.data)" [title]="allPages.getButtonTitle(card.data.numero_processo, card.data.numero_requisicao)">
                <i class="bi bi bi-folder-symlink"></i> {{card.data.numero_processo}}
                <small *ngIf="card.data.numero_requisicao?.length"><br>Sei nº {{card.data.numero_requisicao}}</small>
            </span//-->
            <badge *ngFor="let status of getStatus(card.data)" [class]="status.class + ' ms-1'" [label]="status.text" color="none" [icon]="status.icon" [data]="status" [click]="status.filter ? onStatusClick.bind(this) : undefined"></badge>
            <!--span *ngFor="let status of getStatus(card.data)" [class]="status.class + ' ms-1'" [attr.role]="status.filter ? 'button' : undefined" (click)="onStatusClick(status)">
                <i [class]="status.icon"></i> {{status.text}}
            </span//-->
            <badge *ngFor="let etiqueta of card.data.etiquetas" class="ms-1" [color]="etiqueta.color" [label]="etiqueta.value" color="none" [icon]="etiqueta.icon" [data]="etiqueta" [click]="onEtiquetaClick.bind(this)"></badge>
            <!--span *ngFor="let etiqueta of card.data.etiquetas" class="badge ms-1" role="button" [style]="getEtiquetaStyle(etiqueta)" (click)="onEtiquetaClick(etiqueta)">
                <i [class]="etiqueta.icon"></i> {{etiqueta.value}}    
            </span//-->
        </div>
        <separator *ngIf="card.data.checklist?.length" small title="Checklist"></separator>
        <table *ngIf="card.data.checklist?.length">
            <tr *ngFor="let check of card.data.checklist">
                <td><i *ngIf="check.checked" class="bi bi-check-circle"></i></td>
                <td class="micro-text fw-ligh">{{check.texto}}</td>
            </tr>
        </table>
        <separator title="Comentários" small [button]="!selectable ? addComentarioButton : undefined" (buttonClick)="addComentarioClick(card)"></separator>
        <span *ngFor="let comentario of card.data.comentarios" #badge class="badge bg-light text-dark comentario-badge" role="button" (click)="comentarioClick(badge)" data-expanded="false" data-bs-toggle="tooltip" data-bs-placement="top" [title]="lookup.getValue(lookup.COMENTARIO_TIPO, comentario.tipo)">
            {{"• ".repeat(comentario.path?.includes("/") ? comentario.path.split("/").length-1 : 0)}}
            <i [class]="'me-1 ' + lookup.getIcon(lookup.COMENTARIO_TIPO, comentario.tipo)"></i>
            <span class="comentario-title">
                <strong>{{util.shortName(util.apelidoOuNome(comentario.usuario)!)}}</strong>
                • {{util.getDateTimeFormatted(comentario.data_hora)}}<br>
            </span>
            <span class="comentario-text">
                {{comentario.texto}}
            </span>
        </span>
    </ng-container>
</ng-template>
<ng-template #editDocker>
    <input-select [size]="12" controlName="etiqueta" [control]="formEdit.controls.etiqueta" [items]="etiquetasEdit"></input-select>
</ng-template>
<ng-template #placeholder>
    <div class="card-body">
        <div class="d-flex w-100">
            <div class="flex-fill">
                <h5 class="card-title placeholder-glow"><span class="placeholder col-6"></span></h5>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-sm btn-outline-secondary disabled placeholder">
                    <i class="bi bi-question"></i>
                </button>
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted placeholder-glow"><span class="placeholder col-8"></span></h6>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
    </div>
</ng-template>

<!-- Kanban por status: Não iniciado, Iniciado, Pausado, Concluido, Avaliado -->
<kanban *ngIf="!isEtiquetas" [template]="ticket" [placeholderTemplate]="placeholder" [loading]="loading" useCardData [dragSwimlanes]="false">
    <swimlane>
        <docker #dockerNaoIniciado icon="bi bi-hourglass-split" title="Não iniciado" color="border-warning" [collapse]="cardsConfig.naoIniciado" [toggle]="onDockerCollapse.bind(this)" [menu]="menuDockerNaoIniciado" [dragged]="onDragged.bind(this)" [drop]="onDrop.bind(this)" [dropIf]="canDrop(DOCKERS[NAOINICIADO])" [cards]="cards[NAOINICIADO]"></docker>
    </swimlane>
    <swimlane>
        <docker #dockerPausado icon="bi bi-pause-circle" title="Pausadas" color="border-danger" [collapse]="cardsConfig.pausado" [toggle]="onDockerCollapse.bind(this)" [dragged]="onDragged.bind(this)" [drop]="onDrop.bind(this)" [dropIf]="canDrop(DOCKERS[PAUSADO])" [cards]="cards[PAUSADO]"></docker>
        <docker #dockerIniciado icon="bi bi-play-circle" title="Iniciadas" color="border-info" [collapse]="cardsConfig.iniciado" [toggle]="onDockerCollapse.bind(this)" [dragged]="onDragged.bind(this)" [drop]="onDrop.bind(this)" [dropIf]="canDrop(DOCKERS[INICIADO])" [cards]="cards[INICIADO]"></docker>
    </swimlane>
    <swimlane>
        <docker #dockerConcluido icon="bi bi-check-circle" title="Concluídas" color="border-primary" [collapse]="cardsConfig.concluido" [toggle]="onDockerCollapse.bind(this)" [dragged]="onDragged.bind(this)" [drop]="onDrop.bind(this)" [dropIf]="canDrop(DOCKERS[CONCLUIDO])" [cards]="cards[CONCLUIDO]"></docker>
    </swimlane>
    <swimlane>
        <docker #dockerAvaliado icon="bi bi-star-half" title="Avaliadas" color="border-success" [collapse]="cardsConfig.avaliado" [toggle]="onDockerCollapse.bind(this)" [dragged]="onDragged.bind(this)" [drop]="onDrop.bind(this)" [dropIf]="canDrop(DOCKERS[AVALIADO])" [cards]="cards[AVALIADO]"></docker>
    </swimlane>
</kanban>

<!-- Kanban por label (definido polo usuário) -->
<kanban #kanbanEtiquetas *ngIf="isEtiquetas" 
    [dockers]="labels" 
    [template]="ticket" 
    [placeholderTemplate]="placeholder" 
    [loading]="loading" 
    [swimlaneDrop]="onSwimlaneDrop.bind(this)"
    [dockerDragged]="onDragged.bind(this)" 
    [dockerDrop]="onDrop.bind(this)" 
    [dockerEditTemplate]="editDocker" 
    [dockerToggle]="onDockerCollapse.bind(this)" 
    [dockerEdit]="editEtiquetas.bind(this)" 
    [dockerSave]="saveEtiquetas.bind(this)" 
    [dockerDelete]="deleteEtiquetas.bind(this)" 
    [dockerCancel]="cancelEtiquetas.bind(this)" 
    [dockerColorStyle]="getLabelStyle" 
    useCardData>
</kanban>