<grid #grid [items]="items" [minHeight]="500" [form]="form!" [hasAdd]="this.auth.hasPermissionTo('MOD_USER_ATRIB')" [hasEdit]="this.auth.hasPermissionTo('MOD_USER_ATRIB')" [hasDelete]="this.auth.hasPermissionTo('MOD_USER_ATRIB')" editable [add]="adicionarIntegrante.bind(this)" [load]="carregarIntegrante.bind(this)" [remove]="removerIntegrante.bind(this)" [save]="salvarIntegrante.bind(this)">
  <div *ngIf="entity?.gestor == null" class="col">
        <top-alert type="warning" 
        [message]="'Unidade sem chefia titular: verifique junto ao seu órgão ou entidade se é necessário realizar ajustes no Siape ou aguarde as alterações já realizadas serem refletidas no Petrvs. Enquanto isso, a unidade deve ter ao menos um agente público com atribuição de chefia substituta.'"></top-alert>
    </div>
  <span *ngIf="!isNoPersist"><strong>{{ 'Unidade: ' + (entity?.nome || "")}}</strong></span>
  <columns>
    <column [title]="lex.translate('Usuários')" [template]="columnUsuario" [editTemplate]="editUsuario" [maxWidth]="150">
      <ng-template let-row="row" #columnUsuario>
        <div class="d-flex">
          <div class="ms-3">
            <profile-picture [url]="row.usuario_url_foto || ''" [size]="40" [hint]="row.usuario_nome || ''"></profile-picture>
          </div>
          <div class="flex-fill ms-3">
            <strong>{{row.usuario_nome || ""}}</strong><br>
            <small>{{row.usuario_apelido || ""}}</small>
          </div>
        </div>
      </ng-template>
      <ng-template let-row="row" #editUsuario>
        <input-search #usuario [disabled]="grid?.adding ? undefined : 'true'" [size]="12" label icon controlName="usuario_id" [dao]="usuarioDao"></input-search>
      </ng-template>
    </column>
    <column
      [title]="lex.translate('Atribuições')"
      [template]="columnAtribuicoes"
      [editTemplate]="editAtribuicoes"
      [maxWidth]="200"
    >
      <ng-template let-row="row" #columnAtribuicoes>
        <div *ngFor="let atribuicao of row.atribuicoes">
          <badge 
            [color]="lookup.getColor(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao || '')"
            [icon]="lookup.getIcon(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao || '')"
            [label]="lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao || '')"
          ></badge><br>
        </div>
      </ng-template>
      <ng-template let-row="row" #editAtribuicoes>
        <input-multiselect
          controlName="atribuicoes"
          [size]="8"
          [addItemHandle]="addItemHandle.bind(this)"
          [deleteItemHandle]="deleteItemHandle.bind(this)"
        >
          <input-select
            [size]="12"
            label=""
            icon="fas fa-sign-out-alt"
            controlName="atribuicao"
            [items]="tiposAtribuicao"
          ></input-select>
        </input-multiselect>
      </ng-template>
    </column>
    <column
      [title]="lex.translate('Perfil')"
      [template]="columnPerfil"
      [editTemplate]="auth.hasPermissionTo('MOD_CFG_USER_PERFIL') ? editPerfil : columnPerfil"
      [maxWidth]="300"
    >
      <ng-template let-row="row" #columnPerfil>
        <badge color="gray" [label]="getPerfil(row.id) || ''"></badge><br>
      </ng-template>
      <ng-template let-row="row" #editPerfil>
        <input-select [size]="12" [label]="lex.translate('Perfil')" controlName="perfil_id" [dao]="perfilDao" [where]="[['nivel', '>=', !row?.usuario_externo ? 0 : 6]]" required></input-select>
      </ng-template>
    </column>
    <column type="options"></column>
  </columns>
</grid>
