<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_TIPO_MTV_AFT_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_TIPO_MTV_AFT_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="'Nome ' + lex.translate('motivo de afastamento')" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome..."></input-text>
        </div>
    </filter>
    <columns>
        <column title="Descrição" [template]="columnDescricao">
            <ng-template let-row="row" #columnDescricao>
                <i [class]="row.icone" [style.color]="row.cor"></i><span [style.color]="row.cor"> {{row.nome}}</span>
            </ng-template>
        </column>
        <column title="Formato" [template]="columnEmHoras">
            <ng-template let-row="row" #columnEmHoras>
                <span>{{ row.horas ? 'Horas' : 'Dias'}}</span>
            </ng-template>
        </column>
        <column title="Integrado" [template]="columnIntegrado">
            <ng-template let-row="row" #columnIntegrado>
                <span>{{ row.integracao ? 'Sim (cód. '+row.codigo+')' : 'Não'}}</span>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
