<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_TRF_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_TRF_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="lex.noun('Tarefa')" controlName="nome" [control]="filter!.controls.nome" placeholder="Nome ..."></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome" field="nome" orderBy="nome"></column>
        <column title="Tempo estimado" field="tempo_estimado"></column>
        <column title="Documental?" type="select" field="documental" [items]="lookup.SIMNAO"></column>
        <column title="Entidade/Unidade" [template]="columnEntidadeUnidade">
            <ng-template let-row="row" #columnEntidadeUnidade>
                <span *ngIf="row.unidade" class="badge bg-light text-dark">
                    <i class="bi bi-briefcase"></i>
                    {{row.unidade.sigla}}
                </span>
                <span *ngIf="row.entidade" class="badge bg-light text-dark">
                    <i class="fas fa-university"></i>
                    {{row.entidade.sigla}}
                </span>
            </ng-template>
        </column>
        <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
