<div class="row mt-3">  
  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Documentação"
      [imgIcon]="gb.getResourcePath('assets/icons/home/documentacao.svg')"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['https://www.gov.br/servidor/pt-br/assuntos/programa-de-gestao']}"
      [externalLink]="true"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
        title="Feedback/Dúvidas"
        [imgIcon]="gb.getResourcePath('assets/icons/home/feedback.svg')"
        textColor="#1369f0"
        borderColor="#1369f0"
        [route]="{route: ['https://forms.office.com/r/TLqHgDWK3W']}"
        [externalLink]="true"
      ></app-button-dashboard>
  </div>  
</div>