<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" [hasDelete]="true" [groupTemplate]="groupRecurso" [groupBy]="groupBy" [add]="addRegra.bind(this)" [load]="loadRegra.bind(this)" [remove]="removeRegra.bind(this)" [save]="saveRegra.bind(this)" editable>
            <ng-template let-group="group" #groupRecurso>
                <strong *ngIf="group?.length"><i [class]="lookup.getIcon(lookup.PROJETO_TIPO_RECURSOS, group[0].value)"></i> {{lookup.getValue(lookup.PROJETO_TIPO_RECURSOS, group[0].value)}}</strong>
            </ng-template>
            <columns>
                <column title="Nome" [template]="regraNome" [editTemplate]="editRegraNome">
                    <ng-template let-row="row" #regraNome>
                        <small>{{row.nome}}</small>
                    </ng-template>
                    <ng-template let-row="row" #editRegraNome>
                        <input-text [size]="12" controlName="nome" [control]="form!.controls.nome"></input-text>
                    </ng-template>
                </column>
                <column title="Tipo do recurso" [width]="250" [template]="regraRecursoTipo" [editTemplate]="editRegraRecursoTipo">
                    <ng-template let-row="row" #regraRecursoTipo>
                        <badge [icon]="lookup.getIcon(lookup.PROJETO_TIPO_RECURSOS, row.tipo_recurso)" [label]="lookup.getValue(lookup.PROJETO_TIPO_RECURSOS, row.tipo_recurso)" [color]="lookup.getColor(lookup.PROJETO_TIPO_RECURSOS, row.tipo_recurso)"></badge>
                    </ng-template>
                    <ng-template let-row="row" #editRegraRecursoTipo>
                        <input-select [size]="12" [disabled]="row.id != 'NEW' ? 'true' : undefined" controlName="tipo_recurso" [control]="form!.controls.tipo_recurso" [items]="lookup.PROJETO_TIPO_RECURSOS" (change)="onTipoRecursoChange()"></input-select>
                    </ng-template>
                </column>
                <column title="Perfis" [template]="regraPerfis" [editTemplate]="editRegraPerfis">
                    <ng-template let-row="row" #regraPerfis>
                        <span class="text-wrap multilines-badges">
                            <badge *ngFor="let perfil of row.perfis" [icon]="lookup.getIcon(lookup.PROJETO_PERFIS, perfil)" [label]="lookup.getValue(lookup.PROJETO_PERFIS, perfil)"></badge>
                        </span>
                    </ng-template>
                    <ng-template let-row="row" #editRegraPerfis>
                        <ng-container *ngIf="form!.controls.tipo_recurso!.value == 'HUMANO'">
                            <input-switch [size]="12" [label]="'Acesso ao '+ lex.translate('projeto')" scale="small" labelPosition="right" controlName="perfil_acesso" [control]="form!.controls.perfil_acesso"></input-switch>
                            <input-switch [size]="12" [label]="'Gerente de '+ lex.translate('projeto')" scale="small" labelPosition="right" controlName="perfil_gerente" [control]="form!.controls.perfil_gerente"></input-switch>
                        </ng-container>
                        <ng-container *ngIf="form!.controls.tipo_recurso!.value == 'DEPARTAMENTO'">
                            <input-switch [size]="12" [label]="'Acesso ao '+ lex.translate('projeto')" scale="small" labelPosition="right" controlName="perfil_acesso" [control]="form!.controls.perfil_acesso"></input-switch>
                            <input-switch [size]="12" [label]="'Escritório de '+ lex.translate('projeto')" scale="small" labelPosition="right" controlName="perfil_escritorio" [control]="form!.controls.perfil_escritorio"></input-switch>
                        </ng-container>
                    </ng-template>
                </column>
                <column type="options"></column>
            </columns>
        </grid>
    </div>
</editable-form>
<!--

Nome                                                   Tipo recurso     [ + ]
------------------------------------------------------+-------------+---------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxx  [Ed] [Ex]

[Text                                                ] [Humanos  [v]]

Tipo recurso: Humano - Departamento - Material - Servico - Custo
-->