.comentario-badge[data-expanded=true] {
    .comentario-title {
        display: initial;
        white-space: normal;
    }
    .comentario-text {
        font-size: 12px;
        height: auto;
        display: block;
        max-width: 290px;
        white-space: initial;
    }
}

.atividade-atividade, .atividade-descricao {
    height: auto;
    display: block;
    max-width: 200px;
    white-space: initial;
}

.comentario-badge {
    white-space: nowrap;
    display: block;
    //width: 200px;
    background-color: #ffe69c !important;
    margin-bottom: 1px;
    text-align: left;
    .comentario-title {
        display: none;
    }
    .comentario-text {
        display: inline-block;
        max-width: 290px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
    }
}

.docker-border {
    border-width: 1px;
}

.card-status-container {
    width: 330px;
}