<div class="d-flex flex-wrap justify-content-center">
    <ng-container *ngFor="let item of items">
        <div class="button_avaliation text-center mb-3" 
            [style.border-color]="item.color" 
            [style.background-color]="item.data.selected ? item.color : ''"
            [style.color]="item.color && item.data.selected ? util.contrastColor(item.color) : item.color"
        >
            <i class="bi {{item.icon}}"></i>
            <span class="">{{item.data.label}}</span>
        </div>
    </ng-container>
</div>

        
