<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_TIPO_MDL_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_TIPO_MDL_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" label="Nome do tipo da Modalidade" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome do tipo da Modalidade"></input-text>
        </div>
    </filter>
    <columns>
        <column title="Descrição" field="nome"></column>
        <column title="Somente atividades homologadas" [template]="columnAtividades_homologadas">
            <ng-template let-row="row" #columnAtividades_homologadas>
                <span>{{ row.atividades_homologadas ? 'Sim' : 'Não'}}</span>
            </ng-template>
        </column>
        <column title="Dispensa Avaliações" [template]="columnDispensa_avaliacao">
            <ng-template let-row="row" #columnDispensa_avaliacao>
                <span>{{ row.dispensa_avaliacao ? 'Sim' : 'Não'}}</span>
            </ng-template>
        </column>
        <column title="Exige Assinatura" [template]="columnExige_assinatura">
            <ng-template let-row="row" #columnExige_assinatura>
                <span>{{ row.exige_assinatura ? 'Sim' : 'Não'}}</span>
            </ng-template>
        </column>
        <column title="% Ganho produtividade" field="ganho_produtividade"></column>
        <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
