<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_MATSRV_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_MATSRV_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-select [size]="4" label="Tipo" itemTodos="- Todos -" [valueTodos]="null" controlName="tipo" [control]="filter!.controls.tipo" [items]="lookup.MATERIAL_SERVICO_TIPO"></input-select>
            <input-text [size]="4" label="Código" controlName="codigo" [control]="filter!.controls.codigo"></input-text>
            <input-text [size]="4" label="Referência" controlName="referencia" [control]="filter!.controls.referencia"></input-text>
        </div>
        <div class="row">
            <input-text [size]="12" label="Descrição" controlName="descricao" [control]="filter!.controls.descricao"></input-text>
        </div>
    </filter>
    <columns>
        <column title="Tipo" [template]="columnTipo">
            <ng-template let-row="row" #columnTipo>
                <badge color="light" [icon]="lookup.getIcon(lookup.MATERIAL_SERVICO_TIPO, row.tipo)" [label]="lookup.getValue(lookup.MATERIAL_SERVICO_TIPO, row.tipo)"></badge>
            </ng-template>
        </column>
        <column title="Cód./Ref." [template]="columnCodigoReferencia">
            <ng-template let-row="row" #columnCodigoReferencia>
                <badge *ngIf="row.codigo?.length" color="light" icon="bi bi-upc-scan" [label]="row.codigo" hint="Código"></badge>
                <badge *ngIf="row.referencia?.length" color="light" icon="bi bi-qr-code" [label]="row.referencia" hint="Referência"></badge>
            </ng-template>
        </column>
        <column title="Descrição" [template]="columnDescricao">
            <ng-template let-row="row" #columnDescricao>
                <strong>{{row.descricao}}</strong>
            </ng-template>
        </column>
        <column title="Unidades" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <strong>{{lookup.getValue(lookup.MATERIAL_SERVICO_UNIDADE, row.unidade)}}</strong>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
