<grid [dao]="dao" [hasEdit]="false" [title]="isModal ? '' : title" [orderBy]="orderBy">
    <toolbar></toolbar>
    <filter [deleted]="false" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-datetime [size]="3" datetime label="Início" controlName="data_inicio" [control]="filter!.controls.data_inicio" labelInfo="Início da pesquisa"></input-datetime>
            <input-datetime [size]="3" datetime label="Fim" controlName="data_fim" [control]="filter!.controls.data_fim" labelInfo="Fim da pesquisa"></input-datetime>
        </div>
    </filter>
    <columns>
        <column title="Número" field="numero" [width]="20" [template]="columnNumero">
            <ng-template let-row="row" #columnNumero>
                <span>
                    <small>{{ row.numero }}</small>
                </span>
            </ng-template>
        </column>
        <column title="Iniciado em" field="created_at" [width]="80" [template]="columnDataCriacao">
            <ng-template let-row="row" #columnDataCriacao>
                <span><small>{{ util.getDateTimeFormatted(row.created_at) }}</small></span>
            </ng-template>
        </column>
        <column title="Finalizado em" field="finished_at" [width]="80" [template]="columnDataFim">
            <ng-template let-row="row" #columnDataFim>
                <span><small>{{ util.getDateTimeFormatted(row.finished_at) }}</small></span>
            </ng-template>
        </column>
        <column title="Participantes" field="qtde_participantes_sucessos" [width]="20" [template]="columnParticipantes">
            <ng-template let-row="row" #columnParticipantes>
                <span><small>{{ row.qtde_participantes_sucessos }} com sucesso</small></span><br/>
                <span><small>{{ row.qtde_participantes_falhas }} com falha</small></span>
            </ng-template>
        </column>
        <column title="Planos de Entrega" field="qtde_entregas_sucessos" [width]="20" [template]="columnEntregas">
            <ng-template let-row="row" #columnEntregas>
                <span><small>{{ row.qtde_entregas_sucessos }} com sucesso</small></span><br/>
                <span><small>{{ row.qtde_entregas_falhas }} com falha</small></span>
            </ng-template>
        </column>
        <column title="Planos de Trabalho" field="qtde_trabalhos_sucessos" [width]="20" [template]="columnTrabalhos">
            <ng-template let-row="row" #columnTrabalhos>
                <span><small>{{ row.qtde_trabalhos_sucessos }} com sucesso</small></span><br/>
                <span><small>{{ row.qtde_trabalhos_falhas }} com falha</small></span>
            </ng-template>
        </column>
        <column type="options" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
