<div class="modal fade" [id]="id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    [attr.aria-labelledby]="id + 'Label'" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog" [style.max-width.px]="modalWidth">
        <div class="modal-content">
            <div class="modal-header hidden-print">
                <i *ngIf="route" class="bi bi-box-arrow-up-right me-2" role="button" (click)="openNewBrowserTab()"></i>
                <h5><i *ngIf="iconTitle" [class]="iconTitle"></i></h5> &nbsp; <h5 class="modal-title break-title" [id]="id + 'Label'" [style.max-width.px]="modalWidth - 100">{{title}}</h5>
                <button *ngIf="gb.isToolbar" type="button" class="btn-close btn-minimize" data-bs-dismiss="modal" aria-label="Minimize" (click)="minimize()"></button>
                <button type="button" class="btn-close" [class.btn-no-left-margin]="gb.isEmbedded" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>            
            <div class="modal-body">  
                
                <document-preview *ngIf="html?.length" noMargin [html]="html"></document-preview>
                <ng-template #body></ng-template>
                <ng-container *ngIf="template" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="templateContext"></ng-container>
                {{message}}
                <textarea *ngIf="isPrompt" class="form-control" [placeholder]="defaultValue" [(ngModel)]="inputValue">{{defaultValue}}</textarea>
            </div>
            <div *ngIf="buttons.length" class="modal-footer hidden-print">
                <button *ngFor="let button of buttons" type="button" [class]="'btn ' + (button.color || 'btn-primary')" (click)="buttonClick(button)">
                    <i *ngIf="button.icon" [class]="button.icon"></i>
                    {{button.label}}
                </button>
            </div>
        </div>
    </div>
</div>