<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable"
    (select)="onSelect($event)">
    <toolbar *ngIf="!selectable" [buttons]="buttons"></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)"
        [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="7" label="Nome" controlName="nome" [control]="filter!.controls.nome"
                placeholder="Nome" [attr.maxlength]=250></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nível" [template]="columnNivel">
            <ng-template let-row="row" let-metadata="metadata" #columnNivel>
                <span class="d-block">{{getSequencia(metadata, row)}}</span>
            </ng-template>
        </column>
        <column title="Nome" [template]="columnNome" orderBy="nome">
            <ng-template let-row="row" #columnNome>
                <span class="d-block">{{row.nome}}</span>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column> <!--[dynamicOptions]="dynamicOptions.bind(this)"-->
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>