<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="true"
    [hasEdit]="true">
    <toolbar *ngIf="!selectable">
        <input-switch [size]="4" labelPosition="left" label="Agrupar por unidade" controlName="agrupar" [control]="filter!.controls.agrupar" (change)="onAgruparChange($event)"></input-switch>
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_PROD_CAT_EXCL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <div class="col-md-4">
                <input-text [size]="6" label="Nome do catálogo" icon="bi bi-textarea-t" [control]="filter!.controls.nome" controlName="this.filter.nome" [attr.maxlength]=250></input-text>
            </div>
            <div class="col-md-4">
                <input-search #usuario label="Curador Responsável" [size]="6" [control]="filter!.controls.curador_responsavel_id" controlName="this.filter.curador_responsavel_id" [dao]="usuarioDao"></input-search>
            </div>
            <div class="col-md-4">  
                <input-search #unidade [size]="6" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao"></input-search>  
            </div>
        </div>
        <div class="row">
            <input-datetime date [size]="2" label="Início"  [control]="filter!.controls.data_inicio" controlName="this.filter.data_inicio"></input-datetime>
            <input-datetime date [size]="2" #data_fim label="Final" [control]="filter!.controls.data_fim" controlName="this.filter.data_fim"></input-datetime>
        </div>
    </filter>
    <columns>
        <column title="ID#" [template]="columnID">
            <ng-template let-row="row" #columnID>
                <span> {{row.id}}</span><br>
            </ng-template>
        </column>

        <column title="Nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                <span> {{row.nome}}</span><br>
            </ng-template>
        </column>

        <column title="Quantidade" [template]="columnQuatidade">
            <ng-template let-row="row" #columnQuatidade>
                <span> {{row.quantidade}}</span><br>
            </ng-template>
        </column>

        <column title="Curador Responsável" [template]="columnUsuario">
            <ng-template let-row="row" #columnUsuario>
                <span> {{row.curador_responsavel?.nome || ""}}</span>
            </ng-template>
        </column>

        <column title="Unidade" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <span> {{row.unidade?.sigla || ""}}</span>
            </ng-template>
        </column>

        <column title="Início" [template]="columnDataInicio">
            <ng-template let-row="row" #columnDataInicio>
                {{util.getDateFormatted(row.data_inicio)}}
            </ng-template>
        </column>

        <column title="Fim" [template]="columnDataFim">
            <ng-template let-row="row" #columnDataFim>
                {{util.getDateFormatted(row.data_fim)}}
            </ng-template>
        </column>

        <column title="Status" [template]="columnStatus">
            <ng-template let-row="row" #columnStatus>
                {{row.status}}
            </ng-template>
        </column>
        
        <column type="options" [onEdit]="edit" [options]="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
