
<div *ngIf="carregando" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
<div [class.d-none]="carregando">
    <toolbar [buttons]="toolbarButtons"></toolbar>
    <editable-form [form]="form!" [noButtons]="isPanel ? 'true' : undefined" (submit)="onSaveData()" (cancel)="onCancel()">
        <div class="row">
            <div *ngIf="!etiquetas" class="col-md-6">
                <separator transparent [title]="'Preferências de exibição ' + lex.translate('usuário')">
                    <div class="row">
                        <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Ocultar menu lateral do sei no Controle de ' + lex.translate('Processo')" controlName="ocultar_menu_sei"></input-switch>
                        <input-switch [size]="12" scale="small" labelPosition="right" label="Ocultar o container Petrvs" controlName="ocultar_container_petrvs"></input-switch>
                    </div>
                </separator>
                <separator transparent title="Tema">
                    <input-select controlName="theme" [items]="lookup.THEMES"></input-select>
                </separator>
            </div>
            <div [class]="etiquetas ? 'col-md-12' : 'col-md-6'">
                <input-multiselect label="Etiquetas" multiselectStyle="inline" controlName="etiquetas" [size]="12" [addItemHandle]="addItemHandleEtiquetas.bind(this)">
                    <input-text [size]="5" label="Texto" controlName="etiqueta_texto"></input-text>
                    <input-select [size]="3" label="Ícone" icon="fas fa-sign-out-alt" controlName="etiqueta_icone" liveSearch [items]="lookup.ICONES"></input-select>
                    <input-color [size]="4" label="Cor" controlName="etiqueta_cor"></input-color>
                </input-multiselect>
            </div>
        </div>
        <separator *ngIf="entity && !etiquetas" transparent title="Notificações">
            <notificacoes-config #notificacoes [entity]="entity!" [disabled]="formDisabled"></notificacoes-config>
        </separator>
        <!--div class="row">
            <div class="col-md-6">
                <separator transparent title="Meios de notificação"></separator>
                <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar no Petrvs" controlName="enviar_petrvs"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por e-mail" controlName="enviar_email"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por Whatsapp" controlName="enviar_whatsapp"></input-switch>
            </div>
            <div class="col-md-6">
                <separator transparent title="Tipos de notificação"></separator>
                <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar distribuição ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_distribuicao"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar conclusão ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_conclusao"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar avaliação ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_avaliacao"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar modificação ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_modificacao"></input-switch>
                <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar comentário ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_comentario"></input-switch>
            </div>
        </div//-->
    </editable-form>
</div>