<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="unidade_id" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
  <tabs display right>
    <tab key="GERAL" label="Geral">
      <div class="row">
        <input-search #unidade [size]="12" label="Unidade Instituidora" controlName="unidade_id" [dao]="unidadeDao" [selectParams]="{filter: {instituidora: true}}" required></input-search>
      </div>
      <div class="row">
        <input-datetime date [size]="4" label="Data de Início" icon="bi bi-calendar-date" controlName="data_inicio" [control]="form!.controls.data_inicio" labelInfo="Data de início da vigência do programa de gestão na unidade instituidora"></input-datetime>
        <input-datetime date [size]="4" label="Data de Fim" icon="bi bi-calendar-date" controlName="data_fim" [control]="form!.controls.data_fim" labelInfo="Data de fim da vigência do programa de gestão na unidade instituidora"></input-datetime>
        <input-number [size]="4" label="Duração Máx P.E." icon="bi bi-blockquote-left" controlName="prazo_max_plano_entrega" [control]="form!.controls.prazo_max_plano_entrega" labelInfo="Limite máximo de dias corridos para a duração do plano de entregas a partir da sua data de criação (Zero para não limitar)"></input-number>
      </div>
      <div class="row">
        <input-text [size]="4" label="Título" icon="bi bi-textarea-t" controlName="nome" [control]="form!.controls.nome" [attr.maxlength]=250 required></input-text>
        <input-button
          controlName="link_autorizacao"
          [control]="form!.controls.link_autorizacao"
          label="Link autorização"
          labelInfo="Link web da autorização"
          [size]="4"
          iconButton="bi bi-box-arrow-up-right"
          icon="bi bi-link-45deg"
          (buttonClick)="onClickAbreAutorizacao()"
        ></input-button>
        <input-button
          controlName="link_normativa"
          [control]="form!.controls.link_normativa"
          label="Link instituição"
          labelInfo="Link web da instrução normativa"
          [size]="4"
          iconButton="bi bi-box-arrow-up-right"
          icon="bi bi-link-45deg"
          (buttonClick)="onClickAbreNormativa()"
        ></input-button>
      </div>
    </tab>
    <tab key="PLANO_ENTREGA" [label]="lex.translate('Plano de entrega')">
      <input-search [label]="lex.translate('Tipo de avaliação do Plano de entrega')" [size]="12" #tipoAvaliacaoEntrega controlName="tipo_avaliacao_plano_entrega_id" [dao]="tipoAvaliacaoDao" [labelInfo]="lex.translate('Tipo de avaliação') + ' que especifica a forma que será avaliado ' + lex.translate('plano de trabalho') + ' e ' + lex.translate('plano de entrega')" required></input-search>
      <separator [title]="lex.translate('Avaliação') + lex.translate(' do Plano de Entrega')">
        <input-multiselect label="Checklists das entregas" controlName="checklist_avaliacao_entregas_plano_entrega" [size]="12" [addItemHandle]="addItemHandlePlanoEntregaChecklist.bind(this)">
          <input-text [size]="12" controlName="checklist_plano_entrega_texto" [attr.maxlength]=250></input-text>
        </input-multiselect>
      </separator>
    </tab>
    <tab key="PLANO_TRABALHO" [label]="lex.translate('Plano de trabalho')">
      <input-switch [size]="12" scale="small" labelPosition="right" controlName="termo_obrigatorio" label="Se o termo é obrigatório" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-switch>
      <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_participante" [label]="'Exige assinatura ' + lex.translate('do usuário') + lex.translate(' do plano de trabalho')" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-switch>
      <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_gestor_lotacao" [label]="'Exige assinatura do gestor da lotação ' + lex.translate('do usuário') + ' (para ' + lex.translate('unidade') + ' distinta)'" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-switch>
      <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_gestor_unidade" [label]="'Exige assinatura do gestor ' + lex.translate('da unidade')" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-switch>
      <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_gestor_entidade" [label]="'Exige assinatura do gestor ' + lex.translate('da entidade')" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-switch>
      <input-search [label]="'Template ' + lex.translate('termo') + ' (TCR)'" [size]="12" detailsButton labelInfo="Template do termo utilizado no plano de trabalho" controlName="template_tcr_id" [dao]="templateDao" [where]="[['especie', '==', 'TCR']]" [selectRoute]="templateService.selectRoute('TCR', form?.controls?.template_tcr_id?.value)" (details)="templateService.details($event)" required></input-search>
      <input-search [label]="'Tipo de documento ' + lex.translate('termo')" [size]="12" #tipoDocumento controlName="tipo_documento_tcr_id" [dao]="tipoDocumentoDao" labelInfo="Tipo de documento utilizado para exportar o termo para o SEI/SUPER"></input-search>
      <input-search [label]="lex.translate('Tipo de avaliação do registro de execução do plano de trabalho')" [size]="12" #tipoAvaliacao controlName="tipo_avaliacao_plano_trabalho_id" [dao]="tipoAvaliacaoDao" [labelInfo]="lex.translate('Tipo de avaliação') + ' que especifica a forma que será avaliado ' + lex.translate('plano de trabalho') + ' e ' + lex.translate('plano de entrega')" required></input-search>
      <separator [title]="lex.translate('Consolidação') + lex.translate(' do Plano de trabalho')">
        <div class="row">
          <input-select [size]="6" label="Periodicidade" controlName="periodicidade_consolidacao" [control]="form!.controls.periodicidade_consolidacao" [items]="lookup.PERIODICIDADE_CONSOLIDACAO" labelInfo="Período para avaliação do plano de trabalho"></input-select>
          <input-select *ngIf="['SEMANAL', 'QUINZENAL'].includes(form!.controls.periodicidade_consolidacao.value)" [size]="3" label="Dia da semana" controlName="periodicidade_valor" [control]="form!.controls.periodicidade_valor" [items]="lookup.DIA_SEMANA" labelInfo="Representa quantidade de dias para DIAS; dia da semana para SEMANAL e QUINZENAL; e dia do mês para o restante"></input-select>
          <input-number *ngIf="['MENSAL', 'BIMESTRAL', 'TRIMESTRAL', 'SEMESTRAL'].includes(form!.controls.periodicidade_consolidacao.value)" [size]="3" label="Dia do mês" controlName="periodicidade_valor" [control]="form!.controls.periodicidade_valor" labelInfo="Representa quantidade de dias para DIAS; dia da semana para SEMANAL e QUINZENAL; e dia do mês para o restante"></input-number>
          <input-number *ngIf="['DIAS'].includes(form!.controls.periodicidade_consolidacao.value)" [size]="3" label="Qtd. de Dias" controlName="periodicidade_valor" [control]="form!.controls.periodicidade_valor" labelInfo="Representa quantidade de dias para DIAS; dia da semana para SEMANAL e QUINZENAL; e dia do mês para o restante"></input-number>
          <input-number [size]="3" label="Tolerância" controlName="dias_tolerancia_consolidacao" [control]="form!.controls.dias_tolerancia_consolidacao" labelInfo="Dias de tolerância para o lançamento do registro das atividades na consolidação, após esses dias será liberado automaticamente para avaliação" maxValue="10"></input-number>
        </div>
      </separator>
      <separator [title]="lex.translate('Avaliação') + lex.translate(' da Consolidação')">
       
        <div class="row">
          <input-number [size]="6" label="Tolerância p/ avaliação" controlName="dias_tolerancia_avaliacao" [control]="form!.controls.dias_tolerancia_avaliacao" labelInfo="Dias de tolerância para a chefia realizar a avaliação após o registro de execução, por parte do participante, segundo o §1º do art. 20 da IN nº 24/2023. Após esse prazo, o registro será considerado como 'Não avaliado'" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-number>
          <input-number [size]="6" label="Tolerância p/ recurso" controlName="dias_tolerancia_recurso_avaliacao" [control]="form!.controls.dias_tolerancia_recurso_avaliacao" labelInfo="Dias de tolerância para recorrer da avaliação" [disabled]="util.isDeveloper() ? undefined : 'true'"></input-number>
        </div>
        <!--
        <div class="row">
          <input-number [size]="4" label="Nota" *ngIf="isTipoAvaliacao('QUANTITATIVO')" [control]="form!.controls.nota_padrao_avaliacao" labelInfo="Nota que será atribuído automaticamente caso a tolerância seja alcançada"></input-number>
          <input-select [size]="4" label="Conceito" *ngIf="isTipoAvaliacao('QUALITATIVO')" [control]="form!.controls.nota_padrao_avaliacao" [items]="tipoAvaliacaoQualitativo" labelInfo="Nota que será atribuído automaticamente caso a tolerância seja alcançada"></input-select>
          <input-search [label]="lex.translate('Tipo de justificativa')" [size]="8" [emptyValue]="null" #tipoJustificativa controlName="tipo_justificativa_id" [dao]="tipoJustificativaDao" labelInfo="Tipo de justificativa, para quando o gestor não realizar a avaliação dentro do prazo"></input-search>
        </div> -->
        <!--div class="row">
          <input-multiselect label="Checklists das entregas" controlName="checklist_avaliacao_entregas_plano_trabalho" [size]="6" [addItemHandle]="addItemHandlePlanoTrabalhoChecklist.bind(this)">
            <input-text [size]="12" controlName="checklist_plano_trabalho_texto" [attr.maxlength]=250></input-text>
          </input-multiselect>
          <input-multiselect label="Critérios de avaliação" controlName="plano_trabalho_criterios_avaliacao" [size]="6" [addItemHandle]="addItemHandlePlanoTrabalhoCriteriosAvaliacao.bind(this)">
            <input-text [size]="12" controlName="plano_trabalho_criterio_avaliacao" [attr.maxlength]=250></input-text>
          </input-multiselect>
        </div-->
      </separator>
    </tab>
  </tabs>
</editable-form>