<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <div class="row">
            <input-text [size]="12" label="Nome" controlName="nome"></input-text>
        </div>
        <div class="row">
            <input-textarea label="Fundamentação" [size]="12" [rows]="4" controlName="fundamentacao"></input-textarea>
        </div>
        <div class="row">
            <input-search [size]="12" controlName="eixo_tematico_id" [dao]="eixoTematicoDao" ></input-search>                        
        </div>
        <div class="row">
            <input-search [size]="12" controlName="planejamento_id"  [dao]="planejamentoDao"></input-search>                        
        </div>
        <div class="row">
            <input-search [size]="12" controlName="objetivo_superior_id" [dao]="planejamentoObjetivoDao"></input-search>                        
        </div>
    </div>
</editable-form>
