<grid [dao]="dao" [add]="add" title="Painel de entidades (SaaS)" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [hasAdd]="true" [hasEdit]="true">
    <!-- <filter hidden [form]="filter" [where]="filterWhere.bind(this)" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed"></filter> -->
    <columns>
        <column title="Tipo" [template]="columnTipo">
            <ng-template let-row="row" #columnTipo>
                <span>{{row.log_type}}</span>
            </ng-template>
        </column>
        <column title="Data" [template]="columnData">
            <ng-template let-row="row" #columnData>
                <span>{{dao!.getDateFormatted(row.created_at)}}</span>
            </ng-template>
        </column>
        <column title="Mensagem" field="columnMensagem">
            <ng-template let-row="row" #columnMensagem>
                <span>{{row.output}}</span>
            </ng-template>
        </column>
        <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
</grid>
    