<grid #grid [items]="items" [minHeight]="500" [form]="form!" [hasDelete]="true" editable
    [add]="addIntegrante.bind(this)" [load]="loadIntegrante.bind(this)" [remove]="removeIntegrante.bind(this)" [save]="saveIntegrante.bind(this)">
    <span *ngIf="!isNoPersist"><strong>{{ 'Servidor: ' + entity?.nome + ' - Matrícula: ' + entity?.matricula }}</strong></span>
    <columns>
        <column [title]="lex.translate('Unidades')" [template]="columnUnidade" [editTemplate]="editUnidade">
            <ng-template let-row="row" #columnUnidade>
                <strong>{{ row.unidade_sigla || '' }}</strong><span> (IdServo: {{ row.unidade_codigo || '' }})</span><br>
                <span>{{ row.unidade_nome || '' }} </span>
            </ng-template>
            <ng-template let-row="row" #editUnidade>
                <input-search #unidade [size]="12" label icon controlName="unidade_id" [dao]="unidadeDao"></input-search>
            </ng-template>
        </column>
        <column [title]="lex.translate('Atribuições')" [template]="columnAtribuicoes" [editTemplate]="editAtribuicoes">
            <ng-template let-row="row" #columnAtribuicoes>
                <div *ngFor="let a of row.atribuicoes">
                    <badge [color]="lookup.getColor(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')" [icon]="lookup.getIcon(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')" [label]="lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')"></badge><br>
                </div>
            </ng-template>
            <ng-template let-row="row" #editAtribuicoes>
                <input-multiselect controlName="atribuicoes" [size]="8" [addItemHandle]="addItemHandle.bind(this)" [deleteItemHandle]="deleteItemHandle.bind(this)">
                    <input-select [size]="12" label="" icon="fas fa-sign-out-alt" controlName="atribuicao" [items]="tiposAtribuicao"></input-select>
                </input-multiselect>
            </ng-template>
        </column>
        <column type="options"></column>
    </columns>
</grid>
