<span *ngIf="!isNoPersist"><strong>{{ 'Servidor: ' + entity?.nome }}</strong></span>

<div class="row">
    <div class="col-4">
        <editable-form [form]="formPerfil!" [noButtons]="isNoButtons()" [disabled]="formDisabled" title="" (submit)="salvarPerfil()">
            <div class="row">
                <input-select #perfil (change)="alteraPerfil()" [disabled]="!auth.hasPermissionTo('MOD_CFG_USER_PERFIL') ? 'true' : undefined" [label]="lex.translate('Perfil')" controlName="perfil_id" [dao]="perfilDao" [where]="[['nivel', '>=', ( editando && !entity?.usuario_externo) ? 0 : 6]]" required></input-select>
            </div>
        </editable-form>
    </div>
    <div class="col">
        <top-alert type="warning" [message]="'Ao conceder a ' + lex.translate('um usuário') + ' a atribuição de ' + lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, 'GESTOR') + ', ' + lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, 'GESTOR_SUBSTITUTO') + ' ou de ' + lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, 'GESTOR_DELEGADO') + ' em ' + lex.translate('uma unidade') + ', deve lhe ser concedido também ' + lex.translate('o nível de acesso') + ' correspondente.'"></top-alert>
    </div>
</div>

<grid #grid [items]="items" [minHeight]="500" [form]="form!" [hasEdit]="autoGerenciar()" [hasAdd]="autoGerenciar()" [hasDelete]="autoGerenciar()" editable [add]="adicionarIntegrante.bind(this)" [load]="carregarIntegrante.bind(this)" [remove]="removerIntegrante.bind(this)" [save]="salvarIntegrante.bind(this)">
    <top-alert *ngIf="!isNoPersist" type="alert" [message]="'Não é possível excluir ou alterar ' + lex.translate('a lotação') + ' ' + lex.translate('do servidor') + '. '"></top-alert>
    <columns>
        <column [title]="lex.translate('Unidades')" [template]="columnUnidade" [editTemplate]="editUnidade">
            <ng-template let-row="row" #columnUnidade>
                <strong>{{ row.unidade_sigla || '' }}</strong><span> {{ row.informal ? '(Unidade Informal)' : '(Código: ' + (row.unidade_codigo || '') + ')' }}</span><br>
                <span>{{ row.unidade_nome || '' }} </span>
            </ng-template>
            <ng-template let-row="row" #editUnidade>
                <input-search #unidade 
                    label icon 
                    [disabled]="grid?.adding ? undefined : 'true'" 
                    [size]="12" 
                    controlName="unidade_id"
                    (change)="onUnidadeChange($event)"
                    [dao]="unidadeDao"
                ></input-search>
            </ng-template>
        </column>

        <column [title]="lex.translate('Última data SIAPE')" [template]="columnDataSIAPE">
            <ng-template let-row="row" #columnDataSIAPE>
                <span>{{ util.getDateFormatted(row.ultima_atualizacao) }} </span>
            </ng-template>
        </column>

        <column [title]="lex.translate('Atribuições')" [template]="columnAtribuicoes" [editTemplate]="editAtribuicoes">
            <ng-template let-row="row" #columnAtribuicoes>
                <div *ngFor="let a of row.atribuicoes">
                    <badge [color]="lookup.getColor(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')" [icon]="lookup.getIcon(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')" [label]="lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, a || '')"></badge><br>
                </div>
            </ng-template>
            <ng-template let-row="row" #editAtribuicoes>
                <input-multiselect
                    controlName="atribuicoes"
                    [size]="8"
                    [addItemHandle]="addItemHandle.bind(this)"
                    [deleteItemHandle]="deleteItemHandle.bind(this)"
                >
                    <input-select
                        [size]="12"
                        label=""
                        icon="fas fa-sign-out-alt"
                        controlName="atribuicao"
                        [items]="this.atribuicoes"
                    ></input-select>
                </input-multiselect>
            </ng-template>
        </column>
        <column type="options"></column>
    </columns>
</grid>