<editable-form [form]="form!" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <separator *ngIf="recurso || form!.controls.recurso?.value?.length" title="Recurso">
        <input-textarea label="Texto do recurso" [size]="12" [disabled]="recurso ? undefined : 'true'" [rows]="2" controlName="recurso" [control]="form!.controls.recurso"></input-textarea>
    </separator>
    <div class="row">
        <avaliar-nota-input [size]="12" #notaInput [disabled]="recurso ? 'true' : undefined" [tipoAvaliacao]="tipoAvaliacao" [label]="labelNota" [change]="onNotaChange.bind(this)" [control]="form!.controls.nota"></avaliar-nota-input>
    </div>
    <div *ngIf="nota" class="d-flex justify-content-center">
        <button type="button" class="pe-none btn" [style]="styleButtonNota">
            <i [class]="nota.icone" [style.color]="nota.cor || 'black'"></i>
            <strong class="ms-1">{{nota.nota}}</strong> - {{nota.descricao}}
        </button>
    </div>
    <div *ngIf="nota" class="row">
        <input-multitoggle #justificativas [disabled]="recurso ? 'true' : undefined" [control]="form!.controls.justificativas" [label]="nota!.pergunta" [items]="tiposJustificativas"></input-multitoggle>
    </div>
    <separator *ngIf="nota" title="Justificativa adicional?" icon="bi bi-chat-left-quote" collapse>
        <input-textarea label="Justificativa" [disabled]="recurso ? 'true' : undefined" [size]="12" [rows]="2" controlName="justificativa" [control]="form!.controls.justificativa"></input-textarea>
    </separator>
    <separator *ngIf="entregas.length" [title]="lex.translate('Entregas')" collapse [collapsed]="!checklist.length">
        <grid [items]="entregas" [minHeight]="0" #gridEntregas>
            <columns>
                <column title="Início" type="datetime" field="data_inicio"></column>
                <column title="Fim" type="datetime" field="data_fim"></column>
                <column title="Entrega" [template]="columnEntrega">
                    <ng-template let-row="row" #columnEntrega>
                        <badge [icon]="entityService.getIcon('Entrega')" [label]="row.descricao"></badge>
                    </ng-template>
                </column>
                <column *ngIf="isConsolidacao" title="% Força Trab. Planejado" [template]="columnForcaTrabalho">
                    <ng-template let-row="row" #columnForcaTrabalho>
                        <badge color="light" [label]="row.forca_trabalho + '%'"></badge>
                    </ng-template>
                </column>
                <column *ngIf="isPlanoEntrega" [title]="'Meta\nRealizado'" [width]="200" [template]="columnMetaRealizado">
                    <ng-template let-row="row" #columnMetaRealizado>
                        <badge icon="bi bi-graph-up-arrow" [textValue]="planoEntregaService.getValorMeta(row)" color="light" hint="Meta"></badge><br>
                        <badge icon="bi bi-check-lg" [textValue]="planoEntregaService.getValorRealizado(row)" color="light" hint="Realizado"></badge>
                    </ng-template>
                </column>
                <column *ngIf="isPlanoEntrega" title="Progresso" [width]="200" [template]="columnProgresso">
                    <ng-template let-row="row" #columnProgresso>
                        <progress-bar [value]="row.progresso_realizado" [goal]="row.progresso_esperado" color="success"></progress-bar>
                    </ng-template>
                </column>
            </columns>
        </grid>
    </separator>
    <separator *ngIf="avaliacoes.length" title="Histórico de avaliações" collapse>
    </separator>
</editable-form>