<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable" (select)="onSelect($event)" [hasAdd]="auth.hasPermissionTo('MOD_RX_OUT_INCL')" [hasEdit]="auth.hasPermissionTo('MOD_RX_OUT_EDT')">
  <toolbar *ngIf="!selectable"></toolbar>
  <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
    <div class="row">
      <input-text [size]="6" label="Nome do Centro de Treinamento" controlName="nome" [control]="filter!.controls.nome" placeholder="Nome/Sigla" [attr.maxlength]=250></input-text>
    </div>
  </filter>
  <columns>
    <column title="Nome/Sigla do Grupo Especializado" field="nome" orderBy="nome"></column>
    <column type="options" [onEdit]="edit" [options]="options"></column>
  </columns>
  <pagination [rows]="rowsLimit"></pagination>
</grid>