<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_PTR_CSLD_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_PTR_CSLD_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed"></filter>
    <columns>
        <column *ngIf="!selectable" type="expand" icon="entityService.getIcon('PlanoTrabalhoConsolidacao')" [align]="'center'" [hint]="lex.translate('Consolidação')" [template]="columnConsolidacao" [expandTemplate]="columnExpandedConsolidacao">
            <ng-template let-row="row" #columnConsolidacao>
                <!--span *ngIf="row?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-boxes"></i> {{row?.length}}</span//-->
            </ng-template>
            <ng-template let-row="row" #columnExpandedConsolidacao>
                <plano-trabalho-concolidacao-form #consolidacao [entity]="row" [cdRef]="cdRef"></plano-trabalho-concolidacao-form>
            </ng-template>
        </column>
        <column title="Data inicio" [template]="columnDataInicio">
            <ng-template let-row="row" #columnNome>
                {{util.getDateFormatted(row.data_inicio)}}
            </ng-template>
        </column>
        <column title="Data fim" [template]="columnDataFim">
            <ng-template let-row="row" #columnDataFim>
                <string>{{util.getDateFormatted(row.data_fim)}}</string>
            </ng-template>
        </column>
        <column title="Estatísticas" [template]="columnEstatisticas">
            <ng-template let-row="row" #columnEstatisticas>
            </ng-template>
        </column>
        <column title="Status" [template]="columnStatus">
            <ng-template let-row="row" #columnEstatisticas>
                <badge [color]="lookup.getColor(lookup.CONSOLIDACAO_STATUS, row.status.codigo)" [icon]="lookup.getIcon(lookup.CONSOLIDACAO_STATUS, row.status.codigo)" [label]="lookup.getValue(lookup.CONSOLIDACAO_STATUS, row.status.codigo)"></badge>
            </ng-template>
        </column>
        <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>