<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form> (submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-text [size]="4" label="Título" controlName="nome" [control]="form!.controls.nome"></input-text>
        <input-rate [size]="6" label="Nota" controlName="nota_atribuida" [control]="form!.controls.nota_atribuida"></input-rate>
        <!--input-select [size]="2" label="Nota" controlName="nota_atribuida" [control]="form!.controls.nota_atribuida" [items]="lookup.NOTA"></input-select/-->
        <input-radio [size]="2" label="Aceita Entrega?" controlName="aceita_entrega" [control]="form!.controls.aceita_entrega" [items]="lookup.SIMNAO"></input-radio>
    </div>
    <div class="row">
        <input-text [size]="6" label="Pergunta Motivacional" controlName="pergunta" [control]="form!.controls.pergunta"></input-text>
        <input-select [size]="3" label="Ícone" icon="fas fa-sign-out-alt" controlName="icone" [control]="form!.controls.icone" [items]="lookup.ICONES"></input-select>
        <input-color [size]="3" label="Cor" icon="bi bi-palette" controlName="cor" [control]="form!.controls.cor"></input-color>
    </div>
    <div class="row">
        <input-multiselect [size]="12" [addItemControl]="justificativa" controlName="justificativas" label="Justificativa" [items]="justificativasLista">
            <input-select [size]="12" #justificativa controlName="justificativa_id" [control]="form!.controls.justificativa_id" [dao]="tipoJustificativaDao"></input-select>
        </input-multiselect>
    </div>
</editable-form>
