<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form> (submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-text [size]="4" label="Título" controlName="nome"></input-text>
        <input-rate [size]="6" label="Nota" icon="bi bi-question-octagon" controlName="nota_atribuida"></input-rate>
        <input-radio [size]="2" [label]="'Aceita ' + lex.noun('Entrega') + '?'" icon="bi bi-hexagon" controlName="aceita_entrega" [items]="lookup.SIMNAO"></input-radio>
    </div>
    <div class="row">
        <input-text [size]="6" label="Pergunta Motivacional" controlName="pergunta"></input-text>
        <input-select [size]="3" label="Ícone" icon="fas fa-sign-out-alt" controlName="icone" [items]="lookup.ICONES"></input-select>
        <input-color [size]="3" label="Cor" controlName="cor"></input-color>
    </div>
    <div class="row">
        <input-multiselect [size]="12" [addItemControl]="justificativa" controlName="justificativas" [label]="lex.noun('Justificativa',true)" [items]="justificativasLista">
            <input-select [size]="12" #justificativa controlName="justificativa_id" [dao]="tipoJustificativaDao"></input-select>
        </input-multiselect>
    </div>
</editable-form>
