<separator collapse [collapsed]="false" [title]="lex.translate('Atividades')" [icon]="entityService.getIcon('Atividade')">
    <grid [items]="itemsEntregas" #gridEntregas [minHeight]="0" expanded>
        <columns>
            <column type="expand" [icon]="entityService.getIcon('PlanoTrabalhoConsolidacao')" [align]="'center'" [hint]="lex.translate('Consolidação')" [template]="columnConsolidacao" [expandTemplate]="columnExpandedConsolidacao">
                <ng-template let-row="row" #columnConsolidacao>
                    <!--span *ngIf="row?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-boxes"></i> {{row?.length}}</span//-->
                </ng-template>
                <ng-template let-row="row" #columnExpandedConsolidacao>
                    <grid [items]="row.atividades" [minHeight]="0" #gridAtividade [form]="formAtividade" [hasAdd]="!disabled" [hasDelete]="false" [hasEdit]="false"
                        [add]="addAtividade.bind(this, row.entrega)" [load]="loadAtividade.bind(this)" [remove]="removeAtividade.bind(this, row.atividades)" [save]="saveAtividade.bind(this)" editable>
                        <columns>
                            <column [title]="'#ID/' + lex.translate('Tipo de Atividade') + '\nDescrição'" [template]="columnAtividadeDescricao" [editTemplate]="editAtividadeDescricao">
                                <ng-template let-row="row" #columnAtividadeDescricao>
                                    <span class="text-nowrap d-block">
                                        <badge icon="bi bi-hash" [label]="row.numero" color="light" [data]="row.numero" [click]="atividadeService.onIdClick.bind(this)"></badge>
                                        <badge *ngIf="row.tipo_atividade" [icon]="entityService.getIcon('TipoAtividade')" [label]="row.tipo_atividade.nome" color="light"></badge>
                                    </span>
                                    <span class="micro-text fw-ligh atividade-descricao">{{row.descricao}}</span>
                                </ng-template>
                                <ng-template let-row="row" #editAtividadeDescricao>
                                    <input-search [label]="lex.translate('Tipo de atividade')" [size]="12" [emptyValue]="null" controlName="tipo_atividade_id" [control]="formAtividade!.controls.tipo_atividade_id" [dao]="tipoAtividadeDao" (select)="onTipoAtividadeSelect($event)" [labelInfo]="lex.translate('Tipo de atividade') + ' utilizado para classificar a atividade'" [required]="!auth.hasPermissionTo('MOD_ATV_TIPO_ATV_VAZIO') ? 'true' : undefined"></input-search>
                                    <input-textarea label="Descrição" [size]="12" [rows]="2" controlName="descricao" [control]="formAtividade!.controls.descricao" required></input-textarea>
                                </ng-template>
                            </column>
                            <column [title]="'Tempos'" [width]="300" [template]="columnTempos" [editTemplate]="editTempos">
                                <ng-template let-row="row" #columnTempos>
                                    <div class="one-per-line">
                                        <badge *ngFor="let tempo of atividadeService.temposAtividade(row)" [badge]="tempo"></badge>
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" #editTempos>
                                    <input-datetime icon="bi bi-file-earmark-plus" [label]="lex.translate('Data de distribuição')" controlName="data_distribuicao" [control]="formAtividade!.controls.data_distribuicao" labelInfo="Data de inclusão/distribuição/lançamento"></input-datetime>
                                    <input-datetime icon="bi bi-calendar-check" [label]="lex.translate('Prazo de entrega')" controlName="data_estipulada_entrega" [control]="formAtividade!.controls.data_estipulada_entrega" labelInfo="Data estipulada para entrega da atividade"></input-datetime>
                                    <input-datetime icon="bi bi-check-circle" label="Conclusão" controlName="data_entrega" [control]="formAtividade!.controls.data_entrega" labelInfo="Data da conclusão da atividade"></input-datetime>
                                </ng-template>
                            </column>
                            <column [title]="'Progresso\nEtiquetas/Checklist'" [width]="200" [template]="columnProgressoEtiquetasChecklist" [editTemplate]="columnProgressoEtiquetasChecklist" [columnEditTemplate]="columnProgressoEtiquetasChecklistEdit" [edit]="onColumnProgressoEtiquetasChecklistEdit.bind(this)" [save]="onColumnProgressoEtiquetasChecklistSave.bind(this)">
                                <ng-template let-row="row" #columnProgressoEtiquetasChecklist>
                                    <progress-bar [value]="row.progresso" color="success"></progress-bar>
                                    <badge *ngFor="let etiqueta of row.etiquetas" [lookup]="etiqueta"></badge>
                                    <separator *ngIf="row.checklist?.length" small title="Checklist"></separator>
                                    <table *ngIf="row.checklist?.length">
                                        <tr *ngFor="let check of row.checklist">
                                            <td><i *ngIf="check.checked" class="bi bi-check-circle"></i></td>
                                            <td class="micro-text fw-ligh">{{check.texto}}</td>
                                        </tr>
                                    </table>
                                </ng-template>
                                <ng-template let-row="row" #columnProgressoEtiquetasChecklistEdit>
                                    <input-number [size]="12" [decimals]="2" label="Progresso" sufix="%" icon="bi bi-clock" controlName="progresso" [control]="formEdit.controls.progresso" labelInfo="Progresso de execução (% Concluído)"></input-number>
                                    <input-multiselect controlName="etiquetas" [size]="12" [control]="formEdit.controls.etiquetas" [addItemHandle]="addItemHandleEtiquetas.bind(this)">
                                        <input-select [size]="12" label="Etiqueta" #etiqueta controlName="etiqueta" nullable itemNull="- Selecione -" detailsButton detailsButtonIcon="bi bi-tools" (details)="onEtiquetaConfigClick()" [control]="formEdit.controls.etiqueta" [items]="etiquetas"></input-select>
                                    </input-multiselect>
                                    <separator *ngIf="row.checklist?.length" small title="Checklist"></separator>
                                    <table *ngIf="row.checklist?.length">
                                        <tr *ngFor="let check of checklist; let i = index">
                                            <td><input-switch [size]="12" scale="small" [source]="checklist" [path]="i + '.checked'"></input-switch></td>
                                            <td class="micro-text fw-ligh">{{check.texto}}</td>
                                        </tr>
                                    </table>
                                </ng-template>
                            </column>
                            <column [title]="'nº Processo/Status\nComentários'" [width]="400" [template]="columnNumero" [editTemplate]="columnNumero">
                                <ng-template let-row="row" #columnNumero>
                                    <documentos-badge [documento]="row.documento_requisicao"></documentos-badge>
                                    <span class="d-block">
                                        <badge *ngFor="let status of atividadeService.getStatus(row, entity)" [data]="status" [color]="status.color" [icon]="status.icon" [label]="status.label"></badge>
                                    </span>
                                    <comentarios-widget *ngIf="!gridAtividade.editing" [entity]="row" [selectable]="false" origem="ATIVIDADE" [grid]="gridAtividade"></comentarios-widget>
                                </ng-template>
                            </column>
                            <column type="options" [metadata]="atividadeOptionsMetadata" [dynamicOptions]="atividadeService.dynamicOptions.bind(this)" [dynamicButtons]="atividadeService.dynamicButtons.bind(this)"></column>
                        </columns>
                    </grid>
                </ng-template>
            </column>
            <column title="Origem" [template]="columnOrigem" [width]="200">
                <ng-template let-row="row" #columnOrigem>
                    <badge [label]="row.badge.titulo" [color]="row.badge.cor"></badge>
                </ng-template>
            </column>
            <column title="Entrega" [template]="columnEntrega">
                <ng-template let-row="row" #columnEntrega>
                    <badge [icon]="entityService.getIcon('Entrega')" [textValue]="row.badge.descricao"></badge> <!--[label]="row.badge.nome"-->
                </ng-template>
            </column>
            <column title="% Força Trab. Planejado" [template]="columnForcaTrabalho">
                <ng-template let-row="row" #columnForcaTrabalho>
                    <badge color="light" [label]="row.entrega.forca_trabalho + '%'"></badge>
                </ng-template>
            </column>
        </columns>
    </grid>
</separator>
<separator collapse [collapsed]="false" [title]="lex.translate('Ocorrências')" [icon]="entityService.getIcon('PlanoTrabalhoConsolidacao')">
    <grid [items]="itemsOcorrencias" [minHeight]="0" #gridOcorrencia [form]="formOcorrencia" 
        [hasDelete]="!disabled" [hasAdd]="!disabled" [hasEdit]="!disabled"
        [add]="addOcorrencia.bind(this)" [load]="loadOcorrencia.bind(this)" 
        [remove]="removeOcorrencia.bind(this)" [save]="saveOcorrencia.bind(this)" editable>
        <columns>
            <column title="Início" [width]="300" type="datetime" field="data_inicio"></column>
            <column title="Fim" [width]="300" type="datetime" field="data_fim"></column>
            <column title="Descrição" type="textarea" field="descricao"></column>
            <column type="options" [dynamicButtons]="ocorrenciaDynamicButtons.bind(this)"></column>
        </columns>
    </grid>
</separator>
<separator collapse [collapsed]="false" [title]="lex.translate('Afastamentos')" [icon]="entityService.getIcon('Afastamento')">
    <grid [items]="itemsAfastamentos" [minHeight]="0" #gridAfastamento [add]="addAfastamento.bind(this)" [hasEdit]="false" [hasDelete]="false" [hasAdd]="!disabled" editable>
        <columns>
            <column title="Início" [width]="300" type="datetime" field="data_inicio"></column>
            <column title="Fim" [width]="300" type="datetime" field="data_fim"></column>
            <column title="Motivo/Observação" [template]="columnMotivoObservacao">
                <ng-template let-row="row" #columnMotivoObservacao>
                    <badge [color]="row.tipo_motivo_afastamento.cor" [icon]="row.tipo_motivo_afastamento.icone" [label]="row.tipo_motivo_afastamento.nome"></badge>
                    {{row.observacao}}
                </ng-template>
            </column>
            <column type="options" [dynamicButtons]="afastamentoDynamicButtons.bind(this)"></column>
        </columns>
    </grid>
</separator>
<separator collapse [collapsed]="false" [title]="lex.translate('Comparecimentos')" [icon]="entityService.getIcon('Comparecimento')">
    <grid [items]="itemsComparecimentos" [minHeight]="0" #gridComparecimento [form]="formComparecimento" 
        [hasDelete]="!disabled" [hasAdd]="!disabled" [hasEdit]="!disabled"
        [add]="addComparecimento.bind(this)" [load]="loadComparecimento.bind(this)" 
        [remove]="removeComparecimento.bind(this)" [save]="saveComparecimento.bind(this)" editable>
        <columns>
            <column title="Data" [width]="300" type="date" field="data_comparecimento"></column>
            <column title="Unidade" [template]="columnUnidade" [editTemplate]="editUnidade">
                <ng-template let-row="row" #columnUnidade>
                    <badge [icon]="entityService.getIcon('Unidade')" [label]="row.unidade.sigla" [textValue]="row.unidade.nome" color="success"></badge>
                </ng-template>
                <ng-template let-row="row" #editUnidade>
                    <input-search label icon [size]="6" #unidade controlName="unidade_id" [dao]="unidadeDao"></input-search>
                </ng-template>
            </column>
            <column title="Detalhamento" type="text" field="detalhamento"></column>
            <column type="options" [dynamicButtons]="comparecimentoDynamicButtons.bind(this)"></column>
        </columns>
    </grid>
</separator>







