<div class="spinner-border" role="status" *ngIf="loading">
  <span class="visually-hidden"></span>
</div>
<ng-container *ngIf="solucao">
  <div class="bg-dark-subtle d-flex p-2 px-4">
    <div>
      <h4>ID #{{solucao.identificador}} - <b>{{solucao.nome}}</b> - {{solucao.sigla}}</h4>
    </div>
  </div>
  <div class="solucao-show bg-body-secondary mb-3">
    <div class="row">
      <div class="col-md-6">
        <small class="d-block">Descrição</small>
        <b>{{solucao.descricao}}</b>
      </div>
      <div class="col-md-6">
        <small class="d-block">URL</small>
        <b>{{solucao.url}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small class="d-block">Unidades ativas</small>
        <div class="unidades">
          <badge *ngFor="let unidade of unidadesAtivas" 
            color="secondary" 
            [label]="unidade.sigla"
          ></badge>
        </div>
      </div>
    </div>
  </div>
  
  <separator title="Produto e Serviços">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><strong>ID#</strong></th>
          <th scope="col"><strong>Nome</strong></th>
          <th scope="col"><strong>Unidade</strong></th>
          <th scope="col"><strong>Tipo</strong></th>
          <th scope="col"><strong>Status</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto_solucao of solucao?.produtos_solucoes">
          <th>{{produto_solucao.produto?.identificador}}</th>
          <th>{{produto_solucao.produto?.nome}}</th>
          <th>{{produto_solucao.produto?.unidade?.sigla}}</th>
          <th>{{lookup.getValue(lookup.TIPO_PRODUTO, produto_solucao.produto?.tipo)}}</th>
          <th><badge 
              [color]="isProdutoAtivo(produto_solucao.produto) ? 'success' : 'danger'"  
              [label]="isProdutoAtivo(produto_solucao.produto) ? 'Ativo': 'Inativo'">
            </badge>
          </th>
        </tr>
      </tbody>
    </table>
  </separator>
</ng-container>