<div class="spinner-border" role="status" *ngIf="loading">
  <span class="visually-hidden"></span>
</div>
<ng-container>
  <div class="solucao-show bg-body-secondary">
    <div class="row">
      <div class="col-md-4">
        <small class="d-block">Solução</small>
        <b>{{solucao?.nome}}</b>
      </div>
      <div class="col-md-4">
        <small class="d-block">Unidade Instituidora</small>
        <b>{{solucao?.unidade?.nome}}</b>
      </div>
      <div class="col-md-2">
        <small class="d-block">Produtos e Serviços cadastrados</small>
      </div>
      <div class="col-md-2">
        <small class="d-block">Status</small>
        <span class="badge rounded-pill bg-light text-dark"><i class="bi bi-boxes"></i> {{ this.solucao?.status ? 'ATIVO' : 'INATIVO' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <small class="d-block">Descrição</small>
        <b>{{solucao?.descricao}}</b>
      </div>
      <div class="col-md-6">
        <small class="d-block">URL</small>
        <b>{{solucao?.url}}</b>
      </div>
    </div>
    
  </div>
</ng-container>