<!--  [hasAdd]="auth.hasPermissionTo('MOD_UND_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_UND_EDT')" -->
<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable"
    (select)="onSelect($event)">
    <toolbar *ngIf="!selectable" [buttons]="buttons"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)"
        [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" label="Nome" controlName="nome" [control]="filter!.controls.nome"
                placeholder="Nome" [attr.maxlength]=250></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome" [template]="columnNome" orderBy="nome">
            <ng-template let-row="row" let-metadata="metadata" #columnNome>
                <span class="d-block">{{getNome(metadata, row)}}</span>
            </ng-template>
        </column>
        <column title="Fundamentação" field="fundamentacao"></column>
        <column type="options" [onEdit]="edit" [dynamicOptions]="dynamicOptions.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>