
<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [hasAdd]="false" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable"
    (select)="onSelect($event)" [loadList]="onGridLoad">
    <toolbar *ngIf="!selectable" [buttons]="buttons"></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)"
        [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" label="Nome" controlName="nome" [control]="filter!.controls.nome"
                placeholder="Nome" [attr.maxlength]=250></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome" [template]="columnNome">
            <ng-template let-row="row" let-metadata="metadata" #columnNome>
                <div class="d-flex align-items-start">
                    <span [style.padding-left.px]="getNivel(row) * 20"></span>
                    <div class="">
                        <badge [icon]="row.eixo_tematico.icone || 'bi bi-gear'" 
                               [color]="row.eixo_tematico.cor || 'primary'" 
                               [label]="row.eixo_tematico.nome" *ngIf="row.objetivo_pai_id === null"></badge>
                        <b class="d-block">{{getNome(row)}}</b>
                        <small><cite>{{row.fundamentacao}}</cite></small>
                    </div>
                </div>
            </ng-template>
        </column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>