<grid [items]="items" noMargin editable #gridProcessos 
  [form]="form!" 
  [selectable]="false" 
  [minHeight]="items.length > 2 ? 0 : 300" 
  [join]="join" 
  [groupBy]="groupBy" 
  [add]="addProcesso.bind(this)" 
  [remove]="removeProcesso.bind(this)" 
  [save]="saveProcesso.bind(this)" 
  [load]="loadProcesso.bind(this)" 
  [saveEnd]="saveEndProcesso.bind(this)" 
  [hasDelete]="!this.disabled" 
  [hasEdit]="!this.disabled" 
  [hasAdd]="!this.disabled"
>
  <columns>
    <column [titleTemplate]="titleCadeia" [template]="columnCadeia" [editTemplate]="editCadeia" 
      [verticalAlign]="'middle'" [width]="300" [align]="'left'">
      <ng-template let-header="header" #titleCadeia>
        <strong>Cadeia de valor</strong>
      </ng-template>
      <ng-template let-row="row" #columnCadeia>
          {{row.cadeia_valor_processo?.cadeia_valor?.nome}}
      </ng-template>
      <ng-template let-row="row" #editCadeia>
        <input-search label #cadeiaValor
          controlName="cadeia_valor_id"
          [placeholder]="'Selecione a ' + lex.translate('cadeia de valor')" 
          [join]="['unidade']"
          [where]="[['unidade_id', '==', auth.unidade?.id]]"
          [selectParams]="{filter: {unidade_id: auth.unidade?.id}}"
          [dao]="cadeiaValorDao"
          (change)="onCadeiaChange($event)"
          required
        ></input-search>
      </ng-template>
    </column>

    <column 
      [titleTemplate]="titleProcesso" 
      [template]="columnProcesso" 
      [editTemplate]="editProcesso" 
      [verticalAlign]="'middle'" 
      [width]="300" 
      [align]="'left'"
    >
      <ng-template let-header="header" #titleProcesso>
        <strong>Processo</strong>
      </ng-template>
      <ng-template let-row="row" #columnProcesso>
          {{row.cadeia_valor_processo?.nome}}
      </ng-template>
      <ng-template let-row="row" #editProcesso>
        <input-search #cadeiaProcesso 
          label 
          required  
          [disabled]="this.form!.controls!.cadeia_valor_id.value ? undefined : 'true'"
          controlName="cadeia_valor_processo_id"
          [placeholder]="'Selecione o Processo'" 
          [dao]="processosDao"
          [selectRoute]="{
            route: ['gestao', 'cadeia-valor', 'processos'],
            params: {
              mode: 'search',
              id: this.form!.controls!.cadeia_valor_id.value
            }
          }"
        ></input-search>
      </ng-template>
    </column>
    <column title="Nível" [template]="columnNivel" [width]="50">
      <ng-template let-row="row" #columnNivel>
          <span> {{row.cadeia_valor_processo?.sequencia_completa}}</span>
      </ng-template>
    </column>
    <column type="options" *ngIf="!this.disabled"></column>
  </columns>
</grid>