<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="codigo_ibge" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <div class="row">
            <input-text [size]="3" label="Código IBGE" icon="bi bi-upc" controlName="codigo_ibge" [attr.maxlength]=250 required></input-text>
            <input-text [size]="9" label="Nome" controlName="nome" [attr.maxlength]=250 required></input-text>
        </div>
        <div class="row">
            <input-select [size]="4" label="Tipo" icon="bi bi-arrow-up-right-circle" controlName="tipo" [items]="lookup.TIPO_CIDADE"></input-select>
            <input-select [size]="4" label="UF" icon="bi bi-flag" controlName="uf" [items]="lookup.UF"></input-select>
            <input-select [size]="4" label="Timezone" icon="bi bi-alarm" controlName="timezone" [items]="lookup.TIMEZONE" required></input-select>
        </div>
    </div>
</editable-form>
