<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display left>
        <tab key="FUNCIONAIS" class="fw-bold" label="Funcionais">
            <div class="row my-4">
                <input-select [size]="4" label="Ingresso na Instituição" icon="bi bi-calendar-check-fill" controlName="ano_ingresso" [control]="form!.controls.ano_ingresso" [items]="anos"></input-select>
                <input-select #centroTreinamento [size]="4" label="Centro de Treinamento" icon="bi bi-building-fill" controlName="centro_treinamento_id" [control]="form!.controls.centro_treinamento_id" fullEntity liveSearch [dao]="centroTreinamentoDao"  [addRoute]="{route: ['raiox','cadastros','centrotreinamento','new']}"></input-select>
                <input-search #cargos [size]="4" label="Cargo" controlName="cargo_id" [control]="form!.controls.cargo_id" [dao]="cargoDao"></input-search>
            </div>
            <!--<div class="row">
                <separator class="mb-3 mt-3" title="Histórico de Funções, funções ocupadas como titular ou substituto" [bold]="true"></separator>
                <input-multiselect [size]="6" label="Funções ocupadas como titular ou substituto" [control]="form!.controls.historicoFuncao" controlName="historicoFuncao" [addItemHandle]="addItemLotacao.bind(this)" noBox [bold]="true">
                    <input-select #funcao [size]="12" icon="bi bi-check-circle-fill" controlName="funcao_id" [control]="form!.controls.funcao_id" [items]="funcoesItems"></input-select>
                </input-multiselect>
                <input-select #gruposEspecializados [size]="6" label="Você faz parte de algum grupo especializado?" icon="bi bi-check-circle" controlName="grupo_especializado_id" [control]="form!.controls.grupo_especializado_id" id="grupo_especializado_id"  [items]="gruposItems"></input-select>
            </div>-->
            <div class="row mt-3">
                <!--<separator class="mb-3 mt-3" title="Histórico de Funções, funções ocupadas como titular ou substituto" [bold]="true"></separator>-->
                <div class="col-md-6">
                    <grid [control]="form!.controls.historico_funcao" [minHeight]="150" [form]="formHistoricoFuncaoGrid!" [hasDelete]="true" [add]="addHistoricoFuncao.bind(this)" [load]="loadHistoricoFuncao.bind(this)" [remove]="removeHistoricoFuncao.bind(this)" [save]="saveHistoricoFuncao.bind(this)" editable>
                        <columns>
                            <column title="Histórico de Funções" titleHint="Funções ocupadas como titular ou substituto." [template]="columnFuncao" [editTemplate]="editFuncao">
                                <ng-template let-row="row" #columnFuncao>
                                    {{row.funcao.nome}}
                
                                </ng-template>
                                <ng-template let-row="row" #editFuncao>
                                    <input-select #funcao [size]="12" label icon controlName="funcao_id" fullEntity liveSearch [dao]="funcaoDao"  [addRoute]="{route: ['raiox','cadastros','funcao','new']}"></input-select>
                                </ng-template>
                            </column>
                            <column type="options"></column>
                        </columns>
                    </grid>
                </div>
                <div class="col-md-6">
                    <input-select #gruposEspecializados [size]="12" label="Você faz parte de algum grupo especializado?" icon="bi bi-check-circle" controlName="grupo_especializado_id" [control]="form!.controls.grupo_especializado_id" fullEntity liveSearch  [dao]="grupoDao" [addRoute]="{route: ['raiox','cadastros','grupoespecializado','new']}"></input-select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <!--<separator class="mb-3 mt-3" title="Histórico de Lotação" [bold]="true"></separator>-->
                    <grid [control]="form!.controls.historico_lotacao" [minHeight]="150" [form]="formHistoricoLotacaoGrid!" [hasDelete]="true" [add]="addHistoricoLotacao.bind(this)" [load]="loadHistoricoLotacao.bind(this)" [remove]="removeHistoricoLotacao.bind(this)" [save]="saveHistoricoLotacao.bind(this)" editable>
                        <columns>
                            <column title="Histórico de Lotações" titleHint="Escolha a lotação." [template]="columnLotacao" [editTemplate]="editLotacao">
                                <ng-template let-row="row" #columnLotacao>
                                    {{row.unidade.nome}}

                                </ng-template>
                                <ng-template let-row="row" #editLotacao>
                                    <input-search #unidade [size]="12" controlName="unidade_id" [dao]="unidadeDao" [join]="['historico_lotacao']" fullEntity liveSearch></input-search>
                                </ng-template>
                            </column>
                            <column type="options"></column>
                        </columns>
                    </grid>
                </div>
                <div class="col-md-6">
                    <input-search #lotacaoAtual [size]="6" label="Lotação atual" controlName="lotacao_atual" [control]="form!.controls.lotacao_atual" [dao]="unidadeDao"></input-search>

                </div>

                <!--<input-multiselect [size]="6"  label="Selecione todas as unidades em que já foi lotado" [control]="form!.controls.historicoLotacao" controlName="historicoLotacao" [addItemHandle]="addItemLotacao.bind(this)" noBox [bold]="true">
                    <input-search #selecionaLotacao [size]="12" controlName="lotacao_id" [control]="form!.controls.lotacao_id" [dao]="unidadeDao" liveSearch></input-search>
                </input-multiselect>-->

            </div>
        </tab>
        <tab key="HARD_SKILLS" class="fw-bold" label="Hard Skills">
            <!-- <div class="row mb-2 mt-3">
                <separator class="mb-3" title="Desempenhou atividades externamente e que podem contribuir para a instituição?" [bold]="true"></separator>
                <input-switch #radioAtividadeExterna [size]="2" [label]="radioAtividadeExterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioAtividadeExterna" [control]="formAtividadeExterna!.controls.radioAtividadeExterna"></input-switch>
                <input-multiselect [size]="10" [hidden]="!(formAtividadeExterna!.controls.radioAtividadeExterna.value)" [control]="formAtividadeExterna!.controls.historicoAtividadeExterna" controlName="historicoAtividadeExterna" [addItemHandle]="addItemAtividadeExterna.bind(this)" noBox [bold]="true">
                    <input-search #selectAreaAtividadeExterna [size]="12" label="Área da Atividade Externa" controlName="selectAreaAtividadeExterna" [control]="formAtividadeExterna!.controls.selectAreaAtividadeExterna"  [dao]="areaAtividadeExternaDao" ></input-search>
                </input-multiselect>
                
            </div>-->
            <div class="row mt-3">
                <separator class="mb-3 mt-3" title="Desempenhou atividades externamente e que podem contribuir para a instituição?" [bold]="true"></separator>
                <input-switch #radioAtividadeExterna [size]="2" [label]="radioAtividadeExterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioAtividadeExterna" [control]="form!.controls.radioAtividadeExterna"></input-switch>
                <grid *ngIf="form!.controls.radioAtividadeExterna.value" [control]="form!.controls.historico_atividade_externa" [minHeight]="150" [form]="formHistoricoAtividadeExternaGrid!" [hasDelete]="true" [add]="addHistoricoAtividadeExterna.bind(this)" [load]="loadHistoricoAtividadeExterna.bind(this)" [remove]="removeHistoricoAtividadeExterna.bind(this)" [save]="saveHistoricoAtividadeExterna.bind(this)" editable>
                    <columns>
                        <column title="Histórico de Atividades Externas" titleHint="Escolha a atividade." [template]="columnAtividadeExterna" [editTemplate]="editAtividadeExterna">
                            <ng-template let-row="row" #columnAtividadeExterna>
                               {{row.area_atividade_externa.nome}}
                            </ng-template>
                            <ng-template let-row="row" #editAtividadeExterna>
                                <!--<input-search #unidade [size]="12" controlName="unidade_id" [dao]="unidadeDao" [join]="['historico_AtividadeExterna']" fullEntity liveSearch></input-search>-->
                                <input-search #areaAtividadeExterna [size]="12" label controlName="area_atividade_externa_id" [dao]="areaAtividadeExternaDao" [join]="['historico_atividade_externa','historico_curso_externo','historico_docencia_externa']" [addRoute]="{route: ['raiox','cadastros','areaatividadeexterna','new']}" fullEntity></input-search>
                            </ng-template>
                        </column>
                        <column type="options"></column>
                    </columns>
                </grid>

            </div>
            <!--<div class="row">
                <separator class="my-3" title="Desempenhou atividades internamente que podem contribuir ou contribuiram para a instituição?" [bold]="true">
                </separator>
                <input-switch #radioAtividadeInterna [size]="2" [label]="radioAtividadeInterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioAtividadeInterna" [control]="formAtividadeInterna!.controls.radioAtividadeInterna"></input-switch>
                <input-multiselect [size]="10" [hidden]="!(formAtividadeInterna!.controls.radioAtividadeInterna.value)" label="" [control]="formAtividadeInterna!.controls.historicoAtividadeInterna" controlName="historicoAtividadeInterna" [addItemHandle]="addItemAtividadeInterna.bind(this)" noBox>
                    <input-search #areaAtividadeInterna [size]="4" label="Área Temática" [control]="formAtividadeInterna!.controls.areaAtividadeInterna" controlName="areaAtividadeInterna"  [dao]="areaTematicaDao" ></input-search>
                    <input-text [size]="8" label="Atividade" icon="bi bi-arrows-angle-contract" controlName="inputAtividadeInterna" [control]="formAtividadeInterna!.controls.inputAtividadeInterna"></input-text>
                </input-multiselect>
            </div>-->

            <div class="row mt-3">
                <separator class="mb-3 mt-3" title="Desempenhou atividades internamente que podem contribuir ou contribuiram para a instituição?" [bold]="true"></separator>
                <input-switch #radioAtividadeInterna [size]="2" [label]="radioAtividadeInterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioAtividadeInterna" [control]="form!.controls.radioAtividadeInterna"></input-switch>
                <grid *ngIf="form!.controls.radioAtividadeInterna.value" [control]="form!.controls.historico_atividade_interna" [minHeight]="150" [form]="formHistoricoAtividadeInternaGrid!" [hasDelete]="true" [add]="addHistoricoAtividadeInterna.bind(this)" [load]="loadHistoricoAtividadeInterna.bind(this)" [remove]="removeHistoricoAtividadeInterna.bind(this)" [save]="saveHistoricoAtividadeInterna.bind(this)" editable>
                    <columns>
                        <column title="Área temática" titleHint="Escolha a área." [template]="columnAtividadeInterna" [editTemplate]="editAtividadeInterna">
                            <ng-template let-row="row" #columnAtividadeInterna>
                               {{row.capacidade_tecnica.area_tematica.nome}}

                            </ng-template>
                            <ng-template let-row="row" #editAtividadeInterna>
                                <input-search #areaTematica [size]="4" label="Escolha a área temática" controlName="area_tematica_id" [dao]="areaTematicaDao" 
                                [join]="['capacidade_tecnica']" [addRoute]="{route: ['raiox','cadastros','areatematica','new']}" fullEntity (change)="onAreaAtividadeInternaChange()"></input-search>
                            </ng-template>
                        </column>
                        <column title="Capacidade" titleHint="Escolha a capacidade." [template]="columnCapacidade" [editTemplate]="editCapacidade">
                            <ng-template let-row="row" #columnCapacidade>
                              {{row.capacidade_tecnica.nome}}
                            </ng-template>
                            <ng-template let-row="row" #editCapacidade>
                                <input-select #capacidadeTecnica [size]="4" label="Capacidade" icon="fas fa-graduation-cap" controlName="capacidade_tecnica_id" fullEntity liveSearch  [dao]="capacidadeTecnicaDao" 
                                [where]="areaTematicaWhere" [addRoute]="{route: ['raiox','cadastros','capacidadetecnica','new']}" ></input-select>
                            </ng-template>
                        </column>
                        <column title="Atividade desempenhada" titleHint="Informe a atividade." [template]="columnAtividadeDesempenhada" [editTemplate]="editAtividadeDesempenhada">
                            <ng-template let-row="row" #columnAtividadeDesempenhada>
                                {{row.atividade_desempenhada}}

                            </ng-template>
                            <ng-template let-row="row" #editAtividadeDesempenhada>
                                <input-text [size]="4" label="Informe a atividade desempenhada" icon controlName="atividade_desempenhada"></input-text>
                            </ng-template>
                        </column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>
            <div class="row mb-2 mt-3">
                <separator class="mb-3" title="Informe as suas habilidades" [bold]="true"></separator>
                <input-multiselect [size]="10" [control]="form!.controls.especifique_habilidades" controlName="especifique_habilidades" [addItemHandle]="addItemHabilidades.bind(this)" noBox [bold]="true">
                    <input-text [size]="12" label="Especifique" icon="bi bi-list-stars" controlName="inputEspecifiqueHabilidade" [control]="form!.controls.inputEspecifiqueHabilidade" [attr.maxlength]=250></input-text>
                </input-multiselect>
            </div>


        </tab>
        <tab key="DOCENCIA" class="fw-bold mb-3" label="Docência">
            <!--<div class="row">
                <separator class="my-3" title="Você já realizou algum trabalho de docência fora da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaExterna [label]="radioDocenciaExterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaExterna" [control]="formDocenciaExterna!.controls.radioDocenciaExterna"></input-switch>
                <input-multiselect [hidden]="!(formDocenciaExterna!.controls.radioDocenciaExterna.value)" [size]="8" label="" [control]="formDocenciaExterna!.controls.historicoDocenciaExterna" controlName="historicoDocenciaExterna" [addItemHandle]="addItemDocenciaExterna.bind(this)" noBox>
                    <input-text [size]="8" label="Qual/Quais" icon="bi bi-mortarboard-fill" controlName="inputDocenciaExterna" [control]="formDocenciaExterna!.controls.inputDocenciaExterna" [attr.maxlength]=250></input-text>
                </input-multiselect>
            </div>-->

            <div class="row mt-3">
                <separator class="my-3" title="Você já realizou algum trabalho de docência fora da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaExterna [label]="radioDocenciaExterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaExterna" [control]="form!.controls.radioDocenciaExterna"></input-switch>

                <grid *ngIf="form!.controls.radioDocenciaExterna.value" [control]="form!.controls.historico_docencia_externa" [minHeight]="150" [form]="formHistoricoDocenciaExternaGrid!" [hasDelete]="true" [add]="addHistoricoDocenciaExterna.bind(this)" [load]="loadHistoricoDocenciaExterna.bind(this)" [remove]="removeHistoricoDocenciaExterna.bind(this)" [save]="saveHistoricoDocenciaExterna.bind(this)" editable>
                    <columns>
                        <column title="Área Externa" titleHint="Escolha a área." [template]="columnDocenciaExterna" [editTemplate]="editDocenciaExterna">
                            <ng-template let-row="row" #columnDocenciaExterna>
                                {{row.area_atividade_externa.nome}}

                            </ng-template>
                            <ng-template let-row="row" #editDocenciaExterna>
                                <input-search #areaAtividadeExternaDocencia [size]="4" label="Escolha a área externa" controlName="area_atividade_externa_id" [dao]="areaAtividadeExternaDao"  [addRoute]="{route: ['raiox','cadastros','areaatividadeexterna','new']}" fullEntity></input-search>
                            </ng-template>
                        </column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>

            <!--<div class="row">
                <separator class="my-3" title="Você é docente ou instrutor da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaInterna [label]="radioDocenciaInterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaInterna" [control]="formDocenciaInterna!.controls.radioDocenciaInterna"></input-switch>
                <input-multiselect [hidden]="!((formDocenciaInterna!.controls.radioDocenciaInterna.value))" [size]="8" label="Em qual/quais disciplinas?" icon="bi bi-mortarboard-fill" [control]="formDocenciaInterna.controls.historicoDocenciaInterna" controlName="historicoDocenciaInterna" [addItemHandle]="addItemDocenciaInterna.bind(this)" noBox>
                    <input-select #selectDocenciaInterna [size]="8" icon="bi bi-mortarboard-fill" controlName="selectDocenciaInterna" [control]="formDocenciaInterna!.controls.selectDocenciaInterna" [items]="disciplinasItens2"></input-select>
                </input-multiselect>
            </div>-->

            <div class="row mt-3">
                <separator class="my-3" title="Você é docente ou instrutor da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaInterna [label]="radioDocenciaInterna.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaInterna" [control]="form!.controls.radioDocenciaInterna"></input-switch>

                <grid *ngIf="form!.controls.radioDocenciaInterna.value" [control]="form!.controls.historico_docencia_interna" [minHeight]="150" [form]="formHistoricoDocenciaInternaGrid!" [hasDelete]="true" [add]="addHistoricoDocenciaInterna.bind(this)" [load]="loadHistoricoDocenciaInterna.bind(this)" [remove]="removeHistoricoDocenciaInterna.bind(this)" [save]="saveHistoricoDocenciaInterna.bind(this)" editable>
                    <columns>
                        <column title="Curso" titleHint="Escolha a área." [template]="columnDocenciaInterna" [editTemplate]="editDocenciaInterna">
                            <ng-template let-row="row" #columnDocenciaInterna>
                              {{row.curso.nome}}

                            </ng-template>
                            <ng-template let-row="row" #editDocenciaInterna>
                                <input-select #cursoDocenciaInterna [size]="3" label="Curso" icon controlName="curso_id" fullEntity liveSearch [control]="form!.controls.curso_id" [dao]="cursoDao" [where]="[['titulo', '==', 'INSTITUCIONAL']]" orderBy="[['nome', 'asc']]" [addRoute]="{route: ['raiox','cadastros','curso','new']}"></input-select>
                            </ng-template>
                        </column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>
        </tab>
        <tab key="CURSOS" class="fw-bold mb-3" label="Cursos">

            <!--<div class="row">
                <separator class="my-3" title="Quais os principais cursos que você já fez e pretende fazer na Instituição?" [bold]="true">
                </separator>
                <input-switch #radioCursosInternos [size]="2" [label]="radioCursosInternos.value ? 'Fiz' : 'Pretendo'" icon="fas fa-user-graduate" controlName="radioCursosInternos" [control]="formCursoInterno!.controls.radioCursosInternos"></input-switch>
                <input-multiselect [size]="8" label="" [control]="formCursoInterno!.controls.historicoCursoInterno" controlName="historicoCursoInterno" [addItemHandle]="addItemCursoInterno.bind(this)" noBox>
                    <input-search #areaCursoInterno [size]="4" label="Área" [control]="formCursoInterno!.controls.areaCursoInterno" controlName="areaCursoInterno" [dao]="areaConhecimentoDao" (change)="onAreaConhecimentoChange()"></input-search>
                    <input-select #selectCursosInternos [size]="8" label="Curso" icon="bi bi-mortarboard-fill" controlName="selectCursosInternos" [control]="formCursoInterno!.controls.selectCursosInternos" [items]="disciplinasItens"></input-select>
                </input-multiselect>
            </div>-->

            <div class="row mt-3">
                <separator class="my-3" title="Quais os principais cursos que você já fez e pretende fazer na Instituição?" [bold]="true"></separator>

                    <grid [control]="form!.controls.historico_curso_interno" [minHeight]="150" [form]="formHistoricoCursoInternoGrid!" [hasDelete]="true" [add]="addHistoricoCursoInterno.bind(this)" [load]="loadHistoricoCursoInterno.bind(this)" [remove]="removeHistoricoCursoInterno.bind(this)" [save]="saveHistoricoCursoInterno.bind(this)" editable>
                        <columns>
                            <column title="Pretende Cursar?" titleHint="Pretende cursar ou já esta concluido." [template]="columnPretende" [editTemplate]="editPretende">
                                <ng-template let-row="row" #columnPretende>
                                    {{row.pretensao == 0 ? 'Finalizado' : 'Pretendo Fazer' }}
                                </ng-template>
                                <ng-template let-row="row" #editPretende>
                                    <input-switch [size]="2" [label]="formHistoricoCursoInternoGrid!.controls.pretensao.value ? 'Sim' : 'Concluído'" icon="fas fa-user-graduate" controlName="pretensao" [control]="form!.controls.pretensao"></input-switch>
                                </ng-template>
                            </column>
                            <column title="Curso Institucional" titleHint="Escolha o curso." [template]="columnCurso" [editTemplate]="editCurso">
                                <ng-template let-row="row" #columnCurso>
                                    {{row.curso.nome}}
                                </ng-template>
                                <ng-template let-row="row" #editCurso>
                                    <input-select #historicoCursoInterno [size]="3" label="Curso" icon controlName="curso_id" fullEntity liveSearch [dao]="cursoDao"  [where]="[['titulo', '==', 'INSTITUCIONAL']]" orderBy="[['nome', 'asc']]" [addRoute]="{route: ['raiox','cadastros','curso','new']}"></input-select>
                                </ng-template>
                            </column>
                            <column type="options"></column>
                        </columns>
                    </grid>
            </div>



            <!--<div class="row mb-3">
                <separator class="my-3" title="Quais cursos você já fez e quais pretende fazer fora da Instituição?" [bold]="true"></separator>
                <input-switch #radioCursosExternos [size]="2" [label]="radioCursosExternos.value ? 'Fiz' : 'Pretendo'" icon="fas fa-user-graduate" controlName="radioCursosExternos" [control]="formCursoExterno!.controls.radioCursosExternos"></input-switch>
                <input-multiselect [size]="8" label="" [control]="formCursoExterno!.controls.historicoCursoExterno" controlName="historicoCursoExterno" [addItemHandle]="addItemCursoExterno.bind(this)" noBox>
                    <input-search #areaCursoExterno [size]="4" label="Área/Instituição/Coorporação" [control]="formCursoExterno!.controls.areaCursoExterno" controlName="areaCursoExterno" [dao]="areaExternaDao"></input-search>
                    <input-text [size]="8" label="Curso" icon="bi bi-mortarboard-fill" controlName="inputCursosExternos" liveSearch [control]="formCursoExterno!.controls.inputCursosExternos"></input-text>
                </input-multiselect>
            </div>-->

            <div class="row mt-3">
                <separator class="my-3" title="Quais os principais cursos que você já fez e pretende fazer fora da Instituição?" [bold]="true"></separator>

                    <grid [control]="form!.controls.historico_curso_externo" [minHeight]="150" [form]="formHistoricoCursoExternoGrid!" [hasDelete]="true" [add]="addHistoricoCursoExterno.bind(this)" [load]="loadHistoricoCursoExterno.bind(this)" [remove]="removeHistoricoCursoExterno.bind(this)" [save]="saveHistoricoCursoExterno.bind(this)" editable>
                        <columns>
                            <column title="Pretende Cursar?" titleHint="Pretende cursar ou já esta concluido." [template]="columnPretende" [editTemplate]="editPretende">
                                <ng-template let-row="row" #columnPretende>
                                    {{row.pretensao == 0 ? 'Finalizado' : 'Pretendo Fazer' }}
                                </ng-template>
                                <ng-template let-row="row" #editPretende>
                                    <input-switch [size]="2" [label]="formHistoricoCursoExternoGrid!.controls.pretensao.value ? 'Sim' : 'Concluído'" icon="fas fa-user-graduate" controlName="pretensao" [control]="formHistoricoCursoExternoGrid!.controls.pretensao"></input-switch>
                                </ng-template>
                            </column>
                            <column title="Área Externa" titleHint="Escolha a área externa." [template]="columnArea" [editTemplate]="editArea">
                                <ng-template let-row="row" #columnArea>
                                   {{row.area_atividade_externa.nome}}
                                </ng-template>
                                <ng-template let-row="row" #editArea>
                                    <input-search #areaHistoricoCursoExterno [size]="4" label="Área/Instituição/Coorporação" controlName="area_atividade_externa_id" [dao]="areaAtividadeExternaDao"  [addRoute]="{route: ['raiox','cadastros','areaatividadeexterna','new']}" fullEntity></input-search>
                                </ng-template>
                            </column>
                            <column title="Nome do Curso" titleHint="Informe o nome do curso." [template]="columnNome" [editTemplate]="editNome">
                                <ng-template let-row="row" #columnNome>
                                  {{row.nome}}
                                </ng-template>
                                <ng-template let-row="row" #editNome>
                                    <input-text [size]="8" label="Nome do Curso" icon controlName="nome" liveSearch [control]="formHistoricoCursoExternoGrid!.controls.nome"></input-text>
                                </ng-template>
                            </column>
                            <column type="options"></column>
                        </columns>
                    </grid>
            </div>


        </tab>
        <tab key="DISPONIBILIDADE" class="fw-bold mb-3" label="Disponibilidade">
            <div class="row">

                <separator class="mb-3 mt-3" title="Viagens" [bold]="true"></separator>
                <div class="col-lg-6">
                    <label><i class="bi bi-flag-fill"></i> Já fez viagem nacional a trabalho?</label>
                    <input-switch #radioViajemNacional [size]="2" [label]="radioViajemNacional.value ? 'Sim' : 'Não'" labelPosition="right" controlName="viagem_nacional" [control]="form!.controls.viagem_nacional">
                    </input-switch>
                </div>
                <div class="col-lg-6">
                    <label><i class="bi bi-globe-americas"></i> Já fez viagem internacional a trabalho?</label>
                    <input-switch #radioViajemInternacional [size]="2" [label]="radioViajemInternacional.value ? 'Sim' : 'Não'" labelPosition="right" controlName=" viagem_internacional" [control]="form!.controls. viagem_internacional">
                    </input-switch>
                </div>

            </div>
            <div class="row">
                <separator class="my-3" title="Você tem interesse na participação do Banco Nacional de Talentos (BNT IN PRF Nº 58 de 27 de agosto de 2021) SEI 35010079?" [bold]="true">
                </separator>
                <input-switch #radioInteresseBNT [size]="1" [label]="radioInteresseBNT.value ? 'Sim' : 'Não'" icon="bi bi-universal-access" controlName="interesse_bnt" [control]="form!.controls.interesse_bnt">
                </input-switch>

            </div>
            <div class="row">
                <separator class="my-3" title="Você está inserido no programa de gestão da Instituição?" [bold]="true">
                </separator>
                <input-switch #radioProgramaGestao [size]="1" [label]="radioProgramaGestao.value ? 'Sim' : 'Não'" icon="bi bi-calendar2-check" controlName="radioProgramaGestao" [control]="form!.controls.radioProgramaGestao" (change)="onChangeEscolhePG()">
                </input-switch>
                <input-radio #escolhaRadioProgramaGestao *ngIf="form!.controls.radioProgramaGestao.value" [size]="4" label="Opções" [items]="lookup.PG_PRF" controlName="pgd_inserido" [control]="form!.controls.pgd_inserido">
                </input-radio>

            </div>
            <div class="row">
                <separator class="my-3" title="Você tem interesse em participar do programa de gestão da Instituição?" [bold]="true">
                </separator>
                <input-switch #radioInteresseProgramaGestao [size]="1" [label]="radioInteresseProgramaGestao.value ? 'Sim' : 'Não'" icon="bi bi-bookmark-check" controlName="radioInteresseProgramaGestao" [control]="form!.controls.radioInteresseProgramaGestao" (change)="onChangeEscolheInteressePG()">
                </input-switch>

                <input-radio #escolhaInteresseProgramaGestao *ngIf="form!.controls.radioInteresseProgramaGestao.value" [size]="4" label="Opções" [items]="lookup.PG_PRF" controlName="pgd_interesse"  [control]="form!.controls.pgd_interesse">
                </input-radio>
                <input-text *ngIf="form!.controls.radioInteresseProgramaGestao.value" [size]="4" label="Telefone de contato do Chefe Imediato" icon="fas fa-phone" controlName="telefone" [control]="form!.controls.telefone" [maskFormat]="'(00) 0000-0000 || (00) 0 0000-0000'" [attr.maxlength]=250></input-text>


                <div class="row">
                    <separator class="my-3" title="Você tem interesse em remoção?" [bold]="true">
                    </separator>
                    <input-switch #radioInteresseRemocao [size]="1" [label]="radioInteresseRemocao.value ? 'Sim' : 'Não'" icon="bi bi-house-door-fill" controlName="remocao" [control]="form!.controls.remocao">
                    </input-switch>
                </div>
            </div>

        </tab>

    </tabs>
    <separator class="mb-5"></separator>
</editable-form>