<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display left>
        <tab key="FUNCIONAIS" class="fw-bold" label="Funcionais">
            <div class="row mb-2 mt-4">
                <input-select [size]="4" label="Ingresso na Instituição" icon="bi bi-calendar-check-fill" controlName="ano_ingresso" [control]="form!.controls.ano_ingresso" [items]="anos"></input-select>
                <input-select #ct [size]="4" label="Centro de Treinamento" icon="bi bi-building-fill" controlName="centro_treinamento" [control]="form!.controls.centro_treinamento" [items]="centroTreinamentoItems"></input-select>
                <input-search #cargos [size]="4" label="Cargo" controlName="cargo" [control]="form!.controls.cargo" [dao]="cargoDao"></input-search>
            </div>
            <div class="row">
                <separator class="mb-3 mt-3" title="Histórico de Lotações e Funções Gratificadas" [bold]="true"></separator>
                <input-multiselect [size]="6" [control]="form!.controls.funcoes" controlName="funcoes" [addItemHandle]="addItemFuncao.bind(this)" noBox [bold]="true">
                    <input-select #funcoes [size]="12" label="Funções ocupadas como titular ou substituto" icon="bi bi-check-circle-fill" controlName="funcoesOcupadas" [control]="form!.controls.funcoesOcupadas" [items]="funcoesItems"></input-select>
                </input-multiselect>
                <input-select #grupos [size]="6" label="Você faz parte de algum grupo especializado?" icon="bi bi-check-circle" controlName="grupo" [control]="form!.controls.grupo" id="testeID"  [items]="gruposItems"></input-select>
            </div>
            <div class="row my-3">
                <input-multiselect [size]="6" [control]="form!.controls.lotaces" controlName="lotacoes" [addItemHandle]="addItemFuncao.bind(this)" noBox [bold]="true">
                    <input-search #unidades [size]="12" label="Selecione todas as unidades em que já foi lotado" controlName="selectLotacao" [control]="form!.controls.selectLotacao" [dao]="unidadeDao" liveSearch></input-search>
                </input-multiselect>
                <input-search #lotacaoAtual [size]="6" label="Lotação atual" controlName="lotacaoAtual" [control]="form!.controls.lotacaoAtual" [dao]="unidadeDao"></input-search>
            </div>
        </tab>
        <tab key="HARD_SKILLS" class="fw-bold" label="Hard Skills">
            <div class="row mb-2 mt-3">
                <separator class="mb-3" title="Desempenhou atividades fora e que podem contribuir para a instituição? Informe a área:" [bold]="true"></separator>
                <input-multiselect [size]="10" [control]="form!.controls.atividades_fora" controlName="atividades_fora" [addItemHandle]="addItemFuncao.bind(this)" noBox [bold]="true">
                    <input-select [size]="12" label="Area" icon="bi bi-box-arrow-in-down" controlName="selecAtividadeFora" liveSearch [control]="form!.controls.selecAtividadeFora" [items]="testeLookup"></input-select>
                </input-multiselect>
            </div>
            <div class="row">
                <separator class="my-3" title="Quais atividades você desempenhou internamente que podem contribuir para a instituição?" [bold]="true">
                </separator>
                <input-multiselect [size]="10" label="" [control]="form!.controls.atividadeDesempenhou" controlName="atividadeDesempenhou" [addItemHandle]="addItemFuncao.bind(this)" noBox>
                    <input-search #area [size]="4" label="Área" [control]="form!.controls.areaatividadeDesempenhou" controlName="areaatividadeDesempenhou" icon="fas fa-layer-group"></input-search>
                    <input-select [size]="8" label="Atividade" icon="bi bi-arrows-angle-contract" controlName="selectAtividade" liveSearch [control]="form!.controls.selectAtividade" [items]="testeLookup">
                    </input-select>
                </input-multiselect>
            </div>
            <div class="row mb-2 mt-3">
                <separator class="mb-3" title="Informe as suas habilidades" [bold]="true"></separator>
                <input-multiselect [size]="10" [control]="form!.controls.especifique_habilidades" controlName="especifique_habilidades" [addItemHandle]="addItemFuncao.bind(this)" noBox [bold]="true">
                    <input-text [size]="12" label="Especifique" icon="bi bi-list-stars" controlName="inputEspecifique" liveSearch [control]="form!.controls.inputEspecifique" [attr.maxlength]=250></input-text>
                </input-multiselect>
            </div>

        </tab>
        <tab key="DOCENCIA" class="fw-bold mb-3" label="Docência">
            <div class="row">
                <separator class="my-3" title="Você já realizou algum trabalho de docência fora da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaFora [label]="radioDocenciaFora.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaFora" [control]="form!.controls.radioDocenciaFora"></input-switch>
                <input-multiselect [hidden]="!(form!.controls.radioDocenciaFora.value)" [size]="8" label="" [control]="form!.controls.docenciaFora" controlName="docenciaFora" [addItemHandle]="addItemFuncao.bind(this)" noBox>
                    <input-text [size]="8" label="Qual/Quais" icon="bi bi-mortarboard-fill" controlName="docenciaFora" liveSearch [control]="form!.controls.docenciaFora" [attr.maxlength]=250></input-text>
                </input-multiselect>
            </div>
            <div class="row">
                <separator class="my-3" title="Você é docente ou instrutor da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioDocenciaPRF [label]="radioDocenciaPRF.value ? 'Sim' : 'Não'" icon="fas fa-chalkboard" controlName="radioDocenciaPRF" [control]="form!.controls.radioDocenciaPRF"></input-switch>
                <input-multiselect [hidden]="!((form!.controls.radioDocenciaPRF.value))" [size]="8" label="Em qual/quais disciplinas?" icon="bi bi-mortarboard-fill" [control]="form!.controls.docenciaFora" controlName="docenciaPRF" [addItemHandle]="addItemFuncao.bind(this)" noBox>
                    <input-select [size]="8" icon="bi bi-mortarboard-fill" controlName="selectDocenciaPRF" liveSearch [control]="form!.controls.selectDocenciaPRF" [items]="testeLookup"></input-select>
                </input-multiselect>
            </div>
        </tab>
        <tab key="CURSOS" class="fw-bold mb-3" label="Cursos">

            <div class="row">
                <separator class="my-3" title="Quais os principais cursos que você já fez e pretende fazer na Instituição?" [bold]="true">
                </separator>
                <input-switch [size]="2" #radioCursos [label]="radioCursos.value ? 'Pretendo' : 'Não Pretendo'" icon="fas fa-user-graduate" controlName="radioCursos" [control]="form!.controls.radioCursos"></input-switch>
                <input-multiselect [hidden]="!(form!.controls.radioCursos.value)" [size]="8" label="" [control]="form!.controls.cursosPRF" controlName="cursosPRF" [addItemHandle]="addItemFuncao.bind(this)" noBox>
                    <input-search #area [size]="4" label="Área" [control]="form!.controls.areaCursoPRF" controlName="areaCursoPRF"></input-search>
                    <input-select [size]="8" label="Curso" icon="bi bi-mortarboard-fill" controlName="selectCursosPRF" liveSearch [control]="form!.controls.selectCursosPRF" [items]="testeLookup"></input-select>
                </input-multiselect>
            </div>

            <div class="row mb-3">
                <separator class="my-3" title="Quais cursos você já fez e quais pretende fazer fora da Instituição?" [bold]="true"></separator>
                <input-switch [size]="2" #radioCursosFora [label]="radioCursosFora.value ? 'Pretendo' : 'Não Pretendo'" icon="fas fa-user-graduate" controlName="radioCursosFora" [control]="form!.controls.radioCursosFora">
                </input-switch>
                <input-multiselect [hidden]="!(form!.controls.radioCursosFora.value)" [size]="8" label="" [control]="form!.controls.cursosForaPRF" controlName="cursosForaPRF" [addItemHandle]="addItemFuncao.bind(this)" noBox>
                    <input-search #area [size]="4" label="Instituição/Coorporação" [control]="form!.controls.instituicao" controlName="instituicao"></input-search>
                    <input-select [size]="8" label="Curso" icon="bi bi-mortarboard-fill" controlName="selectCursosForaPRF" liveSearch [control]="form!.controls.selectCursosForaPRF" [items]="testeLookup">
                    </input-select>
                </input-multiselect>
            </div>

        </tab>
        <tab key="DISPONIBILIDADE" class="fw-bold mb-3" label="Disponibilidade">
            <div class="row">

                <separator class="mb-3 mt-3" title="Viagens" [bold]="true"></separator>
                <div class="col-lg-6">
                    <label><i class="bi bi-flag-fill"></i> Já fez viagem nacional a trabalho?</label>
                    <input-switch [size]="2" #radioViajaN [label]="radioViajaN.value ? 'Sim' : 'Não'" labelPosition="right" controlName="radioViajaN" [control]="form!.controls.radioViajaN">
                    </input-switch>
                </div>
                <div class="col-lg-6">
                    <label><i class="bi bi-globe-americas"></i> Já fez viagem internacional a trabalho?</label>
                    <input-switch [size]="2" #radioViajaI [label]="radioViajaI.value ? 'Sim' : 'Não'" labelPosition="right" controlName="radioViajaI" [control]="form!.controls.radioViajaI">
                    </input-switch>
                </div>

            </div>
            <div class="row">
                <separator class="my-3" title="Você tem interesse na participação do Banco Nacional de Talentos (BNT IN PRF Nº 58 de 27 de agosto de 2021) SEI 35010079?" [bold]="true">
                </separator>
                <input-switch [size]="1" #radioInteresseBNT [label]="radioInteresseBNT.value ? 'Sim' : 'Não'" icon="bi bi-universal-access" controlName="radioInteresseBNT" [control]="form!.controls.radioInteresseBNT">
                </input-switch>

            </div>
            <div class="row">
                <separator class="my-3" title="Você está inserido no programa de gestão da Instituição?" [bold]="true">
                </separator>
                <input-switch [size]="1" #radioPG [label]="radioPG.value ? 'Sim' : 'Não'" icon="bi bi-calendar2-check" controlName="radioPG" [control]="form!.controls.radioPG" (change)="onChangeEscolhePG()">
                </input-switch>
                <input-radio #escolhaRadioPG *ngIf="form!.controls.radioPG.value" [size]="4" label="Opções" [items]="lookup.PG_PRF" controlName="escolhaRadioPG">
                </input-radio>

            </div>
            <div class="row">
                <separator class="my-3" title="Você tem interesse em participar do programa de gestão da Instituição?" [bold]="true">
                </separator>
                <input-switch [size]="1" #radioInteressePG [label]="radioInteressePG.value ? 'Sim' : 'Não'" icon="bi bi-bookmark-check" controlName="radioInteressePG" [control]="form!.controls.radioInteressePG" (change)="onChangeEscolheInteressePG()">
                </input-switch>

                <input-radio #escolhaInteressePG *ngIf="form!.controls.radioInteressePG.value" [size]="4" label="Opções" [items]="lookup.PG_PRF" controlName="escolhaInteressePG">
                </input-radio>
                <input-text *ngIf="form!.controls.radioInteressePG.value" [size]="4" label="Telefone de contato do Chefe Imediato" icon="fas fa-phone" controlName="telefone" [control]="form!.controls.telefone" [maskFormat]="'(00) 0000-0000 || (00) 0 0000-0000'" [attr.maxlength]=250></input-text>


                <div class="row">
                    <separator class="my-3" title="Você tem interesse em remoção?" [bold]="true">
                    </separator>
                    <input-switch [size]="1" #radioInteresseRemove [label]="radioInteresseRemove.value ? 'Sim' : 'Não'" icon="bi bi-house-door-fill" controlName="radioInteresseRemove" [control]="form!.controls.radioInteresseRemove">
                    </input-switch>
                </div>
            </div>

        </tab>

    </tabs>
    <separator class="mb-5"></separator>
</editable-form>