<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="PRINCIPAL" label="Principal">
            <projeto-form-principal></projeto-form-principal>
        </tab>
        <tab key="RECURSOS" label="Recursos">
            <projeto-form-recursos></projeto-form-recursos>
        </tab>
        <tab key="ENVOLVIDOS" label="Envolvidos">
            <projeto-form-envolvidos></projeto-form-envolvidos>
        </tab>
        <tab key="ALOCACOES" label="Alocações">
            <projeto-form-alocacoes></projeto-form-alocacoes>
        </tab>
        <tab key="REGRAS" label="Regras">
            <!--projeto-form-regras></projeto-form-regras/-->
        </tab>
        <tab key="COMENTARIOS" label="Comentários">
            <comentarios></comentarios>
        </tab>
    </tabs>
</editable-form>