<div class="spinner-border" role="status" *ngIf="loading">
  <span class="visually-hidden"></span>
</div>
<ng-container *ngIf="produto">
  <div class="bg-dark-subtle d-flex p-2 px-4">
    <div>
      <h4>ID #{{produto.identificador}} - <b>{{produto.nome}}</b> - {{produto.nome_fantasia}}</h4>
    </div>
  </div>

  <div class="bg-body-secondary p-3 mb-4">
    <div class="row">
      <div class="col-md-3">
        <small class="d-block text-muted">Descrição</small>
        <b>{{produto.descricao}}</b>
      </div>
      <div class="col-md-3">
        <small class="d-block text-muted">Unidade</small>
        <b>{{produto.unidade?.nome}}</b>
      </div>
      <div class="col-md-3">
        <small class="d-block text-muted">Ativado em</small>
        <b>{{formatDate(produto.data_ativado)}}</b>
      </div>
      <div class="col-md-3">
        <small class="d-block text-muted">Desativado em</small>
        <b>{{formatDate(produto.data_desativado)}}</b>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <span class="fw-bold">Responsável:</span> <strong>{{produto.responsavel?.nome}}</strong>
  </div>

  <tabs>
    <tab key="CLIENTES" label="Clientes">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo de cliente</th>
            <th scope="col">Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produto.produto_cliente">
            <th>{{produto.cliente?.tipo_cliente?.nome}}</th>
            <td>{{produto.cliente?.nome}}</td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab key="SOLUCAO" label="Soluções">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sigla/Nome Fantasia</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solucao of produto.produto_solucoes">
            <th>{{solucao.solucao?.nome}}</th>
            <th>{{solucao.solucao?.sigla}}</th>
            <td>{{solucao.solucao?.descricao}}</td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab key="PROCESSOS" label="Processos">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Processo</th>
            <th scope="col">Nível</th>
            <th scope="col">Cadeia de valor</th>
            <th scope="col">Unidade</th>
            <th scope="col">Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let processo of produto.produto_processo_cadeia_valor">
            <th>{{processo.cadeia_valor_processo?.nome}}</th>
            <td>{{processo.cadeia_valor_processo?.sequencia}}</td>
            <td>{{processo.cadeia_valor_processo?.cadeia_valor?.nome}}</td>
            <td>{{processo.cadeia_valor_processo?.cadeia_valor?.unidade?.nome}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab key="PRODUTOS" label="Produtos/Serviços relacionados">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Unidade</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produto.produto_produto">
            <th>{{produto.produto_relacionado?.nome}}</th>
            <th>{{lookup.getValue(lookup.TIPO_RELACAO_PRODUTO, produto.tipo)}}</th>
            <th>{{produto.produto_relacionado?.unidade?.nome}}</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabs>
</ng-container>
