<div class="spinner-border" role="status" *ngIf="loading">
  <span class="visually-hidden"></span>
</div>
<ng-container *ngIf="produto">
  <div class="bg-dark-subtle d-flex p-2 px-4">
    <div>
      <h4>ID #{{produto.identificador}} - <b>{{produto.nome}}</b> - {{produto.nome_fantasia}}</h4>
    </div>
  </div>

  <div class="bg-body-secondary p-3 mb-4">
    <div class="row">
      <div class="col-md-3">
        <small class="d-block text-muted">Descrição</small>
        <b>{{produto.descricao}}</b>
      </div>
      <div class="col-md-3">
        <small class="d-block text-muted">Unidade</small>
        <b>{{produto.unidade?.sigla}}</b>
      </div>
      <div class="col-md-3" *ngIf="!produto.data_ativado && !produto.data_desativado">
        <small class="d-block text-muted">Criado em</small>
        <b>{{formatDate(produto.created_at)}}</b>
      </div>
      <div class="col-md-3" *ngIf="produto.data_ativado && !produto.data_desativado">
        <small class="d-block text-muted">Ativado em</small>
        <b>{{formatDate(produto.data_ativado)}}</b>
      </div>
      <div class="col-md-3" *ngIf="produto.data_desativado && !produto.data_ativado">
        <small class="d-block text-muted">Desativado em</small>
        <b>{{formatDate(produto.data_desativado)}}</b>
      </div>
    </div>
  </div>

  <tabs>
    <tab key="CLIENTES" label="Clientes">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo de cliente</th>
            <th scope="col">Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produto.produto_cliente">
            <td>{{produto.cliente?.tipo_cliente?.nome}}</td>
            <td>{{produto.cliente?.nome}}</td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab key="SOLUCAO" label="Soluções">
      <produto-list-solucao #solucoes noPersist [disabled]="true" [entity]="produto"></produto-list-solucao>
    </tab>

    <tab key="PROCESSOS" label="Processos (cadeias de valor)">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cadeia de valor</th>
            <th scope="col">Processo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let processo of produto.produto_processo_cadeia_valor">
            <td>{{processo.cadeia_valor_processo?.cadeia_valor?.nome}}</td>
            <td>{{processo.cadeia_valor_processo?.nome}}</td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab key="PRODUTOS" label="Produtos relacionados">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Unidade</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produto.produto_produto">
            <td>{{produto.produto_relacionado?.nome}}</td>
            <td>{{lookup.getValue(lookup.TIPO_PRODUTO, produto.produto_relacionado?.tipo)}}</td>
            <td>{{produto.produto_relacionado?.unidade?.nome}}</td>
            <td>{{produto.produto_relacionado?.descricao}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabs>
</ng-container>
