<editable-form [form]="form!" [title]="isModal ? '' : title" confirmLabel="Unificar" (submit)="onMerge()" (cancel)="onCancel()">
    <top-alert type="warning" message="Por motivos de segurança será permitido somente unificar unidades inativas para unidade ativas. E caso [Exclui origem] não esteja habilitado, a unidade de origem continuará na lista (como inativa)."></top-alert>
    <toolbar [buttons]="toolbarButtons">
        <input-switch [size]="4" labelPosition="left" label="Exclui origem" controlName="exclui_origem"></input-switch>
    </toolbar>
    <grid [items]="items" [form]="form!" [add]="addMerge.bind(this)" [load]="loadMerge.bind(this)" [remove]="removeMerge.bind(this)" [save]="saveMerge.bind(this)" editable>
        <columns>
            <column [title]="lex.noun('Unidade') + ' origem'" titleHint="Unidade que será substituída pela outra" [template]="columnUnidadeOrigem" [editTemplate]="editUnidadeOrigem">
                <ng-template let-row="row" #columnUnidadeOrigem>
                    <span>{{row.unidade_origem?.nome || ""}}</span><br>
                    <small>{{row.unidade_origem?.codigo || ""}} - {{row.unidade_origem?.sigla || ""}}</small>
                </ng-template>
                <ng-template let-row="row" #editUnidadeOrigem>
                    <input-search #unidade_origem [size]="12" label icon controlName="unidade_origem_id" [dao]="dao" [where]="[['inativo', '!=', null]]" [selectRoute]="{route: ['configuracoes', 'unidade'], params: {filter: {inativos: true}}}"></input-search>
                </ng-template>
            </column>
            <column [title]="lex.noun('Unidade') + ' destino'" titleHint="Unidade que sobrará após a unificação" [template]="columnUnidadeDestino" [editTemplate]="editUnidadeDestino">
                <ng-template let-row="row" #columnUnidadeDestino>
                    <span>{{row.unidade_destino?.nome || ""}}</span><br>
                    <small>{{row.unidade_destino?.codigo || ""}} - {{row.unidade_destino?.sigla || ""}}</small>
                </ng-template>
                <ng-template let-row="row" #editUnidadeDestino>
                    <input-search #unidade_destino [size]="12" label icon controlName="unidade_destino_id" [dao]="dao" [where]="[['inativo', '==', null]]" [selectRoute]="{route: ['configuracoes', 'unidade'], params: {filter: {inativos: false}}}"></input-search>
                </ng-template>
            </column>
            <column type="options"></column>
        </columns>
    </grid>
</editable-form>