<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<editable-form [form]="form!" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="PRINCIPAL" label="Principal">
            <div class="row">
                <input-text [size]="10" label="Nome" controlName="nome"></input-text>
                <input-text numbers [size]="2" label="Nível" controlName="nivel"></input-text>
            </div>
            <div class="row">
                <input-text [size]="12" label="Descrição" controlName="descricao"></input-text>
            </div>
        </tab>
        <tab key="CAPACIDADES" *ngIf="auth.hasPermissionTo('MOD_TIPO_CAP_CONS')" [label]="lex.noun('Capacidade',true)">
            <grid [control]="form!.controls.capacidades" [scrollable]="true">
                <columns>
                    <column title="Código" [template]="columnCodCapacidade">
                        <ng-template let-row="row" #columnCodCapacidade>
                            <span> {{row.tipo_capacidade.codigo}}</span>
                        </ng-template>
                    </column>
                    <column [title]="lex.noun('Capacidade')" [template]="columnTipoCapacidade">
                        <ng-template let-row="row" #columnTipoCapacidade>
                            <span> {{row.tipo_capacidade.descricao}}</span>
                        </ng-template>
                    </column>
                    <column title="Permitir" [template]="columnSelecionado">
                        <ng-template let-row="row" #columnSelecionado>
                            <input-switch [size]="12" [source]="capacidades" [path]="row.tipo_capacidade.codigo"></input-switch>
                        </ng-template>
                    </column>
                </columns>
            </grid>
        </tab>
    </tabs>
</editable-form>
