<div class="row d-flex justify-content-end">
  <div class="col-md-2">
    <button class="btn btn-danger" (click)="convetToPDF()">Imprimir<i class="bi bi-filetype-pdf ms-2 iconPDF"></i></button>
  </div>
</div>
<div class="row pesquisaContainer" id="pesquisaContainer">
  <div class="col-md-12 my-2">
    <div class="card">
      <h5 class="card-header"><i class="bi bi-person-bounding-box me-2"></i>Dados Pessoais</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-2 text-center">
            <div class="p-4">
              <profile-picture class="profilePicture" [url]="curriculum.usuario.url_foto" [size]="120"></profile-picture>
              <div class="p-2 mt-3">
                <strong>{{curriculum.usuario?.nome.toUpperCase()}}</strong>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="row my-2">
              <div class="col">
                <strong>Apresentação pessoal</strong><br>
                {{curriculum.apresentacao}}
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-3">
                <strong>Email</strong><br>
                {{curriculum.usuario?.email || "Sem email"}}
              </div>
              <div class="col-md-3">
                <strong>Telefone</strong><br>
                {{curriculum?.telefone || "Sem telefone"}}
              </div>
              <div class="col-md-3">
                <strong>Estado civil</strong><br>
                {{curriculum?.estado_civil || "Sem estado civil"}}
              </div>
              <div class="col-md-3">
                <strong>Filhos</strong><br>
                {{curriculum?.quantidade_filhos > 0 ? lookup.getValue(lookup.SIMNAO, 1) : lookup.getValue(lookup.SIMNAO, 2)}}<br>
                <span *ngIf="curriculum.quantidade_filhos > 0">{{curriculum.quantidade_filhos}}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-3">
                <strong>Estado</strong><br>
                {{curriculum.cidade.uf || "Sem estado"}}
              </div>
              <div class="col-md-3">
                <strong>Cidade</strong><br>
                {{curriculum.cidade.nome || "Sem cidade"}}
              </div>
              <div class="col-md-3">
                <strong>Ano de ingresso</strong><br>
                {{curriculum.ano_ingresso || "Sem ingresso"}}
              </div>
              <div class="col-md-3">
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <h5 class="card-header"><i class="bi bi-mortarboard me-2"></i>Dados Acadêmicos</h5>
      <div class="card-body">
        <div class="row-my-2">
          <div class="col-md-12">
            <strong>Graduação e Pós-Graduação - Especialização, Mestrado, Doutorado e Pós Doutorado</strong>
            <separator title=""></separator>
            <div *ngIf="curriculum.graduacoes.length; else semGraduacao">
              <table class="table table-sm table-responsive">
                <thead>
                  <tr>
                    <th scope="col" class="col-md-3">Pretensão ou Finalizado</th>
                    <th scope="col" class="col-md-3">Área do Conhecimento</th>
                    <th scope="col" class="col-md-3">Titulo</th>
                    <th scope="col" class="col-md-3">Curso</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let graduacao of curriculum.graduacoes">
                    <tr>
                      <td>{{graduacao.pretensao == 0 ? 'Finalizado' : 'Pretendo Fazer' }}</td>
                      <td>{{graduacao.curso.area_conhecimento.nome}}</td>
                      <td>{{lookup.getValue(lookup.TITULOS_CURSOS, graduacao.curso.titulo)}}</td>
                      <td>{{graduacao.curso.nome}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <ng-template #semGraduacao>
              Sem Graduação
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <div *ngIf="curriculum.idiomas.length; else semIdiomas">
              <table class="table table-sm table-responsive">
                <thead>
                  <tr>
                    <th scope="col" class="col-md-3">Idioma</th>
                    <th scope="col" class="col-md-3">Fala</th>
                    <th scope="col" class="col-md-3">Escrita</th>
                    <th scope="col" class="col-md-3">Entendimento</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let idioma of curriculum.idiomas">
                    <tr>
                      <td>{{lookup.getValue(lookup.IDIOMAS, idioma.idioma)}}</td>
                      <td>{{lookup.getValue(lookup.NIVEL_IDIOMA, idioma.idiomaFala)}}</td>
                      <td>{{lookup.getValue(lookup.NIVEL_IDIOMA, idioma.idiomaEscrita)}}</td>
                      <td>{{lookup.getValue(lookup.NIVEL_IDIOMA, idioma.idiomaEntendimento)}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <ng-template #semIdiomas>
              Sem idiomas
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <h5 class="card-header"><i class="bi bi-person-workspace me-2"></i>Dados Profissionais</h5>
      <div class="card-body">
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Funções exercidas e unidades</strong><br>
            <div *ngIf="curriculum.profissional.historicos_funcoes.length; else semFuncao">
              <ng-container *ngFor="let funcao of curriculum.profissional.historicos_funcoes">
                <span>{{funcao.funcao.nome}} - {{funcao.unidade.nome}}</span><br>
              </ng-container>
            </div>
            <ng-template #semFuncao>
              Sem histórico de funcao
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Grupo Especializado</strong><br>
            <div *ngIf="curriculum.profissional.grupo_especializado_id; else semGrupo">
              <span *ngFor="let funcao of curriculum.profissional.historicos_funcoes">{{curriculum.profissional.grupo_especializado?.nome || ""}}</span>
            </div>
            <ng-template #semGrupo>
              Sem Grupo
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Histórico de lotação</strong><br>
            <div *ngIf="curriculum.profissional.historicos_lotacoes.length; else semLotacao">
              <ng-container *ngFor="let lotacao of curriculum.profissional.historicos_lotacoes">
                <span>{{lotacao.unidade.nome}}</span><br>
              </ng-container>
            </div>
            <ng-template #semLotacao>
              Sem históricode lotação.
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Lotação Atual</strong><br>
            <div *ngIf="curriculum.profissional.lotacao_atual; else semLotacaoAtual">
              {{this.auth.unidade?.nome || "Sem informação"}}
            </div>
            <ng-template #semLotacaoAtual>
              Sem informação de lotação atual.
            </ng-template>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong>Atividades Internas</strong><br>
            <div *ngIf="curriculum.profissional.historicos_atividades_internas.length; else semCapacInterna">
              <ng-container *ngFor="let atividade of curriculum.profissional.historicos_atividades_internas;index as i">
                <span>{{i+1}}. {{atividade.capacidade_tecnica.nome}}</span><br>
              </ng-container>
            </div>
            <ng-template #semCapacInterna>
              Sem atividades internas
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Atividades Externas</strong><br>
            <div *ngIf="curriculum.profissional.historicos_atividades_externas.length; else semCapacExterna">
              <ng-container *ngFor="let atividade of curriculum.profissional.historicos_atividades_externas">
                <span>- {{atividade.area_atividade_externa?.nome}}</span><br>
              </ng-container>
            </div>
            <ng-template #semCapacExterna>
              Sem atividades externas.
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Docente ou Instrutor na instituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_docencias_internas.length; else semInstrucaoInterna">
              <ng-container *ngFor="let interno of curriculum.profissional.historicos_docencias_internas">
                <span>{{interno.curso.titulo}} :<small> {{interno.curso.nome}}</small></span><br>
              </ng-container>
            </div>
            <ng-template #semInstrucaoInterna>
              Não é docente na instituição.
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Trabalho fora da instituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_docencias_externas.length; else semInstrucaoExterna">
              <ng-container *ngFor="let externo of curriculum.profissional.historicos_docencias_externas">
                <span>{{externo.area_atividade_externa.nome}}</span><br>
              </ng-container>
            </div>
            <ng-template #semInstrucaoExterna>
              Não tem trabalho fora da instituição.
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Docência na Intituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_docencias_internas.length; else semDocenciaInterna">
              <ng-container *ngFor="let docenciaI of curriculum.profissional.historicos_docencias_internas">
                <span>{{docenciaI.curso?.nome || "Sem informação"}}</span><br>
              </ng-container>
            </div>
            <ng-template #semDocenciaInterna>
              Não existe informação de trabalho de docência na intituição.
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Docência fora da Instituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_docencias_externas.length; else semDocenciaExterna">
              <ng-container *ngFor="let docenciaE of curriculum.profissional.historicos_docencias_externas">
                <span>{{docenciaE.area_atividade_externa?.nome || "Sem informação"}}</span><br>
              </ng-container>
            </div>
            <ng-template #semDocenciaExterna>
              Não existe informação de trabalho de docência fora da intituição.
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Cursos na Intituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_cursos_internos.length; else semCursoInterno">
              <ng-container *ngFor="let cursoI of curriculum.profissional.historicos_cursos_internos">
                <span>{{cursoI.curso?.nome || "Sem informação"}}</span><br>
              </ng-container>
            </div>
            <ng-template #semCursoInterno>
              Não existe informação de trabalho de docência na intituição.
            </ng-template>
          </div>
          <div class="col-md-6">
            <strong>Cursos fora da Instituição</strong><br>
            <div *ngIf="curriculum.profissional.historicos_cursos_externos.length; else semCursoExterno">
              <ng-container *ngFor="let cursoE of curriculum.profissional.historicos_cursos_externos">
                <span>{{cursoE.area_atividade_externa?.nome || "Sem informação"}}</span><br>
              </ng-container>
            </div>
            <ng-template #semCursoExterno>
              Não existe informação de trabalho de docência fora da intituição.
            </ng-template>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <strong>Habilidades</strong><br>
            <div *ngIf="curriculum.profissional.especifique_habilidades.length; else semHabilidades">
              <ng-container *ngFor="let habilidade of curriculum.profissional.especifique_habilidades">
                <span>{{habilidade.value}}</span><br>
              </ng-container>
            </div>
            <ng-template #semHabilidades>
              Sem habilidades
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <h5 class="card-header"><i class="bi bi-list-ul me-2"></i> Soft Skills</h5>
      <div class="card-body">
        <ng-container *ngIf="this.questionarios.length">
          <ng-container *ngFor="let questionario of this.questionarios">
            <ng-container *ngIf="questionario.codigo == 'SOFTSKILL'">
              <div class="row my-2">
                <div class="col-md-3">
                  <strong>Comunicação</strong><br>
                  <span>{{questionario?.perguntas[0]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Liderança</strong><br>
                  <span>{{questionario?.perguntas[1]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Resolução de Problemas</strong><br>
                  <span>{{questionario?.perguntas[2]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Criatividade e Curiosidade</strong><br>
                  <span>{{questionario?.perguntas[3]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-md-3">
                  <strong>Pensamento Crítico</strong><br>
                  <span>{{questionario?.perguntas[4]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Habilidade com Pessoas e Equipes</strong><br>
                  <span>{{questionario?.perguntas[5]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Adaptabilidade e Resiliência</strong><br>
                  <span>{{questionario?.perguntas[6]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
                <div class="col-md-3">
                  <strong>Ética</strong><br>
                  <span>{{questionario?.perguntas[7]?.questionario_resposta_pergunta[0]?.resposta || '0'}}</span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="card mt-3">
      <h5 class="card-header"><img src="assets/icons/icon_big.png" class="iconBig me-2">Big Five</h5>
      <div class="card-body mb-4">
        <ng-container *ngIf="this.questionarios.length">
          <ng-container *ngFor="let questionario of this.questionarios">
            <ng-container *ngIf="questionario.codigo == 'B5'">
              <div class="slider-container">
                <div class="row d-flex justify-content-center">
                  <div class="col-xl-2 mt-3">
                    <div class="slider-ui color1">
                      <input type="range" min="0" max="40" step="1">
                      <div class="bar">
                        <span class="min">0</span>
                        <span class="max">40</span>
                        <span class="sp1">Introversão</span>
                        <span class="sp2">Extroversão</span>
                      </div>
                      <div #divtrack1 class="track" id="divtrack1" name="divtrack1">
                        <div class="value" id="track1">{{this.valueTrack1}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 mt-3">
                    <div class="slider-ui color2">
                      <input type="range" min="0" max="40" step="1">
                      <div class="bar">
                        <span class="min">0</span>
                        <span class="max">40</span>
                        <span class="sp1">Desconfiança</span>
                        <span class="sp2">Agradabilidade</span>
                      </div>
                      <div class="track">
                        <div class="value" id="track2">{{this.valueTrack2}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 mt-3">
                    <div class="slider-ui color3">
                      <input type="range" min="0" max="40" step="1">
                      <div class="bar">
                        <span class="min">0</span>
                        <span class="max">40</span>
                        <span class="sp1">Espontâneo</span>
                        <span class="sp2">Planejado</span>
                      </div>
                      <div class="track">
                        <div class="value" id="track3">{{this.valueTrack3}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 mt-3">
                    <div class="slider-ui color4">
                      <input type="range" min="0" max="40" step="1">
                      <div class="bar">
                        <span class="min">0</span>
                        <span class="max">40</span>
                        <span class="sp1">Calmos</span>
                        <span class="sp2">Reativos</span>
                      </div>
                      <div class="track">
                        <div class="value" id="track4">{{this.valueTrack4}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 mt-3">
                    <div class="slider-ui color5">
                      <input type="range" min="0" max="40" step="1">
                      <div class="bar">
                        <span class="min">0</span>
                        <span class="max">40</span>
                        <span class="sp1">Conservadorismo</span>
                        <span class="sp2">Novidade</span>
                      </div>
                      <div class="track">
                        <div class="value" id="track5">{{this.valueTrack5}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>