<input-container [labelPosition]="labelPosition" [controlName]="controlName" [control]="control" [loading]="loading" [disabled]="disabled" [label]="label" [labelInfo]="labelInfo" [icon]="icon" [bold]="bold">
    <div class="input-group">
        <span *ngIf="prefix" class="input-group-text">{{prefix}}</span>
        <input *ngIf="viewInit" #inputElement [type]="isInteger ? 'number' : 'text'" class="form-control text-end" [attr.min]="minValue" [attr.max]="maxValue" [attr.step]="stepValue"
            (change)="onChange($event)" [formControl]="formControl" [id]="generatedId(controlName)" [class.is-invalid]="isInvalid()" [mask]="maskFormat" [dropSpecialCharacters]="false" thousandSeparator="."
            [readonly]="isDisabled" [attr.value]="control ? undefined : value" (keydown.enter)="onEnterKeyDown($event)">
        <span *ngIf="sufix" class="input-group-text">{{sufix}}</span>
    </div>    
</input-container>

<!-- currencyMask [options]="maskOptions" //-->