<grid [items]="items" [title]="isModal ? '' : title" [orderBy]="orderBy">
    <columns>
        <column title="Sequencia" [template]="columnSequencia" orderBy="sequencia">
            <ng-template let-row="row" #columnSequencia>
                <strong>{{row.sequencia}}</strong>
            </ng-template>
        </column>
        <column title="Perguntas" [template]="columnPerguntas">
            <ng-template let-row="row" #columnPerguntas>
                <strong>{{row.pergunta}}</strong>
            </ng-template>
        </column>
        <column title="Tipo" [template]="columnTipo">
            <ng-template let-row="row" #columnTipo>
                {{lookup.getValue(lookup.QUESTIONARIO_PERGUNTA_TIPO, row.tipo)}}
            </ng-template>
        </column>
        <column title="Opções - Valores" [template]="columnOpcoes">
            <ng-template let-row="row" #columnOpcoes>
                <ng-container *ngIf="['EMOJI', 'SELECT', 'MULTI_SELECT', 'RADIO', 'CHECK'].includes(row.tipo)">
                    <div class="one-per-line">
                        <badge *ngFor="let resposta of row.respostas" [label]="resposta.key" [textValue]="resposta.value" [icon]="resposta.icon"></badge>
                    </div>
                </ng-container>
                <ng-container *ngIf="row.tipo == 'TIMER'">
                </ng-container>
                <ng-container *ngIf="row.tipo == 'DATE_TIME'">
                </ng-container>
            </ng-template>
        </column>
    </columns>
</grid>
                <!--table class="table table-responsive table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Sequencia</th>
                            <th>Pergunta</th>
                            <th>Tipo de Resposta</th>
                            <th>Opções de resposta e Valor</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pergunta of row.perguntas; index as i">
                            <td>{{pergunta.sequencia}}</td>
                            <td>{{pergunta.pergunta}}</td>
                            <td>{{pergunta.tipo}}</td>
                            <td id="tdOpcao"><span id="opcoes" *ngFor="let opcoes of pergunta.respostas; index as i">{{i+1}} - {{opcoes.data.opcaoResposta}} - Valor: {{opcoes.data.valorResposta}}</span></td>
                        </tr>
                    </tbody>
                </table//-->


