<div class="d-flex justify-content-end mt-2">
    <h3 *ngIf="title.length" class="flex-fill">
        <i *ngIf="icon.length" [class]="icon"></i>
        {{title}}
    </h3>
    <ng-content></ng-content>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div *ngFor="let btn of buttons" class="btn-group" role="group">
            <button type="button" [attr.id]="buttonId(btn)" [class]="'btn ' + (btn.color || 'btn-outline-primary')" [class.dropdown-toggle]="btn.items" [attr.data-bs-toggle]="btn.items ? 'dropdown' : undefined" aria-expanded="false" (click)="onButtonClick(btn)">
                <i *ngIf="btn.icon?.length" [class]="btn.icon"></i> <span class="d-none d-md-inline-block ms-2">{{btn.label || ""}}</span>
            </button>
            <ul *ngIf="btn.items" class="dropdown-menu dropdown-menu-end" [attr.aria-labelledby]="buttonId(btn)">
                <li *ngFor="let option of btn.items">
                    <a class="dropdown-item" role="button" (click)="onButtonClick(option)"><i *ngIf="option.icon?.length" [class]="option.icon"></i> {{option.label || ""}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="options" class="btn-group" role="group">
            <button id="btnToolbarOptions" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Opções</button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnToolbarOptions">
                <li *ngFor="let option of options">
                    <a class="dropdown-item" role="button" (click)="onButtonClick(option)"><i *ngIf="option.icon?.length" [class]="option.icon"></i> {{option.label || ""}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--ul class="nav nav-pills justify-content-end">
    <li *ngFor="let btn of buttons" class="nav-item">
        <a class="nav-link active" aria-current="page" role="button" (click)="onButtonClick(btn)"><i *ngIf="btn.icon?.length" [class]="btn.icon"></i> {{btn.label}}</a>
    </li>
    <li *ngIf="options" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Opções</a>
        <ul class="dropdown-menu">
            <li *ngFor="let btn of options">
                <a class="dropdown-item" role="button" (click)="onButtonClick(btn)"><i *ngIf="btn.icon?.length" [class]="btn.icon"></i> {{btn.label}}</a>
            </li>
        </ul>
    </li>
</ul//-->