<editable-form [form]="form!" [disabled]="formDisabled" [noButtons]="isTermos ? 'true' : undefined" (submit)="onSaveData()" (cancel)="onCancel()">
  <tabs #tabs display right [hidden]="isTermos ? 'true' : undefined" [title]="!isModal ? title : ''">
    <tab *ngIf="!isTermos" key="DADOS" label="Dados">
      <div class="row">
        <input-search #programa [size]="4" label="Programa" icon="bi bi-layout-text-window-reverse" controlName="programa_id" [control]="form!.controls.programa_id" [dao]="programaDao" (select)="onProgramaSelect($event)" [selectRoute]="{route: ['cadastros', 'programa']}"></input-search>
        <input-search #tipo_modalidade [size]="4" label="Modalidade" icon="bi bi-cast" controlName="tipo_modalidade_id" [control]="form!.controls.tipo_modalidade_id" [dao]="tipoModalidadeDao" (select)="onTipoModalidadeSelect($event)" [selectRoute]="{route: ['cadastros', 'tipo-modalidade']}"></input-search>
        <input-text #status [size]="4" label="Status" controlName="status" [control]="form!.controls.status" disabled></input-text>
      </div>
      <div class="row">
        <input-datetime [size]="6" label="Início" icon="bi bi-calendar-date" controlName="data_inicio_vigencia" [control]="form!.controls.data_inicio_vigencia" (change)="onDataInicioChange($event)" labelInfo="Início da Vigência do Plano de Trabalho"></input-datetime>
        <input-datetime [size]="6" label="Final" icon="bi bi-calendar-date" controlName="data_fim_vigencia" [control]="form!.controls.data_fim_vigencia" (change)="onDataFimChange($event)" labelInfo="Final da Vigência do Plano de Trabalho"></input-datetime>
      </div>
      <div class="row">
        <input-multiselect label="Usuários" controlName="usuarios_list" [size]="6" [addItemHandle]="addUsuarioHandle.bind(this)">
          <input-search #usuario label="Usuário" icon="far fa-edit" controlName="usuario_id" [dao]="usuarioDao" [join]="['afastamentos']" (select)="onUsuarioSelect($event)" [selectRoute]="{route: ['configuracoes', 'usuario']}"></input-search>
        </input-multiselect>
        <input-multiselect label="Unidades" controlName="unidades_list" [size]="6" [addItemHandle]="addUnidadeHandle.bind(this)">
          <input-search #unidade label="Unidade" icon="far fa-edit" controlName="unidade_id" [dao]="unidadeDao" [join]="['entidade']" [dao]="unidadeDao" (select)="onUnidadeSelect($event)" [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
        </input-multiselect>
      </div>
    </tab>
    <tab *ngIf="isTermos || !isNew" key="TERMO" label="Termo de Ciência e Responsabilidade">
      <top-alert *ngIf="!isTermos" type="warning" message="Para [INSERIR] ou [ASSINAR] termos escolha opção TCR o na tela de listagem"></top-alert>
      <div clss="row">
        <documentos [control]="form!.controls.documentos" ></documentos>
        <!--grid [control]="form!.controls.documentos" #gridDocumentos [disabled]="undefined" #documentos [hasEdit]="false" [hasDelete]="false" [hasAdd]="isTermos" [add]="isTermos ? addDocumento.bind(this) : undefined" editable>
          <columns>
            <column title="Data" [template]="dataInicio">
              <ng-template let-row="row" #dataInicio>
                <span class="badge bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Data da inclusão">
                  <i class="bi bi-calendar-plus"></i>
                  {{util.getDateTimeFormatted(row.data_inicio)}}
                </span>
                <span *ngIf="row.data_fim" class="badge bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Data substituição">
                  <i class="bi bi-calendar-x"></i>
                  {{util.getDateTimeFormatted(row.data_fim)}}
                </span>
              </ng-template>
            </column>
            <column title="Status" [template]="vigente">
              <ng-template let-row="row" #vigente>
                <span [class]="lookup.getColor(lookup.DOCUMENTO_STATUS, row.status)">
                  <i [class]="lookup.getIcon(lookup.DOCUMENTO_STATUS, row.status)"></i>
                  {{lookup.getValue(lookup.DOCUMENTO_STATUS, row.status)}}
                </span>
                <span *ngIf="isVigente(row)" class="badge rounded-pill bg-info text-dark">
                  <i class="bi bi-clipboard-check"></i>
                  Vigente
                </span>
                <div class="d-block">
                  <span *ngFor="let assinatura of row.assinaturas" class="badge rounded-pill bg-primary">
                    <i class="bi bi-pen"></i>
                    {{util.apelidoOuNome(assinatura.usuario)}}
                  </span>
                </div>
              </ng-template>
            </column>
            <column type="options" [dynamicButtons]="documentoDynamicButtons.bind(this)"></column>
          </columns>
        </grid//-->
      </div>
    </tab>
  </tabs>
</editable-form>