<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title">
    <div class="row">
        <grid [items]="items" [form]="form!" [hasEdit]="false" [groupTemplate]="groupRecurso" [groupBy]="groupBy" [add]="addAlocacao.bind(this)" [load]="loadAlocacao.bind(this)" [remove]="removeAlocacao.bind(this)" [save]="saveAlocacao.bind(this)" editable>
            <ng-template let-group="group" #groupRecurso>
                <strong *ngIf="group?.length"><i [class]="lookup.getIcon(lookup.PROJETO_TIPO_RECURSOS, group[0].value)"></i> {{lookup.getValue(lookup.PROJETO_TIPO_RECURSOS, group[0].value)}}</strong>
            </ng-template>
            <columns>
                <column title="Recurso" [template]="alocacaoRecurso" [editTemplate]="editAlocacaoRecurso">
                    <ng-template let-row="row" #alocacaoRecurso>
                        <profile-picture [url]="projetoService.getRecursoPicture(row.recurso)" [hint]="row.descricao"></profile-picture>
                        <small>{{row.recurso?.usuario?.nome || row.recurso?.unidade?.nome || row.recurso?.material_servico?.descricao || row.descricao || ""}}</small><br>
                        <badge [icon]="lookup.getIcon(lookup.PROJETO_TIPO_RECURSOS, row.recurso.tipo)" [label]="lookup.getValue(lookup.PROJETO_TIPO_RECURSOS, row.recurso.tipo)" [color]="lookup.getColor(lookup.PROJETO_TIPO_RECURSOS, row.recurso.tipo)"></badge>
                        <badge *ngIf="!['HUMANO', 'DEPARTAMENTO'].includes(row.recurso.tipo)" icon="bi bi-rulers" [label]="lookup.getValue(lookup.MATERIAL_SERVICO_UNIDADE, row.recurso.unidade_medida)" color="warning"></badge>
                        <badge *ngIf="row.recurso.valor" icon="bi bi-currency-dollar" [label]="util.formatDecimal(row.recurso.valor)" color="success"></badge>
                    </ng-template>
                    <ng-template let-row="row" #editAlocacaoRecurso>
                        <input-select [size]="12" itemTodos="- Selecione -" valueTodos="" #recurso controlName="recurso_id" (change)="onRecursoChange()" [control]="form!.controls.recurso_id" [items]="recursos"></input-select>
                    </ng-template>
                </column>
                <column title="Regras" [template]="alocacaoRegra" [editTemplate]="editAlocacaoRegra">
                    <ng-template let-row="row" #alocacaoRegra>
                        <badge *ngFor="let regra of row.regras" [label]="regra.regra.nome" [icon]="lookup.getIcon(lookup.PROJETO_TIPO_RECURSOS, regra.regra.tipo_recurso)" [color]="lookup.getColor(lookup.PROJETO_TIPO_RECURSOS, regra.regra.tipo_recurso)"></badge>
                    </ng-template>
                    <ng-template let-row="row" #editAlocacaoRegra>
                        <input-multiselect controlName="regras" noBox [size]="12" [control]="form!.controls.regras" [addItemHandle]="addItemHandleRegras.bind(this)">
                            <input-select [size]="12" itemTodos="- Nenhuma -" [valueTodos]="null" [control]="formRegra.controls.regra_id" [items]="regras"></input-select>
                        </input-multiselect>
                    </ng-template>
                </column>
                <column title="Acessível" titleHint="O projeto estará visível somente para quem possuir uma regra que permita acessar o projeto." [template]="alocacaoAcessivel" [editTemplate]="editAlocacaoAcessivel">
                    <ng-template let-row="row" #alocacaoAcessivel>
                        <i *ngIf="isAcessivel(row)" class="bi bi-check-circle text-success"></i>
                    </ng-template>
                    <ng-template let-row="row" #editAlocacaoAcessivel>
                        <!-- Permitir editar a regra aqui -->
                    </ng-template>
                </column>
                <column title="Descrição" [template]="alocacaoDescricao" [editTemplate]="editAlocacaoDescricao">
                    <ng-template let-row="row" #alocacaoDescricao>
                        <strong>{{row.descricao}}</strong>
                    </ng-template>
                    <ng-template let-row="row" #editAlocacaoDescricao>
                        <input-text [size]="12" controlName="descricao" [control]="form!.controls.descricao"></input-text>
                    </ng-template>
                </column>
                <column title="Quantidade" [align]="'right'" [width]="100" [template]="alocacaoQuantidade" [editTemplate]="editAlocacaoQuantidade">
                    <ng-template let-row="row" #alocacaoQuantidade>
                        <div class="text-end">{{util.formatDecimal(row.quantidade)}}</div>
                    </ng-template>
                    <ng-template let-row="row" #editAlocacaoQuantidade>
                        <input-number number [size]="12" controlName="quantidade" [control]="form!.controls.quantidade"></input-number>
                    </ng-template>
                </column>
                <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
            </columns>
        </grid>
    </div>
</editable-form>

<!--
    public descricao: string = ""; /* Descrição */
    public quantidade: number = 1; /* Quantidade */
    public projeto_id: string | null = null;
    public tarefa_id: string | null = null;
    public recurso_id: string = "";
    public regra_id: string | null = null;





Recurso                                         Regra          Descrição                            Quantidade       [ + ]
----------------------------------------------+---------------+----------------------------------+--------------+---------
(i) Nome                                        xxxxxxxxxxxxx  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      151515,15   [Ed] [Ex]
[(i) Tipo do recurso] [(U) Metro] [($) 121,11]


[Select                                  [v]] [Select   [v]] [text                            ]   [    15151,00]  [Ed] [Ex]

-->