<editable-form [form]="form!" [noButtons]="!entity_id ? 'true' : undefined" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <input-text [size]="6" label="Nome" controlName="nome" labelInfo="Nome do projeto"></input-text>
        <input-select [size]="3" label="Fase" icon="bi bi-puzzle" controlName="fase_id" [items]="fases"></input-select>
        <input-select [size]="3" label="Status" icon="bi bi-arrow-up-right-circle" controlName="status" [items]="lookup.PROJETO_STATUS"></input-select>
    </div>
    <div class="row">
        <input-textarea [size]="6" [rows]="2" label="Descrição" controlName="descricao"></input-textarea>
        <input-textarea [size]="6" [rows]="2" label="Finalidade" controlName="finalidade"></input-textarea>
    </div>
    <div class="row">
        <div class="col-md-4">
            <separator title="Usa Baseline (planejado)?" [control]="form!.controls.usa_baseline" (change)="onUsaBaselineChange()" labelInfo="Se o utiliza baseline no projeto (planejamento inicial)">
                <input-datetime [date]="usaHoras" [size]="6" noIcon label="Início planejado" [disabled]="usaBaseline" icon="bi bi-calendar-date" controlName="inicio_baseline"></input-datetime>
                <input-datetime [date]="usaHoras" [size]="6" noIcon label="Término planejado" [disabled]="usaBaseline" icon="bi bi-calendar-date" controlName="termino_baseline"></input-datetime>
            </separator>
        </div>
        <div class="col-md-6">
            <!--input-switch label="Auto" [size]="1" controlName="calcula_intervalo"  ></input-switch//-->
            <separator title="Cronograma automático?" transparent [control]="form!.controls.calcula_intervalo" (change)="onIntervaloAutomaticoChange($event)" labelInfo="Se o período do projeto será calculado automaticamente pelas tarefas">
                <input-datetime [date]="usaHoras" [size]="4" noIcon label="Início real" [disabled]="intervaloAutomatico" icon="bi bi-calendar-date" controlName="inicio"></input-datetime>
                <input-datetime [date]="usaHoras" [size]="4" noIcon label="Término real" [disabled]="intervaloAutomatico" icon="bi bi-calendar-date" controlName="termino"></input-datetime>
                <input-workload daysOrHours [size]="4" [unit]="unitDuracao" [disabled]="intervaloAutomatico" label="Duração" controlName="duracao" [control]="form!.controls.carga_horaria" [unitChange]="onUnitDuracaoChange.bind(this)" labelInfo="Se o projeto será calculado em horas ou dias"></input-workload>
            </separator>
        </div>
        <div class="col-md-2">
            <separator title="Automático?" [control]="form!.controls.soma_progresso_filhos" (change)="onIntervaloAutomaticoChange($event)" labelInfo="Se o progresso será calculado automaticamente pela soma dos progressos das tarefas">
                <input-number [decimals]="2" [size]="12" label="Progresso" sufix="%" icon="bi bi-clock" controlName="progresso" [disabled]="progressoAutomatico" labelInfo="Progresso do projeto (% Concluído)"></input-number>
            </separator>
        </div>
    </div>
    <separator title="Configurações" collapse transparent [collapsed]="true">
        <div class="row">
            <input-switch label="Tempo corrido" scale="small" labelPosition="right" [size]="6" controlName="tempo_corrido" labelInfo="Se o calculo do tempo é contínuo, sem considerar fins de semana e feriados"></input-switch>
            <input-switch label="Usa horas" scale="small" labelPosition="right" [size]="6" controlName="usa_horas" labelInfo="Se utiliza as datas com horas (todos os calculos mudam de dias para horas)"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Intervalo automático" scale="small" labelPosition="right" [size]="6" controlName="calcula_intervalo" labelInfo="Se o intervalo entre a data de inicio e término são calculados automaticamente utilizando as tarefas"></input-switch>
            <input-switch label="Progresso automático" scale="small" labelPosition="right" [size]="6" controlName="soma_progresso_filhos" labelInfo="Se o progresso é calculado automaticamente pela soma dos processos das tarefas"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Agrupador" scale="small" labelPosition="right" [size]="6" controlName="agrupador" labelInfo="Se o projeto agrupa as tarefas dentro dele"></input-switch>
            <input-switch label="Usa custo" scale="small" labelPosition="right" [size]="6" controlName="calcula_custos" labelInfo="Se o projeto gerencia custos"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Aloca recursos no projeto" scale="small" labelPosition="right" [size]="6" controlName="aloca_proprios_recursos" labelInfo="Se o projeto aloca recursos nele próprio, independente das tarefas"></input-switch>
            <input-switch label="Soma alocações automático" scale="small" labelPosition="right" [size]="6" controlName="soma_recusos_alocados_filhos" labelInfo="Se os recursos das tarefas totalizam no projeto"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Possui custos no projeto" scale="small" labelPosition="right" [size]="6" controlName="custos_proprios" labelInfo="Se o projeto possui custos próprios, independente das tarefas"></input-switch>
            <input-switch label="Soma custos automático" scale="small" labelPosition="right" [size]="6" controlName="soma_custos_filhos" labelInfo="Se os custos das tarefas totalizam no projeto"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Utiliza baseline" scale="small" labelPosition="right" [size]="6" controlName="usa_baseline" labelInfo="Utiliza baseline (planejamento inicial)"></input-switch>
        </div>
    </separator>
    <separator *ngIf="!form?.controls?.tempo_corrido?.value" title="Expediente" collapse transparent [collapsed]="true">
        <div class="row">
            <input-switch label="Usar do escritório:" labelPosition="right" [size]="3" controlName="usar_escritorio" labelInfo="Aloca recursos no projeto"></input-switch>
            <input-search [size]="9" #escritorio hostClass="p-0" label icon disabled controlName="escritorio_id" [dao]="unidadeDao"></input-search>
        </div>
        <calendar-expediente #expediente></calendar-expediente>
    </separator>
</editable-form>

<!--

Numero   Nome                                                   Status
XXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXX
Descricao
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Finalidade
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-- Cronograma e progresso ----------------------------------------------------
Inicio              Termino            Duração      Progresso
xx/xx/xxxxx xx:xx   xx/xx/xxxx xx:xx   [ xxxxx]    [xxx,xx %]
-- Configurações -------------------------------------------------------------
               + Tempo corrido: ([]  )                   + Usa horas: ([]  )
        + Intervalo automático: ([]  )        + Progresso automático: ([]  )
                   + Agrupador: ([]  )                   + Usa custo: ([]  )
   + Aloca recursos no projeto: ([]  )   + Soma alocações automático: ([]  )
    + Possui custos no projeto: ([]  )      + Soma custos automático: ([]  )

-->