<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <!--div class="row">
        <input-text [size]="3" label="Código" controlName="codigo" [control]="form!.controls.codigo"></input-text>
        <input-text [size]="9" label="Descrição" controlName="descricao" [control]="form!.controls.descricao"></input-text>
    </div//-->
</editable-form>



<!-- 

Numero   Nome                                                   Status
XXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXX
Descricao
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Finalidade
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-- Cronograma e progresso ----------------------------------------------------
Marco   Inicio              Marco   Termino            Duração      Progresso   
([]  )  xx/xx/xxxxx xx:xx   (  [])  xx/xx/xxxx xx:xx   [ xxxxx]    [xxx,xx %]
-- Configurações -------------------------------------------------------------
                Tempo corrido: ([]  )                    Usa horas: ([]  )   
         Intervalo automático: ([]  )         Progresso automático: ([]  )   
                    Agrupador: ([]  )                    Usa custo: ([]  ) 
    Aloca recursos no projeto: ([]  )    Soma alocações automático: ([]  )
     Possui custos no projeto: ([]  )       Soma custos automático: ([]  )

-->