<!-- Seleção do planejamento -->
<editable-form [form]="form!" noButtons>
    <div class="row mt-2">
        <input-select #planejamentoInstitucional [size]="12" controlName="planejamento_id" [control]="form!.controls.planejamento_id" [items]="planejamentos" (change)="onPlanejamentoChange()"></input-select>
    </div>
</editable-form>
<!-- Cabeçalho -->
<separator transparent collapse title="Valores, missão e visão">
    <div *ngIf="planejamento" class="row">
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    Valores
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let valor of planejamento!.valores" class="list-group-item">
                            <blockquote class="blockquote mb-0">
                                <p>{{valor.value}}</p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    Missão
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fst-italic">{{planejamento.missao}}</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    Visão
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{planejamento!.visao}}</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</separator>
<!-- Eixos -->
<div class="row my-2">
    <input-switch [size]="12" labelPosition="left" label="Todos os eixos" controlName="todos" [control]="form!.controls.todos" (change)="onTodosChange()"></input-switch>
</div>
<div *ngFor="let eixo of eixos" class="eixo" [style.background-color]="eixo.eixo.cor">
    <action-button icon="bi bi-plus-circle" color="transparent-black" [data]="eixo" [onClick]="onObjetivoAddClick.bind(this)"></action-button>
    <div class="d-flex align-items-center align-content-stretch p-3">
        <div class="descricao">
            <h4>{{eixo.eixo.nome}}</h4>
        </div>
        <div class="objetivos w-100 row" [dndDropzone]="['objetivo']" (dndDrop)="onObjetivoDrop($event, eixo)"> <!-- d-flex flex-wrap align-content-stretch -->
            <!-- Placehold -->
            <div class="col-md-4" dndPlaceholderRef>
                <div class="objetivo shadow-sm d-flex flex-column align-content-between">
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-2"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-1"></span>
                        <span class="placeholder col-6"></span>
                    </p>
                    <div class="buttons w-100 d-flex justify-content-end px-1">
                        <action-button placeholder icon="bi bi-question" color="transparent-black p-0"></action-button>
                        <action-button placeholder icon="bi bi-question" color="transparent-black p-0"></action-button>
                        <action-button placeholder icon="bi bi-question" color="transparent-black p-0"></action-button>
                    </div>
                </div>
            </div>
            <!-- Objetivos -->
            <div *ngFor="let objetivo of eixo.objetivos" class="col-md-4"
                [dndDisableIf]="!canEdit"
                [dndDraggable]="objetivo"
                (dndEnd)="onObjetivoDragEnd($event)"
                (dndMoved)="onObjetivoDragged(objetivo, eixo, 'move')"
                (dndStart)="onObjetivoDragStart($event)"
                dndType="objetivo"
                dndEffectAllowed="move">
                <div class="objetivo shadow-sm d-flex flex-column align-content-between">
                    <p class="card-text" dndHandle>{{objetivo.nome}}
                        <ng-container *ngFor="let subobjetivo of objetivo.objetivos" [ngTemplateOutlet]="subobjetivos" [ngTemplateOutletContext]="{objetivo: subobjetivo}"></ng-container>
                    </p>
                    <ng-template #subobjetivos let-objetivo="objetivo">
                        <p class="card-text ms-2">{{marcador(objetivo) + objetivo.nome}}
                            <ng-container *ngFor="let subobjetivo of objetivo.objetivos" [ngTemplateOutlet]="subobjetivos" [ngTemplateOutletContext]="{objetivo: subobjetivo}"></ng-container>
                        </p>
                    </ng-template>
                    <div class="buttons w-100 d-flex justify-content-end px-1">
                        <action-button icon="bi bi-file-earmark-bar-graph" [data]="objetivo" [onClick]="this.onObjetivoClick.bind(this)" color="transparent-black px-1"></action-button>
                        <action-button icon="bi bi-pencil-square" [data]="objetivo" [onClick]="this.onObjetivoEditClick.bind(this)" color="transparent-black px-1"></action-button>
                        <action-button icon="bi bi-trash" [data]="objetivo" [onClick]="this.onObjetivoDeleteClick.bind(this)" color="transparent-black px-1"></action-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Espaço -->
<div class="row my-2"></div>