<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title">
  <div class="row">
    <input-text [size]="2" label="Tipo de recurso" controlName="tipo_recurso"></input-text>
    <input-text [size]="4" label="Nome" controlName="nome_recurso" labelInfo="Nome do recurso"></input-text>
    <input-text [size]="4" label="Unidade" controlName="und_recurso" labelInfo="Unidade de apresentação do recurso"></input-text>
    <input-number number [size]="2" label="Valor" controlName="vlr_recurso" labelInfo="Valor do recurso"></input-number>
  </div>

  <separator title="Lista de recuros"></separator>
  <div class="row">
    <grid [hasDelete]="true">
      <columns>
          <column [title]="lex.noun('Tipo') + ' do Recurso'" [template]="tarefaDescricao">
              <ng-template let-row="row" #tarefaDescricao>
                  <strong *ngIf="row.tarefa?.nome.length" class="d-block">{{row.tarefa?.nome || ""}}</strong>
                  {{row.descricao}}
              </ng-template>
          </column>
          <column title="Nome do recurso" [align]="'center'" [template]="concluido" [editTemplate]="editConcluido" >
              <ng-template let-row="row" #concluido>
                  <div class="text-center"><i *ngIf="row.concluido" class="bi bi-check-circle"></i></div>
              </ng-template>
              <ng-template let-row="row" #editConcluido>
                  <input-switch [size]="12" controlName="concluido"></input-switch>
              </ng-template>
          </column>
          <column title="Unidade" [template]="tarefaDescricao">
            <ng-template let-row="row" #tarefaDescricao>
                <strong *ngIf="row.tarefa?.nome.length" class="d-block">{{row.tarefa?.nome || ""}}</strong>
                {{row.descricao}}
            </ng-template>
        </column>
        <column title="Valor" [template]="tarefaDescricao">
          <ng-template let-row="row" #tarefaDescricao>
              <strong *ngIf="row.tarefa?.nome.length" class="d-block">{{row.tarefa?.nome || ""}}</strong>
              {{row.descricao}}
          </ng-template>
      </column>
      </columns>
    </grid>
  </div>
</editable-form>

<!--

Tipo         Nome                   UN               Valor      [ + ]
-----------+-----------------------+-----------+----------+---------+
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]

[Select [v]] [Search/text     [P]]  [Select [v]] [  111,00]

-->

