<p>projeto-form-recursos works!</p>

<!--
                                                              
Tipo         Nome                   UN               Valor      [ + ]
-----------+-----------------------+-----------+----------+---------+
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]
(i) Humano   Usuario/Material/UORG   Metro        12121,00  [ED] [EX]

[Select [v]] [Search/text     [P]]  [Select [v]] [  111,00]

-->

