<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" [hasDelete]="true" [add]="addFase.bind(this)" [load]="loadFase.bind(this)" [remove]="removeFase.bind(this)" [save]="saveFase.bind(this)" editable>
            <columns>
                <column title="Nome" [template]="faseNome" [editTemplate]="editFaseNome">
                    <ng-template let-row="row" #faseNome>
                        <badge [color]="row.cor" [label]="row.nome"></badge>
                    </ng-template>
                    <ng-template let-row="row" #editFaseNome>
                        <div class="row">
                            <input-text [size]="8" controlName="nome" [control]="form!.controls.nome"></input-text>
                            <input-color [size]="4" controlName="cor" [control]="form!.controls.cor"></input-color>
                        </div>
                    </ng-template>
                </column>
                <column title="Descrição" [template]="faseDescricao" [editTemplate]="editFaseDescricao">
                    <ng-template let-row="row" #faseDescricao>
                        <small class="d-block">{{row.descricao || ""}}</small>
                    </ng-template>
                    <ng-template let-row="row" #editFaseDescricao>
                        <input-text [size]="12" controlName="descricao" [control]="form!.controls.descricao"></input-text>
                    </ng-template>
                </column>
                <column title="Início" [template]="faseInicio" [editTemplate]="editFaseInicio">
                    <ng-template let-row="row" #faseInicio>
                        <strong class="d-block">{{util.getDateFormatted(row.inicio)}}</strong>
                    </ng-template>
                    <ng-template let-row="row" #editFaseInicio>
                        <input-datetime date [size]="12" controlName="inicio" [control]="form!.controls.inicio"></input-datetime>
                    </ng-template>
                </column>
                <column title="Termino" [template]="faseTermino" [editTemplate]="editFaseTermino">
                    <ng-template let-row="row" #faseTermino>
                        <strong class="d-block">{{util.getDateFormatted(row.termino)}}</strong>
                    </ng-template>
                    <ng-template let-row="row" #editFaseTermino>
                        <input-datetime date [size]="12" controlName="termino" [control]="form!.controls.termino"></input-datetime>
                    </ng-template>
                </column>
                <column type="options"></column>
            </columns>
        </grid>
    </div>
</editable-form>