<editable-form [form]="form!" [buttons]="buttons" [disabled]="formDisabled" >
    <div class="row">
        <input-search #usuario [size]="6" controlName="usuario_id" [dao]="usuarioDao" ></input-search>
        <input-search #unidade [size]="6" controlName="unidade_id" [dao]="unidadeDao" ></input-search>
    </div>
    <div class="row">
        <input-datetime [size]="6" date label="Início" controlName="data_inicio" labelInfo="Data de início da tarefa"></input-datetime>
        <input-datetime [size]="6" date label="Fim" controlName="data_fim" labelInfo="Data fim da tarefa"></input-datetime>
    </div>
</editable-form>
<grid [items]="tarefas" multiselect [multiselectChange]="onMultiselectChange.bind(this)">
    <columns>
        <column title="Tarefa" [template]="columnTarefa">
            <ng-template let-row="row" #columnTarefa>
                <div [style.margin-left.px]="10 * getLevel(row)">
                    <strong>{{row.nome}}</strong><br>
                    <small>{{row.descricao}}</small>
                </div>
            </ng-template>
        </column>
        <column title="Recursos" [template]="columnRecursos">
            <ng-template let-row="row" #columnRecursos>
                <profile-picture *ngFor="let alocacao of row.alocacoes" [url]="projetoService.getRecursoPicture(alocacao.recurso)" [hint]="alocacao.descricao"></profile-picture>
            </ng-template>
        </column>
    </columns>
</grid>

<!--

Usuario: [Genisson                  ]   
Unidade: [                          ]
No pedíodo: [        ] a [          ]
                           Selecionar
      Ativadade            
 [ ]  Recurssos
-------------------------------------
  X   Atividade X 
  X     Atividade X 
  X   Atividade X   
  X     Atividade X

-->