<tabs right [title]="isModal ? '' : title" [select]="onSelectTab.bind(this)" [active]="activeTab">
    <tab key="TABELA" icon="bi bi-table" label="Lista" [template]="grid">
        <ng-template #grid>
            <demanda-list-grid [snapshot]="snapshot || modalRoute || route.snapshot"></demanda-list-grid>
        </ng-template>
    </tab>
    <tab key="KANBAN" icon="bi bi-tags" label="Quadro" [template]="kanban">
        <ng-template #kanban>
            <demanda-list-kanban [snapshot]="snapshot || modalRoute || route.snapshot"></demanda-list-kanban>
        </ng-template>
    </tab>
    <tab key="DASHBOARD" icon="bi bi-file-earmark-bar-graph" label="Dashboard">
        Dashboard
    </tab>
</tabs>
