<tabs right [title]="isModal ? '' : title" [select]="onSelectTab.bind(this)" [active]="activeTab">
    <tab key="TABELA" icon="bi bi-table" label="Lista" [template]="grid">
        <ng-template #grid>
            <demanda-list-grid [snapshot]="snapshot || modalRoute || route.snapshot"></demanda-list-grid>
        </ng-template>
    </tab>
    <tab key="KANBAN" icon="bi bi-card-heading" label="Quadro" [template]="kanban">
        <ng-template #kanban>
            <demanda-list-kanban [snapshot]="snapshot || modalRoute || route.snapshot"></demanda-list-kanban>
        </ng-template>
    </tab>
    <tab [hidden]="!auth.hasPermissionTo('DASH_PRG') ? 'true' : undefined" key="DASHBOARD" icon="bi bi-file-earmark-bar-graph" label="Dashboard">
      <filter [form]="filter" noButtons [where]="filterWhere" [collapsed]="false">
          <div class="row justify-content-md-center">
              <input-search #programa [size]="9" label="Programa" controlName="programa_id" [control]="filter!.controls.programa_id" [dao]="programaDao" placeholder="Selecione um Programa..." (change)="onChange($event)" [selectRoute]="{route: ['gestao', 'programa']}"></input-search>
              <input-switch [size]="1" label="Sub." controlName="unidades_subordinadas" [control]="filter!.controls.unidades_subordinadas" (change)="onChange($event)" labelInfo="Incluir as unidades subordinadas"></input-switch>
          </div>
      </filter>

      <!-- Tabela de Informações sobre o Programa -->
      <div *ngIf="programaSelecionado" class="row justify-content-md-center">
        <div class="col-md-8">
          <table class="table table-striped table-bordered table-hover my-4 align-middle">
            <thead>
              <tr>
                <th colspan="2" class="text-center"><strong>INFORMAÇÕES SOBRE O PROGRAMA</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nome do Programa</td><td>{{ programaSelecionado?.nome || "" }}</td>
              </tr>
              <tr>
                <td>Normativa</td><td>{{ programaSelecionado?.normativa || "" }}</td>
              </tr>
              <tr>
                <td>Qde. de Unidades com PT Ativos</td><td>{{ (totalUnidades || 0) + (totalUnidades == 1 ? ' Unidade' : ' Unidades') }}</td>
              </tr>
              <tr>
                <td>Qde. de PT Ativos</td><td>{{ totalPlanosAtivos + (totalPlanosAtivos == 1 ? ' Plano de Trabalho' : ' Planos de Trabalho') }}</td>
              </tr>
              <tr>
                <td>Nr. de Servidores</td><td>{{ totalServidores + (totalServidores == 1 ? ' Servidor' : ' Servidores') + ' (sem repetições)' }}</td>
              </tr>
  <!--                 <tr>
                <td>Unidades Subordinadas incluídas?</td><td>{{ unidadesSubordinadas ? 'SIM' : 'NÃO' }}</td>
              </tr> -->
            </tbody>
          </table>
        </div>

      </div>

      <!-- Gráfico das Áreas com Planos de Trabalho ativos -->
      <div *ngIf="totalPlanosAtivos" class="my-4 text-center">
        <div class="mx-4 d-inline-block container" style="position: relative; width: 400px; min-height: 200px;" [style.height.px]="height">
          <!-- <h5>PT ativos (por Área)</h5> -->
            <bar-chart
              [tipoGrafico] = "'horizontalBar'"
              [dadosGrafico]="dadosGraficoNrPlanos"
              [opcoesGrafico]="opcoesGraficoNrPlanos">
            </bar-chart>
        </div>
        <!-- Gráfico dos Servidores participantes -->
        <div id="teste" class="mx-4 d-inline-block container" style="position: relative;  width: 400px; min-height: 200px;" [style.height.px]="height">
          <!-- <h5>Servidores (por Área)</h5> -->
            <bar-chart
              [tipoGrafico] = "'horizontalBar'"
              [dadosGrafico]="dadosGraficoServidores"
              [opcoesGrafico]="opcoesGraficoServidores">
            </bar-chart>
        </div>
      </div>

      <!-- Gráfico dos Servidores por Modalidade de Plano -->
      <div *ngIf="totalPlanosAtivos" class="my-4 text-center">
        <div class="mx-4 d-inline-block container" style="position: relative;  width: 600px; min-height: 400px;">
            <bar-chart
              [tipoGrafico] = "'bar'"
              [dadosGrafico]="dadosGraficoModalidades"
              [opcoesGrafico]="opcoesGraficoModalidades"
              [alturaAreaGrafico]="alturaAreaGrafico">
            </bar-chart>
        </div>
      </div>
  </tab>
</tabs>
