<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <div class="row">
            <input-text [size]="8" label="Nome" icon="bi bi-upc" controlName="nome"></input-text>
            <input-timer onlyHours [label]="lex.noun('Tempo estimado')" [size]="3" controlName="tempo_estimado" labelInfo="Tempo estimado para execução"></input-timer>
            <input-switch label="Documental?" [size]="1" controlName="documental" labelInfo=""></input-switch>
        </div>
        <div class="row">
            <input-textarea [size]="12" [rows]="3" label="Comentário automático" controlName="comentario_predefinido"></input-textarea>
        </div>
    </div>
</editable-form>
