<grid [dao]="dao" [hasEdit]="false" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [loadList]="loadChanges.bind(this)">
    <toolbar></toolbar>
    
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-select #selectResponsaveis label="Responsável pelo registro" controlName="usuario_id" [control]="filter!.controls.usuario_id" 
            [items]="responsaveis"></input-select>
        </div>
        <div class="row">
            <input-datetime [size]="4" datetime label="Início" controlName="data_inicio" [control]="filter!.controls.data_inicio" labelInfo="Início dos registros"></input-datetime>
            <input-datetime [size]="4" datetime label="Fim" controlName="data_fim" [control]="filter!.controls.data_fim" labelInfo="Fim dos registros"></input-datetime>
            <input-select [size]="4" label="Tipo" icon="bi bi-arrow-up-right-circle" controlName="tipo" [control]="filter!.controls.tipo" [items]="lookup.TIPO_LOG_CHANGE" itemTodos="Todos" valueTodos=""></input-select>
        </div>
    </filter>
    <columns>
        <column *ngIf="!selectable" type="expand" icon="bi bi-list-check" [align]="'center'" [hint]="lex.translate('Responsável')" [template]="columnResponsavel" [expandTemplate]="columnExpandedDelta">
            <ng-template let-row="row" #columnResponsavel>
                <span> {{row.responsavel}} </span>
            </ng-template>
            <ng-template let-row="row" #columnExpandedDelta>
                <json-viewer [json]="row.delta"></json-viewer>
            </ng-template>
        </column>

        <column title="Criado em" field="date_time" [template]="columnDataCriacao">
            <ng-template let-row="row" #columnDataCriacao>
                <span>{{ util.getDateTimeFormatted(row.date_time) }}</span>
            </ng-template>
        </column>
        <column title="Tabela" field="table_name"></column>
        <column title="ID" field="row_id"></column>
        <column title="Tipo de Operação" field="type"></column>

    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
