.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.collapse-card-toggle-icon {
    position: absolute;
    top: 20px;
    right: 20px;   
}