
.logo-raio-x, .saudacao{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .msgSaudacao {
    color: #1d2143;
    font-family: neutra text;
    font-weight: bold;
  }

  
  .logo-raio-x img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }