<!--- 
(RN_PTR_V) Condições para que um Plano de Trabalho possa ser criado:
  - o usuário logado precisa possuir a capacidade "MOD_PTR_INCL", e:
  ... As outras regras serão validadas ao gravar pois necessitam da definição da unidade e do período
(RN_PTR_AB) Um Plano de Trabalho não pode ser excluído;  
//-->
<grid multiselect [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)" [relatorios]="relatorios" [hasDelete]="false"
    [hasAdd]="auth.hasPermissionTo('MOD_PTR_INCL')" [hasEdit]="false" [dynamicMultiselectMenu]="dynamicMultiselectMenu.bind(this)" [multiselectAllFields]="multiselectAllFields">
    <toolbar *ngIf="!selectable">
        <!-- (RN_PTR_I) Quando a Unidade Executora não for a unidade de lotação do servidor, seu gestor imediato e seus substitutos devem ter acesso ao seu Plano de Trabalho (e à sua execução); -->
        <input-switch [size]="1"
                      label="Meus"
                      (change)="disableSub()"
                      labelPosition="left"
                      [control]="filter!.controls.meus_planos"
        >
        </input-switch>
        <input-switch *ngIf="temAtribuicaoChefia" [size]="4" labelPosition="left" label="Lotados em minha unidade" controlName="lotados_minha_unidade" [control]="filter!.controls.lotados_minha_unidade" (change)="onLotadosMinhaUnidadeChange($event)"></input-switch>
        <!--<input-switch [size]="4" labelPosition="left" label="Agrupar por unidade" controlName="agrupar" [control]="filter!.controls.agrupar" (change)="onAgruparChange($event)"></input-switch>-->
        <input-switch [size]="4" labelPosition="left" label="Unidades Subordinadas" controlName="subordinadas" [control]="filter!.controls.subordinadas" (change)="disableMeus()" ></input-switch>
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="4" [label]="lex.translate('Usuário')" controlName="usuario" [control]="filter!.controls.usuario" placeholder="Usuário" [attr.maxlength]=250></input-text>
            <input-search [size]="4" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao"></input-search>
            <input-select [size]="2" label="Status" controlName="status" [items]="lookup.PLANO_TRABALHO_STATUS" [control]="filter!.controls.status" itemTodos="- Todos -" [valueTodos]="null"></input-select>
            <input-switch [size]="2" label="Arquivados" controlName="arquivados" [control]="filter!.controls.arquivados" labelInfo="Listar também os planos de trabalho arquivados"></input-switch>
        </div>
        <div class="row">
          <input-search [size]="6" [control]="filter!.controls.tipo_modalidade_id" controlName="tipo_modalidade_id" [dao]="tipoModalidadeDao"></input-search>
          <input-select [size]="2" label="Data" itemTodos="- Nenhum -" [valueTodos]="null" controlName="data_filtro" [control]="filter!.controls.data_filtro" [items]="DATAS_FILTRO"></input-select>
          <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Início" controlName="data_filtro_inicio" [control]="filter!.controls.data_filtro_inicio" labelInfo="Data início do período"></input-datetime>
          <input-datetime [size]="2" date [disabled]="filter!.controls.data_filtro.value == null ? 'true' : undefined" label="Fim" controlName="data_filtro_fim" [control]="filter!.controls.data_filtro_fim" labelInfo="Data fim do período"></input-datetime>
      </div>
    </filter>
    <columns>
        <column *ngIf="!selectable" type="expand" icon="bi bi-list-check" [align]="'center'" [hint]="lex.translate('Entrega')" [template]="columnEntregas" [expandTemplate]="columnExpandedEntregas">
            <ng-template let-row="row" #columnEntregas>
                <span *ngIf="row.entregas?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-list-check"></i> {{row.entregas?.length}}</span>
            </ng-template>
            <ng-template let-row="row" #columnExpandedEntregas>
                <plano-trabalho-list-entrega [entity]="row" [planoTrabalhoEditavel]="row._metadata?.editavel || false" (atualizaPlanoTrabalhoEvent)="(grid?.query || query)?.refreshId($event)"></plano-trabalho-list-entrega>
            </ng-template>
        </column>
        <column [titleTemplate]="titleNumero" [template]="columnNumero" [minWidth]="50">
            <ng-template let-header="header" #titleNumero>
                <order by="numero" [header]="header">#ID</order>
            </ng-template>
            <ng-template let-row="row" #columnNumero>
                <span> {{ '#' + row.numero}}</span>
            </ng-template>
        </column>
        <column [titleTemplate]="titleUsuario" [template]="columnUsuario">
            <ng-template let-header="header" #titleUsuario>
                <order by="usuario.nome" [header]="header">Usuário</order><br>Programa
            </ng-template>
            <ng-template let-row="row" #columnUsuario>
                <span> {{row.usuario?.nome || ""}}</span><br>
                <badge color="light" icon="bi bi-file-bar-graph" [label]="row.programa?.nome || ''"></badge>
            </ng-template>
        </column>
        <!--<column title="Programa" [template]="columnPrograma">
            <ng-template let-row="row" #columnPrograma>
                <span> {{row.programa?.nome || ""}}</span>
                <badge color="blue" icon="bi bi-file-bar-graph" [label]="row.programa?.nome || ''"></badge>
            </ng-template>
        </column>-->
        <column title="Unidade" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <span> {{row.unidade?.sigla || ""}}</span>
            </ng-template>
        </column>
        <column title="Modalidade" [template]="columnModalidade">
            <ng-template let-row="row" #columnModalidade>
                <span> {{row.tipo_modalidade?.nome || ""}}</span>
            </ng-template>
        </column>
        <column [titleTemplate]="titleVigencia" [template]="columnInicioVigencia">
            <ng-template let-header="header" #titleVigencia>
              Vigência de<br><order by="data_inicio" [header]="header">Início</order>a<order by="data_fim" [header]="header">Fim</order>
            </ng-template>
            <ng-template let-row="row" #columnInicioVigencia>                
                <small> {{dao!.getDateFormatted(row.data_inicio)}}  {{ " até "+dao!.getDateFormatted(row.data_fim)}}</small>
                <div class="d-block">
                    <badge color="#5362fb" icon="bi bi-calendar-check-fill" label="Vigente" hint="Vigente" *ngIf="planoTrabalhoService.estaVigente(row)"></badge>
                </div>
            </ng-template>
        </column>
        <column [title]="'Termo\nAssinaturas'" [template]="documento">
            <ng-template let-row="row" #documento>
                <documentos-badge signatures noRounded withLink [documento]="row.documento" [maxWidth]="200"></documentos-badge>
            </ng-template>
        </column>
        <column title="Status" [template]="columnStatus">
            <ng-template let-row="row" #columnStatus>
                <badge [color]="lookup.getColor(lookup.PLANO_TRABALHO_STATUS, row.status)" [icon]="lookup.getIcon(lookup.PLANO_TRABALHO_STATUS, row.status)" [label]="lookup.getValue(lookup.PLANO_TRABALHO_STATUS, row.status)" [hint]="row.status ==  'AGUARDANDO_ASSINATURA' ? contadorAssinaturas(row) : undefined"></badge><br>
                <badge *ngIf="row.data_arquivamento" color="warning" icon="bi bi-inboxes" label="Arquivado"></badge>
                <badge *ngIf="row.deleted_at" color="danger" icon="bi bi-trash3" label="Excluído"></badge>
            </ng-template>
        </column>
        <column type="options" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <report>
      <column title="Numero" [template]="reportNumero"><ng-template let-row="row" #reportNumero>{{row.numero}}</ng-template></column>
      <column title="Matricula usuário" [template]="reportMatricula"><ng-template let-row="row" #reportMatricula>{{row.usuario?.matricula || ""}}</ng-template></column>
      <column title="Programa" [template]="reportPrograma"><ng-template let-row="row" #reportPrograma>{{row.programa?.nome || ""}}</ng-template></column>
      <column title="Unidade" [template]="reportUnidade"><ng-template let-row="row" #reportUnidade>{{row.unidade?.nome || ""}}</ng-template></column>
      <column title="Modalidade" [template]="reportModalidade"><ng-template let-row="row" #reportModalidade>{{row.tipo_modalidade?.nome || ""}}</ng-template></column>
      <column title="Início vigência" [template]="reportInicioVigencia"><ng-template let-row="row" #reportInicioVigencia>{{util.getDateTimeFormatted(row.data_inicio)}}</ng-template></column>
      <column title="Fim vigência" [template]="reportFimVigencia"><ng-template let-row="row" #reportFimVigencia>{{util.getDateTimeFormatted(row.data_fim)}}</ng-template></column>
      <column title="Termo de Adesão" [template]="reportTermoAdesao"><ng-template let-row="row" #reportTermoAdesao>{{row.documento?.numero_processo?.length ? row.documento?.numero_processo : "Não atribuído"}}</ng-template></column>
    </report>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
