includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    tmpDir: storage/framework/phpstan
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

