.input-select-no-dots {
    list-style-type: none;
}

.input-select-list {
    overflow: overlay;
}
.bootstrap-select {
    padding: 0px;
}

.input-select-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    width: calc(100% - 15px);
    display: inline-block;
    line-height: 1;
    max-width: 350px;
}

.input-select-label-icon {
    width: calc(100% - 30px) !important;
}
