<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
  <div class="row">
    <div class="row">
      <input-text [size]="12" [label]="'Nome da ' + lex.noun('cadeia de valor')" icon="bi bi-textarea-t" controlName="nome" [control]="form!.controls.nome"></input-text>
    </div>
    <div class="row">
      <input-datetime date [size]="6" label="Início" icon="bi bi-calendar-date" controlName="inicio" [control]="form!.controls.inicio" [labelInfo]="'Início da ' + lex.noun('cadeia de valor')"></input-datetime>
      <input-datetime date [size]="6" label="Fim" icon="bi bi-calendar-date" controlName="fim" [control]="form!.controls.fim" [labelInfo]="'Fim da ' + lex.noun('cadeia de valor')"></input-datetime>
      <!-- <input-switch [size]="2" label="Mover filhos" controlName="moveFilhos" labelInfo="Os processos filhos serão movidos junto ao processo pai quando esta opção estiver selecionada." ></input-switch> -->
    </div>
  </div>
  <separator></separator>
  <cadeia-valor-list-processos #processos noPersist [entity]="entity" [cdRef]="cdRef"></cadeia-valor-list-processos>
</editable-form>




