.card {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(14, 34, 56, .07);
    margin-bottom: 1.875rem;

    h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
        font-weight: 200;
    }

    &.atrasadas {
        p {
            color: #a00d0d;
        }
    }

    &.concluidas {
        p {
            color: #0e8554;
        }
    }
}

.minhas {
    padding: 15px;
    color: #adadad;

    h4,
    h5 {
        margin: 0;
    }
}

.avaliacoes {
    color: white;

    &.acima {
        background: #ffc100;
    }

    &.abaixo {
        background: #ff4000;
    }
}

.dashGestor {
    .usuario {
        border-bottom: 1px solid #dcdcdc;
        padding: 10px 0;

        h3 {
            font-size: 1rem;
            margin: 0 20px;
        }

        .w-30 {
            width: 30%;
        }

        &:last-child {
            border: none;
        }
    }
}