<div class="row">
    <div class="col-md-2">
        <profile-picture thumbnail [url]="auth.usuario?.url_foto" [size]="120"></profile-picture>
        <!--img [src]="auth.usuario?.url_foto" class="img-thumbnail" onerror="this.src='./assets/images/profile.png'"//--><!-- width="25" height="25"-->
    </div>
    <div class="col-md-10 mb-4">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{mensagemSaudacao()}} !</h4>
            </div>
            <table class="my-2">
              <tr class="border-start-0 border-end-0 border-top-0 border-3">
                <h4>Minhas {{lex.noun("Demandas",true)}}</h4>
              </tr>
            </table>
        </div>

        <!-- Gráfico das Minhas Demandas -->
        <div class="row mb-2">
          <div class="row ms-0 d-inline-block container" style="width: 450px;">
            <div class="bg-light mx-1 d-inline-block container" style="width: 400px;">
                <app-bar-chart
                  barChartType = "horizontalBar"
                  [barChartData]="dadosMinhasDemandas"
                  [barChartOptions]="opcoesMinhasDemandas">
                </app-bar-chart>
            </div>
          </div>
          <div class="row ms-0 d-inline-block container" style="width: 450px;">
            <span class="h5-1">Qde. total de Demandas: {{ dashUsuario.total_demandas }}</span><br>
            <span class="h5-1">Médias das Avaliações: {{ dashUsuario.media_avaliacoes ? dashUsuario.media_avaliacoes.toFixed(2) : '   (Nenhuma demanda avaliada!)' }}</span>
            <h5 class="my-4" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">
              <i class="bi bi-activity"></i> Ver Detalhes
            </h5>
          </div>
        </div>

        <div *ngIf="false" class="row">
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas a concluir
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-demandas-totais-nao-concluidas">{{dashUsuario.demandas_totais_nao_concluidas}}</h5>
                        </div>
                        <i class="fas fa-copy fa-2x" id="icon-demandas-andamento"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas em atraso
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-demandas-totais-atrasadas">{{dashUsuario.demandas_totais_atrasadas}}</h5>
                        </div>
                        <i class="fas fa-exclamation-triangle fa-2x" [id]="idExclamacao()"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas concluídas
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-demandas-totais-concluidas">{{dashUsuario.demandas_totais_concluidas}}</h5>
                        </div>
                        <i class="fas fa-clipboard-check fa-2x" id="icon-planos-execucao"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">{{lex.noun("Tarefa", true)}} a concluir
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-tarefas-totais-nao-concluidas">{{dashUsuario.tarefas_totais_nao_concluidas}}</h5>
                        </div>
                        <i class="fas fa-chart-bar fa-2x" id="icon-produtividade-media"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
