<div class="row">
    <div class="col-md-2">
        <img [src]="auth.usuario?.url_foto" class="img-thumbnail" onerror="this.src='./assets/images/profile.png'"><!-- width="25" height="25"-->
    </div>
    <div class="col-md-10 mb-4">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{mensagemSaudacao()}} !</h4>
            </div>
            <table class="my-2">
              <tr class="border-start-0 border-end-0 border-top-0 border-3">
                <h4>Minhas {{lex.noun("Demandas",true)}}</h4>
              </tr>
            </table>
        </div>

        <div *ngIf="true" class="row mb-2">
          <div class="col-md-3">
            <div class="bg-light mx-4 d-inline-block container" style="position: relative; width:400px">
                <app-bar-chart
                  barChartType = "horizontalBar"
                  [barChartData]="dadosMinhasDemandas"
                  [barChartOptions]="opcoesMinhasDemandas">
                </app-bar-chart>
            </div>
          </div>
          <div class="col-md-3 my-4 d-inline-block container">
            <span class="h5-1">Médias das Avaliações: {{ dashUsuario.media_avaliacoes.toFixed(2) }}</span>
            <h5 class="my-4" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">
              <i class="bi bi-activity"></i> Ver Detalhes
            </h5>
          </div>
        </div>

        <tabs hidden="true" right class-span="h4" title="Programas" [select]="onSelectTab.bind(this)" [active]="activeTab">
          <tab key="PGD" icon="bi bi-table" label="PGD" [template]="pgd">
            <ng-template #pgd>
              <div class="col-md-8 mt-5">
                <table class="table table-striped table-bordered table-hover my-4 align-middle">
                  <thead>
                    <tr>
                      <th colspan="2" class="text-center"><strong>INFORMAÇÕES SOBRE O PROGRAMA</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Nome do Programa</td><td>{{ 'Nome do Programa de Gestão' }}</td>
                    </tr>
                    <tr>
                      <td>Normativa</td><td>{{ 'Instrução Normativa' }}</td>
                    </tr>
                    <tr>
                      <td>Qde. de Unidades com PT Ativos</td><td>{{ 'Nr. de Planos de Trabalho Ativos' }}</td>
                    </tr>
                    <tr>
                      <td>Nr. de Servidores</td><td>{{ 'Nr. de servidores' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
<!--               <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
                  <div class="row">
                      <input-text [size]="6" label="Usuário" controlName="usuario" [control]="filter!.controls.usuario" placeholder="Usuário"></input-text>
                      <input-search [size]="6" label="Unidade" controlName="unidade_id" [control]="filter!.controls.unidade_id" [dao]="unidadeDao" [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
                  </div>
              </filter> -->

<!--               <editable-form [form]="form!" [title]="title" [buttons]="buttons">
                <div class="row">
                    <input-search #usuario [size]="6" label="Usuário" icon="bi bi-person" controlName="usuario_id" [control]="form!.controls.usuario_id" [dao]="usuarioDao"
                      (select)="onUsuarioSelect($event)" [join]="['planos.tipo_modalidade:id,nome','planos.unidade:id,nome,sigla']" [selectRoute]="{route: ['configuracoes', 'usuario']}"></input-search>
                    <input-select #unidade nullable label="Unidade" [size]="6" controlName="unidade_id" [control]="form!.controls.unidade_id" [items]="unidades" (change)="onUnidadeChange($event)" labelInfo="Unidades às quais o usuário possui Plano de Trabalho vinculado"></input-select>
                </div>
                <hr />
                <div class="row">
                  <input-radio #tipo_relatorio [size]="6" label="Tipo de Relatório" icon="bi bi-check2" controlName="tipo_relatorio" [control]="form!.controls.tipo_relatorio" [items]="lookup.TIPO_RELATORIO_PRODUTIVIDADE_INDIVIDUAL" labelInfo="Define se o relatório será gerado para um intervalo de tempo específico ou para um Plano de Trabalho em particular"></input-radio>
                  <input-datetime [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? true : false" #inicio_periodo date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="inicio_periodo" [control]="form!.controls.inicio_periodo"></input-datetime>
                  <input-datetime [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? true : false" #fim_periodo date [size]="3" label="Fim" icon="bi bi-calendar-date" controlName="fim_periodo" [control]="form!.controls.fim_periodo"></input-datetime>
                  <input-select [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? false : true" #plano nullable label="Plano de trabalho" [size]="6" controlName="plano_id" [control]="form!.controls.plano_id" [items]="planos" (change)="onPlanoChange($event)" labelInfo="Planos de trabalho"></input-select>
                </div>
              </editable-form> -->

              <!-- Gráfico das Áreas com Planos de Trabalho ativos -->
              <div class="my-4 text-center">
                <div class="bg-light mx-4 d-inline-block container" style="position: relative; width:400px">
                  <!-- <h5>PT ativos (por Área)</h5> -->
                    <app-bar-chart
                      barChartType = "horizontalBar"
                      [barChartData]="dadosGraficoNrPlanos"
                      [barChartOptions]="opcoesGraficoAreas">
                    </app-bar-chart>
                </div>
                <!-- Gráfico dos Servidores participantes -->
                <div class="bg-light mx-4 d-inline-block container" style="position: relative; width:400px">
                  <!-- <h5>Servidores (por Área)</h5> -->
                    <app-bar-chart
                      barChartType = "horizontalBar"
                      [barChartData]="dadosGraficoServidores"
                      [barChartOptions]="opcoesGraficoServidores">
                    </app-bar-chart>
                </div>
              </div>
            </ng-template>
          </tab>
<!--           <tab key="OUTROS" icon="bi bi-tags" label="OUTROS">
              OUTROS
          </tab>
          <tab key="TOTAL" icon="bi bi-file-earmark-bar-graph" label="TOTAL">
              TOTAL
          </tab> -->
        </tabs>


        <div *ngIf="false" class="row">
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas a concluir
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-demandas-totais-nao-concluidas">{{dashUsuario.demandas_totais_nao_concluidas}}</h5>
                        </div>
                        <i class="fas fa-copy fa-2x" id="icon-demandas-andamento"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas em atraso
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="h5-1" id="qtde-demandas-totais-atrasadas">{{dashUsuario.demandas_totais_atrasadas}}</h5>
                        </div>
                        <i class="fas fa-exclamation-triangle fa-2x" [id]="idExclamacao()"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">Demandas concluídas
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
<!--                             <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="dashboard.produtividade" aria-valuemin="0" aria-valuemax="100" [style.width%]="0">
                                  <h5 class="h5-1">{{dashboard.demandas_totais_concluidas}}</h5>
                                </div>
                            </div> -->
                            <h5 class="h5-1" id="qtde-demandas-totais-concluidas">{{dashUsuario.demandas_totais_concluidas}}</h5>
                        </div>
                        <i class="fas fa-clipboard-check fa-2x" id="icon-planos-execucao"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-dark bg-light mb-3 card-header" role="button" (click)="go.navigate({route: ['gestao', 'demanda']}, {root: true})">{{lex.noun("Tarefa", true)}} a concluir
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
<!--                             <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width%]="dashboard.produtividade">
                                <h5 class="h5-1">{{dashboard.produtividade}}%</h5></div>
                            </div> -->
                            <h5 class="h5-1" id="qtde-tarefas-totais-nao-concluidas">{{dashUsuario.tarefas_totais_nao_concluidas}}</h5>
                        </div>
                        <i class="fas fa-chart-bar fa-2x" id="icon-produtividade-media"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
