<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="DADOS" label="Dados">
            <div class="row">
                <div class="row">
                    <input-text [size]="12" label="Nome do Planejamento Institucional" [icon]="lookup.getIcon(lookup.ICONS,'planejamento')" controlName="nome" [control]="form!.controls.nome"></input-text>
                </div>
                <div class="row">
                    <input-search [size]="6" label="Unidade Executora" icon="fab fa-unity" [disabled]="hasPermissionToUNEX ? undefined : 'true'" controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao" 
                                  [selectRoute]="{route: ['configuracoes', 'unidade'], params: {filter: {unidades_planejamento: true}}}" [where]="[['unidades_planejamento','==',true]]" (change)="onUnidadeChange($event)"></input-search>
                    <input-datetime date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="inicio" [control]="form!.controls.inicio" labelInfo="Início do Planejamento Institucional"></input-datetime>
                    <input-datetime date [size]="3" label="Fim" icon="bi bi-calendar-date" controlName="fim" [control]="form!.controls.fim" labelInfo="Fim do Planejamento Institucional"></input-datetime>
                </div>
                <div *ngIf="form!.controls.unidade_id.value" class="row">
                    <input-select [items]="planejamentosSuperiores" label="Selecione o Planejamento Superior vinculado" controlName="planejamento_superior_id" [control]="form!.controls.planejamento_superior_id" (change)="onPlanejamentoChange($event)" [icon]="lookup.getIcon(lookup.ICONS,'planejamento')"></input-select>
                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <input-textarea [size]="12" label="Missão" [rows]="3" controlName="missao" [control]="form!.controls.missao"></input-textarea>
                        <input-textarea [size]="12" label="Visão" [rows]="3" controlName="visao" [control]="form!.controls.visao"></input-textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <input-multiselect [size]="12" label="Valores" controlName="valores" [addItemHandle]="addValorHandle.bind(this)">
                                <input-text label="Valor Institucional" icon="far fa-edit" controlName="valor_texto" [control]="form!.controls.valor_texto"></input-text>
                            </input-multiselect>        
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab key="OBJETIVOS" label="Objetivos">
            <planejamento-list-objetivo #objetivos noPersist [entity]="entity" [disabled]="action == 'consult'"></planejamento-list-objetivo>
        </tab>
    </tabs>
</editable-form>

