<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="nome" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="DADOS" label="Dados">
            <div class="row">
                <div class="row">
                    <input-text [size]="12" label="Nome do Planejamento Institucional" [icon]="entityService.getIcon('Planejamento')" controlName="nome" [control]="form!.controls.nome" [attr.maxlength]=250 required></input-text>
                </div>
                <div class="row">
                    <!-- <input-search [size]="6" [disabled]="hasPermissionToUNEX ? undefined : 'true'" controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao" [selectParams]="{filter: {instituidora: true}}" (change)="onUnidadeChange($event)" labelInfo="Unidade responsável pelo planejamento, caso vazio será considerado a Entidade"></input-search> -->
                    <input-search [size]="6" controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao" (change)="onUnidadeChange($event)" labelInfo="Unidade à qual se refere o planejamento" required></input-search>
                    <input-datetime date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="data_inicio" [control]="form!.controls.data_inicio" labelInfo="Início do Planejamento Institucional" required></input-datetime>
                    <input-datetime date [size]="3" label="Fim" icon="bi bi-calendar-date" controlName="data_fim" [control]="form!.controls.data_fim" labelInfo="Fim do Planejamento Institucional" required></input-datetime>
                </div>
                <div class="row">
                    <input-select #planejamentoSuperior [items]="planejamentosSuperiores" label="Planejamento Institucional Superior" controlName="planejamento_superior_id" [control]="form!.controls.planejamento_superior_id" (change)="onPlanejamentoChange($event)" [icon]="entityService.getIcon('Planejamento')"></input-select>
                </div>                
                <div class="row">
                    <div class="col-md-6">
                        <input-textarea [size]="12" label="Missão" [rows]="3" controlName="missao" [control]="form!.controls.missao" required></input-textarea>
                        <input-textarea [size]="12" label="Visão" [rows]="3" controlName="visao" [control]="form!.controls.visao" required></input-textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <input-multiselect [size]="12" label="Valores" controlName="valores" [addItemHandle]="addValorHandle.bind(this)">
                                <input-text label="Valor Institucional" icon="far fa-edit" controlName="valor_texto" [control]="form!.controls.valor_texto" [attr.maxlength]=250></input-text>
                            </input-multiselect>        
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab key="OBJETIVOS" label="Objetivos">
            <planejamento-list-objetivo #objetivos noPersist [entity]="entity" [disabled]="action == 'consult'" [planejamento_superior_id]="form.controls.planejamento_superior_id.value"></planejamento-list-objetivo>
        </tab>
    </tabs>
</editable-form>

