<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [hasAdd]="true" [hasEdit]="true" [selectable]="selectable" (select)="onSelect($event)">
  <toolbar></toolbar>
  <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed">
    <div class="row">
      <input-select [size]="4" [label]="lex.translate('Tipo Cliente')" controlName="tipo_cliente_id" nullable [control]="filter!.controls.tipo_cliente_id" [dao]="tipoClienteDao"></input-select>

      <input-text [size]="8" [label]="'Nome'" controlName="nome" [control]="filter!.controls.nome" [placeholder]="'Nome'" [attr.maxlength]=250></input-text>
    </div>
  </filter>

  <columns>
    <column title="Tipo" [template]="columnTipo">
      <ng-template let-row="row" #columnTipo>
        <span> {{row.tipo_cliente?.nome}}</span>
      </ng-template>
    </column>
    <column title="Descrição" field="nome"></column>

    <column type="options" [onEdit]="edit" [options]="options"></column>
  </columns>
  <pagination [rows]="rowsLimit"></pagination>
</grid>