<ng-template #homologacaoAtividades>
    <editable-form noButtons [form]="formHomologacao!">
        <top-alert type="warning"
            [message]="grid!.multiselectedCount + ' ' + lex.noun('atividade', true) + ' serão homologadas'"></top-alert>
        <div class="row">
            <input-datetime [size]="12" label="Data e hora" controlName="data_homologacao"
                labelInfo="Data e hora para registro da homologação"></input-datetime>
        </div>
    </editable-form>
</ng-template>
<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy"
    [join]="join" [selectable]="selectable" (select)="onSelect($event)" 
    [hasAdd]="auth.hasPermissionTo('MOD_ATV_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_ATV_EDT')"> <!-- multiselect [multiselectMenu]="multiselectMenu" -->
    <toolbar *ngIf="!selectable">
        <input-switch *ngIf="exibir_vinculadas_toolbar" [size]="4" labelPosition="left" label="Exibir Vinc."
            controlName="vinculadas_toolbar" [control]="filter!.controls.vinculadas_toolbar"
            (change)="onVinculadasToolbarChange($event)"></input-switch>
    </toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)"
        [hidden]="filterHidden">
        <div class="row">
            <input-text [size]="7" label="Nome" controlName="nome" [control]="filter!.controls.nome"></input-text>
            <input-search [size]="5" controlName="tipo_atividade_id" [dao]="tipoAtividadeDao"></input-search>
        </div>
        <div class="row">
            <input-switch *ngIf="auth.hasPermissionTo('MOD_UND_TUDO')" [size]="1" label="Minhas" controlName="minhas"></input-switch>
            <input-search [size]="auth.hasPermissionTo('MOD_UND_TUDO') ? 6 : 7" [disabled]="disableUnidade ? 'true' : undefined" controlName="unidade_id" [dao]="unidadeDao"></input-search>
            <input-switch [size]="1" label="Vinculadas" controlName="vinculadas"></input-switch>
            <input-radio [size]="4" label="Homologado?" controlName="homologado" [control]="filter!.controls.homologado" [items]="lookup.TODOSSIMNAO"></input-radio>
        </div>
    </filter>
    <columns>
        <column title="Nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                <span class="d-block">{{row.nome}}</span>
                <span *ngIf="row.tipo_atividade" class="badge bg-light text-dark">
                    <i class="bi bi-check-all"></i>
                    {{row.tipo_atividade.nome}}
                </span>
            </ng-template>
        </column>
        <column title="Homologado" [template]="columnHomologado">
            <ng-template let-row="row" #columnHomologado>
                <span> {{row.homologado == 1 ? "Sim"+" ("+dao!.getDateFormatted(row.data_homologacao)+")" :
                    "Não"}}</span>
            </ng-template>
        </column>
        <column [title]="lex.noun('Unidade')" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <span> {{row.unidade.nome}}</span>
            </ng-template>
        </column>
        <!--column type="options" [options]="[]" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column/-->
        <column type="options" [onEdit]="edit" [options]="options"></column>        
    </columns>
    <report>
        <column title="Nome" [template]="reportNome"><ng-template let-row="row" #reportNome>{{row.nome}}</ng-template>
        </column>
        <column [title]="lex.noun('Tempo pactuado')" [template]="reportTempoPactuado"><ng-template let-row="row"
                #reportTempoPactuado>{{row.tempo_pactuado}}</ng-template></column>
        <column title="Dias planejamento" [template]="reportDiasPlanejado"><ng-template let-row="row"
                #reportDiasPlanejado>{{row.dias_planejado}}</ng-template></column>
        <column title="Tempo mínimo" [template]="reportTempoMinimo"><ng-template let-row="row"
                #reportTempoMinimo>{{row.tempo_minimo}}</ng-template></column>
        <column [title]="'Desativa ' + lex.noun('produtividade')" [template]="reportDesativaProdutividade"><ng-template let-row="row"
                #reportDesativaProdutividade>{{lookup.getValue(lookup.SIMNAO,
                row.desativa_produtividade)}}</ng-template></column>
        <column title="Complexidade" [template]="reportComplexidade"><ng-template let-row="row"
                #reportComplexidade>{{getReportComplexidade(row)}}</ng-template></column>
        <column title="Etiquetas" [template]="reportEtiquetas"><ng-template let-row="row"
                #reportEtiquetas>{{getReportEtiquetas(row)}}</ng-template></column>
        <column title="Check-list" [template]="reportChecklist"><ng-template let-row="row"
                #reportChecklist>{{getReportChecklist(row)}}</ng-template></column>
        <column title="Comentário" [template]="reportComentario"><ng-template let-row="row"
                #reportComentario>{{row.comentario_predefinido}}</ng-template></column>
        <column title="Homologado" [template]="reportHomologado"><ng-template let-row="row"
                #reportHomologado>{{lookup.getValue(lookup.SIMNAO, row.homologado)}}</ng-template></column>
        <column [title]="lex.noun('Data de Homologação')" [template]="reportDataHomologacao"><ng-template let-row="row"
                #reportDataHomologacao>{{util.getDateTimeFormatted(row.data_homologacao)}}</ng-template></column>
        <column [title]="'Tipo ' + lex.noun('Atividade')" [template]="reportTipoAtividade"><ng-template let-row="row"
                #reportTipoAtividade>{{row.tipo_atividade?.nome}}</ng-template></column>
        <column [title]="lex.noun('Unidade')" [template]="reportUnidade"><ng-template let-row="row" #reportUnidade>{{row.unidade ?
                row.unidade.sigla + " - " + row.unidade.nome : ""}}</ng-template></column>
        <column title="Parâmetros adotados" [template]="reportParametrosAdotados"><ng-template let-row="row"
                #reportParametrosAdotados>{{getReportParametrosAdotados(row)}}</ng-template></column>
        <column [title]="lex.noun('Entrega', true) + ' esperadas'" [template]="reportEntregasEsperadas"><ng-template let-row="row"
                #reportEntregasEsperadas>{{getReportEntregasEsperadas(row)}}</ng-template></column>
    </report>
    <pagination [rows]="rowsLimit"></pagination>
</grid>