<badge *ngIf="documento && show" [icon]="icon" [color]="color" [rounded]="!isNoRounded" [data]="documento" [click]="documentoService.onDocumentoClick.bind(documentoService)" [hint]="documentoService.documentoHint(documento)">
    <ng-container *ngIf="isLinkSei">
        {{documento?.link?.numero_processo || emptyMessage}}<br>
        <small *ngIf="documento?.link?.numero_documento?.length">Sei nº {{documento?.link?.numero_documento}}</small>
    </ng-container>
    <ng-container *ngIf="isLinkUrl">
        {{documento?.titulo || emptyMessage}}
    </ng-container>
    <ng-container *ngIf="isHtml">
        <span [style.max-width.px]="maxWidth" class="text-wrap"><small><strong>#{{documento?.numero}}</strong> - {{documento?.titulo || emptyMessage}}</small></span>
    </ng-container>
    <ng-container *ngIf="isPdf">
        {{documento?.titulo || emptyMessage}}
    </ng-container>
    <separator *ngIf="isSignatures && documento?.assinaturas?.length" transparent>
        <profile-picture *ngFor="let assinatura of documento!.assinaturas" [url]="assinatura.usuario?.url_foto || ''" [hint]="assinatura.usuario?.nome || 'Desconhecido'"></profile-picture>
    </separator>
</badge>
<badge *ngIf="documento && !isLinkSei && !isLinkUrl && isWithLink && hasLink" [class]="'d-block'" color="warning" [icon]="linkIcon" [rounded]="false" [data]="documento.link" [click]="documentoService.onLinkClick.bind(documentoService)" [hint]="documentoService.documentoHint(documento)">
    <ng-container *ngIf="documento?.link?.tipo == 'SEI'">
        {{documento?.link?.numero_processo || emptyMessage}}<br>
        <small *ngIf="documento?.link?.numero_documento?.length">Sei nº {{documento?.link?.numero_documento}}</small>
    </ng-container>
    <ng-container *ngIf="documento?.link?.tipo == 'URL'">
        {{documento?.titulo || emptyMessage}}
    </ng-container>
</badge>
