<badge *ngIf="show" [icon]="icon" [color]="color" [rounded]="!isNoRounded" [data]="documento" [click]="documentoService.onDocumentoClick.bind(documentoService)" [hint]="documentoService.documentoHint(documento!)">
    <div class="d-flex flex-column">
  
    <ng-container *ngIf="isLinkUrl">
        {{documento?.titulo || emptyMessage}}
    </ng-container>
    <ng-container *ngIf="isHtml">
        <span [style.max-width.px]="maxWidth" class="text-wrap"><small><strong>#{{documento?.numero}}</strong> - {{documento?.titulo || emptyMessage}}</small></span>
    </ng-container>
    <ng-container *ngIf="isPdf">
        {{documento?.titulo || emptyMessage}}
    </ng-container>
    <separator *ngIf="isSignatures && documento?.assinaturas?.length" transparent>
        <div class="d-flex flex-wrap">
            <profile-picture *ngFor="let assinatura of documento!.assinaturas" [url]="assinatura.usuario?.url_foto || ''" [hint]="assinatura.usuario?.nome || 'Desconhecido'"></profile-picture>
        </div>
    </separator>
</div>
</badge>
