<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"  [hasAdd]="auth.hasPermissionTo('MOD_RX_VIS_DPE')" [hasEdit]="auth.hasPermissionTo('MOD_RX_VIS_DPE')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="5" label="Nome da Matéria" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome da Matéria" [attr.maxlength]=250></input-text>
            <input-text [size]="5" label="Área" controlName="area_id"
                [control]="filter!.controls.area_id" placeholder="Nome da Área" [attr.maxlength]=250></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome da Matéria" field="nome"></column>
        <column title="Área do Conhecimento" [template]="columnNomeArea">
            <ng-template let-row="row" #columnNomeArea>
                <span>{{ row.curso.area_conhecimento.nome }}</span>
            </ng-template>
        </column>
        <column title="Curso" [template]="columnCurso">
            <ng-template let-row="row" #columnCurso>
                <span>{{ row.curso.nome }}</span>
            </ng-template>
        </column>
        <column title="Horas Aula" field="horas_aula"></column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
