<editable-form [title]="isModal ? '' : title" [form]="form!" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="PRINCIPAL" label="Principal">
            <div class="row">
                <input-switch [size]="1" label="Instit." labelClass="text-nowrap" controlName="instituidora" [labelInfo]="'Se a ' + lex.noun('unidade') + ' é instituidora de Programas.'"></input-switch>
                <input-text [size]="2" label="Código" controlName="codigo"></input-text>
                <input-text [size]="2" label="Sigla" controlName="sigla"></input-text>
                <input-text [size]="7" label="Nome" controlName="nome"></input-text>
            </div>
            <div class="row">
                <input-search #gestor label="Gestor" [size]="6" [emptyValue]="null" [control]="formGestor!.controls.gestor_id" controlName="gestor_id" [dao]="usuarioDao" labelInfo="Responsável pela unidade"></input-search>
                <input-search #gestorSubstituto label="Gestor Substituto" [size]="6" [emptyValue]="null" [control]="formGestor!.controls.gestor_substituto_id" controlName="gestor_substituto_id" [dao]="usuarioDao" labelInfo="Responsável substituto pela unidade"></input-search>
            </div>
            <div class="row">
                <input-search #cidade [size]="4" controlName="cidade_id" [dao]="cidadeDao"></input-search>
                <input-search #unidade_pai [size]="4" [label]="lex.translate('Unidade') + ' pai'" controlName="unidade_pai_id" [where]="[['entidade_id', '==', form.controls.entidade_id.value]]" [dao]="dao!"></input-search>
                <input-search #entidade [size]="4" disabled controlName="entidade_id" [dao]="entidadeDao"></input-search>
            </div>
        </tab>
        <tab key="CONFIGURACOES" label="Configurações">
            <div class="row">
                <input-select [size]="4" [label]="'Contagem ' + lex.translate('Prazo de Distribuição')" controlName="distribuicao_forma_contagem_prazos" [items]="lookup.DIA_HORA_CORRIDOS_OU_UTEIS" labelInfo="A forma da contagem dos prazos para a distribuição (lançamento da demanda)."></input-select>
                <input-select [size]="4" [label]="'Contagem ' + lex.translate('Prazo de Entrega')" controlName="entrega_forma_contagem_prazos" [items]="lookup.HORAS_CORRIDAS_OU_UTEIS" labelInfo="A forma da contagem dos prazos na entrega da demanda (data da entrega e tempo despendido)"></input-select>
                <input-radio [size]="4" label="Arquivamento automático" controlName="atividades_arquivamento_automatico" [items]="lookup.SIMNAO" labelInfo="Se após a avaliação, arquivará automaticamente a atividade."></input-radio>
            </div>
            <!--separator title="Expediente">
                <div class="row">
                    <input-switch [size]="2" label="24hs" controlName="expediente24" [control]="form!.controls.expediente24" (change)="onExpediente24Change($event)" labelInfo="Se o expediente é de 24hs ou é um perído, se for período será informado início e fim"></input-switch>
                    <input-datetime time [size]="4" label="Início" [disabled]="is24hrs" controlName="horario_trabalho_inicio" [control]="form!.controls.horario_trabalho_inicio" labelInfo="Horário do início da Jornada de Trabalho"></input-datetime>
                    <input-datetime time [size]="4" label="Final" [disabled]="is24hrs" controlName="horario_trabalho_fim" [control]="form!.controls.horario_trabalho_fim" labelInfo="Horário do Final da Jornada de Trabalho"></input-datetime>
                    <input-datetime time noIcon [size]="2" label="Dur. Intervalo" controlName="horario_trabalho_intervalo" [control]="form!.controls.horario_trabalho_intervalo" labelInfo="Duração do intervalo realizado dentro da jornada de trabalho (quantidade de horas, ex.: horário de almoço de duas horas será 02:00). Para fins de computo de jornada de trabalho na ausência do plano de trabalho."></input-datetime>
                </div>
            </separator//-->
            <separator></separator>
            <div clss="row">
                <input-multiselect label="Etiquetas" multiselectStyle="inline" [maxItemWidth]="250" controlName="etiquetas" [size]="12" [addItemHandle]="addItemHandle.bind(this)">
                    <input-text [size]="6" label="Texto" controlName="etiqueta_texto"></input-text>
                    <input-select [size]="3" label="Ícone" controlName="etiqueta_icone" [items]="lookup.ICONES"></input-select>
                    <input-color [size]="3" label="Cor" controlName="etiqueta_cor"></input-color>
                </input-multiselect>
            </div>
            <separator></separator>
            <div class="row">
                <input-editor [label]="'Texto complementar ' + lex.translate('Plano de Trabalho')" controlName="texto_complementar_plano" [dataset]="planoDataset"></input-editor>
            </div>
        </tab>
        <tab key="EXPEDIENTE" label="Expediente">
            <div class="row">
                <input-switch #usarExpedienteEntidade [label]="'Usar o calendário ' + lex.translate('entidade')" labelPosition="right" icon="bi bi-check2" [size]="12" (change)="onUsarExpedienteEntidadeChange()" controlName="usar_expediente_entidade" labelInfo="Se utiliza o expediente configurado na entidade ao invés de especificar na unidade"></input-switch>
            </div>
            <calendar-expediente #expediente [disabled]="form!.controls.usar_expediente_entidade.value ? 'true' : undefined" [expedienteDisabled]="entity?.entidade?.expediente" [control]="form!.controls.expediente"></calendar-expediente>
        </tab>
        <tab *ngIf="entity" key="NOTIFICACOES" label="Notificações">
            <notificacoes-config #notificacoes [unidadeId]="entity.id.length ? entity!.id : 'ADD'" [entity]="entity!" [disabled]="formDisabled"></notificacoes-config>
            <!--div class="row">
                <div class="col-md-6">
                    <separator transparent title="Meios de notificação"></separator>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar no Petrvs" controlName="enviar_petrvs"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por e-mail" controlName="enviar_email"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por Whatsapp" controlName="enviar_whatsapp"></input-switch>
                </div>
                <div class="col-md-6">
                    <separator transparent title="Tipos de notificação"></separator>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar distribuição ' + lex.translate('demanda')" controlName="notifica_demanda_distribuicao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar conclusão ' + lex.translate('demanda')" controlName="notifica_demanda_conclusao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar avaliação ' + lex.translate('demanda')" controlName="notifica_demanda_avaliacao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar modificação ' + lex.translate('demanda')" controlName="notifica_demanda_modificacao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar comentário ' + lex.translate('demanda')" controlName="notifica_demanda_comentario"></input-switch>
                </div>
            </div>
            <separator transparent [title]="lex.translate('Template',true) + ' das mensagens'"></separator>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na criação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaDistribuicao" controlName="template_demanda_distribuicao" placeholder="Caso em branco, será utilizado a configuração da Entidade..."></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na conclusão ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaConclusao" controlName="template_demanda_conclusao" placeholder="Caso em branco, será utilizado a configuração da Entidade..."></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na avaliação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaAvaliacao" controlName="template_demanda_avaliacao" placeholder="Caso em branco, será utilizado a configuração da Entidade..."></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na modificação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaModificacao" controlName="template_demanda_modificacao" placeholder="Caso em branco, será utilizado a configuração da Entidade..."></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na inclusão de comentário ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaComentario" controlName="template_demanda_comentario" placeholder="Caso em branco, será utilizado a configuração da Entidade..."></input-textarea>
            </div/-->
        </tab>
    </tabs>
</editable-form>
