<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="area_id" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-search [size]="4" controlName="area_id" [dao]="areaDao" (change)="onTituloChange()" required></input-search>
        <input-select [size]="3" label="Titulo" [items]="this.lookup.TITULOS_CURSOS_INST" controlName="titulo" (change)="onTituloChange()" required></input-select>
        <input-select [size]="5" label="Curso" icon="fas fa-user-graduate" controlName="curso_id" liveSearch
        [control]="form!.controls.curso_id" [dao]="cursoDao"  [where]="cursoWhere"
         [addRoute]="{route: ['raiox','cadastros','curso','new']}" required></input-select>
    </div>
    <div class="row">
        <input-text [size]="5" label="Nome da Matéria" controlName="nome" [attr.maxlength]=250 required></input-text>
        <input-number [size]="2" label="Horas Aula" controlName="horas_aula" required></input-number>
        <input-switch [size]="2" labelPosition="left" label="Ativo" controlName="ativo"></input-switch>
    </div>    
</editable-form>
