<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form> (submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-text [size]="9" label="Título" controlName="nome" [control]="form!.controls.nome"></input-text>
        <input-text numbers [size]="3" label="% Ganho produtividade" icon="bi bi-hourglass-split" controlName="ganho_produtividade" [control]="form!.controls.ganho_produtividade" labelInfo="Percentual de ganho de produtividade (Será descontado do tempo pactuado)"></input-text>
    </div>
    <separator transparent title="Configurações do plano">
        <input-switch [size]="12" scale="small" labelPosition="right" label="Calcula tempo despendido" controlName="calcula_tempo_despendido"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" label="Atividades Homologadas" controlName="atividades_homologadas"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" label="Avaliação Dispensável" controlName="dispensa_avaliacao"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" label="Exige assinatura do usuário" controlName="exige_assinatura"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" label="Exige assinatura do gestor da unidade" controlName="exige_assinatura_gestor_unidade"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" label="Exige assinatura do gestor da entidade" controlName="exige_assinatura_gestor_entidade"></input-switch>
    </separator>    
    <!--div class="row">
        <input-radio [size]="3" label="" controlName="" [control]="form!.controls.atividades_homologadas" [items]="lookup.SIMNAO" labelInfo="Se só aceitará atividades homologadas. "></input-radio>
        <input-radio [size]="3" label="" controlName="" [control]="form!.controls.dispensa_avaliacao" [items]="lookup.SIMNAO"></input-radio>
        <input-radio [size]="3" label="" controlName="exige_assinatura" [control]="form!.controls.exige_assinatura" [items]="lookup.SIMNAO" labelInfo="Ser irá exigir a assinatura. "></input-radio>
    </div-->
    <!--INSERIR CAMPO DE DOCUMENTO-->
</editable-form>
