<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="nome" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form> (submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-text [size]="12" label="Título" controlName="nome" [required]="true"></input-text>
    </div>
    <separator transparent [title]="'Configurações ' + lex.translate('plano de trabalho')">
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_calcula_horas" [label]="'Se o ' + lex.translate('plano de trabalho') + ' calcula horas (considerando a carga horária e os dias)'"></input-switch>
    </separator>
    <separator transparent [title]="'Configurações ' + lex.translate('atividade')">
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="atividade_tempo_despendido" [label]="'Calcula ' + lex.translate('tempo despendido') + lex.translate('atividade')"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="atividade_esforco" [label]="'Usa ' + lex.translate('esforço') + ' (tempo para execução)' + lex.translate('atividade')"></input-switch>
    </separator>
</editable-form>
