<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form> (submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-text [size]="12" label="Título" controlName="nome"></input-text>
    </div>
    <separator transparent [title]="'Configurações ' + lex.noun('plano de trabalho', false, true)">
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_participante" [label]="'Exige assinatura ' + lex.noun('usuário', false, true) + lex.noun('plano de trabalho', false, true)"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_gestor_unidade" [label]="'Exige assinatura do gestor ' + lex.noun('unidade',false,true)"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="plano_trabalho_assinatura_gestor_entidade" [label]="'Exige assinatura do gestor ' + lex.noun('entidade',false,true)"></input-switch>
    </separator>
    <separator transparent [title]="'Configurações ' + lex.noun('atividade', false, true)">
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="atividade_tempo_despendido" [label]="'Calcula ' + lex.noun('tempo despendido') + lex.noun('atividade', false, true)"></input-switch>
        <input-switch [size]="12" scale="small" labelPosition="right" controlName="atividade_esforco" [label]="'Usa ' + lex.noun('esforço') + ' (tempo para execução)' + lex.noun('atividade', false, true)"></input-switch>
    </separator>
</editable-form>
