<tabs right [title]="isModal ? '' : title" [select]="onSelectTab.bind(this)">
    <tab key="TABELA" icon="bi bi-table" label="Lista" [template]="lista">
        <ng-template #lista>
            <grid [dao]="dao" [add]="add" [orderBy]="orderBy" [join]="join" [init]="initGrid.bind(this)"
                [selectable]="selectable" (select)="onSelect($event)" 
                [hasAdd]="auth.hasPermissionTo('MOD_PLAN_INST_INCL')"
                [hasEdit]="auth.hasPermissionTo('MOD_PLAN_INST_EDT')">
                <toolbar *ngIf="!selectable"></toolbar>
                <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
                    <div class="row">
                        <input-text [size]="12" [label]="lex.translate('Planejamento Institucional')" controlName="nome"
                            [control]="filter!.controls.nome" [placeholder]="'Nome ' + lex.translate('Planejamento Institucional') + '...'" [attr.maxlength]=250></input-text>
                    </div>
                    <div class="row">
                        <input-switch [size]="2" [label]="'Só da '+ lex.translate('Entidade')" controlName="so_entidade" [control]="filter!.controls.so_entidade" (change)="onSoEntidadeChange($event)"></input-switch>
                        <input-search #unidade [size]="4" [label]="lex.translate('Unidade')" [disabled]="unidade_disabled" [control]="filter!.controls.unidade_id" controlName="unidade_id" [dao]="unidadeDao"></input-search>
                        <input-datetime [size]="3" date label="Início" controlName="data_inicio" [control]="filter!.controls.data_inicio" [labelInfo]="'Data de início do' +lex.translate('Planejamento Institucional')"></input-datetime>
                        <input-datetime [size]="3" date label="Fim" controlName="data_fim" [control]="filter!.controls.data_fim" [labelInfo]="'Data do fim do '+lex.translate('Planejamento Institucional')"></input-datetime>
                    </div>
                </filter>
                <columns>
                    <column *ngIf="!selectable" type="expand" icon="bi bi-bullseye" [align]="'center'" [hint]="lex.translate('Objetivo')" [template]="columnObjetivos" [expandTemplate]="columnExpandedObjetivos">
                        <ng-template let-row="row" #columnObjetivos>
                            <span *ngIf="row.objetivos?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-bullseye"></i> {{row.objetivos?.length}}</span>
                        </ng-template>
                        <ng-template let-row="row" #columnExpandedObjetivos>
                            <planejamento-list-objetivo [entity]="row"></planejamento-list-objetivo>
                        </ng-template>
                    </column>
                    <column title="Nome" orderBy="nome" [template]="columnNome">
                        <ng-template let-row="row" #columnNome>
                            <span class="text-break w-100">{{row.nome}}</span>
                        </ng-template>            
                    </column>
                    <column title="Início" [template]="columnInicio">
                        <ng-template let-row="row" #columnInicio>
                            <span> {{dao!.getDateFormatted(row.data_inicio)}}</span>
                        </ng-template>
                    </column>
                    <column title="Fim" [template]="columnFim">
                        <ng-template let-row="row" #columnFim>
                            <span> {{dao!.getDateFormatted(row.data_fim)}}</span>
                        </ng-template>
                    </column>
                    <column title="Unidade" [template]="columnUnidade">
                        <ng-template let-row="row" #columnUnidade>
                            <span> {{row.unidade?.nome || ""}}</span>
                        </ng-template>
                    </column>
                    <column type="options" [onEdit]="edit" [options]="options"></column>
                </columns>
                <pagination [rows]="rowsLimit"></pagination>
            </grid>
        </ng-template>
    </tab>
    <tab key="MAPA" icon="bi bi-card-heading" label="Mapa" [template]="mapa">
        <ng-template #mapa>
            <planejamento-mapa></planejamento-mapa>
        </ng-template>
    </tab>
    <!--tab key="OKR" icon="bi bi-receipt" label="OKR" [template]="okr">
        <ng-template #okr>
            <planejamento-okr></planejamento-okr>
        </ng-template>
    </tab//-->
</tabs>
