<grid [items]="items" [form]="form!" #gridDocumentos [editable]="disabled ? undefined : 'true'" [selectable]="true" [add]="addDocumento.bind(this)" [load]="loadDocumento.bind(this)" [remove]="removeDocumento.bind(this)" [save]="saveDocumento.bind(this)" [editEnd]="editEndDocumento.bind(this)" [hasAdd]="!disabled" [hasEdit]="canEdit" [hasDelete]="false">
    <side-panel [size]="8" fullSizeOnEdit [noToolbar]="editingId ? 'true' : undefined" [template]="panelDocumento" [editTemplate]="panelDocumentoEdit">
        <ng-template let-row="row" #panelDocumento>
            <h5>{{row?.titulo || "Preview do template"}}</h5>
            <document-preview [html]="row?.conteudo" emptyDocumentMensage="Nenhum documento selecionado"></document-preview>
        </ng-template>
        <ng-template let-row="row" #panelDocumentoEdit>
            <div class="alert alert-primary" role="alert" *ngIf="blocked">
                Este TCR é um compilado dos textos da unidade instituidora, da unidade executora e do participante.
              </div>

            <div class="row">
                <input-text [size]="12" label="Título" [control]="form!.controls.titulo" [attr.maxlength]=250 [disabled]="blocked ? 'true' : undefined"></input-text>
            </div>
            <div>
                <input-editor [size]="12" label="Conteúdo" [control]="form!.controls.conteudo" [canEditTemplate]="canEdit" [template]="form!.controls.template.value" [datasource]="form!.controls.datasource.value" [disabled]="blocked ? 'true' : undefined"></input-editor>
            </div>
        </ng-template>
    </side-panel>
    <columns>
        <column title="#ID/Especie" [template]="documentoTemplate">
            <ng-template let-row="row" let-metadata="metadata" #documentoTemplate>
                <div class="row">
                    <strong>#{{row.numero > 0 ? row.numero : "NOVO"}}<small> • {{util.getDateTimeFormatted(row.created_at)}}</small></strong>
                </div>
                <div class="row">
                    <small>{{row.titulo}}</small>
                </div>
                <div class="row">
                    <div class="col-12 text-wrap">
                        <badge [color]="lookup.getColor(lookup.DOCUMENTO_ESPECIE, row.especie)" icon="bi bi-hash" [label]="lookup.getValue(lookup.DOCUMENTO_ESPECIE, row.especie)"></badge>
                        <badge [color]="lookup.getColor(lookup.DOCUMENTO_STATUS, row.status)" [icon]="lookup.getIcon(lookup.DOCUMENTO_STATUS, row.status)" [label]="lookup.getValue(lookup.DOCUMENTO_STATUS, row.status)"></badge>
                        <badge *ngFor="let tag of extraTags(entity!, row, metadata)" [color]="tag.color" [icon]="tag.icon" [label]="tag.value"></badge>
                        <documentos-badge onlyLink [documento]="row"></documentos-badge>
                        <!--badge *ngIf="row.numero_processo?.length" icon="bi bi-folder-symlink" [click]="documentoService.onProcessoClick.bind(this)" [hint]="documentoService.processoHint(row)">
                            {{row.numero_processo || "Não atribuído"}}<br>
                            <small>Sei nº {{row.numero_documento}}</small>
                        </badge/-->
                        <separator *ngIf="row.assinaturas?.length" title="Assinaturas" small transparent>
                            <profile-picture *ngFor="let assinatura of row.assinaturas" [url]="assinatura.usuario?.url_foto" [hint]="util.apelidoOuNome(assinatura.usuario)"></profile-picture>
                        </separator>
                    </div>
                </div>
            </ng-template>
        </column>
        <column type="options" always [dynamicButtons]="documentoDynamicButtons.bind(this)"></column>
    </columns>
</grid>