<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="entrega_id" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs #tabs display right [title]="!isModal ? title : ''">
        <tab key="ENTREGAS" label="Entregas">
            <div class="row">
                <separator title="Vínculos da Entrega" collapse [collapsed]="false">
                    <div class="row">
                        <input-search #entrega [size]="12" label="Entrega do Catálogo" controlName="entrega_id" [dao]="entregaDao" (change)="onEntregaChange($event)" placeholder="Selecione ou cadastre uma entrega do catálogo usando a lupa" required></input-search>
                    </div>
                    <div class="row">
                        <input-text [size]="12" label="Título/Detalhamento" controlName="descricao" placeholder="Descreva melhor a entrega" [attr.maxlength]=250></input-text>
                    </div>
                    <div class="row">
                        <input-search [size]="12" [label]="lex.translate('Entrega') + ' de ' + lex.translate('plano de entrega')+ ' superior'" controlName="entrega_pai_id" 
                                        [dao]="planoEntregaEntregaDao" [where]="['plano_entrega.unidade_id', 'in', idsUnidadesAscendentes]" [selectRoute]="{route: ['gestao', 'plano-entrega', 'entregaList']}" [metadata]="{'idsUnidadesAscendentes': idsUnidadesAscendentes}"></input-search>
                    </div>
                </separator>
                <separator title="Especificações da Entrega" collapse [collapsed]="false">
                    <div class="row">
                        <input-datetime date [size]="6" label="Início" controlName="data_inicio" [labelInfo]="'Início ' + lex.translate('Plano de Entregas')" required></input-datetime>
                        <input-datetime date [size]="6" label="Fim" controlName="data_fim" [labelInfo]="'Fim ' + lex.translate('Plano de Entregas') + '(Estimativa Inicial)'" required></input-datetime>
                    </div>
                    <div class="row">
                        <input-search [size]="6" #unidade label="Demandante" controlName="unidade_id" [dao]="unidadeDao" required></input-search>
                        <input-text [size]="6" label="Destinatário" controlName="destinatario" [attr.maxlength]=250></input-text>
                    </div>
                </separator>
                <separator title="Planejamento"></separator>
                <div *ngIf="this.entrega?.selectedEntity" class="row">
                    <plano-entrega-valor-meta-input icon="bi bi-graph-up-arrow" [entrega]="entrega?.selectedEntity" [size]="6" [control]="form!.controls.meta" label="Meta"></plano-entrega-valor-meta-input>
                    <plano-entrega-valor-meta-input icon="bi bi-check-lg" [entrega]="entrega?.selectedEntity" [size]="6" [control]="form!.controls.realizado" label="Realizado" [change]="onRealizadoChange.bind(this)"></plano-entrega-valor-meta-input>
                    <!--input-number *ngIf="checkTipoIndicador(['PORCENTAGEM'])" [size]="6" icon="bi bi-graph-up-arrow" label="Meta" controlName="meta" sufix="%" required></input-number>
                    <input-number *ngIf="checkTipoIndicador(['QUANTIDADE', 'VALOR'])" [size]="6" icon="bi bi-graph-up-arrow" label="Meta" controlName="meta"></input-number>
                    <input-select *ngIf="checkTipoIndicador(['QUALITATIVO'])" [size]="6" icon="bi bi-graph-up-arrow" label="Meta" controlName="meta" [items]="itensQualitativo"></input-select>
                    <input-number *ngIf="checkTipoIndicador(['PORCENTAGEM'])" [size]="6" icon="bi bi-check-lg" label="Já Realizado" (change)="onRealizadoChange($event)" controlName="realizado" sufix="%"></input-number>
                    <input-number *ngIf="checkTipoIndicador(['QUANTIDADE', 'VALOR'])" [size]="6" icon="bi bi-check-lg" label="Já Realizado" (change)="onRealizadoChange($event)" controlName="realizado" required></input-number>
                    <input-select *ngIf="checkTipoIndicador(['QUALITATIVO'])" [size]="6" icon="bi bi-check-lg" label="Já Realizado" (change)="onRealizadoChange($event)" controlName="realizado" [items]="itensQualitativo"></input-select//-->
                </div>
                <div class="row">
                    <input-number [size]="6" [decimals]="2" label="Progresso Esperado" controlName="progresso_esperado" sufix="%"></input-number>
                    <input-number [size]="6" [decimals]="2" label="Progresso Realizado" [stepValue]="0.01" controlName="progresso_realizado" sufix="%" disabled></input-number>
                </div>
            </div>
        </tab>
        <tab *ngIf="planejamentoId?.length" key="OBJETIVOS" label="Objetivos">
            <input-search [size]="12" #planejamento controlName="planejamento_id" [dao]="planejamentoDao" disabled></input-search>
            <grid [control]="form!.controls.objetivos" [form]="formObjetivos" #gridObjetivos editable [orderBy]="orderBy" 
                [hasDelete]="true" [hasEdit]="true" [add]="addObjetivo.bind(this)" [remove]="removeObjetivo.bind(this)" [save]="saveObjetivo.bind(this)">
                <columns>
                    <column [titleTemplate]="titleObjetivo" [template]="columnObjetivo" [editTemplate]="editObjetivo">
                        <ng-template let-header="header" #titleObjetivo>
                            <order by="objetivo.nome" [header]="header">Objetivos</order>
                        </ng-template>
                        <ng-template let-row="row" #columnObjetivo>
                            <span>{{row.objetivo?.nome}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editObjetivo>
                            <input-search [size]="12" #inputObjetivo label icon controlName="planejamento_objetivo_id" label icon [where]="[['planejamento_id', '==', planejamentoId]]" [dao]="planejamentoObjetivoDao" [selectRoute]="{route: ['gestao', 'planejamento', 'objetivoList'], params: {filter: {planejamento_id: planejamentoId}}}"></input-search>
                        </ng-template>
                    </column>
                    <column type="options"></column>
                </columns>
            </grid>
        </tab>
        <tab *ngIf="cadeiaValorId?.length" key="PROCESSOS" label="Processos">
            <input-search [size]="12" #cadeiaValor controlName="cadeia_valor_id" [dao]="cadeiaValorDao" disabled></input-search>
            <grid [control]="form!.controls.processos" [form]="formProcessos" #gridProcessos editable [orderBy]="orderBy" [hasDelete]="true" [hasEdit]="true"
                [add]="addProcesso.bind(this)" [remove]="removeProcesso.bind(this)" [save]="saveProcesso.bind(this)">
                <columns>
                    <column [titleTemplate]="titleProcessos" [template]="processo" [editTemplate]="editProcesso">
                        <ng-template let-header="header" #titleProcessos>
                            <order by="processo.nome" [header]="header">Processos</order>
                        </ng-template>
                        <ng-template let-row="row" #processo>
                            <span>{{row.processo?.nome}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editProcesso>
                            <input-search [size]="12" #inputProcesso label icon controlName="cadeia_processo_id" label [where]="[['cadeia_valor_id', '==', cadeiaValorId]]" [dao]="cadeiaValorProcessoDao"[selectRoute]="{route: ['gestao', 'cadeia-valor', 'processoList'], params: {filter: {cadeia_valor_id: cadeiaValorId}}}"></input-search>
                        </ng-template>
                    </column>
                    <column type="options" [dynamicButtons]="dynamicButtonsProcessos.bind(this)"></column>
                </columns>
            </grid>
        </tab>
    </tabs>
</editable-form>