/* Estilo base */

.form-group {
  margin-bottom: 20px;
}

.form-panel-login {
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(-20px); /* Posição inicial */
  animation: slideIn 0.6s ease-out forwards; /* Animação de deslizamento */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Começa de cima */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */
  transition: all 0.3s ease-in-out;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #0056b3;
}


.btn-full {
  width: 100%;
}

.login-logo {
  height: 150px;
}

.logos {
  position: absolute;
  z-index: 2;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: inherit;
  width: 100%;
  bottom: 0;
  right: 0;
  img {
    max-height: 50px;
  }
}

.logo-pgd {
  max-height: 50px;
  margin-right: 10px;
}

.logo-petrvs {
  max-height: 50px;
}
