/* Estilo base */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}

/* Mídia queries para tornar o formulário responsivo */
@media (max-width: 768px) {
  .login-content {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .login-content {
    padding: 10px;
  }
}
