/* Estilo base */

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}


.btn-full {
  width: 100%;
}

.login-logo {
  height: 150px;
}

.logos {
  position: absolute;
  z-index: 2;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: inherit;
  width: 100%;
  bottom: 0;
  right: 0;
  img {
    max-height: 50px;
  }
}

.logo-pgd {
  max-height: 50px;
  margin-right: 10px;
}

.logo-petrvs {
  max-height: 50px;
}
