<tabs display right>
    <tab key="BIG5" class="fw-bold" label="Big-Five">
        <div class="my-3" id="b5exp">
            <p class="text-justify fw-bold" id="pb5exp">
                Você quer se conhecer melhor? Este teste de personalidade irá ajudá-lo a compreender as formas de
                seu comportamento e os motivos de suas ações. Ao final do teste você poderá optar se deseja torná-lo
                público ou não.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card text-center mt-5">
                    <div class="card-header">
                        <label>
                            <img [src]="bigico" id="imgBigIco" class="card-img-top me-2" alt="...">Para prosseguir é
                            necessário responder a pergunta</label>
                    </div>
                    <div class="card-body">
                        <div class="row my-2 ">
                            <div class="col-lg-12">
                                <label class="label mb-3" for="escolheRelatorioIFR">1. Eu sou a alma da
                                    festa.</label><br>
                                <div class="btn-group d-grid justify-content-md-center ">
                                    <div class="col-12 mb-1">
                                        <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR"
                                            id="dataIF" autocomplete="off" value="dataIF" checked>
                                        <label class="btn btn-outline-primary mb-1 w-100 text-center" for="dataIF">Muito
                                            Inadequado</label>
                                    </div>

                                    <div class="col-12 mb-1">
                                        <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR"
                                            id="mesAno" autocomplete="off" value="mesAno">
                                        <label class="btn btn-outline-primary mb-1 w-100 text-center"
                                            for="mesAno">Relativamente
                                            Inadequado</label>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR"
                                            id="total" autocomplete="off" value="total">
                                        <label class="btn btn-outline-primary mb-1 w-100 text-center" for="total">Nem
                                            Adequado, Nem
                                            Inadequado</label>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR"
                                            id="mesAno" autocomplete="off" value="mesAno">
                                        <label class="btn btn-outline-primary mb-1 w-100 text-center"
                                            for="mesAno">Relativamente
                                            Adequado</label>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR"
                                            id="total" autocomplete="off" value="total">
                                        <label class="btn btn-outline-primary mb-1 w-100 text-center" for="total">Muito
                                            Adequado</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"><!-- text-center-->
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" id="btnv" (click)="voltarb5()"
                                        disabled>Voltar</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" id="btne" (click)="resposta()"
                                        disabled>Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card text-center mt-5">
            <div class="card-header">
                <label>
                    <img [src]="bigico" id="imgBigIco" class="card-img-top me-2" alt="...">Para prosseguir é
                    necessário responder a pergunta</label>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-lg-12">
                        <label class="label mb-3" for="escolheRelatorioIFR">1. Eu sou a alma da
                            festa.</label><br>
                        <div class="btn-group d-flex flex-wrap">
                            <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR" id="dataIF"
                                autocomplete="off" value="dataIF" checked>
                            <label class="btn btn-outline-primary btnRadio" for="dataIF">Muito
                                Inadequado</label>

                            <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR" id="mesAno"
                                autocomplete="off" value="mesAno">
                            <label class="btn btn-outline-primary mx-2 btnRadio" for="mesAno">Relativamente
                                Inadequado</label>

                            <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR" id="total"
                                autocomplete="off" value="total">
                            <label class="btn btn-outline-primary btnRadio" for="total">Nem Adequado, Nem
                                Inadequado</label>

                            <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR" id="mesAno"
                                autocomplete="off" value="mesAno">
                            <label class="btn btn-outline-primary mx-2 btnRadio" for="mesAno">Relativamente
                                Adequado</label>

                            <input type="radio" class="btn-check btnRadio" name="escolheRelatorioIFR" id="total"
                                autocomplete="off" value="total">
                            <label class="btn btn-outline-primary btnRadio" for="total">Muito Adequado</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer"><!-- text-center-->
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" id="btnv" (click)="voltarb5()"
                                disabled>Voltar</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" id="btne" (click)="resposta()"
                                disabled>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </tab>
    <tab key="DISC" class="fw-bold" label="Disc">
    </tab>
    <tab key="PERMA" class="fw-bold" label="Método PERMA">
        <div class="row justify-content-center">
            <div class="col-md-7">

                <div class="card mt-5">
                    <div class="card-header hperma">
                        <label>1. Em geral, até que ponto você se sente satisfeito?</label>
                    </div>
                    <div class="card-body-perma">

                        <div class="range-wrap divSlidePerma w-100 box">
                            <!--<div class="range-value" id="rangeV"></div>-->
                            <label class="me-2 lperma" name="lblPerma" id="lblPerma">0</label>
                            <input class="ms-2 rperma" id="rangePerma" name="rangePerma" type="range" min="0" max="10"
                                value="0" step="1" (change)="onChangePerma()">
                        </div>

                    </div>
                    <div class="card-footer fperma"><!-- text-center-->
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btnpermav" id="btnv" (click)="voltarb5()"
                                disabled>Voltar</button>
                            <button type="button" class="btn btnpermap" id="btne" (click)="resposta()"
                                disabled>Próximo</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </tab>
    <tab key="SRQ19" class="fw-bold" label="SRQ-19">

    </tab>
    <tab key="SOFTSKILLS" class="fw-bold" label="Soft-Skills">



        <!--COmunicação , Liderança, Resolução de Problemas, Criatividade e Curiosidade Pensamento Crítico, habilidade com pessoas e equipes, Adapyabilidad e e Resiliência -->
        <h4 class="my-5">Competências Gerenciais, distribua 20 pontos entre as habilidades abaixo: </h4>
        <div class="row justify-content-between g-4">
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="comunica" id="imgComunica" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Comunicação</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" name="comunica" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="lideranca" id="imgLideranca" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Liderança</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="resolucao" id="imgResolucao" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Resolução de Problemas</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="criatividade" id="imgCriatividade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Criatividade e Curiosidade</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between g-4 mt-3">
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="pensamento" id="imgPensamento" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pensamento Crítico</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="habilidade" id="imgHabilidade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Habilidade com Pessoas e Equipes</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="adaptabilidade" id="imgAdaptabilidade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Adaptabilidade e Resiliência</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="etica" id="imgEtica" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ética</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </tab>
</tabs>