<tabs display right>
    <tab key="BIG5" class="fw-bold" label="Big-Five">
        

    </tab>
    <tab key="DISC" class="fw-bold" label="Disc">
    </tab>
    <tab key="PERMA" class="fw-bold" label="Método PERMA">
       
    </tab>
    <tab key="SRQ19" class="fw-bold" label="SRQ-19">

    </tab>
    <tab key="SOFTSKILLS" class="fw-bold" label="Soft-Skills">



        <!--COmunicação , Liderança, Resolução de Problemas, Criatividade e Curiosidade Pensamento Crítico, habilidade com pessoas e equipes, Adapyabilidad e e Resiliência -->
        <h4 class="my-5">Competências Gerenciais, distribua 20 pontos entre as habilidades abaixo: </h4>
        <div class="row justify-content-between g-4">
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="comunica" id="imgComunica" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Comunicação</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" name="comunica" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="lideranca" id="imgLideranca" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Liderança</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="resolucao" id="imgResolucao" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Resolução de Problemas</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="criatividade" id="imgCriatividade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Criatividade e Curiosidade</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between g-4 mt-3">
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="pensamento" id="imgPensamento" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pensamento Crítico</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="habilidade" id="imgHabilidade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Habilidade com Pessoas e Equipes</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="adaptabilidade" id="imgAdaptabilidade" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Adaptabilidade e Resiliência</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img [src]="etica" id="imgEtica" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ética</h5>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <p class="card-text"><input type="number" dir="rtl" class="form-control" value="0" (change)="onChangeValorSoft(this)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </tab>
</tabs>