<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_ENTRG_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_ENTRG_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="8" [label]="lex.translate('Entrega')" controlName="nome" [control]="filter!.controls.nome" [placeholder]="'Nome ' + lex.translate('entrega') + '...'" [attr.maxlength]=250></input-text>
            <input-select [size]="4" label="Tipo de indicador" controlName="tipo_indicador" [items]="lookup.TIPO_INDICADOR"></input-select>
        </div>
    </filter>
    <columns>
        <column title="Nome" field="nome" orderBy="nome"></column>
        <column title="Descrição" field="descricao" orderBy="descricao"></column>
        <!--<column title="Unidade" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <badge *ngIf="row.unidade" [icon]="entityService.getIcon('Unidade')" [label]="row.unidade.sigla" color="light" [hint]="row.unidade.nome"></badge>
            </ng-template>
        </column>-->
        <column [title]="lex.translate('Tipo do indicador')" type="select" field="tipo_indicador" [items]="lookup.TIPO_INDICADOR"></column>
        <column title="Qualitativos" [template]="columnQualitativos">
            <ng-template let-row="row" #columnQualitativos>
                <div class="one-per-line">
                    <badge *ngFor="let qualitativo of row.lista_qualitativos" color="light" icon="bi bi-check2-square" [label]="qualitativo.value"></badge>
                </div>                
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
