<grid [items]="items" [form]="form!" [hasDelete]="true"  editable>
    <columns>
        <column title="Nível" [template]="nivel" type="template">
            <ng-template let-row="row" let-metadata="metadata" #nivel>
                <small class="d-block">{{getSequencia(metadata, row)}}</small>
            </ng-template>
        </column>
        <column title="Processos" [template]="processo" [editTemplate]="editProcesso">
            <ng-template let-row="row" let-metadata="metadata" #processo>
                <strong class="d-block" [style.margin-left.px]="getNivelSequencia(metadata)">{{row.nome || ""}}</strong>
            </ng-template>
            <ng-template let-row="row" #editProcesso>
                <input-text [size]="6" controlName="nome" [control]="form!.controls.nome"></input-text>
            </ng-template>
        </column>
    </columns>
</grid>