.document-preview-paper {
    display: block;
    width: 100%;
    min-height: 300px;
}

.document-preview-margin {

}

.document-preview-no-document {
    padding-top: 100px;
    display: block;
    width: 100%;
    text-align: center;
    display: inline;
    min-height: 300px;
}