.document-preview-paper {
    display: block;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    min-height: 300px;
}

.document-preview-margin {
    margin: 10px;
}

.document-preview-no-document {
    padding-top: 100px;
    display: block;
    width: 100%;
    text-align: center;
    display: inline;
    min-height: 300px;
}