<h3 *ngIf="isModal" class="my-2">{{ title }}</h3>

<grid
  [dao]="dao"
  [add]="add"
  [orderBy]="orderBy"
  [groupBy]="groupBy"
  [join]="join"
  [selectable]="selectable"
  (select)="onSelect($event)"
  [hasAdd]="false"
  [hasEdit]="auth.hasPermissionTo('MOD_UND_EDT')"
>
  <toolbar *ngIf="!selectable" [buttons]="buttons"></toolbar>

  <filter
    [deleted]="auth.hasPermissionTo('MOD_AUDIT_DEL')"
    [form]="filter"
    [where]="filterWhere"
    [submit]="filterSubmit.bind(this)"
    [clear]="filterClear.bind(this)"
    [collapseChange]="filterCollapseChange.bind(this)"
    [collapsed]="!selectable && filterCollapsed"
  >
    <div class="row">      
      <input-text
        [size]="10"
        label="Nome"
        controlName="nome"
        [control]="filter!.controls.nome"
        placeholder="Nome ou sigla..."
        [attr.maxlength]="250"
      ></input-text>

      <input-switch
        #instituidora
        [size]="1"
        label="Instit."
        labelClass="text-nowrap"
        controlName="instituidora"
        [control]="filter!.controls.instituidora"
        [labelInfo]="'Se lista SOMENTE as ' + lex.translate('unidades') + ' instituidoras de ' + lex.translate('programas')"
      ></input-switch>

      <input-switch
        [size]="1"
        label="Inativos"
        controlName="inativos"
        [control]="filter!.controls.inativos"
        [labelInfo]="labelInfoInativas"
      ></input-switch>
    </div>
  </filter>

  <columns>
    <column title="Sigla" field="sigla" orderBy="sigla"></column>

    <column title="Nome" [template]="columnNome" orderBy="nome">
      <ng-template let-row="row" #columnNome>
        <span class="d-block">{{ row.nome }}</span>
        <span *ngIf="row.unidade" class="badge bg-light text-dark">
          <i class="bi bi-arrow-return-right"></i>
          {{ row.unidade.sigla }}
        </span>
      </ng-template>
    </column>

    <column title="Código" field="codigo"></column>

    <column [title]="lex.translate('Cidade')" [template]="columnCidade">
      <ng-template let-row="row" #columnCidade>
        <span>{{ (row.cidade?.nome || '') + '/' + (row.cidade?.uf || '') }}</span>
      </ng-template>
    </column>

    <column title="Situação" [template]="columnSituacao">
      <ng-template let-row="row" #columnSituacao>
        
        <div class="">
          <badge hint="Instituidora" *ngIf="row.instituidora" color="primary" icon="bi bi-star" ></badge>
          <badge [hint]="!row.data_inativacao ? 'Ativo' : 'Inativo'" [color]="!row.data_inativacao ? 'success' : 'danger'" [icon]="!row.data_inativacao ? 'bi bi-check-circle' : 'bi bi-x-circle'" ></badge>
          <badge hint="Sem chefia substituta" *ngIf="!temChefeSubstituta(row)" icon="bi bi-exclamation-circle" [color]="'warning'" >
          </badge>
          <badge hint="Sem chefia titular" *ngIf="!temChefeTitular(row)" icon="bi bi-exclamation-triangle-fill" [color]="'danger'"  >
          </badge>
        </div>
      </ng-template>
    </column>

    <column
      type="options"
      [onEdit]="edit"
      [options]="options"
      [dynamicOptions]="dynamicOptions.bind(this)"
    ></column>
  </columns>

  <pagination [rows]="rowsLimit"></pagination>
</grid>
