<editable-form [form]="form!" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right [title]="titleDemanda">
        <tab key="ATIVIDADE" label="Atividade">
            <separator *ngIf="isDemandaProcessual || gb.isEmbedded" transparent bottom>
                <div class="row">
                    <input-button label="Número Processo" [size]="4" #procRequisicao controlName="numero_processo" [control]="form!.controls.numero_processo" [disabled]="!gb.isEmbedded || form!.controls.numero_requisicao.value?.length ? 'true' : undefined" (buttonClick)="onProcessoRequisicaoClick($event)" labelInfo="Número do processo, com a formatação de origem"></input-button>
                    <input-search label="Tipo Processo" [size]="8" #tipoProcesso controlName="tipo_processo_id" [control]="form!.controls.tipo_processo_id" disabled [dao]="tipoProcessoDao" [selectRoute]="{route: ['cadastros', 'tipo-processo']}"></input-search>
                </div>
                <div class="row">
                    <input-button label="Número doc. requisição" [size]="4" #docRequisicao controlName="numero_requisicao" [control]="form!.controls.numero_requisicao" [disabled]="!gb.isEmbedded ? 'true' : undefined" (buttonClick)="onNumeroRequisicaoClick($event)" labelInfo="Numero do documento de requisição, caso seja o Sei é o numero Sei"></input-button>
                    <input-search label="Tipo doc. requisição" [size]="8" #tipoDocumento controlName="tipo_documento_requisicao_id" [control]="form!.controls.tipo_documento_requisicao_id" disabled [dao]="tipoDocumentoDao" [selectRoute]="{route: ['cadastros', 'tipo-documento']}"></input-search>
                </div>
            </separator>
            <div class="row">
                <input-textarea label="Assunto/Resumo" [size]="12" [rows]="2" controlName="assunto" [control]="form!.controls.assunto"></input-textarea>
            </div>
            <div class="row">
                <input-search label="Responsável" [size]="4" [emptyValue]="null" #usuario controlName="usuario_id" [control]="form!.controls.usuario_id" [dao]="usuarioDao" [join]="['planos.tipo_modalidade:id,nome']" [selectRoute]="{route: ['configuracoes', 'usuario']}" labelInfo="Responsável por executar a demanda" (select)="onUsuarioSelect($event)" (change)="onUsuarioChange($event)"></input-search>
                <input-select label="Plano de trabalho" [size]="4" controlName="plano_id" #plano [control]="form!.controls.plano_id" [items]="planos" (change)="onPlanoChange($event)" labelInfo="Plano de trabalho"></input-select>
                <input-search label="Unidade" [size]="4" #unidade controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao" [selectRoute]="{route: ['configuracoes', 'unidade']}" (change)="onUnidadeChange($event)"></input-search>
            </div>
            <div class="row">
                <input-search label="Atividade" #atividade [emptyValue]="null" [size]="8" controlName="atividade_id" [control]="form!.controls.atividade_id" [dao]="atividadeDao" [groupBy]="[{field: 'unidade.sigla', label: 'Unidade'}]" [where]="[['unidade_id', '=', form!.controls.unidade_id.value], ['vinculadas', '=', true]]" [selectRoute]="{route: ['cadastros', 'atividade'], params: {filter: {unidade_id: form!.controls.unidade_id.value}}}" (select)="onAtividadeSelect($event)" (change)="onAtividadeChange($event)" labelInfo="Atividade que será executado pela demanda, não é obrigatório nesse momento."></input-search>
                <input-select label="Complexidade" [size]="4" controlName="fator_complexidade" [control]="form!.controls.fator_complexidade" [items]="complexidades" (change)="onComplexidadeChange($event)" labelInfo="Multiplicador do tempo da atividade"></input-select>
            </div>
            <div class="row">
                <input-datetime noIcon [size]="3" [label]="lex.noun('Data de distribuição')" controlName="data_distribuicao" [control]="form!.controls.data_distribuicao" (change)="onDataDistribuicaoChange($event)" labelInfo="Data de cadastro da demanda"></input-datetime>
                <input-timer [label]="lex.noun('Tempo pactuado')" onlyHours [size]="3" controlName="tempo_pactuado" disabled [control]="form!.controls.tempo_pactuado" labelInfo="Tempo calculado a partir da atividade e utilizando o fator_complexidade"></input-timer>
                <input-datetime noIcon  [size]="3" [label]="lex.noun('Prazo de entrega')" controlName="prazo_entrega" [control]="form!.controls.prazo_entrega" (change)="onPrazoEntregaChange($event)" labelInfo="Data estipulada para entrega da demanda"></input-datetime>
                <input-timer [onlyDays]="prazoEmDias" [onlyHours]="prazoEmHoras" [size]="3" [label]="lex.noun('Tempo planejado')" #planejado controlName="tempo_planejado" [control]="form!.controls.tempo_planejado" (change)="onTempoPlanejadoChange($event)" labelInfo="Diferença entre data_distribuicao e prazo_entrega em horas (úteis ou corridas, configurada na unidade)"></input-timer>
            </div>
        </tab>
        <tab key="ENTREGAS" [label]="lex.noun('Entrega', true)">
            <demanda-list-entrega [control]="form!.controls.entregas" [demanda]="entity" [disabled]="formDisabled"></demanda-list-entrega>
        </tab>
        <tab key="CARACTERIZACAO" label="Caracterização">
            <div class="row">
                <input-multiselect label="Etiquetas" controlName="etiquetas" [size]="8" [control]="form!.controls.etiquetas" [addItemHandle]="addItemHandleEtiquetas.bind(this)">
                    <input-select [size]="12" #etiqueta controlName="etiqueta" [control]="form!.controls.etiqueta" [items]="etiquetas"></input-select>
                </input-multiselect>
                <div class="col-md-4">
                    <grid [control]="form!.controls.checklist" [form]="formChecklist" [hasAdd]="false" [hasDelete]="false" editable>
                        <columns>
                            <column type="switch" title="Check" field="checked"></column>
                            <column type="display" title="Texto" field="texto" [editable]="false"></column>
                            <column type="options"></column>
                        </columns>
                    </grid>
                </div>
            </div>
        </tab>
        <tab key="COMENTARIOS" label="Comentários">
            <div clss="row">
                <comentarios #comentarios origem="DEMANDA" [control]="form!.controls.comentarios"></comentarios>
                <!--grid [control]="form!.controls.comentarios" #comentarios [hasEdit]="false" [hasDelete]="false" [add]="addComentario.bind(this)" [form]="formComentarios" [load]="loadComentario.bind(this)" [save]="saveComentario.bind(this)" editable>
                    <columns>
                        <column title="Comentários" [template]="mensagem" [editTemplate]="mensagemEdit">
                            <ng-template let-row="row" #mensagem>
                                <table class="comentario-table">
                                    <tr>
                                        <td *ngIf="comentario.comentarioLevel(row).length > 0" class="d-none d-md-table-cell" [style.width.px]="comentario.comentarioLevel(row).length * 20">&nbsp;</td>
                                        <td class="comentario-user text-center">
                                            <profile-picture [url]="row.usuario?.url_foto" [hint]="row.usuario?.nome || 'Desconhecido'"></profile-picture><br>
                                            <ng-container *ngFor="let dot of comentario.comentarioLevel(row)">
                                                <span class="comentario-level">•</span><br>
                                            </ng-container>
                                        </td>
                                        <td class="comentario-container">
                                            <span class="comentario-user-indicator"></span>
                                            <h6 class="comentario-message-title">
                                                {{row.usuario?.nome || "Desconhecido"}}
                                                <span>{{lookup.getValue(lookup.COMENTARIO_TIPO, row.tipo)}}</span>
                                                <span>{{lookup.getValue(lookup.COMENTARIO_PRIVACIDADE, row.privacidade)}}</span>
                                                <span>{{util.getDateTimeFormatted(row.data_hora)}}</span>
                                            </h6>
                                            <p class="fw-light">{{row.texto}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </ng-template>
                            <ng-template #mensagemEdit>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input-textarea [size]="12" [rows]="3" label="Mensagem" icon="bi bi-textarea-t" controlName="texto" [control]="formComentarios!.controls.texto"></input-textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <input-select [size]="12" label="Tipo" icon="bi bi-braces" controlName="tipo" [control]="formComentarios!.controls.tipo" [items]="comentarioTipos"></input-select>
                                        </div>
                                        <div class="row">
                                            <input-select [size]="12" label="privacidade" icon="bi bi-incognito" controlName="privacidade" [control]="formComentarios!.controls.privacidade" [items]="lookup.COMENTARIO_PRIVACIDADE"></input-select>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </column>
                        <column type="options" [dynamicOptions]="comentarioDynamicOptions.bind(this)"></column>
                    </columns>
                </grid//-->
            </div>
        </tab>
        <tab key="COMPLEMENTARES" label="Complementares">
            <div class="row">
                <input-text numbers label="ID processo" [size]="3" controlName="id_processo" [control]="form!.controls.id_processo" disabled labelInfo="ID do processo, caso seja Sei será o ID do procedimento"></input-text>
                <input-text numbers label="ID requisição" [size]="3" controlName="id_requisicao" [control]="form!.controls.id_requisicao" disabled labelInfo="ID da requisição do sistema integrado, caso seja o Sei será o ID_Documento"></input-text>
                <input-text numbers label="ID proc. entrega" [size]="3" controlName="id_processo_entrega" [control]="form!.controls.id_processo_entrega" disabled labelInfo="ID do processo de entrega, caso seja Sei será o ID do procedimento"></input-text>
                <input-text numbers label="ID doc. entrega" [size]="3" controlName="id_documento_entrega" [control]="form!.controls.id_documento_entrega" disabled labelInfo="ID da entrega, caso seja o Sei será o ID_Documento"></input-text>
            </div>
            <div class="row">
                <input-search label="Demandante" [size]="10" controlName="demandante_id" [control]="form!.controls.demandante_id" [dao]="usuarioDao" disabled></input-search>
                <input-switch label="Recalculável" [size]="2" controlName="recalcula_prazo" [control]="form!.controls.recalcula_prazo" labelInfo="Recalcula data de entrega baseado nos dias planejado"></input-switch>
            </div>
            <div clss="row">
                <div class="card col-md-4 mt-4">
                    <h5 class="card-header">
                        <i class="bi bi-pause-circle"></i>
                        Suspensões/Pausas
                    </h5>
                    <div class="card-body">
                        <grid [control]="form!.controls.pausas" #pausas [hasEdit]="false" [hasDelete]="false" [minHeight]="0" disabled>
                            <columns>
                                <column title="Início" type="datetime" field="data_inicio"></column>
                                <column title="Fim" type="datetime" field="data_fim"></column>
                            </columns>
                        </grid>
                    </div>
                </div>
            </div>
        </tab>
        <tab *ngIf="!!form.controls.data_entrega.value" key="CONCLUSAO" label="Conclusão">
            <div class="row">
                <input-datetime noIcon [size]="4" label="Inicio" controlName="data_inicio" [control]="form!.controls.data_inicio" disabled labelInfo="Data em que o usuário iniciou a atividade"></input-datetime>
                <input-datetime noIcon [size]="4" label="Entrega" controlName="data_entrega" [control]="form!.controls.data_entrega" disabled labelInfo="Data estipulada para entrega da demanda"></input-datetime>
                <input-timer [size]="4" label="Tempo despendido" controlName="tempo_despendido" [control]="form!.controls.tempo_despendido" disabled labelInfo="Calculado no fim da demanda, sendo o tempo líquido (considerando pausas)"></input-timer>
            </div>
            <div class="row">
                <input-select label="Tipo entrega" [size]="3" controlName="tipo_documento_entrega_id" [control]="form!.controls.tipo_documento_entrega_id" disabled [dao]="tipoDocumentoDao"></input-select>
                <input-button numbers label="Número" [size]="3" controlName="numero_documento_entrega" [control]="form!.controls.numero_documento_entrega" disabled iconButton="bi-cloud-download" labelInfo="Numero do documento de entrega, caso seja o Sei é o numero Sei"></input-button>
                <input-text [size]="6" label="Título" controlName="titulo_documento_entrega" [control]="form!.controls.titulo_documento_entrega" disabled labelInfo="Título do documento de entrega"></input-text>
            </div>
            <separator></separator>
            <div class="row">
                <input-timer label="Tempo homologado" [size]="4" controlName="tempo_homologado" [control]="form!.controls.tempo_homologado" disabled labelInfo="Caso a avaliação seja positiva ou tenha sido concluido e o plano de trabalho não requer avaliação será igual ao tempo pactuado"></input-timer>
                <input-text label="Produtividade" sufix="%" [size]="4" controlName="produtividade" [control]="form!.controls.produtividade" disabled labelInfo="Diferença entre o tempo pactuado e o despendido"></input-text>
                <input-datetime [size]="4" label="Data de arquivamento" controlName="data_arquivamento" [control]="form!.controls.data_inicio" disabled labelInfo="Data de arquivamento da demanda"></input-datetime>
            </div>
            <separator *ngIf="form.controls.avaliacao_id.value" title="Avaliação">
                dados da avaliação
            </separator>
        </tab>
    </tabs>
</editable-form>
