<p class="text-secondary">Você está acessando o módulo de Gestão.</p>

<div class="row mt-5">
  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Planos de trabalho"
      imgIcon="../../../../assets/icons/home/negociate.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/plano-trabalho']}"
      [metadata]="{ metadata: {minha_unidade: true}}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Entregas da minha unidade"
      imgIcon="../../../../assets/icons/home/service.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['execucao/plano-entrega']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Trabalho da minha equipe"
      imgIcon="../../../../assets/icons/home/team.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/atividade']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      title="Avaliar consolidados"
      imgIcon="../../../../assets/icons/home/ranking.svg"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['avaliacao/plano-trabalho/consolidacao/avaliacao']}"
    ></app-button-dashboard>
  </div>

</div>
