<p class="text-secondary">Você está acessando o módulo de Gestão. Matrícula: {{auth.usuario?.matricula}}</p>

<div class="row mt-5">
  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      [title]="'Planos de trabalho'"
      [imgIcon]="gb.getResourcePath('assets/icons/home/negociate.svg')"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/plano-trabalho']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      [title]="'Planos de entregas'"
      [imgIcon]="gb.getResourcePath('assets/icons/home/service.svg')"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['execucao/plano-entrega']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      [title]="lex.translate('Consolidações')"
      [imgIcon]="gb.getResourcePath('assets/icons/home/team.svg')"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['gestao/plano-trabalho/consolidacao']}"
    ></app-button-dashboard>
  </div>

  <div class="col-6 col-sm-3 mb-3">
    <app-button-dashboard
      [title]="'Avaliações de ' + lex.translate('consolidações')"
      [imgIcon]="gb.getResourcePath('assets/icons/home/ranking.svg')"
      textColor="#1369f0"
      borderColor="#1369f0"
      [route]="{route: ['avaliacao/plano-trabalho/consolidacao/avaliacao']}"
    ></app-button-dashboard>
  </div>

</div>
