<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="tipo" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-select [size]="4" label="Tipo" icon="bi bi-intersect" controlName="tipo" [items]="lookup.MATERIAL_SERVICO_TIPO"></input-select>
        <input-text [size]="4" label="Código" icon="bi bi-upc-scan" controlName="codigo"></input-text>
        <input-text [size]="4" label="Referência" icon="bi bi-qr-code" controlName="referencia"></input-text>
    </div>
    <div class="row">
        <input-text [size]="8" label="Descricao" controlName="descricao" required></input-text>
        <input-select [size]="4" label="Unidade" icon="bi bi-rulers" controlName="unidade_medida" [items]="lookup.MATERIAL_SERVICO_UNIDADE"></input-select>
    </div>
</editable-form>
