<div [id]="grid?.getId(index.toString()) + '_title'" *ngIf="column.title?.length || column.icon?.length" class="grid-header" [class.text-center]="isAlign('center')" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="column.hint" [class.text-end]="isAlign('right')" [attr.role]="column.orderBy.length ? 'button' : undefined" (click)="onOrderClick($event)">
    <i *ngIf="column.icon?.length" [class]="column.icon"></i>
    <i *ngIf="column.orderBy?.length" [class]="orderClass"></i>
    <strong *ngIf="bold">{{column.title}}</strong>
    <span *ngIf="!bold">{{column.title}}</span>
    <i *ngIf="column.titleHint?.length" class="bi bi-info-circle label-info text-muted ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{column.titleHint}}"></i>
</div>
<div *ngIf="column.titleTemplate" [id]="grid?.getId(index.toString()) + '_template'">
    <i *ngIf="column.orderBy?.length" [class]="orderClass"></i>
    <ng-container [ngTemplateOutlet]="column.titleTemplate" [ngTemplateOutletContext]="{header: this}"></ng-container>
</div>
<div *ngIf="!grid?.isDisabled && grid?.isEditableGridOptions(column)" class="w-100 text-end">
    <button type="button" [id]="grid?.getId(index.toString()) + '_add_button'" class="btn btn-outline-primary" (click)="onAddClick()" [disabled]="grid?.editing">
        <i class="bi bi-plus-circle"></i>
    </button>
</div>