<div class="row">
  <div [ngClass]="listagem ? 'col-12' : 'col-4'">
    <grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
      [selectable]="selectable" (select)="onTemplateSelect($event)"
      [hasAdd]="auth.hasPermissionTo('MOD_TEMP_INCL')"
      [hasEdit]="auth.hasPermissionTo('MOD_TEMP_EDT')">
      <toolbar *ngIf="!selectable"></toolbar>
      <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
          <input-select [size]="12" label="Espécie" controlName="especie" [items]="lookup.TEMPLATE_ESPECIE"></input-select>
        </div>
        <div class="row">
            <input-text [size]="12" label="Título" controlName="titulo" [control]="filter!.controls.titulo" placeholder="Título ..." [attr.maxlength]=250></input-text>
        </div>
      </filter>
      <columns>
        <column title="Template" [template]="columnTemplate">
          <ng-template let-row="row" #columnTemplate>
            <small>{{row.titulo}}</small><br>
            <badge icon="bi bi-hash" [label]="row.numero"></badge>
            <badge [icon]="lookup.getIcon(lookup.TEMPLATE_ESPECIE, row.especie)" [label]="lookup.getValue(lookup.TEMPLATE_ESPECIE, row.especie)" [color]="lookup.getColor(lookup.TEMPLATE_ESPECIE, row.especie)"></badge>
          </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
      </columns>
      <pagination [rows]="rowsLimit"></pagination>
    </grid>
  </div>
  <div [ngClass]="listagem ? 'd-none' : 'col-8'">
    <editable-form *ngIf="selected; else noSelected" noButtons [disabled]="true" [form]="form!">
      <div class="row">
        <input-text [size]="12" label="Título" [control]="form!.controls.titulo" [attr.maxlength]=250></input-text>
      </div>
      <div>
        <input-editor [size]="12" label="Pre-view do template" [control]="form!.controls.conteudo"></input-editor>
      </div>
    </editable-form>
    <ng-template #noSelected>
      <div class="block w-100 text-center">
        Nenhum template selecionado
      </div>
    </ng-template>
  </div>
</div>
<toolbar *ngIf="selectable" [buttons]="selectButtons"></toolbar>
