<grid [items]="items" [form]="form!" #gridEntregas editable [selectable]="false" [minHeight]="minHeight" 
    [add]="addEntrega.bind(this)" [remove]="removeEntrega.bind(this)" [minHeight]="0"
    [hasDelete]="false" [hasEdit]="false" [hasAdd]="!disabled" [join]="join" [groupBy]="groupBy">
    <columns>
        <column [titleTemplate]="titleOrigem" [template]="columnOrigem" [verticalAlign]="'middle'" [width]="125" [align]="'center'">
            <ng-template let-header="header" #titleOrigem><div class="text-center"><span><strong>Origem</strong></span></div></ng-template>
            <ng-template let-row="row" #columnOrigem>
                <span><small>
                    <badge *ngIf="row.entrega_plano_entrega?.plano_entrega_id == entity?.plano_entrega_id" color="success" label="Mesma Unidade"></badge>
                    <badge *ngIf="row.entrega_plano_entrega?.plano_entrega_id != entity?.plano_entrega_id && row.plano_entrega_entrega_id?.length" color="primary" label="Outra Unidade"></badge>
                    <badge *ngIf="!row.plano_entrega_entrega_id?.length && row.entrega_id" color="secondary" label="Externa"></badge>
                </small></span>
            </ng-template>
        </column>
        <column [titleTemplate]="titleNome" [template]="columnNome" [verticalAlign]="'middle'">
            <ng-template let-header="header" #titleNome><span><strong>Entrega</strong></span></ng-template>
            <ng-template let-row="row" #columnNome>
                <div [style.max-width]="300"><span><small>{{ row.entrega_plano_entrega?.entrega?.nome || row.entrega?.nome || "Desconhecido" }}</small></span></div>
            </ng-template>
        </column>
        <column [titleTemplate]="titleForcaTrabalho" [template]="columnForcaTrabalho" [width]="110" [align]="'center'">
            <ng-template let-header="header" #titleForcaTrabalho>
                <div class="text-center">
                    <span><small><strong>% Força Trab.</strong></small></span><br>
                    <span><small><badge icon="bi bi-calculator" [color]="totalForcaTrabalho == 100 ? 'success' : totalForcaTrabalho < 100 ? 'warning' : 'danger'" [label]="totalForcaTrabalho + '%'"></badge></small></span>    
                </div>
            </ng-template>
            <ng-template let-row="row" #columnForcaTrabalho>
                <span><small>{{ row.forca_trabalho + '%' }}</small></span>
            </ng-template>
        </column>
        <column [titleTemplate]="titleDescricao" [template]="columnDescricao" [verticalAlign]="'middle'">
            <ng-template let-header="header" #titleDescricao><div class="text-center"><span><strong>Detalhamento</strong></span></div></ng-template>
            <ng-template let-row="row" #columnDescricao>
                <div [style.max-width]="300"><span><small>{{ row.descricao }}</small></span></div>
            </ng-template>
        </column>
        <column type="options" [dynamicButtons]="dynamicButtons.bind(this)" [dynamicOptions]="dynamicOptions.bind(this)"></column>
    </columns>
</grid>
