<editable-form [form]="form!" [disabled]="formDisabled" [noButtons]="isTermos ? 'true' : undefined" initialFocus="plano_entrega_id" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
  <tabs #tabs display right [hidden]="isTermos ? 'true' : undefined" [title]="!isModal ? title : ''" [select]="onTabSelect.bind(this)">
    <tab key="DADOS" label="Dados">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <!-- (RI_PTR_1) No formulário de inclusão/edição de um plano de trabalho, o input-search de unidade, programa e usuario devem ficar desabilitados nas edições e habilitado apenas nas inclusões; -->
            <input-search #usuario [size]="4" required [disabled]="action == 'new' ? undefined : 'true'" controlName="usuario_id" [dao]="usuarioDao" [join]="['afastamentos','lotacao','unidades','areas_trabalho.atribuicoes']" (select)="onUsuarioSelect($event)"></input-search>
            <input-select #unidade [size]="4" required [disabled]="action == 'new' ? undefined : 'true'" controlName="unidade_id" nullable [items]="usuarioUnidades" [value]="undefined" [label]="lex.translate('Unidade')"  (change)="onUnidadeSelect()"></input-select>
            <input-select #programa [size]="4" [label]="lex.translate('Programa de gestão')" icon="bi bi-file-bar-graph" required controlName="programa_id" (change)="onProgramaSelect()"></input-select>
          </div>
          <div class="row">
            <input-datetime date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="data_inicio" [control]="form!.controls.data_inicio" (change)="onDataInicioChange($event)" [labelInfo]="'Início da Vigência do '+ lex.translate('Plano de trabalho')" required></input-datetime>
            <input-datetime date [size]="3" label="Final" icon="bi bi-calendar-date" controlName="data_fim" [control]="form!.controls.data_fim" (change)="onDataFimChange($event)" [labelInfo]="'Final da Vigência do ' +lex.translate('Plano de trabalho')" required></input-datetime>
            <input-select #tipoModalidade [size]="6" controlName="tipo_modalidade_id" [label]="lex.translate('Modalidade')" [items]="tipoModalidadeItems" required (change)="changeModalidade()"></input-select>
          </div>          
        </div>
       
      </div>
      <separator [title]="lex.translate('Entregas') + lex.translate(' do plano de trabalho')">
        <top-alert *ngIf="!form!.controls.programa_id.value?.length || !form!.controls.unidade_id.value?.length" type="warning" [message]="'Antes de incluir ' + lex.translate('entrega') + ' neste ' + lex.translate('Plano de Trabalho') + ', é necessário selecionar ' + lex.translate('a Unidade') + ' e ' + ' o ' +  lex.translate('Programa') + '!'"></top-alert>
        <div *ngIf="form!.controls.programa_id.value?.length && form!.controls.unidade_id.value?.length">
          <plano-trabalho-list-entrega noPersist [disabled]="formDisabled" [entity]="entity"></plano-trabalho-list-entrega>
        </div>
      </separator>
    </tab>
    <tab *ngIf="checkFilled(['usuario_id'])" key="MENSAGENS" label="Particularidades do participante">

      <separator title="Texto complementar do usuario">
        <input-switch controlName="editar_texto_complementar_usuario"  [disabled]="podeEditarTextoComplementar(form!.controls.unidade_id.value)"  [size]="12" scale="small" labelPosition="right" [label]="'Editar texto complementar '+ lex.translate('do usuário')"></input-switch>
        <input-editor controlName="usuario_texto_complementar" [disabled]="form!.controls.editar_texto_complementar_usuario.value ? undefined : 'true'" [dataset]="planoDataset"></input-editor>
      </separator>
    </tab>
    <tab *ngIf="checkFilled(['usuario_id', 'programa_id', 'tipo_modalidade_id'])" key="TERMO" [label]="lex.translate('Termo')">
      <!--top-alert *ngIf="!isTermos" type="warning" message="Para [INSERIR] ou [ASSINAR] termos escolha opção Termos de adesão na tela de listagem, ou utilize o Sei"></top-alert/-->
      <div clss="row">
        <documentos #documentos [entity]="entity" [disabled]="formDisabled" noPersist [cdRef]="cdRef" [needSign]="planoTrabalhoService.needSign" [extraTags]="planoTrabalhoService.extraTags" especie="TCR" [editingId]="formDisabled ? undefined : editingId" [datasource]="datasource" [template]="selectedPrograma?.template_tcr" [blocked]="true"></documentos>
      </div>
    </tab>
  </tabs>
</editable-form>