<editable-form [form]="form!" [disabled]="formDisabled" [noButtons]="isTermos ? 'true' : undefined" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <tabs #tabs display right [hidden]="isTermos ? 'true' : undefined" [title]="!isModal ? title : ''">
        <tab key="DADOS" label="Dados">
            <div class="row">
                <!-- (RI_PTR_1) No formulário de inclusão/edição de um plano de trabalho, o input-search de plano de entregas deve ficar desabilitado nas edições e habilitado apenas nas inclusões; -->
                <input-search #planoEntrega [size]="6" [disabled]="action == 'new' ? undefined : 'true'" controlName="plano_entrega_id" [dao]="planoEntregaDao" [join]="['entregas.entrega','unidade.entidade','programa']" (select)="onPlanoEntregaSelect($event)"></input-search>
                <input-search #usuario [size]="6" controlName="usuario_id" [dao]="usuarioDao" [join]="['afastamentos']" (select)="onUsuarioSelect($event)"></input-search>
            </div>
            <div class="row">
                <input-datetime [size]="3" label="Início" icon="bi bi-calendar-date" controlName="data_inicio_vigencia" [control]="form!.controls.data_inicio_vigencia" (change)="onDataInicioChange($event)" labelInfo="'Início da Vigência do '+ lex.noun('Plano de trabalho')"></input-datetime>
                <input-datetime [size]="3" label="Final" icon="bi bi-calendar-date" controlName="data_fim_vigencia" [control]="form!.controls.data_fim_vigencia" (change)="onDataFimChange($event)" labelInfo="'Final da Vigência do ' +lex.noun('Plano de trabalho')"></input-datetime>
                <input-search #tipoModalidade [size]="6" controlName="tipo_modalidade_id" [dao]="tipoModalidadeDao"></input-search>
            </div>
            <div class="row">
                <input-workload [size]="3" [unit]="formaContagemCargaHoraria" label="Carga Horária" icon="bi bi-hourglass-split" controlName="carga_horaria" [control]="form!.controls.carga_horaria" [unitChange]="onFormaContagemCargaHorariaChange.bind(this)" (change)="onCargaHorariaChenge($event)" labelInfo="Carga horária do usuário (Máx.: diária 24 horas; semana 24*5=240 horas; mensal 24*20=480 horas)"></input-workload>
                <input-timer onlyHours disabled [size]="3" label="Horas Totais" icon="bi bi-clock" controlName="tempo_total" [control]="form!.controls.tempo_total" labelInfo="Horas úteis de trabalho no período de vigência considerando a carga horária, feriados e fins de semana"></input-timer>
                <input-timer onlyHours disabled [size]="3" label="Horas Parciais" icon="bi bi-clock" controlName="tempo_proporcional" [control]="form!.controls.tempo_proporcional" labelInfo="Total de horas menos os afastamentos."></input-timer>
                <input-text numbers [size]="3" label="% Ganho produtividade" icon="bi bi-hourglass-split" controlName="ganho_produtividade" [control]="form!.controls.ganho_produtividade" [labelInfo]="'Percentual de ganho de produtividade (Será descontado do '+ lex.noun('tempo pactuado')+')'"></input-text>
            </div>
            <separator *ngIf="horasTotais" title="Cálculos das horas totais" collapse>
                <calendar-efemerides [efemerides]="horasTotais" [partial]="false"></calendar-efemerides>
            </separator>
            <separator *ngIf="horasParciais" title="Cálculos das horas parciais" collapse>
                <calendar-efemerides [efemerides]="horasParciais"></calendar-efemerides>
            </separator>
        </tab>
        <tab key="ATIVIDADES" label="Atividades">
            <top-alert type="warning" message="Caso a lista fique vazia, será considerado as atividades da unidade (e subordinadas)"></top-alert>
            <div clss="row">
                <grid #gridAtividades [control]="form!.controls.atividades" [form]="formAtividades" [add]="addAtividades.bind(this)" [load]="loadAtividades.bind(this)" [hasDelete]="true" [remove]="removeAtividades.bind(this)" [save]="saveAtividades.bind(this)" editable>
                    <columns>
                        <column [title]="lex.noun('Atividade')" [titleHint]="lex.noun('Atividade') + ' autorizada para o ' + lex.noun('Plano de trabalho')" [template]="columnAtividade" [editTemplate]="editAtividade">
                            <ng-template let-row="row" #columnAtividade>
                                <span> {{row.atividade?.nome || ""}}</span>
                            </ng-template>
                            <ng-template let-row="row" #editAtividade>
                                <input-search #atividade [size]="12" label icon controlName="atividade_id" [control]="formAtividades!.controls.atividade_id" [dao]="atividadeDao"></input-search>
                            </ng-template>
                        </column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>
        </tab>
        <tab key="ENTREGAS" [label]="lex.noun('Entrega', true)">
            <top-alert *ngIf="!form!.controls.plano_entrega_id.value?.length" type="warning" [message]="'Antes de incluir ' + lex.noun('entrega',true) + ' neste ' + lex.noun('Plano de Trabalho') + ', é necessário selecionar um ' + lex.noun('Plano de Entregas') + '!'"></top-alert>
            <div *ngIf="form!.controls.plano_entrega_id.value?.length">
                <editable-form [form]="formEntregas!"  [noButtons]="'true'">
                    <plano-trabalho-list-entrega noPersist [entity]="entity" [entregasDoPlanoEntrega]="entregas"></plano-trabalho-list-entrega>
                </editable-form>
            </div>
        </tab>
        <tab *ngIf="checkFilled(['usuario_id'])" key="MENSAGENS" label="Texto Complementar">
            <separator [title]="'Texto complementar da '+ lex.noun('unidade')">
                <input-switch controlName="editar_texto_complementar_unidade" [size]="12" scale="small" labelPosition="right" [label]="'Editar texto complementar na '+ lex.noun('unidade')"></input-switch>
                <input-editor controlName="unidade_texto_complementar" [disabled]="form!.controls.editar_texto_complementar_unidade.value ? undefined : 'true'" [dataset]="planoDataset"></input-editor>
            </separator>
            <separator title="Texto complementar do usuario">
                <input-switch controlName="editar_texto_complementar_usuario" [size]="12" scale="small" labelPosition="right" [label]="'Editar texto complementar do '+ lex.noun('usuário')"></input-switch>
                <input-editor controlName="usuario_texto_complementar" [disabled]="form!.controls.editar_texto_complementar_usuario.value ? undefined : 'true'" [dataset]="planoDataset"></input-editor>
            </separator>
        </tab>
        <tab *ngIf="checkFilled(['usuario_id', 'tipo_modalidade_id'])" key="TERMO" label="Termo">
            <!--top-alert *ngIf="!isTermos" type="warning" message="Para [INSERIR] ou [ASSINAR] termos escolha opção Termos de adesão na tela de listagem, ou utilize o Sei"></top-alert/-->
            <div clss="row">
                <documentos #documentos [entity]="entityDocumentos" noPersist [cdRef]="cdRef" [needSign]="planoTrabalhoService.needSign" [extraTags]="planoTrabalhoService.extraTags" especie="TCR" 
                [editingId]="documentoId" [datasource]="datasource" [template]="template"></documentos>
                <!--grid [control]="form!.controls.documentos" #gridDocumentos [disabled]="undefined" #documentos [hasEdit]="false" [hasDelete]="false" [hasAdd]="isTermos" [add]="isTermos ? addDocumento.bind(this) : undefined" editable>
                    <columns>
                        <column title="Data" [template]="dataInicio">
                            <ng-template let-row="row" #dataInicio>
                                <span class="badge bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Data da inclusão">
                                    <i class="bi bi-calendar-plus"></i>
                                    {{util.getDateTimeFormatted(row.data_inicio)}}
                                </span>
                                <span *ngIf="row.data_fim" class="badge bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Data substituição">
                                    <i class="bi bi-calendar-x"></i>
                                    {{util.getDateTimeFormatted(row.data_fim)}}
                                </span>
                            </ng-template>
                        </column>
                        <column title="Documento Sei" [template]="documento">
                            <ng-template let-row="row" #documento>
                                <span *ngIf="row.numero_processo?.length" class="badge bg-light text-dark" [attr.role]="row.numero_processo?.length ? 'button' : undefined" data-bs-toggle="tooltip" data-bs-placement="top" (click)="onProcessoClick(row)" [title]="allPages.getButtonTitle(row.numero_processo, row.numero_documento)">
                                    <i [class]="'bi ' + (row.numero_processo?.length ? 'bi bi-folder-symlink' : 'bi bi-x-lg')"></i>
                                    {{row.numero_processo?.length ? row.numero_processo : "Não atribuído"}}
                                    <small *ngIf="row.numero_documento?.length"><br>Sei nº {{row.numero_documento}}</small>
                                </span>
                            </ng-template>
                        </column>
                        <column title="Status" [template]="vigente">
                            <ng-template let-row="row" #vigente>
                                <badge [color]="lookup.getColor(lookup.DOCUMENTO_STATUS, row.status)" [icon]="lookup.getIcon(lookup.DOCUMENTO_STATUS, row.status)" [label]="lookup.getValue(lookup.DOCUMENTO_STATUS, row.status)"></badge>
                                <span *ngIf="isVigente(row)" class="badge rounded-pill bg-info text-dark">
                                    <i class="bi bi-clipboard-check"></i>
                                    Vigente
                                </span>
                                <div class="d-block">
                                    <span *ngFor="let assinatura of row.assinaturas" class="badge rounded-pill bg-primary">
                                        <i class="bi bi-pen"></i>
                                        {{util.apelidoOuNome(assinatura.usuario)}}
                                    </span>
                                </div>
                            </ng-template>
                        </column>
                        <column type="options" [dynamicButtons]="documentoDynamicButtons.bind(this)"></column>
                    </columns>
                </grid//-->
            </div>
        </tab>
    </tabs>
</editable-form>
