<h5>Participantes:</h5>

<accordion #accordionUser [items]="items" [titleTemplate]="usuarioSectionTitle" [template]="usuarioPlanosSection" [selectedIndex]="-1" [loading]="loader">
  <ng-template let-item="item" #usuarioSectionTitle>
    <div class="d-flex align-items-center flex-grow-1">
      <profile-picture [url]="item.url_foto" [size]="40" [hint]="item.nome"></profile-picture>
      <div class="ms-2">
        <b>{{item.nome}}</b><br>
        <small>{{item.apelido || ""}}</small>
      </div>  
    </div>
  </ng-template>
  <ng-template let-item="item" #usuarioPlanosSection>
    <h5>Entregas do plano:</h5>
    <hr>
    <div *ngFor="let plano of item.planos_trabalho" class="card">
       <div class="card-body">
        <grid [items]="plano.entregas">
          <columns>

            <column type="expand"  [expandTemplate]="columnExpandedAtividades" [style]="'vertical-align:middle'">
              <ng-template let-row="row" #columnExpandedAtividades>
                <plano-trabalho-entrega-atividades [entregaId]="row.id"></plano-trabalho-entrega-atividades>
              </ng-template>
            </column>

            <column  [template]="columnPlano" [titleTemplate]="titlePlano" >
              <ng-template let-header="header" #titlePlano><div class="text-center"><span><strong>Plano de trabalho</strong></span></div></ng-template>
              <ng-template let-row="row" #columnPlano>
                <b class="d-block text-center">{{PlanoTrabalhoDao!.getDateFormatted(plano.data_inicio)}} <br>{{ " até "+PlanoTrabalhoDao!.getDateFormatted(plano.data_fim)}}</b>
              </ng-template>
            </column>

            <column [titleTemplate]="titleOrigem" [template]="columnOrigem" [verticalAlign]="'middle'" [width]="300" [align]="'center'">
              <ng-template let-header="header" #titleOrigem><div class="text-center"><span><strong>Origem</strong></span></div></ng-template>
              <ng-template let-row="row" #columnOrigem>
                  <div class="w-100 d-flex justify-content-center">
                      <div class="one-per-line">
                          <badge [label]="planoTrabalhoService.tipoEntrega(row, entity).titulo" [color]="planoTrabalhoService.tipoEntrega(row, entity).cor"></badge>
                          <badge *ngIf="row.plano_entrega_entrega_id?.length" [label]="row.plano_entrega_entrega?.plano_entrega?.unidade?.sigla || 'Desconhecido'" [icon]="entityService.getIcon('Unidade')" color="primary"></badge>
                          <badge *ngIf="row.orgao?.length" [label]="row.orgao" icon="bi bi-box-arrow-down-left" color="warning"></badge>
                      </div>
                  </div>
              </ng-template>
              

          </column>


            <column [titleTemplate]="titleForcaTrabalho" [template]="columnForcaTrabalho" [width]="125" [align]="'center'">
              <ng-template let-header="header" #titleForcaTrabalho>
                  <div class="text-center">
                      <small><strong>% Força Trab.</strong></small><br>
                      <small><badge icon="bi bi-calculator" [color]="totalForcaTrabalho(plano.entregas) == 100 ? 'success' : 'warning'" [label]="totalForcaTrabalho(plano.entregas) + '%'"></badge></small>
                  </div>
              </ng-template>
              <ng-template let-row="row" #columnForcaTrabalho><small>{{  row.forca_trabalho + '%' }}</small></ng-template>
            </column>

            <column [maxWidth]="250" [titleTemplate]="titleDescricao" [template]="columnDescricao" [verticalAlign]="'middle'" [align]="'center'">
              <ng-template let-header="header" #titleDescricao><div class="text-center"><span><strong>Detalhamento/Descrição dos Trabalhos</strong></span></div></ng-template>
              <ng-template let-row="row" #columnDescricao><small class="text-center">{{ row.descricao }}</small></ng-template>
            </column>
          </columns>
        </grid>
      </div>
    </div>
  </ng-template>
</accordion>