<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"  [hasAdd]="auth.hasPermissionTo('MOD_RX_OUT_INCL')" [hasEdit]="auth.hasPermissionTo('MOD_RX_OUT_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="3" label="Nome do Cargo" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome da área de conhecimento" [attr.maxlength]=250></input-text>
            <input-text [size]="3" label="Nível" controlName="nivel" [control]="filter!.controls.nivel" [attr.maxlength]=250 placeholder=""></input-text>
            <input-text [size]="3" label="Descrição" controlName="descricao" [control]="filter!.controls.descricao" [attr.maxlength]=250 placeholder=""></input-text>
            <input-text [size]="3" label="Código SIAPE" controlName="siape" [control]="filter!.controls.siape" [attr.maxlength]=250 placeholder=""></input-text>
            <input-text [size]="3" label="Código CBO" controlName="cbo" [control]="filter!.controls.cbo" [attr.maxlength]=250 placeholder=""></input-text>
            <input-switch [size]="3" label="Efetivo" controlName="efetivo" [control]="filter!.controls.efetivo" placeholder=""></input-switch>
            <input-switch [size]="3" label="Ativo" controlName="ativo" [control]="filter!.controls.ativo" placeholder=""></input-switch>
        </div>
    </filter>
    <columns>
        <column title="Cargos" field="nome" orderBy="nome"></column>
        <column title="Nível" field="nivel"></column>
        <column title="Descrição" field="descricao"></column>
        <column title="SIAPE" field="siape"></column>
        <column title="CBO" field="cbo"></column>
        <column title="Efetivo" [template]="columnEfetivo"></column>
            <ng-template let-row="row" #columnEfetivo>
                {{lookup.getValue(lookup.SIMNAO, row.efetivo)}}
            </ng-template>
        <column title="Ativo" [template]="columnAtivo">
            <ng-template let-row="row" #columnAtivo>
                {{lookup.getValue(lookup.SIMNAO, row.ativo)}}
            </ng-template>
        </column>           
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
