<editable-form [form]="form!" [title]="title" [buttons]="buttons">
  <div class="row">
      <input-search #usuario [size]="6" label="Usuário" icon="bi bi-person" controlName="usuario_id" [control]="form!.controls.usuario_id" [dao]="usuarioDao"
        (select)="onUsuarioSelect($event)" [join]="['planos.tipo_modalidade:id,nome','planos.unidade:id,nome,sigla']" [selectRoute]="{route: ['configuracoes', 'usuario']}"></input-search>
      <input-select #unidade nullable label="Unidade" [size]="6" controlName="unidade_id" [control]="form!.controls.unidade_id" [items]="unidades" (change)="onUnidadeChange($event)" labelInfo="Unidades às quais o usuário possui Plano de Trabalho vinculado"></input-select>
  </div>
  <hr />
  <div class="row">
    <input-radio #tipo_relatorio [size]="6" label="Tipo de Relatório" icon="bi bi-check2" controlName="tipo_relatorio" [control]="form!.controls.tipo_relatorio" [items]="lookup.TIPO_RELATORIO_PRODUTIVIDADE_INDIVIDUAL" labelInfo="Define se o relatório será gerado para um intervalo de tempo específico ou para um Plano de Trabalho em particular"></input-radio>
    <input-datetime [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? true : false" #inicio_periodo date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="inicio_periodo" [control]="form!.controls.inicio_periodo"></input-datetime>
    <input-datetime [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? true : false" #fim_periodo date [size]="3" label="Fim" icon="bi bi-calendar-date" controlName="fim_periodo" [control]="form!.controls.fim_periodo"></input-datetime>
    <input-select [class.d-none]="tipo_relatorio.value == 'POR_PLANO' ? false : true" #plano nullable label="Plano de trabalho" [size]="6" controlName="plano_id" [control]="form!.controls.plano_id" [items]="planos" (change)="onPlanoChange($event)" labelInfo="Planos de trabalho"></input-select>
  </div>
</editable-form>
