<editable-form noButtons [form]="form!" [disabled]="formDisabled">
  <div class="row">
    <input-number [size]="2" label="Índice" disabled controlName="indice"></input-number>
    <input-text [size]="6" label="Nome" controlName="nome" labelInfo="Nome da tarefa"></input-text>
    <input-select [size]="4" label="Status da tarefa" icon="bi bi-arrow-up-right-circle" controlName="status_tarefa" [items]="lookup.PROJETO_TAREFA_STATUS"></input-select>
  </div>
  <div class="row">
    <input-textarea [size]="12" [rows]="2" label="Descrição" controlName="descricao"></input-textarea>
  </div>
  <div class="row">
    <input-button label="Número Processo SEI" [size]="6" #procRequisicao controlName="numero_processo" [control]="form!.controls.numero_processo" [disabled]="!gb.isExtension || form!.controls.numero_requisicao.value?.length ? 'true' : undefined" labelInfo="Número do processo, com a formatação de origem"></input-button>
    <input-button label="Número Documento SEI" [size]="6" #docRequisicao controlName="numero_documento" [control]="form!.controls.numero_requisicao" [disabled]="!gb.isExtension ? 'true' : undefined" labelInfo="Numero do documento de requisição, caso seja o Sei é o numero Sei"></input-button>
  </div>
  <separator title="Cronograma e progresso"></separator>
  <div class="row">
    <input-switch label="Marco inicial" icon="bi bi-check2" [size]="2" controlName="marco_inicio" labelInfo="Marco início"></input-switch>
    <input-datetime date [size]="4" label="Início da tarefa" icon="bi bi-calendar-date" controlName="inicio_tarefa"></input-datetime>
    <input-switch label="Marco final" icon="bi bi-check2" [size]="2" controlName="marco_termino" labelInfo="Marco término"></input-switch>
    <input-datetime date [size]="4" label="Término da tarefa" icon="bi bi-calendar-date" controlName="termino_tarefa"></input-datetime>
  </div>
  <div class="row">
    <input-number number [size]="4" label="Duração" sufix="d/h" controlName="duracao"></input-number>
    <input-text number label="Progresso" sufix="%" [size]="4" icon="bi bi-clock" controlName="progresso" labelInfo="Progresso do projeto (% Concluído)"></input-text>
    <input-text number label="Custo da tarefa" prefix="R$" [size]="4" icon="bi bi-clock" controlName="custo_tarefa" labelInfo="Custo associado à tarefa"></input-text>
  </div>
  <separator title="Cconfigurações"></separator>
  <div class="row">
    <input-switch label="Possui custos próprios:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="ten_filhos" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
    <input-switch label="Aloca recursos no projeto:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="aloca_recursos_proprios" labelInfo="Aloca recursos próprios da tarefa"></input-switch>
  </div>
  <div class="row">
    <input-switch label="Possui tarefas filhas:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="possui_custos_proprios" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
    <input-switch label="Calcula intervalo da tarefa:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="calcula_intervalo" labelInfo="Calculo intervalo de execução da tarefa"></input-switch>
  </div>
  <div class="row">
    <input-switch label="Contraída:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="contraido" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
    <input-switch label="Agrupadora:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="agrupador" labelInfo="A tarefa tem função agrupadora"></input-switch>
  </div>
  <div class="row">
    <input-switch label="Soma progresso das filhas:" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="soma_progresso_filhos" labelInfo="Calcula o progresso das tarefas filhas"></input-switch>
    <input-switch label="Soma recursos tarefas filhas" scale="small" labelPosition="right" icon="bi bi-check2" [size]="6" controlName="soma_recursos_alocados_filhos" labelInfo="Soma recursos das tarefas filhas"></input-switch>
  </div>
</editable-form>

  <!--

  Numero   Nome                                                   Status
  XXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXX
  Descricao
  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  Finalidade
  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  -- Cronograma e progresso ----------------------------------------------------
  Marco   Inicio              Marco   Termino            Duração      Progresso
  ([]  )  xx/xx/xxxxx xx:xx   (  [])  xx/xx/xxxx xx:xx   [ xxxxx]    [xxx,xx %]
  -- Configurações -------------------------------------------------------------
                  Tempo corrido: ([]  )                    Usa horas: ([]  )
           Intervalo automático: ([]  )         Progresso automático: ([]  )
                      Agrupador: ([]  )                    Usa custo: ([]  )
      Aloca recursos no projeto: ([]  )    Soma alocações automático: ([]  )
       Possui custos no projeto: ([]  )       Soma custos automático: ([]  )

  -->
