<editable-form [form]="form!" [noButtons]="!entity_id ? 'true' : undefined" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <div class="row">
        <input-switch [size]="1" label="Pai" controlName="tem_filhos" labelInfo="Se possui filhos, se é uma tarefa sintética (resumo)"></input-switch>
        <input-radio [size]="8" [label]="'Tipo da '+ lex.translate('tarefa')" controlName="tipo" [control]="form!.controls.tipo" [items]="tipos"></input-radio>
        <input-select [size]="3" [label]="'Status da '+ lex.translate('tarefa')" icon="bi bi-arrow-up-right-circle" controlName="status_tarefa" [items]="lookup.PROJETO_TAREFA_STATUS"></input-select>
    </div>
    <div class="row">
        <input-text [size]="12" label="Nome" controlName="nome" labelInfo="Nome da tarefa"></input-text>
    </div>
    <div class="row">
        <input-search [size]="12" displayOnlySelected #atividade controlName="atividade_id" [dao]="atividadeDao" [displayTemplate]="displayAtividade">
            <ng-template #displayAtividade let-selected="selcted">
                Mostrar dados quando selecionar
            </ng-template>
        </input-search>
    </div>
    <div class="row">
        <input-button [label]="lex.translate('Processo')" [size]="3" #procRequisicao controlName="numero_processo" [control]="form!.controls.numero_processo" [disabled]="!gb.isEmbedded || form!.controls.numero_requisicao.value?.length ? 'true' : undefined" labelInfo="Número do processo, com a formatação de origem"></input-button>
        <input-button [label]="lex.translate('Documento')" [size]="1" #docRequisicao controlName="numero_documento" [control]="form!.controls.numero_requisicao" [disabled]="!gb.isEmbedded ? 'true' : undefined" labelInfo="Numero do documento de requisição, caso seja o Sei é o numero Sei"></input-button>
        <!--input-search label="Tipo processo" [size]="4" #tipoProcesso controlName="tipo_processo_id" [control]="form!.controls.tipo_processo_id" disabled [dao]="tipoProcessoDao"></input-search/-->
        <!--input-search label="Tipo documento" [size]="4" #tipoDocumento controlName="tipo_documento_id" [control]="form!.controls.tipo_documento_id" disabled [dao]="tipoDocumentoDao"></input-search/-->
    </div>
    <div class="row">
        <input-textarea [size]="12" [rows]="2" label="Descrição" controlName="descricao"></input-textarea>
    </div>
    <separator title="Cronograma e progresso"></separator>
    <div class="row">
        <input-switch label="Marco" [size]="2" controlName="marco_inicio" labelInfo="Marco início"></input-switch>
        <input-datetime [date]="projeto?.usa_horas ? undefined : 'true'" [size]="4" label="Início" icon="bi bi-calendar-date" controlName="data_inicio"></input-datetime>
        <input-switch label="Marco" [size]="2" controlName="marco_termino" labelInfo="Marco término"></input-switch>
        <input-datetime [date]="projeto?.usa_horas ? undefined : 'true'" [size]="4" label="Término" icon="bi bi-calendar-date" controlName="data_fim"></input-datetime>
        <!-- input-workload daysOrHours [size]="3" [unit]="unitDuracao" [disabled]="" label="Duração" controlName="duracao" [control]="form!.controls.carga_horaria" [unitChange]="onUnitDuracaoChange.bind(this)" labelInfo="Se o projeto será calculado em horas ou dias"></input-workload /-->
    </div>
    <div class="row">
        <input-datetime date [size]="4" label="Início realizado" icon="bi bi-calendar-date" controlName="inicio_realizado"></input-datetime>
        <input-datetime date [size]="4" label="Término realizado" icon="bi bi-calendar-date" controlName="termino_relizado"></input-datetime>
        <!--input-workload daysOrHours [size]="3" [unit]="unitDuracao" [disabled]="" label="Duração" controlName="duracao_realizado" [unitChange]="onUnitDuracaoChange.bind(this)" labelInfo="Se o projeto será calculado em horas ou dias"></input-workload/-->
        <input-text number [label]="'Custo da '+ lex.translate('tarefa')" prefix="R$" [size]="4" icon="bi bi-clock" controlName="custo" labelInfo="Custo associado à tarefa"></input-text>
        <input-text number label="Progresso" sufix="%" [size]="4" icon="bi bi-clock" controlName="progresso" labelInfo="Progresso do projeto (% Concluído)"></input-text>
    </div>

<!--input-switch label="Auto" [size]="1" controlName="intervalo_automatico" (change)="onIntervaloAutomaticoChange($event)" labelInfo="Se o período do projeto será calculado automaticamente pelas tarefas"></input-switch>
<input-datetime date [size]="3" label="Início" [disabled]="intervaloAutomatico" icon="bi bi-calendar-date" controlName="inicio_projeto"></input-datetime>
<input-datetime date [size]="3" label="Término" [disabled]="intervaloAutomatico" icon="bi bi-calendar-date" controlName="termino_projeto"></input-datetime>
<input-text number [size]="2" label="Progresso" sufix="%" icon="bi bi-clock" controlName="progresso" labelInfo="Progresso do projeto (% Concluído)"></input-text>
Marco  Inicio planejado Marco  Termino planejado Duração    
[    ] __/__/____ __:__ [    ] __/__/____ __:__  ____(Dias) 
Inicio realizado Termino realizado Duração    Custo  Progresso 
__/__/____ __:__ __/__/____ __:__  ____(Dias) _______  ____ %
<input-number number [size]="4" label="Duração" sufix="d/h" controlName="duracao"></input-number>
<input-switch label="Filhos" [size]="1" controlName="soma_progresso_filhos" (change)="onIntervaloAutomaticoChange($event)" labelInfo="Se o progresso é calculado pela média do progresso dos filhos"></input-switch>
<input-text number label="Progresso" sufix="%" [size]="4" icon="bi bi-clock" controlName="progresso" labelInfo="Progresso do projeto (% Concluído)"></input-text>
<input-switch label="Filhos" [size]="1" controlName="soma_progresso_filhos" (change)="onIntervaloAutomaticoChange($event)" labelInfo="Se o progresso é calculado pela média do progresso dos filhos"></input-switch/-->

    <separator title="Configurações">
        <div class="row">
            <input-switch label="Possui custos próprios" scale="small" labelPosition="right" [size]="6" controlName="ten_filhos" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
            <input-switch label="Aloca recursos no projeto" scale="small" labelPosition="right" [size]="6" controlName="aloca_recursos_proprios" labelInfo="Aloca recursos próprios da tarefa"></input-switch>
        </div>
        <div class="row">
            <input-switch [label]="'Possui '+ lex.translate('tarefa') +' filhas'" scale="small" labelPosition="right" [size]="6" controlName="possui_custos_proprios" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
            <input-switch [label]="'Calcula intervalo da ' + lex.translate('tarefa')" scale="small" labelPosition="right" [size]="6" controlName="calcula_intervalo" labelInfo="Calculo intervalo de execução da tarefa"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Contraída" scale="small" labelPosition="right" [size]="6" controlName="contraido" labelInfo="Define se a tarefa tem custos pr[oprios associados"></input-switch>
            <input-switch label="Agrupadora" scale="small" labelPosition="right" [size]="6" controlName="agrupador" labelInfo="A tarefa tem função agrupadora"></input-switch>
        </div>
        <div class="row">
            <input-switch label="Soma progresso das filhas" scale="small" labelPosition="right" [size]="6" controlName="soma_progresso_filhos" labelInfo="Calcula o progresso das tarefas filhas"></input-switch>
            <input-switch [label]="'Soma recursos' + lex.translate('tarefa') +' filhas'" scale="small" labelPosition="right" [size]="6" controlName="soma_recursos_alocados_filhos" labelInfo="Soma recursos das tarefas filhas"></input-switch>
        </div>
    </separator>
</editable-form>

<!--
'tem_filhos', /* tinyint; NOT NULL; */// Se é um registro sintético (resumo)

'agrupador', /* tinyint; NOT NULL; */// Se é apenas um registro para agrupar tarefas filhas (somente se tem_filhos e não possui progresso)
'soma_progresso_filhos', /* tinyint; NOT NULL; DEFAULT: '1'; */// Se o progresso é calculado pela média do progresso dos filhos ou lançado manual (somente se tem_filhos)
'calcula_intervalo', /* tinyint; NOT NULL; DEFAULT: '1'; */// Se calcula o inicio e termino automaticamente pelos filhos (somente se tem_filhos)
'aloca_proprios_recursos', /* tinyint; NOT NULL; DEFAULT: '1'; */// Se possui recursos próprios (somente se tem_filhos)
'soma_recusos_alocados_filhos', /* tinyint; NOT NULL; DEFAULT: '1'; */// Mostra o somatório dos recursos filhos (somente se tem_filhos)
'custos_proprios', /* tinyint; NOT NULL; DEFAULT: '1'; */// Se possui custos próprios (somente se tem_filhos), se não tem filhos sempre será true
'soma_custos_filhos', /* tinyint; NOT NULL; DEFAULT: '1'; */// Se possui custos filhos (somente se tem_filhos)


Numero   Nome                                                   Status
XXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXX
Descricao
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Finalidade
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-- Cronograma e progresso ----------------------------------------------------
Marco   Inicio              Marco   Termino            Duração      Progresso
([]  )  xx/xx/xxxxx xx:xx   (  [])  xx/xx/xxxx xx:xx   [ xxxxx]    [xxx,xx %]
-- Configurações -------------------------------------------------------------
                Tempo corrido: ([]  )                    Usa horas: ([]  )
          Intervalo automático: ([]  )         Progresso automático: ([]  )
                    Agrupador: ([]  )                    Usa custo: ([]  )
    Aloca recursos no projeto: ([]  )    Soma alocações automático: ([]  )
      Possui custos no projeto: ([]  )       Soma custos automático: ([]  )

-->