<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="sigla" (submit)="onSaveData()" (cancel)="onCancel()">
  <tabs display right>
    <tab key="PRINCIPAL" label="Principal">
      <div class="row">
        <input-text [size]="2" label="Sigla" controlName="sigla" [attr.maxlength]=250 required></input-text>
        <input-text [size]="10" label="Nome" controlName="nome" [attr.maxlength]=250 required></input-text>
      </div>
      <div class="row">
        <input-search #gestor label="Gestor" [size]="6" [emptyValue]="null" controlName="gestor_id" [dao]="usuarioDao" labelInfo="Responsável pela unidade"></input-search>
        <input-search #gestorSubstituto label="Gestor Substituto" [size]="6" [emptyValue]="null" controlName="gestor_substituto_id" [dao]="usuarioDao" labelInfo="Responsável substituto pela unidade"></input-search>
      </div>
      <div class="row">
        <input-select [size]="4" label="Abrangência" controlName="abrangencia" [items]="lookup.ABRANGENCIA"></input-select>
        <input-search *ngIf="form!.controls.abrangencia.value == 'MUNICIPAL'" #cidade [size]="8" controlName="cidade_id" [dao]="cidadeDao"></input-search>
        <input-select *ngIf="form!.controls.abrangencia.value == 'ESTADUAL'" [size]="8" label="UF" icon="bi bi-flag" controlName="uf" [items]="lookup.UF"></input-select>
        <input-display *ngIf="form!.controls.abrangencia.value == 'NACIONAL'" [size]="8" label="Âmbito" icon="bi bi-shield-fill-check" value="Nacional"></input-display>
      </div>
    </tab>
    <tab key="SIAPE" label="Alteraçõe no SIAPE">
      <div class="row email-remetente">
        <input-text [size]="6" label="E-mail do Remetente para envio das alterações no SIAPE" controlName="email_remetente_siape" [attr.maxlength]=100  placeholder="Utilizar um e-mail @gestao.gov.br"></input-text>
      </div>
      <separator title="E-mails dos Responsáveis pelas alterações no SIAPE na organização">
        <grid #grid 
          [control]="form!.controls.emails" 
          [form]="formEmail!" 
          [hasDelete]="true" 
          [add]="addEmail.bind(this)" 
          [load]="loadEmail.bind(this)" 
          [remove]="removeEmail.bind(this)" 
          [save]="saveEmail.bind(this)" 
          labelAdd="Adicionar e-mail"
          title="Adicionar e-mail"
          editable
        >
          <columns>
            <column  [template]="columnEmail" [editTemplate]="editEmail">
              <ng-template let-row="row" #columnEmail>
                <strong>{{ row.email }}</strong>
              </ng-template>
              <ng-template let-row="row" #editEmail>
                <input-text [control]="formEmail!.controls.email" [attr.maxlength]=250></input-text>
              </ng-template>
            </column>
            <column type="options"></column>
          </columns>
        </grid>
      </separator>
    </tab>
    <!--tab key="EXPEDIENTE" label="Expediente">
      <calendar-expediente #expediente [control]="form!.controls.expediente"></calendar-expediente>
    </tab/-->
    <!--tab key="CONFIGURACOES" label="Configurações">
      <div class="row">
          <input-radio [size]="4"  label="Formulário de Demanda" controlName="layout_formulario_demanda" [control]="form!.controls.layout_formulario_demanda" [items]="lookup.TIPO_LAYOUT" labelInfo="Forma do layout do formulário de Demanda"></input-radio>
          <input-radio [size]="3" label="Histórico do Processo" controlName="gravar_historico_processo" [control]="form!.controls.gravar_historico_processo" [items]="lookup.SIMNAO" labelInfo="Gravar andamento da demanda no processo"></input-radio>
          <input-search #tipo_modalidade [size]="5" label="Modalidade" controlName="tipo_modalidade_id" [control]="form!.controls.tipo_modalidade_id" [dao]="tipoModalidadeDao" labelInfo="Tipo de modalidade padrão utilizada ao criar plano de trabalho." [selectRoute]="{route: ['cadastros', 'tipo-modalidade']}"></input-search>
      </div>
      <div class="row">
          <input-multiselect [size]="12" label="Ocultar campos"  [items]="campos" [addItemControl]="campoSelect" labelInfo="Campos a serem ocultados no Formulário de Demanda.">
              <input-select #campoSelect [size]="12" controlName="campos_ocultos_demanda" [control]="form!.controls.campos_ocultos_demanda" [items]="lookup.CAMPOS_OCULTOS_DEMANDA"></input-select>
          </input-multiselect>
      </div>
    </tab/-->
  </tabs>
</editable-form>