.br-breadcrumb {
  .breadcrumb-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 var(--spacing-scale-2x) 0;
    gap: var(--spacing-scale-base);
  }

  .crumb {
    display: flex;
    align-items: center;
    gap: var(--spacing-scale-base);
    font-size: var(--font-size-scale-down-01);

    a {
      color: var(--interactive);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: var(--color-secondary-07);
      font-weight: var(--font-weight-semi-bold);
    }

    i {
      font-size: var(--font-size-scale-down-02);
      color: var(--color-secondary-04);
    }
  }
}
