<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" editable [hasAdd]="true || auth.hasPermissionTo('')" [hasEdit]="true || auth.hasPermissionTo('')" [add]="add.bind(this)" [groupTemplate]="groupEntregas" [minHeight]="0">
            <ng-template let-separator="separator" #groupEntregas>
                <strong class="grid-group-text">Entregas: </strong><span class="text-wrap">
                    <badge color="primary" [label]="separator?.text"></badge>
                </span>
            </ng-template>
            <columns>
                <column [title]="'Entrega\nDemandante\nDestinatário'" [template]="columnEntregaCliente">
                    <ng-template let-row="row" #columnEntregaCliente>
                        <span *ngIf="row.descricao" class="badge bg-light text-dark">
                            <i class="bi bi-textarea-t"></i>
                            {{row.descricao}}
                        </span>
                        <span *ngIf="row.unidade_id" class="badge bg-light text-dark">
                            <i class="fa-unity fab"></i>
                            {{row.unidade.nome}}
                        </span>
                        <span *ngIf="row.destinatario" class="badge bg-light text-dark">
                            {{row.destinatario}}
                        </span>
                    </ng-template>
                </column>
                <column [title]="'Data Início\nData Fim'" [template]="columnDatas">
                    <ng-template let-row="row" #columnDatas>
                        <span *ngIf="row.inicio"> {{dao!.getDateFormatted(row.inicio)}}</span>
                        <span *ngIf="row.fim"> {{dao!.getDateFormatted(row.fim)}}</span>
                    </ng-template>
                </column>
                <column title="Entrega" [template]="columnEntrega">
                    <ng-template let-row="row" #columnEntrega>
                        <span *ngIf="row.entrega" class="badge bg-light text-dark">
                            <i class="bi bi-list-check"></i>
                            {{row.entrega?.nome}}
                        </span>
                    </ng-template>
                </column>
                <column [title]="'Meta\nRealizado'" [template]="columnMetaRealizado">
                    <ng-template let-row="row" #columnMetaRealizado>
                        <span  *ngIf="row.meta" class="badge bg-light text-dark">
                            {{row.meta}}
                        </span>
                        <span *ngIf="row.realizado" class="badge bg-light text-dark">
                            {{row.realizado}}
                        </span>

                    </ng-template>
                </column>
                <column title="Progresso" [template]="columnProgresso">
                    <ng-template let-row="row" #columnProgresso>
                        <progress-bar [value]="row.progresso_realizado" color="success"></progress-bar>
                    </ng-template>
                </column>
                <column type="options" [onEdit]="edit.bind(this)" [options]="options"></column>
            </columns>
        </grid>
    </div>
</editable-form>

<!-- Grid-List:

[+]  Data Início Data Fim    Responsável                            Avaliação
   +-----------+-----------+-------------------------------------+-------------------------
   | XX/XX/XXXX  XX/XX/XXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX (NOTA) (TIPO AVALIACAO)
   |                                                              (AVALIADOR)
   |                                                              (Justificativa)  
   .......................................................................................
   Entrega       Indicador           Meta         Realizado
   -------------+-------------------+------------+------------- 
   XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXX   9999999     99999999


   Plano de Entregas
   Unidade (Setor)
   Planejamento_estrategico_id
   Cadeia_valor_id
   Entregas
            Inicio     Fim        Indicador (vem do cadastro entrega) Metal geral Realizado Objetivos* Processos*    Atividades*          Cliente      Hmg
      Ent1: 01/01/2022 -          Quantidade                          1000        200       Ob1, Ob1   Proc1, Proc2  Tip.Ativ1, Tip.Atv2  uOrg1, uOrg2 S
      Ent2: 01/01/2022 30/12/2022 %                                   100         70        Ob2                                                        S
      Ent3: 01/01/2022 30/12/2024 Qualitativo                         Excelente   Bom                                                                  S      Ent4: 09/12/2022 30/12/2022 ...                                                                                                                  N
   Ponto de controle
      [01/01/2023][30/01/2023]:
          Responsável: Genisson
          Entregas:
                    Indicador (vem do cadastro entrega) Meta do Mês  Realizado  
          Ent1:     Quantidade                          100          90
          Ent3:     Qualitativo                         Satisfatório Ruim
      [01/02/2023][30/02/2023]:
          Responsável: Paiva
          Entregas:
                    Indicador (vem do cadastro entrega) Meta         Realizado
          Ent1:     Quantidade                          110          110
          Ent2:     %                                   70           70
          Ent3:     Qualitativo                         Excelente    Bom
* Deverá haver pelo menos 1


 -->