<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" [hasEdit]="true" [hasDelete]="true" [add]="addEntrega.bind(this)" [save]="saveEntrega.bind(this)" [groupTemplate]="groupEntregas" editable >
            <ng-template let-separator="separator" #groupEntregas>
                <strong class="grid-group-text">Entregas: </strong><span class="text-wrap">
                    <badge color="primary" [label]="separator?.text"></badge>
                </span>
            </ng-template> 
            <columns>
                <column [title]="'Entrega\nDemandante\nDestinatário'" [template]="columnEntregaCliente">
                    <ng-template let-row="row" #columnEntregaCliente>
                        <span>{{row.descricao+" / "+row.demandante +" / "+row.destinatario}}</span>
                    </ng-template>
                </column>
                <column [title]="'Data Início\nData Fim'" [template]="columnDatas" >
                    <ng-template let-row="row" #columnDatas>
                        <span> {{dao!.getDateFormatted(row.inicio)+" até
                            "+dao!.getDateFormatted(row.fim)}}</span>
                    </ng-template>
                </column>
                <column title="Entrega" [template]="columnIndicador">
                    <ng-template let-row="row" #columnIndicador>
                        <span>{{row.entrega_id}}</span>
                    </ng-template>
                </column>
                <column [title]="'Meta\nRealizado'" [template]="columnMetaRealizado">
                    <ng-template let-row="row" #columnMetaRealizado>
                        <span>{{row.meta+" / "+row.realizado}}</span>
                    </ng-template>
                </column>
                <column title="Progresso" [template]="columnProgresso">
                    <ng-template let-row="row" #columnProgresso>
                        <progress-bar [value]="row.progresso_realizado" color="success"></progress-bar>
                    </ng-template>
                </column>
                <column type="options"></column>
            </columns>
        </grid>
    </div>
</editable-form>

<!-- Grid-List:

[+]  Data Início Data Fim    Responsável                            Avaliação
   +-----------+-----------+-------------------------------------+-------------------------
   | XX/XX/XXXX  XX/XX/XXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX (NOTA) (TIPO AVALIACAO)
   |                                                              (AVALIADOR)
   |                                                              (Justificativa)  
   .......................................................................................
   Entrega       Indicador           Meta         Realizado
   -------------+-------------------+------------+------------- 
   XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXX   9999999     99999999







   Plano de Entregas
   Unidade (Setor)
   Planejamento_estrategico_id
   Cadeia_valor_id
   Entregas
            Inicio     Fim        Indicador (vem do cadastro entrega) Metal geral Realizado Objetivos* Processos*    Atividades*          Cliente      Hmg
      Ent1: 01/01/2022 -          Quantidade                          1000        200       Ob1, Ob1   Proc1, Proc2  Tip.Ativ1, Tip.Atv2  uOrg1, uOrg2 S
      Ent2: 01/01/2022 30/12/2022 %                                   100         70        Ob2                                                        S
      Ent3: 01/01/2022 30/12/2024 Qualitativo                         Excelente   Bom                                                                  S      Ent4: 09/12/2022 30/12/2022 ...                                                                                                                  N
   Ponto de controle
      [01/01/2023][30/01/2023]:
          Responsável: Genisson
          Entregas:
                    Indicador (vem do cadastro entrega) Meta do Mês  Realizado  
          Ent1:     Quantidade                          100          90
          Ent3:     Qualitativo                         Satisfatório Ruim
      [01/02/2023][30/02/2023]:
          Responsável: Paiva
          Entregas:
                    Indicador (vem do cadastro entrega) Meta         Realizado
          Ent1:     Quantidade                          110          110
          Ent2:     %                                   70           70
          Ent3:     Qualitativo                         Excelente    Bom
* Deverá haver pelo menos 1


 -->