<grid [items]="items" [form]="form!" [groupTemplate]="groupEntregas" [minHeight]="300" [editable]="isDisabled ? undefined : 'true'" 
    [hasAdd]="!isDisabled && auth.hasPermissionTo('MOD_PENT_ENTR_INCL') && !execucao" [add]="add.bind(this)" 
    [hasEdit]="!isDisabled && auth.hasPermissionTo('MOD_PENT_ENTR_EDT')" [load]="load.bind(this)" [save]="save.bind(this)" [selectable]="selectable">
    <ng-template let-separator="separator" #groupEntregas>
        <strong class="grid-group-text">Entregas: </strong><span class="text-wrap">
            <badge color="primary" [label]="separator?.text"></badge>
        </span>
    </ng-template>
    <columns>
        <column [title]="'Entrega\nDemandante/Destinatário'" [template]="columnEntregaCliente" [editTemplate]="columnEntregaCliente">
            <ng-template let-row="row" #columnEntregaCliente>
                <h6>{{row.descricao}}</h6>
                <span class="d-block">
                    <badge *ngIf="row.unidade" color="light" [icon]="entityService.getIcon('Unidade')" [label]="row.unidade.sigla"></badge>
                    <badge *ngIf="row.destinatario?.length" color="light" icon="bi bi-mailbox" [label]="row.destinatario"></badge>
                </span>
            </ng-template>
        </column>
        <column [title]="'Etiquetas'" [width]="100" [template]="columnEtiquetas" [editTemplate]="columnEtiquetas" [columnEditTemplate]="selectable ? undefined : columnEtiquetasEdit" [edit]="selectable ? undefined : onColumnEtiquetasEdit.bind(this)" [save]="selectable ? undefined : onColumnEtiquetasSave.bind(this)">
            <ng-template let-row="row" #columnEtiquetas>
                <badge *ngFor="let etiqueta of row.etiquetas" [lookup]="etiqueta"></badge>
            </ng-template>
            <ng-template let-row="row" #columnEtiquetasEdit>
                <input-multiselect controlName="etiquetas" [size]="12" [control]="formEdit.controls.etiquetas" [addItemHandle]="addItemHandleEtiquetas.bind(this)">
                    <input-select [size]="12" #etiqueta controlName="etiqueta" nullable itemNull="- Selecione -" detailsButton detailsButtonIcon="bi bi-tools" (details)="onEtiquetaConfigClick()" [control]="formEdit.controls.etiqueta" [items]="etiquetas"></input-select>
                </input-multiselect>
            </ng-template>
        </column>
        <column [title]="'Data Início\nData Fim'" [template]="columnDatas" [editTemplate]="columnDatas">
            <ng-template let-row="row" #columnDatas>
                <span *ngIf="row.data_inicio"> {{dao!.getDateFormatted(row.data_inicio)}}</span><br>
                <span *ngIf="row.data_fim"> {{dao!.getDateFormatted(row.data_fim)}}</span>
            </ng-template>
        </column>
        <column [title]="'Meta'" [width]="100" [template]="columnMetaRealizado" [editTemplate]="editMetaRealizado" [columnEditTemplate]="isMetaEditavel() ? editMetaRealizado : undefined" [edit]="isMetaEditavel() ? onColumnMetaEdit.bind(this) : undefined" [save]="isMetaEditavel() ? onColumnMetaSave.bind(this) : undefined">
            <ng-template let-row="row" #columnMetaRealizado>
                <badge icon="bi bi-graph-up-arrow" [textValue]="planoEntregaService.getValorMeta(row)" color="light" hint="Planejada"></badge><br>
                <badge icon="bi bi-check-lg" [textValue]="planoEntregaService.getValorRealizado(row)" color="light" hint="Realizada"></badge>
            </ng-template>
            <ng-template let-row="row" #editMetaRealizado>
                <plano-entrega-valor-meta-input icon="bi bi-graph-up-arrow" [entrega]="row.entrega" disabled [size]="6" [control]="formEdit!.controls.meta" label="Meta"></plano-entrega-valor-meta-input>
                <plano-entrega-valor-meta-input icon="bi bi-check-lg" [entrega]="row.entrega" [size]="6" [control]="formEdit!.controls.realizado" label="Realizada" ></plano-entrega-valor-meta-input>
            </ng-template>
        </column>
        <!--<column title="Progresso\nChecklist" [width]="100" [template]="columnProgresso" [editTemplate]="editProgresso">
            <ng-template let-row="row" #columnProgresso>
                <progress-bar [value]="row.progresso_realizado" [goal]="row.progresso_esperado" color="success"></progress-bar>
            </ng-template>
            <ng-template let-row="row" #editProgresso>
                <input-number [size]="12" disabled label="Esperado" sufix="%" icon="bi bi-clock" controlName="progresso_esperado" [control]="form!.controls.progresso_esperado" labelInfo="Progresso de execução (% Esperado)"></input-number>
                <input-number [size]="12" label="Realizado" sufix="%" icon="bi bi-clock" controlName="progresso_realizado" [control]="form!.controls.progresso_realizado" labelInfo="Progresso de execução (% Concluído)"></input-number>
            </ng-template>
        </column>-->
        <column [title]="'Progresso\nChecklist'" [width]="200" [template]="columnProgChecklist" *ngIf="execucao">
            <ng-template let-row="row" #columnProgChecklist>
                <progress-bar [value]="row.progresso_realizado" [goal]="row.progresso_esperado" color="success"></progress-bar>
                <separator *ngIf="row.checklist?.length" small title="Checklist" collapse [collapsed]="true">
                    <table *ngIf="row.checklist?.length">
                        <tr *ngFor="let check of row.checklist">
                            <td><i *ngIf="check.checked" class="bi bi-check-circle"></i></td>
                            <td class="micro-text fw-ligh">{{check.texto}}</td>
                        </tr>
                    </table>
                </separator>
            </ng-template>
            <ng-template let-row="row" #columnChecklistEdit>
                <!--<input-number [size]="12" disabled label="Esperado" sufix="%" icon="bi bi-clock" controlName="progresso_esperado" [control]="form!.controls.progresso_esperado" labelInfo="Progresso de execução (% Esperado)"></input-number>-->
                <input-number [size]="12" label="Realizado" sufix="%" icon="bi bi-clock" controlName="progresso_realizado" [control]="formEdit!.controls.progresso_realizado" labelInfo="Progresso de execução (% Concluído)"></input-number>
                <separator *ngIf="row.checklist?.length" small title="Checklist"></separator>
                <table *ngIf="row.checklist?.length">
                    <tr *ngFor="let check of checklist; let i = index">
                        <td><input-switch [size]="12" scale="small" [source]="checklist" [path]="i + '.checked'"></input-switch></td>
                        <td class="micro-text fw-ligh">{{check.texto}}</td>
                    </tr>
                </table>
            </ng-template>
        </column>
        <!--
        <column [title]="'  Objetivos/Processos'" [width]="200" [template]="columnObjProc" [editTemplate]="columnObjProc" [icon]="'bi bi-info-circle'"[hint]="'Objetivos do Planejamento Institucional vinculado ao Plano de Entregas e Processos da Cadeia de Valor vinculada ao Plano de Entregas'" >
            <ng-template let-row="row" #columnObjProc>
                <separator [title]="lex.translate('Objetivos')" *ngIf="row.objetivos?.length" collapse [collapsed]="true">
                    <div *ngFor="let pObjetivo of getObjetivos(row)" class="objetivo d-flex align-items-center">
                        <button class="btn btn-sm btn-outline-info me-2" (click)="showPlanejamento(pObjetivo.objetivo.id)"><i class="bi bi-eye"></i></button>
                        <small>{{pObjetivo.objetivo?.nome}}</small>
                    </div>
                </separator>
                <separator [title]="lex.translate('Processos')" *ngIf="row.processos?.length" collapse [collapsed]="true">
                    <div *ngFor="let pProcesso of row.processos" class="objetivo">
                        <button class="btn btn-sm btn-outline-info me-2" (click)="showCadeiaValor(pProcesso.processo.id)"><i class="bi bi-eye"></i></button>
                        <small>{{pProcesso.processo.nome}}</small>
                    </div>
                </separator>
            </ng-template>
        </column> -->
        <column [title]="lex.translate('Modelo de Entrega') + '\nComentários'" [template]="columnEntregaCometario" [editTemplate]="columnEntregaCometario"
        [edit]="selectable ? undefined : onColumnEtiquetasEdit.bind(this)">
            <ng-template let-row="row" #columnEntregaCometario>
                <badge *ngIf="row.entrega" color="light" icon="bi bi-list-check" [label]="row.entrega?.nome"></badge>
                <comentarios-widget *ngIf="row.comentarios?.length" [entity]="row" [selectable]="!execucao || !!grid?.editing" origem="PLANO_ENTREGA_ENTREGA" [grid]="grid" [save]="refreshComentarios.bind(this)"></comentarios-widget>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)" [dynamicOptions]="dynamicOptions.bind(this)"></column>
    </columns>
</grid>

<!-- Grid-List:

[+]  Data Início Data Fim    Responsável                            Avaliação
   +-----------+-----------+-------------------------------------+-------------------------
   | XX/XX/XXXX  XX/XX/XXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX (NOTA) (TIPO AVALIACAO)
   |                                                              (AVALIADOR)
   |                                                              (Justificativa)  
   .......................................................................................
   Entrega       Indicador           Meta         Realizado
   -------------+-------------------+------------+------------- 
   XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXX   9999999     99999999


   Plano de Entregas
   Unidade (Setor)
   Planejamento_estrategico_id
   Cadeia_valor_id
   Entregas
            Inicio     Fim        Indicador (vem do cadastro entrega) Metal geral Realizado Objetivos* Processos*    Atividades*          Cliente      Hmg
      Ent1: 01/01/2022 -          Quantidade                          1000        200       Ob1, Ob1   Proc1, Proc2  Tip.Ativ1, Tip.Atv2  uOrg1, uOrg2 S
      Ent2: 01/01/2022 30/12/2022 %                                   100         70        Ob2                                                        S
      Ent3: 01/01/2022 30/12/2024 Qualitativo                         Excelente   Bom                                                                  S      Ent4: 09/12/2022 30/12/2022 ...                                                                                                                  N
   Ponto de controle
      [01/01/2023][30/01/2023]:
          Responsável: Genisson
          Entregas:
                    Indicador (vem do cadastro entrega) Meta do Mês  Realizado  
          Ent1:     Quantidade                          100          90
          Ent3:     Qualitativo                         Satisfatório Ruim
      [01/02/2023][30/02/2023]:
          Responsável: Paiva
          Entregas:
                    Indicador (vem do cadastro entrega) Meta         Realizado
          Ent1:     Quantidade                          110          110
          Ent2:     %                                   70           70
          Ent3:     Qualitativo                         Excelente    Bom
* Deverá haver pelo menos 1


 -->