<grid [dao]="dao" [add]="add" title="Painel de entidades (SaaS)" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [hasAdd]="true" [hasEdit]="true">
    <toolbar [buttons]="toolbarButtons" *ngIf="currentUser && currentUser.nivel == 1">
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" hidden [form]="filter" [where]="filterWhere.bind(this)" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed"></filter>
    <columns>
        <column title="ID" [template]="columnId">
            <ng-template let-row="row" #columnId>
                <strong>{{row.id}}</strong><br>
            </ng-template>
        </column>
        <column title="URL" [template]="columnDb">
            <ng-template let-row="row" #columnDb>                
                <small>{{row.dominio_url}}</small>
            </ng-template>
        </column>       
        <column type="options" [onEdit]="edit" [dynamicOptions]="dynamicOptions.bind(this)" [dynamicButtons]="dynamicButtons.bind(this)"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>