<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()"
               (cancel)="onCancel()">
    <div class="row">
        <input-text [size]="2"  label="Número" disabled right controlName="numero"></input-text>
        <input-select [size]="4"  label="Tipo" controlName="tipo" [items]="lookup.TEMPLATE_TIPO"></input-select>
        <input-text [size]="6" label="Título" icon="bi bi-upc" controlName="titulo"></input-text>
    </div>
    <separator title="Design"></separator>
    <div class="row">
        <input-editor></input-editor>
    </div>
</editable-form>
