<grid [items]="items" [form]="form!" #gridObjetivos editable [selectable]="false" [minHeight]="minHeight"
    [add]="addObjetivo.bind(this)" [remove]="removeObjetivo.bind(this)"
    [hasDelete]="false" [hasEdit]="false" [hasAdd]="!disabled" [join]="join" [groupBy]="groupBy" [groupTemplate]="groupEixoTematico">
    <ng-template let-separator="separator" #groupEixoTematico>
        <span class="text-wrap"><badge [icon]="getEixo(separator?.text)?.icone || 'bi bi-gear'" [color]="getEixo(separator?.text)?.cor || 'primary'" [label]="getEixo(separator?.text)?.nome || 'Desconhecido'"></badge></span>
    </ng-template>
    <columns>
        <column title="Nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                <span class="text-break w-100" [style.margin-left.px]="(row._metadata?.level || 0) * 20">{{ marcador(row) + row.nome }}</span>
            </ng-template>
        </column>
        <column title="Eixo Temático" [template]="columnEixoTematico"><ng-template let-row="row" #columnEixoTematico><span>{{ row.eixo_tematico?.nome }}</span></ng-template></column>
        <column title="Fundamentação" [template]="columnFundamentacao"><ng-template let-row="row" #columnFundamentacao><span>{{ row.fundamentacao }}</span></ng-template></column>
        <column *ngIf="planejamento_superior_id?.length" title="Objetivo Superior" [template]="columnObjetivoSuperior"><ng-template let-row="row" #columnObjetivoSuperior><span>{{ row.objetivo_superior?.nome  || '' }}</span></ng-template></column>
        <column type="options" [dynamicButtons]="dynamicButtons.bind(this)" [options]="options"></column>
    </columns>
</grid>
