<!-- [addRoute]="{route: ['gestao', 'planejamento', entity!.id, 'new']}" -->
<grid [items]="items" [form]="form!" #gridObjetivos editable [selectable]="false" [minHeight]="minHeight" 
        [add]="addObjetivo.bind(this)" [load]="loadObjetivo.bind(this)" [remove]="removeObjetivo.bind(this)" [save]="saveObjetivo.bind(this)"
        [hasDelete]="true" [hasEdit]="true" [join]="join" [groupBy]="groupBy" [groupTemplate]="groupEixoTematico">
    <ng-template let-separator="separator" #groupEixoTematico>
        <strong class="grid-group-text">Eixo Temático: </strong>
        <span class="text-wrap"><badge color="primary" [label]="separator?.text"></badge></span>
    </ng-template>
    <columns>
        <column title="Nome" [template]="columnNome"><ng-template let-row="row" #columnNome><span>{{ row.nome }}</span></ng-template></column>
        <column title="Fundamentação" [template]="columnFundamentacao"><ng-template let-row="row" #columnFundamentacao><span>{{ row.fundamentacao }}</span></ng-template></column>
        <column *ngIf="entity?.unidade_id" title="Objetivo Superior" [template]="columnObjetivoSuperior"><ng-template let-row="row" #columnObjetivoSuperior><span>{{ row.objetivo_superior?.nome  || '' }}</span></ng-template></column>
        <column title="Eixo Temático" [template]="columnEixoTematico"><ng-template let-row="row" #columnEixoTematico><span>{{ row.eixo_tematico_id }}</span></ng-template></column>
        <column type="options" [options]="options"></column>
    </columns>
</grid>
<!-- 
<columns>
    <column title="Nome" [template]="columnNome" [editTemplate]="editNome">
        <ng-template let-row="row" #nome>
            <span>{{ row.nome }}</span>
        </ng-template>
        <ng-template let-row="row" #editNome>
            <input-text label="Nome" [size]="12" controlName="nome" [control]="form!.controls.nome"></input-text>
        </ng-template>
    </column>Rundamentacao" [editTemplate]="editFundamentacao">
        <ng-template let-row="row" #fundamentacao>
            <span>{{ row.fundamentacao }}</span>
        </ng-template>
        <ng-template let-row="row" #editFundamentacao>
            <input-textarea label="Fundamentação" [rows]="3" controlName="fundamentacao" [control]="form!.controls.fundamentacao"></input-textarea>
        </ng-template>
    </column>
    <column title="Objetivo Superior" [template]="objetivoSuperior" [editTemplate]="editObjetivoSuperior">
        <ng-template let-row="row" #objetivoSuperior>
            <span>{{ row.objetivo_superior_id }}</span>
        </ng-template>
        <ng-template let-row="row" #editObjetivoSuperior>
            <input-search [size]="6" label="Objetivos Superiores" icon="fab fa-unity" controlName="objetivo_superior_id" [control]="form!.controls.objetivo_superior_id" [dao]="planejamentoObjetivoDao" [selectRoute]="{route: ['cadastros', 'planejamento-objetivo']}"></input-search>                        
        </ng-template>
    </column>
    <column title="Eixo Temático" [template]="eixoTematico" [editTemplate]="editEixoTematico">
        <ng-template let-row="row" #eixoTematico>
            <span>{{ row.eixo_tematico_id }}</span>
        </ng-template>
        <ng-template let-row="row" #editEixoTematico>
            <input-search [size]="6" label="Eixos Temáticos" icon="fab fa-unity" controlName="eixo_tematico_id" [control]="form!.controls.eixo_tematico_id" [dao]="eixoTematicoDao" [selectRoute]="{route: ['cadastros', 'eixo-tematico'], params: {filter: {data_fim: null}}}"></input-search>                        
        </ng-template>
    </column>
    <column type="options"></column>
</columns>
 -->

<!--  <columns>
    <column title="Nome" [template]="columnNome"><ng-template let-row="row" #columnNome><span>{{ row.nome }}</span></ng-template></column>
    <column title="Fundamentação" [template]="columnFundamentacao"><ng-template let-row="row" #columnFundamentacao><span>{{ row.fundamentacao }}</span></ng-template></column>
    <column *ngIf="entity?.unidade_id" title="Objetivo Superior" [template]="columnObjetivoSuperior"><ng-template let-row="row" #columnObjetivoSuperior><span>{{ row.objetivo_superior?.nome  || '' }}</span></ng-template></column>
    <column title="Eixo Temático" [template]="columnEixoTematico"><ng-template let-row="row" #columnEixoTematico><span>{{ row.eixo_tematico_id }}</span></ng-template></column>
    <column type="options" [dynamicOptions]></column>
</columns> -->