<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="entregas" (submit)="onSaveData()" (cancel)="onCancel()">
    <div>
        <div class="row">
            <input-search #unidade [size]="4" [disabled]="entity?.id ? 'disabled' : undefined" controlName="unidade_id" [dao]="unidadeDao" (change)="onUnidadeChange()" [where]="unidadeWhere" required [selectParams]="{filter: {apenas_chefiadas: true}}"></input-search>
            <input-select #programa [size]="4" [label]="lex.translate('Programa de gestão')" icon="bi bi-file-bar-graph" required  [disabled]="entity?.id ? 'disabled' : undefined" controlName="programa_id" (change)="onProgramaChange()"></input-select>
            <input-datetime date [size]="2" label="Início" controlName="data_inicio" [labelInfo]="'Início ' + lex.translate('Plano de Entrega')" (change)="onDataChange()" required></input-datetime>
            <input-datetime date [size]="2" #data_fim label="Fim" controlName="data_fim" [labelInfo]="'Fim ' + lex.translate('Plano de Entrega')" (change)="onDataChange()" required></input-datetime>
        </div>
        <div class="row">
            <input-text #nome [size]="4" label="Nome" controlName="nome" [attr.maxlength]=250 required></input-text>
            <input-search #planejamento [size]="4" [emptyValue]="null" controlName="planejamento_id" label="Planejamento Institucional" [dao]="planejamentoInstitucionalDao"></input-search>
            <input-search #cadeiaValor [size]="4" [emptyValue]="null" controlName="cadeia_valor_id" label="Cadeia de Valor" [dao]="cadeiaValorDao"></input-search>
        </div>
        <separator title="Entregas"></separator>
        <plano-entrega-list-entrega #entregas noPersist [disabled]="formDisabled" [control]="form!.controls.entregas" [planejamentoId]="form!.controls.planejamento_id.value" [cadeiaValorId]="form!.controls.cadeia_valor_id.value" [unidadeId]="form!.controls.unidade_id.value" [dataFim]="form!.controls.data_fim.value"></plano-entrega-list-entrega>
    </div>
</editable-form>