<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <div>
        <div class="row">
            <input-text [size]="6" label="Nome " icon="bi bi-textarea-t" controlName="nome" [control]="form!.controls.nome"></input-text>
            <input-datetime date [size]="3" label="Início" icon="bi bi-calendar-date" controlName="inicio" [control]="form!.controls.inicio" [labelInfo]="'Início do ' +lex.noun('plano de entrega')"></input-datetime>
            <input-datetime date [size]="3" label="Fim" icon="bi bi-calendar-date" controlName="fim" [control]="form!.controls.fim" [labelInfo]="'Fim do '+lex.noun('plano de entrega')"></input-datetime>
        </div>
        <div  class="row">
            <input-search [size]="6" controlName="planejamento_id" label="Selecione o Planejamento da Unidade Instituidora vinculado" [dao]="planejamentoInstitucionalDao" ></input-search>
            <input-search [size]="6" controlName="cadiea_valor_id" label="Selecione a Cadeia de Valor vinculado" [dao]="cadeiaValorDao"></input-search>    
        </div>
        <separator></separator>
        <div class="row">
            <grid [control]="form!.controls.entregas" [form]="formEntregas" [hasEdit]="true" [hasDelete]="true" [add]="addEntrega.bind(this)" [load]="loadEntrega.bind(this)" [remove]="removeEntrega.bind(this)" 
                  [save]="saveEntrega.bind(this)" editable [groupTemplate]="groupEntregas" >
                <ng-template let-separator="separator" #groupEntregas>
                    <strong class="grid-group-text">Entregas: </strong><span class="text-wrap"><badge color="primary" [label]="separator?.text"></badge></span>
                </ng-template>
                <columns>
                    <column [title]="'Entrega/\nCliente'" [template]="columnEntregaCliente" [editTemplate]="editEntregaCliente">
                        <ng-template let-row="row" #columnEntregaCliente>
                            <span>{{row.descricao+" / "+row.cliente}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editEntregaCliente>
                            <input-text [size]="6" controlName="descricao"></input-text>
                            <input-text  [size]="6" controlName="cliente"></input-text>
                        </ng-template>
                    </column>
                    <column [title]="'Data Início/\nData Fim'" [template]="columnDatas" [editTemplate]="editDatas">
                        <ng-template let-row="row" #columnDatas>
                            <span> {{dao!.getDateFormatted(row.dt_inicio)+" até "+dao!.getDateFormatted(row.dt_fim)}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editDatas>
                            <input-datetime noIcon date [size]="6" controlName="dt_inicio"></input-datetime>
                            <input-datetime noIcon date [size]="6" controlName="dt_fim"></input-datetime>
                        </ng-template>
                    </column>
                    <column title="Indicador" [template]="columnIndicador" [editTemplate]="editIndicador">
                        <ng-template let-row="row" #columnIndicador>
                            <span>{{row.tipo_indicador}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editIndicador>
                            <input-select [items]="lookup.TIPO_INDICADOR" [size]="6"  controlName="tipo_indicador"></input-select>                        
                        </ng-template>
                    </column>
                    <column title="Meta Geral" [template]="columnMetaGeral" [editTemplate]="editMetaGeral">
                        <ng-template let-row="row" #columnMetaGeral>
                            <span>{{row.meta}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editMetaGeral>
                            <input-text [size]="12"  controlName="meta" ></input-text>                        
                        </ng-template>
                    </column>
                    <column title="Realizado" [template]="columnRealizado" [editTemplate]="editRealizado">
                        <ng-template let-row="row" #columnRealizado>
                            <span>{{row.vl_realizado}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editRealizado>
                            <input-text [size]="6"  controlName="vl_realizado"></input-text>                        
                        </ng-template>
                    </column>
                    <column title="Objetivos/Processos/Atividades" [template]="columnObjetivod" [editTemplate]="editObjetivos">
                        <ng-template let-row="row" #columnObjetivod>
                            <span>{{row.objetivos}}</span>
                        </ng-template>
                        <ng-template let-row="row" #editObjetivos>
                            <input-search [size]="6" controlName="objetivos" ></input-search>                        
                        </ng-template>
                    </column>
                    <column icon="bi bi-check-lg" titleHint="Se a entrega foi homologada" [template]="columnHomologado" [editTemplate]="editHomologado">
                        <ng-template let-row="row" #columnHomologado>
                            <div class="text-center"><i *ngIf="row.concluido" class="bi bi-check-circle"></i></div>
                        </ng-template>
                        <ng-template let-row="row" #editHomologado>
                            <input-switch [size]="12" controlName="homologado"></input-switch>                       
                        </ng-template>
                    </column>
                    <column type="options"></column>
                </columns>
            </grid>
        </div>
    </div>
</editable-form>

