.indicador-vertical__legenda {
  display: flex;
  gap: var(--spacing-scale-2x);
  margin-top: var(--spacing-scale-2x);
}

.indicador-vertical__legenda-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-scale-half);
  font-size: var(--font-size-scale-down-01);
}

.indicador-vertical__legenda-cor {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
}

.indicador-vertical__saiba-mais {
  margin-top: var(--spacing-scale-base);
  font-size: var(--font-size-scale-down-01);

  a {
    color: var(--interactive);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
