<editable-form [form]="form!" [disabled]="false" [title]="isModal ? '' : title">
    <div *ngIf="erros?.length" class="alert alert-danger mt-2 break-spaces" role="alert">{{erros}}</div>
    <div class="row">
        <div class="row">
            <input-datetime [size]="3" datetime label="Início" controlName="inicio" [control]="form!.controls.inicio"></input-datetime>
            <input-radio [size]="4" label="Cálculo desejado" controlName="tipo_calculo" [control]="form!.controls.tipo_calculo" [items]="opcoes_calculo" (onChange)="onTipoCalculoChange($event)"></input-radio>
            <input-datetime [size]="3" datetime [disabled]="disabled_datetime ? 'disabled' : undefined" label="Data-fim" controlName="datafim_fimoutempo" [control]="form!.controls.datafim_fimoutempo"></input-datetime>
            <input-timer onlyHours [disabled]="disabled_datetime ? 'disabled' : undefined" label="Tempo" [size]="2" icon="bi bi-clock" controlName="tempo_fimoutempo" [control]="form!.controls.tempo_fimoutempo"></input-timer>
        </div>
        <div class="row">
            <input-search #unidade [size]="7" label="Unidade" icon="fab fa-unity" controlName="unidade_id" [control]="form!.controls.unidade_id" [dao]="unidadeDao" [selectRoute]="{route: ['configuracoes', 'unidade']}"></input-search>
            <input-number [size]="2" numbers label="Carga horária" icon="bi bi-upc" controlName="carga_horaria" [control]="form!.controls.carga_horaria"></input-number>
            <input-select [size]="3" label="Tipo Contagem" controlName="tipo" [control]="form!.controls.tipo" [items]="lookup.TIPO_CONTAGEM"></input-select>
        </div>
        <div class="row">
            <input-search [size]="6" #usuario label="Usuário" controlName="usuario_id" [control]="form!.controls.usuario_id" [dao]="usuarioDao" [selectRoute]="{route: ['configuracoes', 'usuario']}" (select)="onUsuarioSelect()"></input-search>
            <input-switch [size]="2" label="Incluir Afastamentos" controlName="incluir_afastamentos" [control]="form!.controls.incluir_afastamentos" (change)="onAfastamentosChange($event)"></input-switch>
        </div>
        <separator title="Pesquisa de Pausas">
            <div class="row">
                <input-switch [size]="2" label="Incluir Pausas" controlName="incluir_pausas" [control]="form!.controls.incluir_pausas" (change)="onPausasChange($event)"></input-switch>
                <input-select #demandas [size]="6" label="Demanda" controlName="demanda_id" [control]="form!.controls.demanda_id" [items]="demandas_usuario" (change)="onDemandaChange($event)"></input-select>
            </div>
        </separator>

    </div>
    <separator title="Botões para Testes">
        <toolbar [buttons]="toolbarButtons"></toolbar>
    </separator>
</editable-form>
<separator title="Resultados">
    <div *ngIf="efemeridesFrontEnd" class="col-6">
        <calendar-efemerides [efemerides]="efemeridesFrontEnd"></calendar-efemerides>    
    </div>
    <div *ngIf="efemeridesBackEnd" class="col-6">
        <calendar-efemerides [efemerides]="efemeridesBackEnd"></calendar-efemerides>
    </div>  
</separator>
<!--         <separator title="Pesquisa de Afastamentos">
            <div class="row">
                <input-switch [size]="2" label="Incluir Afastamentos" controlName="incluir_afastamentos" [control]="form!.controls.incluir_afastamentos" (change)="onAfastamentosChange($event)"></input-switch>
                <input-select [size]="4" #tipoMotivoAfastamento [disabled]="disabled_afastamentos ? 'disabled' : undefined" label="Motivo" itemTodos="- Todos -" [valueTodos]="null" controlName="tipo_motivo_afastamento_id" [control]="form!.controls.tipo_motivo_afastamento_id" [dao]="tipoMotivoAfastamentoDao"></input-select>
                <input-datetime datetime [size]="3" [disabled]="disabled_afastamentos ? 'disabled' : undefined" label="Início" controlName="inicio_afastamento" [control]="form!.controls.inicio_afastamento"></input-datetime>
                <input-datetime datetime [size]="3" [disabled]="disabled_afastamentos ? 'disabled' : undefined" label="Fim" controlName="fim_afastamento" [control]="form!.controls.fim_afastamento"></input-datetime>
            </div>
        </separator> -->