<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_TIPO_PROC_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_TIPO_PROC_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="'Nome ' + lex.translate('tipo de documento')" controlName="nome" placeholder="Nome..."></input-text>
        </div>
    </filter>
    <columns>
        <column title="Código" field="codigo"></column>
        <column title="Descrição" field="nome"></column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
