<!--<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>-->
<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [hasAdd]="auth.hasPermissionTo('MOD_AFT_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_AFT_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed" [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')">
        <div class="row">
            <input-search [size]="3" #usuario [control]="filter!.controls.usuario_id" controlName="usuario_id" [dao]="usuarioDao"></input-search>
            <input-search [size]="3" #tipoMotivoAfastamento [control]="filter!.controls.tipo_motivo_afastamento_id" controlName="tipo_motivo_afastamento_id" [dao]="tipoMotivoAfastamentoDao" label="Motivo"></input-search>
            <input-datetime date [size]="3" label="Início" controlName="data_inicio" (click)="filtro()"></input-datetime>
            <input-datetime date [size]="3" label="Fim" controlName="data_fim" (click)="filtro()"></input-datetime>
        </div>
    </filter>
    <columns>
        <column [title]="lex.translate('Usuário')" [template]="columnUsuario">
            <ng-template let-row="row" #columnUsuario>
                <span> {{row.usuario.nome}}</span>
            </ng-template>
        </column>
        <column [title]="lex.translate('Motivo')" [template]="columnMotivoAfastamento">
            <ng-template let-row="row" #columnMotivoAfastamento>
                <i [class]="row.tipo_motivo_afastamento.icone"></i>
                <span [style.color]="row.tipo_motivo_afastamento.cor"> {{row.tipo_motivo_afastamento.nome}}</span>
                <span *ngIf="row.tipo_motivo_afastamento.codigo"> {{'(cód. '+row.tipo_motivo_afastamento.codigo+')'}}</span>
            </ng-template>
        </column>
        <column title="Início" [template]="columnInicioAfastamento">
            <ng-template let-row="row" #columnInicioAfastamento>
                <span> {{dao!.getDateFormatted(row.data_inicio)}}</span>
            </ng-template>
        </column>
        <column title="Fim" [template]="columnFimAfastamento">
            <ng-template let-row="row" #columnFimAfastamento>
                <span> {{dao!.getDateFormatted(row.data_fim)}}</span>
            </ng-template>
        </column>
        <column title="Horas" [template]="columnHoras">
            <ng-template let-row="row" #columnHoras>
                <span> {{row.horas}}</span>
            </ng-template>
        </column>
        <column title="Observações" field="observacoes"></column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
