.h4, .card-title{
    font-family: neutra text;
    font-weight: bold;
  }
  
.card{
    align-items: center;
  }

.card-footer{
    align-items: center;
  }

.chart-container, .divgraficob5{
   position: relative; 
   height:40vh; 
   width:80vw
  }

  .fas{
    width: 20px !important;
  }