<editable-form [form]="form!" [disabled]="formDisabled" (submit)="onSaveData()" (cancel)="onCancel()">
    <separator *ngIf="gb.isEmbedded" transparent bottom [collapsed]="false">
        <input-button label="Nº doc. entregue" #docEntregue [size]="4" controlName="numero_documento_entrega" [control]="form!.controls.numero_documento_entrega" (buttonClick)="onNumeroDocumentoEntregaClick($event)" labelInfo="Numero do documento entregue, caso seja o Sei é o numero Sei"></input-button>
        <input-text label="Título do documento" [size]="8" controlName="titulo_documento_entrega" [control]="form!.controls.titulo_documento_entrega" disabled labelInfo="Título do documento entregue"></input-text>
    </separator>
    <div class="row">
        <input-search label="Atividade" #atividade [size]="6" controlName="atividade_id" [control]="form!.controls.atividade_id" [dao]="atividadeDao" (select)="onAtividadeSelect($event)" [groupBy]="[{field: 'unidade.sigla', label: 'Unidade'}]" [where]="[['unidade_id', '=', entity?.unidade_id], ['vinculadas', '=', true]]" [selectRoute]="{route: ['cadastros', 'atividade'], params: {filter: {unidade_id: entity?.unidade_id}}}"></input-search>
        <input-select label="Complexidade" [size]="4" controlName="fator_complexidade" [control]="form!.controls.fator_complexidade" [items]="complexidades" (change)="onComplexidadeChange($event)" labelInfo="Multiplicador do tempo da atividade"></input-select>
        <input-switch label="Arquivar" [size]="2" [disabled]="entity?.plano?.tipo_modalidade?.dispensa_avaliacao ? undefined : 'true'" controlName="arquivar" [control]="form!.controls.arquivar" labelInfo="Arquivar automaticamente após a conclusão (Somente se o plano dispensar avaliação)"></input-switch>
    </div>
    <div class="row">
        <input-textarea [size]="12" [rows]="2" label="Descrição técnica" controlName="descricao_tecnica" [control]="form!.controls.descricao_tecnica"></input-textarea>
    </div>
    <separator [title]="lex.noun('Entrega', true)" collapse [collapsed]="false">
        <demanda-list-entrega persist [demanda]="entity"></demanda-list-entrega>
    </separator>
    <div *ngIf="!entity?.plano?.tipo_modalidade?.calcula_tempo_despendido; else comTempoDespendido" class="row">
        <input-timer onlyHours [size]="3" [label]="lex.noun('Tempo pactuado')" disabled controlName="tempo_pactuado" [control]="form!.controls.tempo_pactuado" labelInfo="Tempo calculado a partir da atividade e utilizando o fator_complexidade"></input-timer>
        <input-datetime noIcon [size]="3" [label]="lex.noun('Prazo de entrega')" disabled controlName="prazo_entrega" [control]="form!.controls.prazo_entrega" labelInfo="Data estipulada para entrega da demanda"></input-datetime>
        <input-datetime noIcon [size]="3" label="Data de inicio" disabled controlName="data_inicio" [control]="form!.controls.data_inicio" labelInfo="Data de inicio"></input-datetime>
        <input-datetime noIcon [size]="3" label="Data de entrega" #entrega controlName="data_entrega" [control]="form!.controls.data_entrega" (change)="onDataEntregaChange($event)" labelInfo="Data e hora da entrega"></input-datetime>
    </div>
    <ng-template #comTempoDespendido>
        <div class="row">
            <input-datetime noIcon [size]="4" [label]="lex.noun('Data de distribuição')" disabled controlName="data_distribuicao" [control]="form!.controls.data_distribuicao" labelInfo="Data de cadastro da demanda"></input-datetime>
            <input-timer [label]="lex.noun('Tempo pactuado')" onlyHours [size]="4" disabled controlName="tempo_pactuado" [control]="form!.controls.tempo_pactuado" labelInfo="Tempo calculado a partir da atividade e utilizando o fator_complexidade"></input-timer>
            <input-datetime noIcon [size]="4" [label]="lex.noun('Prazo de entrega')" disabled controlName="prazo_entrega" [control]="form!.controls.prazo_entrega" labelInfo="Data estipulada para entrega da demanda"></input-datetime>
        </div>
        <div class="row">
            <input-datetime noIcon [size]="4" label="Data de inicio" disabled controlName="data_inicio" [control]="form!.controls.data_inicio" labelInfo="Data de inicio"></input-datetime>
            <input-timer label="Tempo despendido" [size]="4" disabled controlName="tempo_despendido" [control]="form!.controls.tempo_despendido" labelInfo="Tempo despendido na atividade (considerando fins de semana, feriados e afastamentos)"></input-timer>
            <input-datetime noIcon [size]="4" label="Data de entrega" #entrega controlName="data_entrega" [control]="form!.controls.data_entrega" (change)="onDataEntregaChange($event)" labelInfo="Data e hora da entrega"></input-datetime>
        </div>
    </ng-template>
    <separator *ngIf="efemerides" title="Cálculos das horas" collapse>
        <calendar-efemerides [efemerides]="efemerides"></calendar-efemerides>
    </separator>
</editable-form>
