<div class="card my-3 cardIdade" id="cardIdade">
  <div class="card-header">
    <div class="row">
      <label name="lblIdade" id="lblIdade" class="fw-bold">
        {{!indice ? "" : indice + ". "}}{{pergunta?.pergunta || titulo || ""}}
      </label>
    </div>
  </div>
  <div class="card-body text-wrap">
    <div class="col-md-12">
      <ng-container *ngIf="!pergunta">
        <ng-content></ng-content>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'EMOJI'">
        <input-select [size]="size || 6" [controlName]="pergunta?.codigo || null" [control]="control" [items]="lookup.ICONES"></input-select>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'SEARCH'">
        <input-search [size]="size || 12" [controlName]="pergunta?.codigo || null" [control]="control" [dao]="getDao(pergunta)"></input-search>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'SELECT'">
        <input-select [size]="size || 6" [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)"></input-select>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'MULTI_SELECT'">
        <input-multiselect [size]="size || 12" [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)"></input-multiselect>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'TEXT'">
        <input-text [size]="size || 12" [controlName]="pergunta?.codigo || null" [control]="control"></input-text>
      </ng-container>        
      <ng-container *ngIf="pergunta?.tipo == 'TEXT_AREA'">
        <input-textarea [size]="size || 12" [rows]="2" [controlName]="pergunta?.codigo || null" [control]="control"></input-textarea>
      </ng-container>       
      <ng-container *ngIf="pergunta?.tipo == 'TIMER'">
        <input-timer [size]="size || 6" [controlName]="pergunta?.codigo || null" [control]="control"></input-timer>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'DATE_TIME'">
        <input-datetime [date]="checkDateTimeTipo(pergunta, 'DATE') ? 'true' : undefined" [time]="checkDateTimeTipo(pergunta, 'TIME') ? 'true' : undefined" [size]="size || 6" [controlName]="pergunta?.codigo || null" [control]="control"></input-datetime>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'SWITCH'">
        <input-switch [size]="size || 6" labelPosition="right" [controlName]="pergunta?.codigo || null" [control]="control" (change)="onChange($event)"></input-switch>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'NUMBER'">
        <input-number [size]="size || 4" [controlName]="pergunta?.codigo || null" [control]="control" (change)="onChange($event)"></input-number>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'RATE'">
        <input-rate [size]="size || 6" [controlName]="pergunta?.codigo || null" [control]="control"></input-rate>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'RADIO'">
        <input-radio [size]="size || 12" circle [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)" (change)="onChange($event)"></input-radio>        
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'RADIO_INLINE'">
        <input-radio [size]="size || 12" circle inline [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)" (change)="onChange($event)"></input-radio>
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'RADIO_BUTTON'">
        <input-radio [size]="size || 12" [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)" (change)="onChange($event)"></input-radio>        
      </ng-container>
      <ng-container *ngIf="pergunta?.tipo == 'CHECK'">
        <input-check [size]="size || 12" [controlName]="pergunta?.codigo || null" [control]="control" [items]="asLookupItem(pergunta?.respostas)" (change)="onChange($event)"></input-check>
      </ng-container>
    </div>
  </div>
</div>
