@import url('https://fonts.cdnfonts.com/css/neutra-text-alt');

.h4, .card-title{
  font-family: neutra text;
  font-weight: bold;
}

.card-img-top{
  height: auto;
  max-width: 90px;
 // background-color: #f5f7fa;
}

.card{
  align-items: center;
}