<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" [join]="join" [hasEdit]="true" [hasDelete]="true" [add]="addEntrega.bind(this)" [load]="loadEntrega.bind(this)" [remove]="removeEntrega.bind(this)" 
              [save]="saveEntrega.bind(this)" editable>
            <columns>
                <column [title]="'Descrição ' + lex.noun('Entrega', false, true)" [template]="columnDescricao" [editTemplate]="editDescricao">
                    <ng-template let-row="row" #columnDescricao>
                        <span>{{ row.plano_entrega_entrega?.descricao || "" }}</span>
                    </ng-template>
                    <ng-template let-row="row" #editDescricao>
                        <input-search [size]="6" label="Entrega do Plano de Entregas" controlName="plano_entrega_entrega_id" [control]="form!.controls.plano_entrega_entrega_id" [dao]="planoEntregaEntregaDao" [selectRoute]="{route: ['gestao', 'plano-entrega', 'entrega']}"></input-search>
                    </ng-template>
                </column>
                <column title="Meta" [template]="columnMeta" [editTemplate]="editMeta">
                    <ng-template let-row="row" #columnMeta>
                        <span>{{ row.meta ? row.meta[0].value : "" }}</span>
                    </ng-template>
                    <ng-template let-row="row" #editMeta>
                    </ng-template>
                </column>
                <column title="Realizado" [template]="columnRealizado" [editTemplate]="editRealizado">
                    <ng-template let-row="row" #columnRealizado>
                        <span>{{ row.realizado ? row.realizado[0].value : "" }}</span>
                    </ng-template>
                    <ng-template let-row="row" #editRealizado>
                    </ng-template>
                </column>
                <column type="options"></column>
            </columns>
        </grid>
    </div>
</editable-form>













<!-- Grid-List:

[+]  Data Início Data Fim    Responsável                            Avaliação
   +-----------+-----------+-------------------------------------+-------------------------
   | XX/XX/XXXX  XX/XX/XXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX (NOTA) (TIPO AVALIACAO)
   |                                                              (AVALIADOR)
   |                                                              (Justificativa)  
   .......................................................................................
   Entrega       Indicador           Meta         Realizado
   -------------+-------------------+------------+------------- 
   XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXX   9999999     99999999







   Plano de Entregas
   Unidade (Setor)
   Planejamento_estrategico_id
   Cadeia_valor_id
   Entregas
            Inicio     Fim        Indicador (vem do cadastro entrega) Metal geral Realizado Objetivos* Processos*    Atividades*          Cliente      Hmg
      Ent1: 01/01/2022 -          Quantidade                          1000        200       Ob1, Ob1   Proc1, Proc2  Tip.Ativ1, Tip.Atv2  uOrg1, uOrg2 S
      Ent2: 01/01/2022 30/12/2022 %                                   100         70        Ob2                                                        S
      Ent3: 01/01/2022 30/12/2024 Qualitativo                         Excelente   Bom                                                                  S      Ent4: 09/12/2022 30/12/2022 ...                                                                                                                  N
   Ponto de controle
      [01/01/2023][30/01/2023]:
          Responsável: Genisson
          Entregas:
                    Indicador (vem do cadastro entrega) Meta do Mês  Realizado  
          Ent1:     Quantidade                          100          90
          Ent3:     Qualitativo                         Satisfatório Ruim
      [01/02/2023][30/02/2023]:
          Responsável: Paiva
          Entregas:
                    Indicador (vem do cadastro entrega) Meta         Realizado
          Ent1:     Quantidade                          110          110
          Ent2:     %                                   70           70
          Ent3:     Qualitativo                         Excelente    Bom
* Deverá haver pelo menos 1


 -->