<editable-form noButtons [form]="form!" [disabled]="formDisabled">
    <div class="row">
        <grid [items]="items" [form]="form!" [hasDelete]="true" [add]="addObjetivo.bind(this)" [load]="loadObjetivo.bind(this)" [remove]="removeObjetivo.bind(this)" [save]="saveObjetivo.bind(this)" editable><!--  [groupTemplate]="groupEixoTematico" [groupBy]="groupBy"> -->
<!--             <ng-template let-group="group" #groupEixoTematico>
                <strong *ngIf="group?.length"><i [class]="lookup.getIcon(lookup.ICONES, group[0].value)"></i> {{lookup.getValue(lookup.ICONES, group[0].value)}}</strong>
            </ng-template> -->
            <columns>
                <column title="Nome" [template]="nome" [editTemplate]="editNome">
                    <ng-template let-row="row" #nome>
                        <strong class="d-block" >{{ row.nome }}</strong>
                    </ng-template>
                    <ng-template let-row="row" #editNome>
                        <input-text [size]="12" controlName="nome" [control]="form!.controls.nome"></input-text>
                    </ng-template>
                </column>
                <column title="Fundamentação" [template]="fundamentacao" [editTemplate]="editFundamentacao">
                    <ng-template let-row="row" #fundamentacao>
                        <span>{{ row.fundamentacao }}</span>
                    </ng-template>
                    <ng-template let-row="row" #editFundamentacao>
                        <input-textarea [rows]="3" controlName="fundamentacao" [control]="form!.controls.fundamentacao"></input-textarea>
                    </ng-template>
                </column>
                <column title="Objetivo Superior" [template]="objetivoSuperior" [editTemplate]="editObjetivoSuperior">
                    <ng-template let-row="row" #objetivoSuperior>
                        <span>{{ row.objetivo_superior_id }}</span>
                    </ng-template>
                    <ng-template let-row="row" #editObjetivoSuperior>
                        <input-search [size]="6" label="Objetivos Superiores" icon="fab fa-unity" controlName="objetivo_superior_id" [control]="form!.controls.objetivo_superior_id" [dao]="planejamentoObjetivoDao" [selectRoute]="{route: ['cadastro', 'planejamento-objetivo']}"></input-search>                        
                    </ng-template>
                </column>
                <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
            </columns>
        </grid>
    </div>
</editable-form>