<accordion #accordion [items]="planos" [titleTemplate]="planoTrabalhoSectionTitle" [template]="planoTrabalhoSection">
    <ng-template let-item="item" #planoTrabalhoSectionTitle>
        <div class="row w-100">
            <div class="col-md-1">{{'#' + item.numero}}</div>
            <div class="col-md-5">
                <badge [icon]="entityService.getIcon('Unidade')" [label]="item.unidade?.sigla" color="light"></badge>
                <badge [icon]="entityService.getIcon('Programa')" [label]="item.programa?.nome" color="light"></badge>
                <badge [icon]="entityService.getIcon('TipoModalidade')" [label]="item.tipo_modalidade?.nome" color="light"></badge>
            </div>
            <div class="col-md-4">
                {{dao!.getDateFormatted(item.data_inicio_vigencia)+" até "+dao!.getDateFormatted(item.data_fim_vigencia)}}
            </div>
            <div class="col-md-2">
                <badge color="danger" label="STATUS"></badge>
            </div>
        </div>
    </ng-template>
    <ng-template let-item="item" #planoTrabalhoSection>
        <plano-trabalho-consolidacao-list [entity]="item"></plano-trabalho-consolidacao-list>
    </ng-template>
</accordion>