<div class="p-3 bg-body-secondary mb-3">    
    <div class="row w-100">
        <div class="col-md-1">#ID</div>
        <div class="col-md-4">{{lex.translate('Participante')}}/{{lex.translate('Unidade')}}/{{lex.translate('Programa')}}/{{lex.translate('Tipo de modalidade')}}</div>
        <div class="col-md-3">Vigência</div>
        <div class="col-md-2"></div>
        <div class="col-md-2">Status</div>
    </div>
</div>

<accordion #accordion [items]="planos" [selectedIndex]="selectedIndex" [titleTemplate]="planoTrabalhoSectionTitle" [template]="planoTrabalhoSection">
    <ng-template let-item="item" #planoTrabalhoSectionTitle>
        <div class="row w-100">
            <div class="col-md-1">{{'#' + item.numero}}</div>
            <div class="col-md-6">
                <badge [icon]="entityService.getIcon('Usuario')" [label]="item.usuario?.nome" color="light" [hint]="lex.translate('Participante') + ': ' + item.usuario?.nome"></badge>
                <badge [icon]="entityService.getIcon('Unidade')" [label]="item.unidade?.sigla" color="light" [hint]="lex.translate('Unidade') + ': ' + item.unidade?.nome"></badge>
                <badge [icon]="entityService.getIcon('Programa')" [label]="item.programa?.nome" color="light" [hint]="lex.translate('Programa')"></badge>
                <badge [icon]="entityService.getIcon('TipoModalidade')" [label]="item.tipo_modalidade?.nome" color="light" [hint]="lex.translate('Tipo de modalidade')"></badge>
            </div>
            <div class="col-md-3">
                {{dao!.getDateFormatted(item.data_inicio)+" até "+dao!.getDateFormatted(item.data_fim)}}
            </div>
            <!-- <div class="col-md-2">
                <badge *ngFor="let badge of getPlanoBadges(item)" [badge]="badge"></badge>
            </div> -->
            <div class="col-md-2">
                <badge [label]="lookup.getValue(lookup.PLANO_TRABALHO_STATUS, item.status)" [icon]="lookup.getIcon(lookup.PLANO_TRABALHO_STATUS, item.status)" [color]="lookup.getColor(lookup.PLANO_TRABALHO_STATUS, item.status)"></badge>
            </div>
        </div>
    </ng-template>
    <ng-template let-item="item" #planoTrabalhoSection>
        <plano-trabalho-consolidacao-list [entity]="item"></plano-trabalho-consolidacao-list>
    </ng-template>
</accordion>
