<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="nome" (submit)="alteraSenha()" (cancel)="onCancel()">
  <div class="row">
    <input-text [size]="5" label="Nome" controlName="nome" [attr.maxlength]=250 required disabled></input-text>
    <input-text [size]="4" label="E-mail" controlName="email" [attr.maxlength]=250 required disabled></input-text>
    <input-text [size]="3" label="Senha" controlName="password" required password></input-text>
  </div>
</editable-form>
