<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_CADV_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_CADV_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="6" label="Nome Cadeia de Valor" controlName="nome" [control]="filter!.controls.nome" placeholder="Nome"></input-text>
            <input-datetime [size]="3" date label="Início" controlName="inicio" [control]="filter!.controls.inicio" labelInfo="Data de início da Cadeia de Valor"></input-datetime>
            <input-datetime [size]="3" date label="Fim" controlName="fim" [control]="filter!.controls.fim" labelInfo="Data do fim do plano da Cadeia de Valor"></input-datetime>
        </div>
    </filter>
    <columns>
        <column *ngIf="!selectable" type="expand" icon="bi bi-boxes" [align]="'center'" [hint]="lex.noun('Processos', true)" [template]="columnProcessos" [expandTemplate]="columnExpandedProcessos">
            <ng-template let-row="row" #columnProcessos>
                <span *ngIf="row?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-boxes"></i> {{row?.length}}</span>
            </ng-template>
            <ng-template let-row="row" #columnExpandedProcessos>
                <cadeia-valor-list-processos #processos [entity]="row" [cdRef]="cdRef"></cadeia-valor-list-processos>
            </ng-template>
        </column>
        <column title="Nome" field="nome" orderBy="nome"></column>
        <column title="Início" [template]="columnInicio">
            <ng-template let-row="row" #columnInicio>
                <span> {{dao!.getDateFormatted(row.inicio)}}</span>
            </ng-template>
        </column>
        <column title="Fim" [template]="columnFim">
            <ng-template let-row="row" #columnFim>
                <span> {{dao!.getDateFormatted(row.fim)}}</span>
            </ng-template>
        </column>
        <column *ngIf="!selectable" type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>