<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join" [selectable]="selectable" (select)="onSelect($event)" [hasAdd]="auth.hasPermissionTo('MOD_CADV_INCL')" [hasEdit]="auth.hasPermissionTo('MOD_CADV_EDT')">
 
    <filter [form]="filter" [where]="filterWhere" [collapseChange]="filterCollapseChange" [collapsed]="filterCollapsed">
        <div class="row">
            <div class="col-md-3">
                <input-datetime [size]="12" label="Início" controlName="data_inicio" [control]="filter!.controls.data_inicio" (change)="onChangeData()"></input-datetime>
            </div>
            <div class="col-md-3">
                <input-datetime [size]="12" label="Fim" controlName="data_fim" [control]="filter!.controls.data_fim" (change)="onChangeData()"></input-datetime>
            </div>
            <div class="col-md-6">
                <input-search #unidade [size]="12" controlName="unidade_id" [dao]="unidadeDao"></input-search>
            </div>
        </div>
    </filter>
    <columns>
         <column *ngIf="!selectable" type="expand" icon="bi bi-bullseye" [align]="'center'" [hint]="lex.translate('Objetivo')" [template]="columnObjetivos" [expandTemplate]="columnExpandedObjetivos">
                        <ng-template let-row="row" #columnObjetivos>
                            <span *ngIf="row.objetivos?.length" class="badge rounded-pill bg-light text-dark"><i class="bi bi-bullseye"></i> {{row.processos?.length}}</span>
                        </ng-template>
                        <ng-template let-row="row" #columnExpandedObjetivos>
                            <cadeia-valor-list-processos [entity]="row"></cadeia-valor-list-processos>
                        </ng-template>
                    </column>
        <column title="Início" [template]="columnInicio" >
            <ng-template let-row="row" #columnInicio>
                <span>{{dao!.getDateFormatted(row.data_inicio)}}</span>
            </ng-template>
            
           
        </column>
        <column title="Fim" [template]="columnFim">
            <ng-template let-row="row" #columnFim>
                <span>{{dao!.getDateFormatted(row.data_fim)}}</span>
            </ng-template>
        </column>
        <column title="Nome" orderBy="nome" [template]="columnNome">
            <ng-template let-row="row" #columnNome>
                <span class="text-truncate d-block" [title]="row.nome">{{row.nome}}</span>
            </ng-template>
        </column>
        <column title="Unidade" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <span>{{row.unidade?.sigla || ""}}</span>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
