<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-search [size]="6" #usuario label="Usuário" icon="bi bi-person" controlName="usuario_id" [control]="form!.controls.usuario_id" [dao]="usuarioDao" [selectRoute]="{route: ['configuracoes', 'usuario']}"></input-search>
        <input-search [size]="6" #tipoMotivoAfastamento label="Motivo do Afastamento" icon="far fa-edit" controlName="tipo_motivo_afastamento_id" [control]="form!.controls.tipo_motivo_afastamento_id" [dao]="tipoMotivoAfastamentoDao" [selectRoute]="{route: ['cadastros', 'tipo-motivo-afastamento']}"></input-search>
    </div>
    <div class="row">
        <input-datetime [date]="isHoras() ? undefined : ''" [size]="6" label="Início" icon="bi bi-calendar-date" controlName="inicio_afastamento" [control]="form!.controls.inicio_afastamento"></input-datetime>
        <input-datetime [date]="isHoras() ? undefined : ''" [size]="6" label="Fim" icon="bi bi-calendar-date" controlName="fim_afastamento" [control]="form!.controls.fim_afastamento"></input-datetime>
    </div>
    <div class="row">
        <input-textarea [size]="12" [rows]="3" label="Observações" icon="bi bi-textarea-t" controlName="observacoes" [control]="form!.controls.observacoes"></input-textarea>
    </div>
</editable-form>
