<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" initialFocus="usuario_id" (submit)="onSaveData()" (cancel)="onCancel()"><!--</editable-form>(submit)="onSaveData()" (cancel)="onCancel()">-->
    <div class="row">
        <input-search [size]="6" #usuario controlName="usuario_id" [dao]="usuarioDao" required></input-search>
        <input-search [size]="6" #tipoMotivoAfastamento controlName="tipo_motivo_afastamento_id" [dao]="tipoMotivoAfastamentoDao" required></input-search>
    </div>
    <div class="row">
        <input-datetime [date]="isHoras() ? undefined : ''" [size]="6" label="Início" controlName="data_inicio"></input-datetime>
        <input-datetime [date]="isHoras() ? undefined : ''" [size]="6" label="Fim" controlName="data_fim"></input-datetime>
    </div>
    <div class="row">
        <input-textarea [size]="12" [rows]="3" label="Observações" controlName="observacoes"></input-textarea>
    </div>
</editable-form>
