<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title">
    <!--(submit)="onSaveData()" (cancel)="onCancel()"></editable-form>-->

    <div class="row mt-5">
        <input-textarea label="Apresente-se" [size]="12" [bold]="true" icon="bi-card-list" controlName="apresentese"
            [control]="form!.controls.apresentese"></input-textarea><!-- [control]="form!.controls.apresentese">-->
    </div>
    
    <div class="row mt-5">
        <label class="fw-bold">Dados residenciais</label>
        <hr>
    </div>
    
    <div class="row mt-2">
        <input-select [size]="4" label="Estado" icon="bi bi-arrow-up-right-circle" controlName="estados"
            [control]="form!.controls.estados" [items]="lookup.UF" (change)="onEstadosChange()">
        </input-select>
        <input-select [size]="4" label="Município" icon="bi bi-arrow-up-right-circle" controlName="municipios"
            [control]="form!.controls.municipios" [items]="municipios">
        </input-select>
        <input-text [size]="4" label="Telefone de contato WhatsAPP" icon="bi bi-arrow-up-right-circle"
            controlName="telefone" [control]="form!.controls.telefone"></input-text>
    </div>
    
    
    <div class="row mt-5">
        <label class="fw-bold">Estado Civil</label>
        <hr>
    </div>
    <div class="row mt-2">
        <input-select [size]="5" label="Estado Civil" icon="bi bi-arrow-up-right-circle" controlName="estadoCivil"
            [control]="form!.controls.estadoCivil" [items]="this.lookup.ESTADO_CIVIL">
        </input-select>
        <input-radio [size]="3" label="Possui Filhos?" icon="fas fa-hourglass-start" controlName="radioFilhos"
            [control]="form!.controls.radioFilhos" labelInfo="Possui Filhos?" [items]="lookup.SIMNAO"></input-radio>
        <input-number [hidden]="form!.controls.radioFilhos.value ? undefined : 'true'" [size]="4" label="Quantos?"
            icon="bi bi-arrow-up-right-circle" controlName="qtsFilhos" [control]="form!.controls.qtsFilhos"
            [minValue]="0"></input-number>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Idiomas</label>
        <hr>
    </div>
    <div class="row my-3">
        <input-radio [size]="3" label="Fala outros idiomas?" icon="fas fa-hourglass-start" controlName="radioFalaIdioma"
            [control]="form!.controls.radioFalaIdioma" [items]="lookup.SIMNAO">
        </input-radio>
    </div>
    <div *ngIf="form!.controls.radioFalaIdioma.value">
        <input-multiselect controlName="idiomasM" [size]="8" [control]="form!.controls.idiomasM"
            [addItemHandle]="addItemIdioma.bind(this)" noBox>
    
            <input-select [size]="3" label="Idioma" icon="fas fa-sign-out-alt" controlName="idioma" liveSearch
                [control]="form!.controls.idioma" [items]="this.lookup.IDIOMAS">
    
            </input-select>
            <input-select [size]="3" label="Qual nível de fala?" icon="fas fa-sign-out-alt" controlName="idiomaFala"
                [control]="form!.controls.idiomaFala" [items]="this.lookup.NIVEL_IDIOMA">
            </input-select>
            <input-select [size]="3" label="Qual nível de escrita?" icon="fas fa-sign-out-alt" controlName="idiomaEscrita"
                [control]="form!.controls.idiomaEscrita" [items]="this.lookup.NIVEL_IDIOMA">
            </input-select>
            <input-select [size]="3" label="Qual nível de entendimento?" icon="fas fa-sign-out-alt"
                controlName="idiomaEntendimento" [control]="form!.controls.idiomaEntendimento"
                [items]="this.lookup.NIVEL_IDIOMA">
            </input-select>
    
        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Graduação</label>
        <hr>
    </div>
    <div class="row my-3">
        <input-radio [size]="3" label="Possui Graduação?" icon="fas fa-hourglass-start" controlName="radioGraduacao"
            [control]="form!.controls.radioGraduacao" labelInfo="Possui graduacão?" [items]="lookup.SIMNAO">
        </input-radio>
    
        <input-radio [hidden]="form!.controls.radioGraduacao.value" [size]="3" label="Pretende Cursar?"
            icon="fas fa-hourglass-start" controlName="radioPretendeGraduacao"
            [control]="form!.controls.radioPretendeGraduacao" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
        </input-radio>
    
    </div>
    
    <div *ngIf="form!.controls.radioGraduacao.value || form!.controls.radioPretendeGraduacao.value">
        <input-multiselect controlName="graduacao" [size]="12" [control]="form!.controls.graduacao"
            [addItemHandle]="addItemGraduacao.bind(this)" noBox>
    
            <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="area"
                [control]="form!.controls.area" [items]="this.lookup.AREAS_GRADUACAO" (change)="onAreaChange()">
    
            </input-select>
            <input-select [size]="6" label="Curso" icon="fas fa-sign-out-alt" controlName="curso" liveSearch
                [control]="form!.controls.curso" [items]="cursos">
            </input-select>
    
        </input-multiselect>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Pós-Graduação</label>
        <hr>
    
        <div class="row my-3">
            <input-radio [size]="3" label="Possui Pós-Graduação?" icon="fas fa-hourglass-start"
                controlName="radioPosGraduacao" [control]="form!.controls.radioPosGraduacao"
                labelInfo="Possui Pós graduacão?" [items]="lookup.SIMNAO"
                (change)="setValueradioPretendePosGraduacao.bind(this)">
            </input-radio>
            <input-radio [hidden]="form!.controls.radioPosGraduacao.value" [size]="3" label="Pretende Cursar?"
                icon="fas fa-hourglass-start" controlName="radioPretendePosGraduacao"
                [control]="form!.controls.radioPretendePosGraduacao" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div *ngIf="form!.controls.radioPosGraduacao.value || form!.controls.radioPretendePosGraduacao.value">
            <input-multiselect controlName="posgraduacao" [size]="12" [control]="form!.controls.posgraduacao"
                [addItemHandle]="addItemGraduacao.bind(this)" noBox>
    
                <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaPos" liveSearch
                    [control]="form!.controls.areaPos" [items]="this.lookup.AREAS_GRADUACAO" (change)="onAreaChange()">
    
                </input-select>
                <input-select [size]="6" label="Curso" icon="fas fa-sign-out-alt" controlName="cursoPos" liveSearch
                    [control]="form!.controls.cursoPos"></input-select>
    
            </input-multiselect>
        </div>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Mestrado</label>
        <hr>
    
        <div class="row my-3">
            <input-radio [size]="3" label="Possui Mestrado?" icon="fas fa-hourglass-start" controlName="radioMestrado"
                [control]="form!.controls.radioMestrado" labelInfo="Possui Mestrado?" [items]="lookup.SIMNAO">
            </input-radio>
            <input-radio [hidden]="form!.controls.radioMestrado.value" [size]="3" label="Pretende Cursar?"
                icon="fas fa-hourglass-start" controlName="radioPretendeMestrado"
                [control]="form!.controls.radioPretendeMestrado" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div *ngIf="form!.controls.radioMestrado.value || form!.controls.radioPretendeMestrado.value">
            <input-multiselect controlName="mestrado" [size]="12" [control]="form!.controls.mestrado"
                [addItemHandle]="addItemGraduacao.bind(this)" noBox>
    
                <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaMestrado" liveSearch
                    [control]="form!.controls.areaMestrado" [items]="this.lookup.AREAS_GRADUACAO" (change)="onAreaChange()">
    
                </input-select>
                <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoMestrado"
                    [control]="form!.controls.cursoMestrado"></input-text>
    
            </input-multiselect>
        </div>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Doutorado</label>
        <hr>
    
        <div class="row my-3">
            <input-radio [size]="3" label="Possui Doutorado?" icon="fas fa-hourglass-start" controlName="radioDoutorado"
                [control]="form!.controls.radioDoutorado" labelInfo="Possui graduacão?" [items]="lookup.SIMNAO">
            </input-radio>
    
            <input-radio [hidden]="form!.controls.radioDoutorado.value" [size]="3" label="Pretende Cursar?"
                icon="fas fa-hourglass-start" controlName="radioPretendeDoutorado"
                [control]="form!.controls.radioPretendeDoutorado" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div *ngIf="form!.controls.radioDoutorado.value || form!.controls.radioPretendeDoutorado.value">
            <input-multiselect controlName="doutorado" [size]="12" [control]="form!.controls.doutorado"
                [addItemHandle]="addItemGraduacao.bind(this)" noBox>
    
                <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaDoutorado" liveSearch
                    [control]="form!.controls.areaDoutorado" [items]="this.lookup.AREAS_GRADUACAO"
                    (change)="onAreaChange()">
    
                </input-select>
                <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoDoutorado"
                    [control]="form!.controls.cursoDoutorado"></input-text>
    
            </input-multiselect>
        </div>
    </div>
    <div class="row mt-5">
        <label class="fw-bold">Pós-Doutorado</label>
        <hr>
    
        <div class="row my-3">
            <input-radio [size]="3" label="Possui Pós-Doutorado?" icon="fas fa-hourglass-start"
                controlName="radioPosDoutorado" [control]="form!.controls.radioPosDoutorado" labelInfo="Possui PosDoc?"
                [items]="lookup.SIMNAO">
            </input-radio>
    
            <input-radio [hidden]="form!.controls.radioPosDoutorado.value" [size]="3" label="Pretende Cursar?"
                icon="fas fa-hourglass-start" controlName="radioPretendePosDoutorado"
                [control]="form!.controls.radioPretendePosDoutorado" labelInfo="Pretende Cursar?" [items]="lookup.SIMNAO">
            </input-radio>
        </div>
        <div *ngIf="form!.controls.radioPosDoutorado.value || form!.controls.radioPretendePosDoutorado.value">
            <input-multiselect controlName="posdoutorado" [size]="12" [control]="form!.controls.posdoutorado"
                [addItemHandle]="addItemGraduacao.bind(this)" noBox>
    
                <input-select [size]="6" label="Area" icon="fas fa-sign-out-alt" controlName="areaPosDoutorado" liveSearch
                    [control]="form!.controls.areaPosDoutorado" [items]="this.lookup.AREAS_GRADUACAO"
                    (change)="onAreaChange()">
    
                </input-select>
                <input-text [size]="6" label="Curso" icon="far fa-edit" controlName="cursoPosDoutorado"
                    [control]="form!.controls.cursoPosDoutorado"></input-text>
    
            </input-multiselect>
        </div>
    </div>
    

</editable-form>