/* You can add global styles to this file, and also import other style files */

/* Define variáveis do bootstrap */
:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

body {
    margin: 0px;
    background: #f1f5f7;
}

.petrvs {
    /* Reseta todas as propriedades anteriores */
    all: initial;
    cursor: inherit;

    /* Sobrescreve propriedades do Sei */
    * {
        font-family: var(--bs-body-font-family);
        font-weight: var(--bs-body-font-weight);
        color: inherit;
    }

    div {
        margin: initial;
    }

    input,
    button,
    textarea,
    select,
    table,
    label,
    span,
    legend,
    caption,
    a {
        font-size: var(--bs-body-font-size);
    }

    .d-flex {
        margin: auto;
    }

    .input-group>.form-control:not(:last-child) {
        margin: 0px;
    }

    .form-group label {
        margin-bottom: 0rem;
        font: inherit;
    }

    /* Classes globais */
    .micro-text {
        font-size: 0.8rem !important;
    }

    .one-per-line {
        width: min-content;
    }

    /* Reaplica todas as propriedades do <body> do bootstrap */
    margin: 0px;
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    font-size: var(--bs-body-font-size);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* Carrega bootrap dentro da classe petrvs */
    @import '~bootstrap/scss/bootstrap.scss';

    /* Define as variáveis de cor no Root */
    :root {
        --bs-blue-100: $blue-100;
        --bs-blue-200: $blue-200;
        --bs-blue-300: $blue-300;
        --bs-blue-400: $blue-400;
        --bs-blue-500: $blue-500;
        --bs-blue-600: $blue-600;
        --bs-blue-700: $blue-700;
        --bs-blue-800: $blue-800;
        --bs-blue-900: $blue-900;

        --bs-indigo-100: $indigo-100;
        --bs-indigo-200: $indigo-200;
        --bs-indigo-300: $indigo-300;
        --bs-indigo-400: $indigo-400;
        --bs-indigo-500: $indigo-500;
        --bs-indigo-600: $indigo-600;
        --bs-indigo-700: $indigo-700;
        --bs-indigo-800: $indigo-800;
        --bs-indigo-900: $indigo-900;

        --bs-purple-100: $purple-100;
        --bs-purple-200: $purple-200;
        --bs-purple-300: $purple-300;
        --bs-purple-400: $purple-400;
        --bs-purple-500: $purple-500;
        --bs-purple-600: $purple-600;
        --bs-purple-700: $purple-700;
        --bs-purple-800: $purple-800;
        --bs-purple-900: $purple-900;

        --bs-pink-100: $pink-100;
        --bs-pink-200: $pink-200;
        --bs-pink-300: $pink-300;
        --bs-pink-400: $pink-400;
        --bs-pink-500: $pink-500;
        --bs-pink-600: $pink-600;
        --bs-pink-700: $pink-700;
        --bs-pink-800: $pink-800;
        --bs-pink-900: $pink-900;

        --bs-red-100: $red-100;
        --bs-red-200: $red-200;
        --bs-red-300: $red-300;
        --bs-red-400: $red-400;
        --bs-red-500: $red-500;
        --bs-red-600: $red-600;
        --bs-red-700: $red-700;
        --bs-red-800: $red-800;
        --bs-red-900: $red-900;

        --bs-orange-100: $orange-100;
        --bs-orange-200: $orange-200;
        --bs-orange-300: $orange-300;
        --bs-orange-400: $orange-400;
        --bs-orange-500: $orange-500;
        --bs-orange-600: $orange-600;
        --bs-orange-700: $orange-700;
        --bs-orange-800: $orange-800;
        --bs-orange-900: $orange-900;

        --bs-yellow-100: $yellow-100;
        --bs-yellow-200: $yellow-200;
        --bs-yellow-300: $yellow-300;
        --bs-yellow-400: $yellow-400;
        --bs-yellow-500: $yellow-500;
        --bs-yellow-600: $yellow-600;
        --bs-yellow-700: $yellow-700;
        --bs-yellow-800: $yellow-800;
        --bs-yellow-900: $yellow-900;

        --bs-green-100: $green-100;
        --bs-green-200: $green-200;
        --bs-green-300: $green-300;
        --bs-green-400: $green-400;
        --bs-green-500: $green-500;
        --bs-green-600: $green-600;
        --bs-green-700: $green-700;
        --bs-green-800: $green-800;
        --bs-green-900: $green-900;

        --bs-teal-100: $teal-100;
        --bs-teal-200: $teal-200;
        --bs-teal-300: $teal-300;
        --bs-teal-400: $teal-400;
        --bs-teal-500: $teal-500;
        --bs-teal-600: $teal-600;
        --bs-teal-700: $teal-700;
        --bs-teal-800: $teal-800;
        --bs-teal-900: $teal-900;

        --bs-cyan-100: $cyan-100;
        --bs-cyan-200: $cyan-200;
        --bs-cyan-300: $cyan-300;
        --bs-cyan-400: $cyan-400;
        --bs-cyan-500: $cyan-500;
        --bs-cyan-600: $cyan-600;
        --bs-cyan-700: $cyan-700;
        --bs-cyan-800: $cyan-800;
        --bs-cyan-900: $cyan-900;
    }

    /* Sobrecarrega classes com problema após compilação */
    label .badge {
        font-size: var(--bs-badge-font-size);
    }

    .navbar {
        box-shadow: 0px 2px 3px #ddd;
        margin-bottom: 30px;
    }
}

.full-container-button-group {
    display: flex !important;

    .btn {
        flex: 1;
    }
}

.multilines-badges {
    width: min-content;
    display: block;
}