<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"  [hasAdd]="auth.hasPermissionTo('MOD_RX_VIS_DPE')" [hasEdit]="auth.hasPermissionTo('MOD_RX_VIS_DPE')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="9" label="Nome do tipo de curso" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome do tipo de curso"></input-text>
           
        </div>
    </filter>
    <columns>
        <column title="Tipo de Curso" field="nome" orderBy="nome"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
