<div class="d-flex flex-column h-100 petrvs">
  <ng-template #dialogs></ng-template>
  <nav *ngIf="auth.logged" [class.fixed-top]="!gb.isEmbedded" class="navbar navbar-expand-lg px-3 hidden-print">
    <div class="navbar-logo">
      <button *ngIf="!gb.isToolbar" class="navbar-toggler" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#navbarSupportedContent'" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abri menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" role="button">
        <div class="d-flex align-items-center">
          <img [src]="gb.getResourcePath('assets/images/icon_' + gb.theme + '.png')" alt="Logo Petrvs" width="30" class="d-inline-block align-text-top" />
          <span class="logo-text ms-2 d-none d-sm-block">PETRVS</span>
        </div>
      </a>
    </div>
    <div *ngIf="isMinimized" class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex"></div>
      <div class="btn-group" role="group" aria-label="Janelas">
        <div *ngFor="let popup of dialog.minimized" class="btn-group" role="group">
          <button type="button" class="btn btn-outline-secondary" (click)="onRestoreClick(popup)">
            <span class="d-inline-block text-truncate" style="max-width: 150px">
              <i [class]="popup.icon || 'bi bi-window-stack'"></i>
              {{ popup.title || "Minimizado" }}
            </span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!isMinimized" class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <div *ngIf="gb.isToolbar || !auth.logged" class="d-flex"></div>
      <div *ngIf="gb.toolbarButtons?.length" class="btn-group" role="group" aria-label="Opções">
        <div *ngFor="let btn of gb.toolbarButtons" class="btn-group" role="group">
          <button type="button" [attr.id]="(btn.onClick ? '_' : '') + buttonId(btn)" [class.disabled]="isButtonRunning(btn)" [class]="'btn ' + (btn.color || 'btn-outline-primary')" [class.dropdown-toggle]="btn.items && !btn.onClick" [attr.data-bs-toggle]="btn.items && !btn.onClick ? 'dropdown' : undefined" aria-expanded="false" (click)="onToolbarButtonClick(btn)">
            <i *ngIf="btn.icon?.length" [class]="btn.icon" [attr.data-bs-toggle]="'tooltip'" data-bs-placement="top" title="{{ btn.hint || btn.label || '' }}"></i>
            {{ btn.label || "" }}
          </button>
          <button *ngIf="btn.items?.length && btn.onClick" type="button" [attr.id]="buttonId(btn)" [class.disabled]="isButtonRunning(btn)" [class]="'btn dropdown-toggle dropdown-toggle-split ' + (btn.color || 'btn-outline-primary')" [attr.data-bs-toggle]="'dropdown'" aria-expanded="false" data-bs-reference="parent">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul *ngIf="btn.items" class="dropdown-menu" [class.dropdown-menu-end]="btn.onClick" [attr.aria-labelledby]="buttonId(btn)">
            <li *ngFor="let option of btn.items">
              <a class="dropdown-item" role="button" (click)="onToolbarButtonClick(option)">
                <i *ngIf="option.icon?.length" [class]="option.icon"></i>
                {{ option.label || "" }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul *ngIf="!gb.isToolbar && auth.logged" class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Lista do Menu Principal -->
        <li class="nav-item">
          <a [class]="menuItemClass('nav-link', { route: ['home'] })" aria-current="page" role="button" (click)="gb.goHome()">Home</a>
        </li>
        <ng-container *ngFor="let item of modulo">
          <li *ngIf="item && (!item.permition?.length || auth.hasPermissionTo(item.permition))" class="nav-item" [ngClass]="item.menu?.length ? 'dropdown' : '' ">
            <a [class]="menuItemClass('nav-link' + (!item.route ? ' dropdown-toggle' : ''), item)" role="button" [attr.id]="item.id" role="button" [attr.data-bs-target]="item.menu?.length ? '' : '.navbar-collapse.show'" [attr.data-bs-toggle]="item.menu?.length ? 'dropdown' : 'collapse'" aria-expanded="false" (click)="openModule(item)">
              {{ item.name }}
            </a>
            <ul *ngIf="!item.route" class="dropdown-menu navbar-dropdown-caret shadow border border-300  py-0" [attr.aria-labelledby]="item.id">
              <div class="card position-relative border-0">
                <div class="card-body py-3 px-3">
                  <ng-container *ngFor="let itemMenu of item.menu">
                    <li *ngIf="itemMenu && (!itemMenu.permition?.length || auth.hasPermissionTo(itemMenu.permition))">
                      <a *ngIf="itemMenu != '-'; else divider"
                        [class]="menuItemClass('dropdown-item', itemMenu)"
                        role="button"
                        (click)="itemMenu.onClick ? itemMenu.onClick() : openModule(itemMenu)"
                      >
                        <i [class]="itemMenu.icon"></i>
                        {{ itemMenu.name }}
                      </a>
                      <ng-template #divider>
                        <hr class="dropdown-divider" />
                      </ng-template>
                    </li>
                  </ng-container>
                </div>
              </div>
            </ul>
          </li>
        </ng-container>
      </ul>
      <div *ngIf="auth.logging" width="25" class="spinner-border spinner-border-sm m-0 ms-2" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
    <ul class="navbar-nav navbar-nav-icons flex-row align-items-center justify-content-end">
      <li class="nav-item ms-3 ms-lg-2">
        <a class="nav-link" role="button" 
          (click)="go.navigate({route: ['relatos','lotacao']},{ root: true, modal: true })" 
          [attr.data-bs-toggle]="'tooltip'" data-bs-placement="top" title="Suporte Petrvs">
          Problemas de lotação
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="auth.hasPermissionTo('CTXT_DEV')">
        <a class="nav-link" id="petrvs-context" href="#" role="button" [attr.data-bs-toggle]="'dropdown'" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside" title="Módulo">
          <span class="d-none d-md-block">
            {{ gb.contexto?.name || "Selecione..." }}
            <i class="bi bi-chevron-down fs-6"></i>
          </span>
          <span class="d-block d-md-none">
            <i [class]="gb.contexto?.icon"></i>
          </span>
        </a>
        <div class="dropdown-menu contextoDropdown navbar-dropdown-caret py-0 shadow border border-300" aria-labelledby="petrvs-context">
          <div class="card position-relative border-0">
            <div class="card-body py-3 px-3">
              <small class="texto-modulo">Escolha o módulo que deseja usar</small>
              <div class="divider"></div>
              <ul class="nav d-flex flex-column">
                <ng-container *ngFor="let item of menuContexto">
                  <li *ngIf="gb.contexto?.key != item.key && auth.hasPermissionTo(item.permition!)" (click)="gb.setContexto(item.key)" class="nav-item">
                    <a [class.active]="gb.contexto?.name == item.name" class="nav-link " role="button">
                      <i [class]="item.icon"></i> {{ item.name }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ms-3 ms-lg-2">
        <a class="nav-link" role="button" (click)="openModule({route: ['suporte']})" [attr.data-bs-toggle]="'tooltip'" data-bs-placement="top" title="Suporte Petrvs">
          <i class="bi bi-question-lg"></i>
        </a>
      </li>
      <li class="nav-item ms-3 ms-lg-2">
        <a class="nav-link position-relative" href="javascript:void(0)" (click)="go.navigate({ route: ['uteis', 'notificacoes'] })">
          <i class="bi bi-bell"></i>
          <span *ngIf="notificacao.naoLidas" class="position-absolute translate-middle badge rounded-pill bg-danger">
            {{ notificacao.naoLidas > 9 ? "9+" : notificacao.naoLidas }}
            <span class="visually-hidden">Mensagens não lidas</span>
          </span>
        </a>
      </li>
      <ng-container *ngIf="!auth.logging && auth.logged">
        
        <li class="nav-item dropdown ms-3 ms-lg-2">
          <a class="nav-link" id="navbarDropdownBranch" href="#" role="button" [attr.data-bs-toggle]="'dropdown'" aria-haspopup="true" data-bs-auto-close="outside" aria-expanded="false">
            {{ auth.unidade?.sigla }}
            <i class="bi bi-chevron-down fs-6"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 shadow border border-300" aria-labelledby="navbarDropdownBranch" data-bs-popper="static">
            <div class="card position-relative border-0">
              <div class="card-body py-3 px-3 pb-0 overflow-auto scrollbar" style="height: 20rem">
                <ul *ngIf="unidades?.length" class="nav d-flex flex-column">
                  <li *ngFor="let unidade of unidades" class="nav-item">
                    <a [class.active]="unidade.id == auth.unidade?.id" class="nav-link " role="button" (click)="selecionaUnidade(unidade.id)">{{ unidade.sigla }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " id="navbarDropdownUser" href="#!" role="button" [attr.data-bs-toggle]="'dropdown'" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <div class="">
              <profile-picture [url]="usuarioFoto" [hint]="auth.usuario?.nome || 'Usuário desconhecido'"></profile-picture>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
            <div class="card position-relative border-0">
              <div class="card-body p-0">
                <div class="text-center pt-4 pb-3 avatar-info">
                  <div class="avatar avatar-xl">
                    <profile-picture [url]="usuarioFoto" [hint]="auth.usuario?.nome || 'Usuário desconhecido'"></profile-picture>
                  </div>
                  <h6 class="mt-2">{{ usuarioNome }}</h6>
                </div>
              </div>
              <ul class="nav d-flex flex-column mb-2 pb-1">
                <li class="nav-item">
                  <a class="nav-link px-3" role="button" (click)="go.navigate({route: ['configuracoes', 'usuario', auth.usuario!.id, 'edit']}, { root: true, modal: true })">
                    <i class="bi bi-person-circle"></i>
                    Perfil
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3" role="button" (click)="go.navigate({route: ['configuracoes','preferencia','usuario',auth.usuario!.id]},{ root: true, modal: true })">
                    <i class="bi bi-gear"></i>
                    Preferências
                  </a>
                </li>
                <li class="nav-item" *ngIf="unidadeService.isGestorUnidade(this.auth.unidade, true)">
                  <a class="nav-link px-3" role="button" (click)="go.navigate({route: ['configuracoes','unidade', auth.unidade!.id, 'edit']},{ root: true, modal: true })">
                    <i class="fa-unity fab"></i>
                    Unidade
                  </a>
                </li>
                <li class="nav-item" *ngIf="unidadeService.isGestorUnidade(this.auth.unidade, true)"><!--&& auth.hasPermissionTo('MOD_UND_INTG')-->
                  <a class="nav-link px-3" role="button" (click)="go.navigate({ route: ['configuracoes', 'unidade', '', auth.unidade!.id, 'integrante'] }, { metadata: { unidade: auth.unidade } })">
                    <i class="bi bi-people"></i>
                    Integrantes
                  </a>
                </li>
              </ul>
              <div class="card-footer p-0 border-top">
                <div class="px-3 py-2">
        <li class="nav-item d-grid">
          <a class="btn btn-outline-secondary btn-sm" role="button" (click)="logout()">
            <i class="bi bi-arrow-bar-right"></i>
            Sair
          </a>
        </li>

</div>
</div>
</div>
</div>
</li>
<button type="button" *ngIf="gb.isToolbar && !auth.logged && gb.requireLogged" class="btn btn-outline-danger" role="button" (click)="toolbarLogin()">
  Login
</button>
<button *ngIf="gb.isEmbedded && auth.logged && !gb.isToolbar" class="btn btn-outline-secondary" type="button" (click)="onCollapseContainerClick()">
  <i [class]="'bi ' + (collapseContainer ? 'bi bi-plus' : 'bi bi-dash')" [attr.data-bs-toggle]="'tooltip'" data-bs-placement="top" [title]="collapseContainer ? 'Expandir Petrvs' : 'Contrair Petrvs'"></i>
</button>
</ng-container>
</ul>
</nav>
<div *ngIf="error?.length" class="alert alert-danger mt-2" role="alert">
  <span><u><strong>{{ (error || '').split('&')[0] }}</strong></u></span><br>{{ (error || '').split('&')[1] }}
</div>
<div class="content" [class.d-none]="gb.isToolbar || collapseContainer">
  <top-alert *ngFor="let topAlert of dialog.topAlerts" type="alert" [id]="topAlert.id" [close]="topAlert.close" [message]="topAlert.message" [closable]="topAlert.closable"></top-alert>
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-auto" *ngIf="auth.usuario && !gb.isEmbedded">
  <div class="d-flex justify-content-between">
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="m-0"><small class="text-primary">Versão: {{gb.VERSAO_SYS}} <!--badge [color]="'gray'" [label]="gb.ENV"></badge--></small></p>
      </div>
    </div>
    <div class="logos">
      <img [src]="gb.getResourcePath('assets/images/logo_pgd_' + (gb.theme != 'light' ? 'light' : 'normal') + '.png')">
      <img [src]="gb.getResourcePath('assets/images/logo_gov_' + (gb.theme != 'light' ? 'light' : 'normal') + '.png')">
    </div>
  </div>
</footer>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
</div>