<div class="petrvs">
    <ng-template #dialogs></ng-template>
    <nav *ngIf="auth.logged || globals.isEmbedded || isConfig" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" role="button">  <!-- Logo Petrvs -->
                <img [src]="globals.getResourcePath('assets/images/logo-24x24.png')" alt="" width="30" height="24" class="d-inline-block align-text-top">
                PETRVS
                <span class="dropdown">
                    <small class="text-secondary" id="petrvs-context" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                        <i [class]="contexto?.icon || 'bi bi-arrow-down-right-square'"></i> {{contexto?.name || 'Selecione...'}}
                    </small>
                    <ul class="dropdown-menu" aria-labelledby="petrvs-context">
                        <li *ngFor="let itemContexto2 of menuContexto" (click)="onContextoSelect(itemContexto2)">
                            <a class="dropdown-item" role="button"><i [class]="itemContexto2.icon"></i> {{itemContexto2.name}}</a>
                        </li>
                    </ul>
                </span>
            </a>
            <button *ngIf="!isConfig && !globals.isToolbar" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div *ngIf="isMinimized" class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex"></div>
                <div class="btn-group" role="group" aria-label="Janelas">
                    <div *ngFor="let popup of dialog.minimized" class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" (click)="onRestoreClick(popup)">
                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                <i [class]="popup.icon || 'bi bi-window-stack'"></i>
                                {{popup.title || "Minimizado"}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!isConfig && !isMinimized" class="collapse navbar-collapse" id="navbarSupportedContent">
                <div *ngIf="globals.isToolbar || !auth.logged" class="d-flex">
                    <!-- spaccing para quando o menu não aparecer -->
                </div>
                <div *ngIf="globals.toolbarButtons?.length" class="btn-group" role="group" aria-label="Opções">
                    <div *ngFor="let btn of globals.toolbarButtons" class="btn-group" role="group">
                        <button type="button" [attr.id]="(btn.onClick ? '_' : '') + buttonId(btn)" [class.disabled]="isButtonRunning(btn)" [class]="'btn ' + (btn.color || 'btn-outline-primary')" [class.dropdown-toggle]="btn.items && !btn.onClick" [attr.data-bs-toggle]="btn.items && !btn.onClick ? 'dropdown' : undefined" aria-expanded="false" (click)="onToolbarButtonClick(btn)">
                            <i *ngIf="btn.icon?.length" [class]="btn.icon" data-bs-toggle="tooltip" data-bs-placement="top" title="{{btn.hint || btn.label || ''}}"></i> {{btn.label || ""}}
                        </button>
                        <button *ngIf="btn.items?.length && btn.onClick" type="button" [attr.id]="buttonId(btn)" [class.disabled]="isButtonRunning(btn)" [class]="'btn dropdown-toggle dropdown-toggle-split ' + (btn.color || 'btn-outline-primary')" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul *ngIf="btn.items" class="dropdown-menu" [class.dropdown-menu-end]="btn.onClick" [attr.aria-labelledby]="buttonId(btn)">
                            <li *ngFor="let option of btn.items">
                                <a class="dropdown-item" role="button" (click)="onToolbarButtonClick(option)"><i *ngIf="option.icon?.length" [class]="option.icon"></i> {{option.label || ""}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--button class="btn btn-outline-success me-2" type="button">Main button</button/ -->
                <ul *ngIf="!globals.isToolbar && auth.logged" class="navbar-nav me-auto mb-2 mb-lg-0"> <!-- Lista do Menu Principal -->
                    <li class="nav-item">
                        <a [class]="menuItemClass('nav-link', ['home'])" aria-current="page" role="button" (click)="goHome()">Home</a>
                    </li>
                    <ng-container *ngFor="let item of menu">
                        <li *ngIf="!item.permition?.length || auth.hasPermissionTo(item.permition)" class="nav-item dropdown">
                            <a [class]="menuItemClass('nav-link dropdown-toggle', item.route)" role="button" [attr.id]="item.id" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{item.name}}
                            </a>
                            <ul class="dropdown-menu" [attr.aria-labelledby]="item.id">
                                <ng-container *ngFor="let itemMenu of item.menu">
                                    <li *ngIf="!itemMenu.permition?.length || auth.hasPermissionTo(itemMenu.permition)">
                                        <a *ngIf="itemMenu != '-'; else divider" [class]="menuItemClass('dropdown-item', itemMenu.route)" role="button" (click)="go.navigate({route: itemMenu.route}, itemMenu.metadata || {root: true})">
                                            <i [class]="itemMenu.icon"></i> {{itemMenu.name}}
                                        </a>
                                        <ng-template #divider>
                                            <hr class="dropdown-divider">
                                        </ng-template>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ul>
                <button *ngIf="globals.SUPPORT_URL" type="button" class="btn btn-outline-warning ms-2 d-none d-md-block" (click)="go.openNewTab(globals.SUPPORT_URL)" data-bs-toggle="tooltip" data-bs-placement="top" title="Suporte Petrvs">
                    <i class="bi bi-headset"></i>
                </button>
                <button type="button" class="btn btn-info position-relative ms-2" (click)="go.navigate({route: ['uteis', 'notificacoes']})">
                    <i class="bi bi-bell"></i>
                    <span *ngIf="notificacao.naoLidas" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{notificacao.naoLidas > 9 ? "9+" : notificacao.naoLidas}}
                        <span class="visually-hidden">Mensagens não lidas</span>
                    </span>
                </button>
                <div *ngIf="auth.logging" width="25" class="spinner-border spinner-border-sm m-0 ms-2" role="status">
                    <span class="visually-hidden"></span>
                </div>
                <form *ngIf="!auth.logging" class="d-flex m-0"> <!-- Identificação do Servidor -->
                    <div *ngIf="auth.logged" class="input-group mx-3">
                        <span class="input-group-text" id="basic-addon1"> <!-- Hora da Unidade -->
                            <i *ngIf="auth.unidade" class="bi bi-clock me-2"></i>
                            <div *ngIf="unidades?.length && !auth.unidade" class="spinner-border spinner-border-sm  me-2" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                            {{unidadeHora}}
                        </span>
                        <input *ngIf="unidades?.length == 0" type="text" class="form-control" value="- Sem unidade -" disabled>
                        <select *ngIf="unidades?.length" class="form-select" (change)="selecionaUnidade($event)">
                            <option *ngFor="let unidade of unidades" [attr.value]="unidade.id" [attr.selected]="unidade.id == auth.unidade?.id ? 'true' : undefined">{{unidade.sigla}}</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{usuarioNome}}
                            <profile-picture [url]="usuarioFoto" [hint]="auth.usuario?.nome || 'Usuário desconhecido'"></profile-picture>
                            <!--img [src]="" class="rounded-circle profile-photo" onerror="this.src='./assets/images/profile.png'" width="25" height="25"//-->
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" role="button" (click)="go.navigate({route: ['configuracoes', 'usuario', auth.usuario!.id, 'edit']}, {root: true, modal: true})"><i class="bi bi-person-circle"></i> Perfil</a></li>
                          <li><a class="dropdown-item" role="button" (click)="go.navigate({route: ['configuracoes', 'preferencia', 'usuario', auth.usuario!.id]}, {root: true, modal: true})"><i class="bi bi-gear"></i> Preferências</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" role="button" (click)="logout()"><i class="bi bi-arrow-bar-right"></i> Sair</a></li>
                        </ul>
                    </div>
                    <button type="button" *ngIf="globals.isToolbar && !auth.logged && globals.requireLogged" class="btn btn-outline-danger" role="button" (click)="toolbarLogin()">Login</button>
                    <button *ngIf="globals.isEmbedded && auth.logged && !globals.isToolbar" class="btn btn-outline-secondary" type="button" (click)="onCollapseContainerClick()">
                        <i [class]="'bi ' + (collapseContainer ? 'bi bi-plus' : 'bi bi-dash')" data-bs-toggle="tooltip" data-bs-placement="top" [title]="collapseContainer ? 'Expandir Petrvs' : 'Contrair Petrvs'"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div *ngIf="error?.length" class="alert alert-danger mt-2" role="alert">
        {{error}}
    </div>
    <div class="container app-container mt-2" [class.d-none]="globals.isToolbar || collapseContainer">
        <top-alert *ngFor="let topAlert of dialog.topAlerts" type="alert" [id]="topAlert.id" [close]="topAlert.close" [message]="topAlert.message" [closable]="topAlert.closable"></top-alert>
        <router-outlet></router-outlet>
    </div>
</div>
