<grid [items]="items" [form]="form!" noMargin #gridProdutos editable [selectable]="false" [minHeight]="items.length > 2 ? 0 : 300" [join]="join" [groupBy]="groupBy" [add]="addProduto.bind(this)" [remove]="removeProduto.bind(this)" [save]="saveProduto.bind(this)" [load]="loadProduto.bind(this)" [hasDelete]="true" [hasEdit]="true" [hasAdd]="true">
  <columns>

    <column [titleTemplate]="tipoCliente" [template]="columnTipoCliente" [editTemplate]="editTipoCliente" [width]="150">
      <ng-template let-header="header" #tipoCliente>
        <div class="text-center"><span><strong>Origem</strong></span></div>
      </ng-template>

      <ng-template let-row="row" #columnTipoCliente>

      </ng-template>

      <ng-template let-row="row" #editTipoCliente> 
        <input-select #tipoClienteID fullEntity  controlName="tipo_cliente_id" [dao]="tipoClienteDao" required (change)="alteraTipoCliente($event)"></input-select>
      </ng-template>
    </column>


    <column [titleTemplate]="cliente" [template]="columnCliente" [editTemplate]="editCliente" [width]="150">
      <ng-template let-header="header" #cliente>
        <div class="text-center"><span><strong>Fornecedor</strong></span></div>
      </ng-template>

      <ng-template let-row="row" #columnCliente>

      </ng-template>

      <ng-template let-row="row" #editCliente> 
        <input-select #clienteID fullEntity  controlName="cliente_id" [items]="clientes" required></input-select>
      </ng-template>
    </column>



    <column [titleTemplate]="titleProduto" [template]="columnProduto" [editTemplate]="editProduto" [verticalAlign]="'middle'" [width]="300" [align]="'center'">
      <ng-template let-header="header" #titleProduto>
        <div class="text-center"><span><strong>Insumo</strong></span></div>
      </ng-template>
      <ng-template let-row="row" #columnProduto>
        <div class="w-100 d-flex justify-content-center">
          <p>{{row.produto_relacionado?.nome}}</p>
        </div>
      </ng-template>
      <ng-template let-row="row" #editProduto>
          <input-select #produtoRelacionado fullEntity  controlName="produto_id" [control]="form!.controls.produto_id" [dao]="produtoDao" [where]="[['id', '!=', entity?.id]]" required></input-select>
      </ng-template>
    </column>

    

    
    <column type="options"></column>
  </columns>
</grid>