<div class="alert alert-info" role="alert">
  Outros produtos ou serviços que complementam ou são necessários para a execução deste produto ou serviço.
</div>

<grid [items]="items" [form]="form!" noMargin #gridProdutos editable [selectable]="false" [minHeight]="items.length > 2 ? 0 : 300" [join]="join" [groupBy]="groupBy" [add]="addProduto.bind(this)" [remove]="removeProduto.bind(this)" [save]="saveProduto.bind(this)" [load]="loadProduto.bind(this)" [hasDelete]="true" [hasEdit]="true" [hasAdd]="true">
  <columns>
    <column [titleTemplate]="titleProduto" [template]="columnProduto" [editTemplate]="editProduto" [verticalAlign]="'middle'" [width]="300" [align]="'center'">
      <ng-template let-header="header" #titleProduto>
        <div class="text-center"><span><strong>Produto/Serviço</strong></span></div>
      </ng-template>
      <ng-template let-row="row" #columnProduto>
        <div class="w-100 d-flex justify-content-center">
          <p>{{row.produto_relacionado?.nome}}</p>
        </div>
      </ng-template>
      <ng-template let-row="row" #editProduto>
          <input-search #produtoRelacionado fullEntity  controlName="produto_id" [control]="form!.controls.produto_id" [dao]="produtoDao" [where]="[['id', '!=', entity?.id]]" required></input-search>
      </ng-template>
    </column>
    <column type="options"></column>
  </columns>
</grid>