<div class="alert alert-info" role="alert" *ngIf="!this.disabled">
  Outros produtos ou serviços que complementam ou são necessários para a execução deste produto ou serviço.
</div>

<grid noMargin #gridProdutos editable 
  [items]="items" 
  [form]="form!" 
  [selectable]="false" 
  [minHeight]="items.length > 2 ? 0 : 300" 
  [join]="join" 
  [groupBy]="groupBy" 
  [add]="addProduto.bind(this)" 
  [remove]="removeProduto.bind(this)" 
  [save]="saveProduto.bind(this)" 
  [load]="loadProduto.bind(this)" 
  [hasDelete]="!this.disabled" 
  [hasEdit]="!this.disabled" 
  [hasAdd]="!this.disabled"
>
  <columns>
    <column title="ID#" [template]="columnID">
      <ng-template let-row="row" #columnID>
          <span> {{row.produto_relacionado.identificador}}</span>
      </ng-template>
    </column>

    <column 
      [titleTemplate]="titleProduto" 
      [template]="columnProduto" 
      [editTemplate]="editProduto" 
      [width]="300" 
    >
      <ng-template let-header="header" #titleProduto>
        <span><strong>Nome</strong></span>
      </ng-template>
      <ng-template let-row="row" #columnProduto>
        <p>{{row.produto_relacionado?.nome}}</p>
      </ng-template>
      <ng-template let-row="row" #editProduto>
          <input-search #produtoRelacionado fullEntity  controlName="produto_id" [control]="form!.controls.produto_id" [dao]="produtoDao" [where]="[['id', '!=', entity?.id]]" required></input-search>
      </ng-template>
    </column>

    <column title="Unidade" [template]="columnUnidade">
      <ng-template let-row="row" #columnUnidade>
          <span> {{row.produto_relacionado.unidade?.sigla}}</span>
      </ng-template>
    </column>

    <column title="Tipo" [template]="columnTipo">
      <ng-template let-row="row" #columnTipo>
        <span>{{lookup.getValue(lookup.TIPO_PRODUTO, row.produto_relacionado?.tipo)}}</span>
      </ng-template>
    </column>
    <column type="options" [dynamicButtons]="dynamicButtons.bind(this)"></column>
  </columns>
</grid>