<grid [dao]="dao" [title]="isModal ? '' : title" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join">
    <toolbar></toolbar>
    <filter hidden [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="filterCollapsed"></filter> 
    <columns>
        <column [title]="lex.translate('Unidade')" [template]="columnUnidade">
            <ng-template let-row="row" #columnUnidade>
                <strong>{{row.unidade.sigla}}</strong><br>
                <span>{{row.unidade.nome}} </span>
            </ng-template>
        </column>
        <column title="Atribuição" [template]="columnAtribuicao">
            <ng-template let-row="row" #columnAtribuicao>
               <!--  <badge *ngFor="let atribuicao of row.atribuicoes" [color]="" [icon]="" [label]="atribuicao.atribuicao"></badge> -->
                <badge *ngFor="let atribuicao of row.atribuicoes" [color]="lookup.getColor(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao)" [icon]="lookup.getIcon(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao)" [label]="lookup.getValue(lookup.UNIDADE_INTEGRANTE_TIPO, atribuicao)"></badge>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [onDelete]="delete"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>