<h3 *ngIf="!isModal" class="my-2">{{title}}</h3>
<grid [dao]="dao" [add]="add" [orderBy]="orderBy" [groupBy]="groupBy" [join]="join"
    [selectable]="selectable" (select)="onSelect($event)"
    [hasAdd]="auth.hasPermissionTo('MOD_ENTD_INCL')"
    [hasEdit]="auth.hasPermissionTo('MOD_ENTD_EDT')">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="'Nome ' + lex.noun('entidade',false,true)" controlName="nome"
                [control]="filter!.controls.nome" placeholder="Nome..."></input-text>
        </div>
    </filter>
    <columns>
        <column title="Sigla" field="sigla"></column>
        <column title="Nome" field="nome"></column>
        <column title="Abrangência" field="abrangencia"></column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>
