<grid [dao]="dao" [add]="add" [title]="isModal ? '' : title" [hasAdd]="auth.hasPermissionTo('MOD_EXTM_INCL')" [hasEdit]="auth.hasPermissionTo('MOD_EXTM_EDT')" 
      [selectable]="selectable" (select)="onSelect($event)" [orderBy]="orderBy">
    <toolbar *ngIf="!selectable"></toolbar>
    <filter [form]="filter" [where]="filterWhere" [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)" [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-text [size]="12" [label]="lex.translate('Eixo temático')" controlName="nome"
                [control]="filter!.controls.nome" [placeholder]="'Nome ' + lex.translate('eixo temático') + '...'"></input-text>
        </div>
    </filter>
    <columns>
        <column title="Nome" [template]="columnNome" orderBy="nome">
            <ng-template let-row="row" #columnNome>
                <badge [color]="row.cor" [icon]="row.icone" [label]="row.nome"></badge>
            </ng-template>
        </column>
        <column type="options" [onEdit]="edit" [options]="options"></column>
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>

