.switch-md[type=checkbox] {
    border-radius: 1.5em !important;
    height: 30px !important;
    width: 60px !important;
}
.switch-lg[type=checkbox] {
    border-radius: 1.5em !important;
    height: 50px !important;
    width: 100px !important;
}