<h3>Indicadores de Equipes</h3>
<toolbar *ngIf="!selectable"></toolbar>
<filter 
    [form]="filter" 
    [where]="filterWhere" 
    [submit]="filterSubmit.bind(this)" 
    [filter]="onButtonFilterClick"
    filterLabel="Consultar"
>
    <div class="row">   
        <input-search 
            #unidade 
            [size]="6" 
            label="Unidade de Consulta"
            [control]="filter!.controls.unidade_id" 
            controlName="unidade_id" 
            [dao]="unidadeDao"
            [selectRoute]="{
                route: ['configuracoes', 'unidade'],
                params: { unidades: this.unidades }
            }"
            [where]="auth.hasPermissionTo('MOD_IND_TODAS_UNIDADES')
                ? []
                : [['id', 'in', this.unidades]]"
        >
        </input-search>
        <input-datetime
            [size]="2"
            date
            label="Período para consulta: início"
            controlName="this.filter.data_inicial"
            [control]="filter!.controls.data_inicial"
            labelInfo="Data início de consulta"
        ></input-datetime>
        <input-datetime
            [size]="2"
            date
            label="Período para consulta: fim"
            controlName="data_final"
            [control]="filter!.controls.data_final"
            labelInfo="Data fim da consulta"
        ></input-datetime>
        <input-switch
            [size]="1"
            label="Somente vigentes"
            controlName="somente_vigentes"
            [control]="filter!.controls.somente_vigentes"
        ></input-switch>
        <input-switch
            [size]="1"
            label="Unidades Subordinadas"
            controlName="incluir_unidades_subordinadas"
            [control]="filter!.controls.incluir_unidades_subordinadas"
        ></input-switch>
    </div>
</filter>
<div class="graficos">
    <div class="grafico">
        <div class="titulo">Distribuição das avaliações dos Planos de Trabalho</div>
        <p *ngIf="!pieChartData.labels?.length" class="no-data">Sem avaliações para exibir</p>
        <div *ngIf="loading; else grafico" class="d-flex justify-content-center my-2">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <ng-template #grafico>
            <div class="grafico-wrapper" *ngIf="!loading" style="height: 350px;">
                <canvas
                    baseChart
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions"
                >
                </canvas>
            </div>
        </ng-template>
    </div>
    <div class="grafico">
        <div class="titulo">Horas alocadas nos Planos de Trabalho</div>
        <p *ngIf="!pieChartHorasData.labels?.length" class="no-data">Sem dados para exibir</p>
        <div *ngIf="loadingHoras; else graficoHoras" class="d-flex justify-content-center my-2">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <ng-template #graficoHoras>
            <div class="grafico-wrapper">
                <canvas
                    baseChart
                    *ngIf="pieChartHorasData.labels?.length"
                    [data]="pieChartHorasData"
                    [type]="'pie'"
                    [options]="pieChartOptions"
                ></canvas>
            </div>
        </ng-template>
    </div>
</div>