<grid [dao]="dao" 
    [title]="title" 
    [orderBy]="orderBy"
    [maxHeight]="400"
    [scrollable]="true"
    [className]="'relatorio-pe'"
>
    <toolbar *ngIf="!selectable"></toolbar>
    <filter 
        [form]="filter" 
        [where]="filterWhere" 
        [submit]="filterSubmit.bind(this)" 
        [filter]="onButtonFilterClick"
        filterLabel="Consultar"
        [hasExportExcel]="true"
        [exportExcel]="exportExcel"
        [excelFileName]="'relatorio_planos_entrega.xlsx'"
    >
        <div class="row">   
            <input-search 
                #unidade 
                [size]="6" 
                label="Unidade de Consulta"
                [control]="filter!.controls.unidade_id" 
                controlName="unidade_id" 
                [dao]="unidadeDao"
            ></input-search>  
            <input-datetime
                [size]="2"
                date
                label="Período para consulta: início"
                controlName="this.filter.periodo_inicio"
                [control]="filter!.controls.periodo_inicio"
                labelInfo="Data início de consulta"
            ></input-datetime>
            <input-datetime
                [size]="2"
                date
                label="Período para consulta: fim"
                controlName="this.filter.periodo_fim"
                [control]="filter!.controls.periodo_fim"
                labelInfo="Data fim da consulta"
            ></input-datetime>
            <input-switch
                [size]="1"
                label="Somente vigentes"
                controlName="somente_vigentes"
                [control]="filter!.controls.somente_vigentes"
            ></input-switch>
            <input-switch
                [size]="1"
                label="Unidades Subordinadas"
                controlName="incluir_unidades_subordinadas"
                [control]="filter!.controls.incluir_unidades_subordinadas"
            ></input-switch>
        </div>
    </filter>
    <columns>
        <column title="Unidade" [template]="columnUnidade" [titleTemplate]="titleUnidade"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="200"
        >
            <ng-template let-header="header" #titleUnidade>
                <input-text 
                    [control]="filter!.controls.unidadeNome"
                    controlName="this.filter.unidadeNome"
                    (blur)="onValueChange($event)"
                ></input-text>
            </ng-template>
            <ng-template let-row="row" #columnUnidade>
                <span>{{row.unidadeHierarquia}}</span>
            </ng-template>
        </column>

        <column title="#ID" [template]="columnID" [titleTemplate]="titleID"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="100"
        >
            <ng-template let-header="header" #titleID>
                <input-text 
                    [control]="filter!.controls.id"
                    controlName="this.filter.id"
                    (blur)="onValueChange($event)"
                ></input-text>
            </ng-template>
            <ng-template let-row="row" #columnID>
                <a class="link" (click)="go.navigate({ route: ['/gestao/plano-entrega/', row.id,'consult'] })" target="_blank">
                    #{{row.numero}}
                </a>
            </ng-template>
        </column>
        
        <column title="Nome"
            [template]="columnNome"
            [titleTemplate]="titleEntregaNome" [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="200"
        >
            <ng-template let-header="header" #titleEntregaNome>
                <input-text 
                    [control]="filter!.controls.entregaNome"
                    controlName="this.filter.entregaNome"
                    (blur)="onValueChange($event)"
                ></input-text>
            </ng-template>
            <ng-template let-row="row" #columnNome>
                <span> {{row.entregaNome}}</span>
            </ng-template>
        </column>

        <column title="Homologação" [template]="columnHomologacao"
            [titleTemplate]="titleEntregaHomologacao"
            [verticalAlign]="'bottom'" [align]="'center'"
            [width]="100"
        >
            <ng-template let-header="header" #titleEntregaHomologacao>
                <input-text 
                    [control]="filter!.controls.homologador"
                    controlName="this.filter.homologador"
                    (blur)="onValueChange($event)"
                ></input-text>
            </ng-template>
            <ng-template let-row="row" #columnHomologacao>
                <span> {{row.homologador || '-'}}</span>
            </ng-template>
        </column>

        <column title="Status"
            [template]="columnStatus"
            [titleTemplate]="titleStatus"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="100"
        >
            <ng-template let-header="header" #titleStatus>
                <input-select 
                    [items]="lookup.PLANO_ENTREGA_STATUS" 
                    [control]="filter!.controls.status"
                    controlName="this.filter.status"
                    (change)="onValueChange($event)"
                    nullable
                ></input-select> 
            </ng-template>
            <ng-template let-row="row" #columnStatus>
               <span>{{lookup.getValue(lookup.PLANO_ENTREGA_STATUS, row.status)}}</span>
            </ng-template>
        </column>

        <column title="Início da Vigência"
            [template]="columnDataInicio" [titleTemplate]="titleDataInicio"
            [verticalAlign]="'bottom'" [align]="'center'"
            [width]="180"
        >
            <ng-template let-header="header" #titleDataInicio>
                <input-datetime
                    date
                    controlName="data_inicio"
                    [control]="filter!.controls.data_inicio"
                    (blur)="onValueChange($event)"
                ></input-datetime>
            </ng-template>
            <ng-template let-row="row" #columnDataInicio>
                <span>{{dao!.getDateFormatted(row.dataInicio)}}</span>
            </ng-template>
        </column>

        <column title="Fim da Vigência"
            [template]="columnDataFim" [titleTemplate]="titleDataFim"
            [verticalAlign]="'bottom'" [align]="'center'"
            [width]="180"
        >
            <ng-template let-header="header" #titleDataFim>
                <input-datetime
                    date
                    controlName="data_fim"
                    [control]="filter!.controls.data_fim"
                    (blur)="onValueChange($event)"
                ></input-datetime>
            </ng-template>
            <ng-template let-row="row" #columnDataFim>
                <span>{{dao!.getDateFormatted(row.dataFim)}}</span><br>
            </ng-template>
        </column>

        <column title="Duração (dias)"
            [template]="columnDuracao" [titleTemplate]="titleDuracao"
            [verticalAlign]="'bottom'" [align]="'center'"
            [width]="80"
        >
            <ng-template let-header="header" #titleDuracao>
                <input-text 
                    [control]="filter!.controls.duracao"
                    controlName="this.filter.duracao"
                    (blur)="onValueChange($event)"
                ></input-text>
            </ng-template>
            <ng-template let-row="row" #columnDuracao>
                <span>{{row.duracao}}</span>
            </ng-template>
        </column>

        <column title="Data da Avaliação" [template]="columnAvaliacaoData"
            [titleTemplate]="titleDataAvaliacao"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="180"
        >
            <ng-template let-header="header" #titleDataAvaliacao>
                <input-datetime
                    date
                    controlName="data_avaliacao"
                    [control]="filter!.controls.data_avaliacao"
                    (blur)="onValueChange($event)"
                ></input-datetime>
            </ng-template>
            <ng-template let-row="row" #columnAvaliacaoData>
                <span>{{dao!.getDateFormatted(row.data_avaliacao) || '-'}}</span>
            </ng-template>
        </column>

        <column title="Data da conclusão" [template]="columnConclusao"
            [titleTemplate]="titleDataConclusao"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="180"
        >
            <ng-template let-header="header" #titleDataConclusao>
                <input-datetime
                    date
                    controlName="data_avaliacao"
                    [control]="filter!.controls.data_conclusao"
                    (blur)="onValueChange($event)"
                ></input-datetime>
            </ng-template>
            <ng-template let-row="row" #columnConclusao>
                <span> - </span>
            </ng-template>
        </column>

        <column title="Situação da Avaliação"
            [template]="columnAvaliacaoSituacao"
            [titleTemplate]="titleAvaliacaoSituacao"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="100"
        >
            <ng-template let-header="header" #titleAvaliacaoSituacao>
                <input-select 
                    [items]="lookup.RELATORIO_PE_SITUACOES_AVALIACAO" 
                    [control]="filter!.controls.situacao_avaliacao"
                    controlName="this.filter.situacao_avaliacao"
                    (change)="onValueChange($event)"
                    nullable
                ></input-select> 
            </ng-template>
            <ng-template let-row="row" #columnAvaliacaoSituacao>
                <span>{{row.situacao_avaliacao || '-'}}</span>
            </ng-template>
        </column>

        <column title="Nota da Avaliação"
            [template]="columnAvaliacaoNota"
            [titleTemplate]="titleAvaliacaoNota"
            [verticalAlign]="'bottom'"
            [align]="'center'"
            [width]="100"
        >
            <ng-template let-header="header" #titleAvaliacaoNota>
                <input-select 
                    [items]="tiposNotas"
                    [control]="filter!.controls.nota"
                    controlName="this.filter.nota"
                    (change)="onValueChange($event)"
                    nullable
                ></input-select> 
            </ng-template>
            <ng-template let-row="row" #columnAvaliacaoNota>
                <span>{{row.nota || '-'}}</span>
            </ng-template>
        </column>
    </columns>
    <pagination
        [rows]="rowsLimit"
        [infiniteScrollContainer]="'.relatorio-pe-table'"
        [fromRoot]="true"
    ></pagination>
</grid>
