<editable-form [form]="form!" [disabled]="formDisabled" [title]="isModal ? '' : title" (submit)="onSaveData()"
  (cancel)="onCancel()">
  <div *ngIf="!questionario; else qvt">
    Formulário do teste QVT não encontrado no banco de dados. Contate o suporte!
  </div>
  <ng-template #qvt>
    <h3 class="mb-3 fw-bold">Pesquisa de Qualidade de Vida no Trabalho - QVT</h3>
    <p class="text-justify mb-3" id="p_abertura">
      Bem-vindo(a),<br><br>
      Esta pesquisa é 100% anônima. E sua participação é fundamental para que seja possível uma análise representativa,
      em termos quantitativos e qualitativos, da situação existente na Instituição. Valorizamos a sua opinião e
      agradecemos pela disponibilidade em responder a pesquisa.<br><br>
      Desta forma, por não podermos identificar , solicitamos que seja gravado apenas uma vez.
    </p>
    <div class="mt-3"></div>
    <!--<curriculum-pergunta-card *ngFor="let idx of indice0a9" [indice]="idx + 1" [pergunta]="perguntas[idx]" [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>-->
    <curriculum-pergunta-card *ngFor="let idx of range(0, 14)" [indice]="idx + 1" [pergunta]="perguntas[idx]"
      [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>
    <separator></separator>
    <h5 class="mb-3 fw-bold">Qualidade de Vida no Trabalho, segundo Richard Walton (1973)</h5>
    <separator class="mb-3 mt-3"></separator>


    <curriculum-pergunta-card *ngFor="let idx of range(15, 39)" [indice]="idx + 1" [pergunta]="perguntas[idx]"
      [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>
    <separator></separator>
    <separator></separator>

    <curriculum-pergunta-card *ngFor="let idx of range(40, 45)" [indice]="idx + 1" [pergunta]="perguntas[idx]"
      [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>
    <separator></separator>

    <h5 class="mb-3 fw-bold">Dass-21</h5><br>

    <p class="text-justify mb-3">
      Essa pesquisa é anônima, portanto, as informações coletadas servirão apenas para medir como esses estados
      emocionais estão presentes na amostra em estudo. Essa seção não se presta a realizar qualquer tipo de diagnóstico
      clínico dos indivíduos pesquisados.<br><br>
      (1) Lovibond, S.H. & Lovibond, P.F. (1995). Manual for the Depression Anxiety & Stress Scales. (2nd Ed.)Sydney:
      Psychology Foundation.<br><br>
      (2) Henry, J. D., & Crawford, J. R. (2005). The short-form version of the Depression Anxiety Stress Scales
      (DASS-21): Construct validity and normative data in a large non-clinical sample. British Journal of Clinical
      Psychology, 44(2), 227-239.<br><br>
    </p>
    <separator class="mb-3 mt-3"></separator>

    <curriculum-pergunta-card *ngFor="let idx of range(46, 66)" [indice]="idx + 1" [pergunta]="perguntas[idx]"
      [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>
    <separator></separator>
    <h5 class="mb-3 fw-bold">PGD</h5><br>
    <p>Assinale uma das opções abaixo, em relação ao Programa de Gestão e Desempenho - PGD.</p>
    <separator class="mb-3 mt-3"></separator>

    <curriculum-pergunta-card *ngFor="let idx of range(67, 74)" [indice]="idx + 1" [pergunta]="perguntas[idx]"
      [control]="perguntas[idx]._metadata.control"></curriculum-pergunta-card>
    <!--div class="card mb-3 mt-3 cardConcordancia" id="cardConcordancia">
      <div class="card-header">
        <div class="row">
          <label name="lblConcordancia" id="lblConcordancia" class="fw-bold">
            1. {{this.perguntas[0].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveConcordancia class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveConcordancia.value ? 'Sim' : 'Não'" name="chaveConcordancia" controlName="chaveConcordancia" [control]="form!.controls.chaveConcordancia" (change)="onChange($event)"></input-switch>
      </div>
    </div>
    
    <div class="card my-3 cardIdade" id="cardIdade">
      <div class="card-header">
        <div class="row">
          <label name="lblIdade" id="lblIdade" class="fw-bold">
            2. {{this.perguntas[1].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-1">
          <input-number class="mt-3" [size]="2" name="idade" controlName="idade" [control]="form!.controls.idade" (change)="onChange($event)"></input-number>
        </div>
      </div>
    </div> 

    <div class="card my-3 cardSexo" id="cardSexo">
      <div class="card-header">
        <label name="lblSexo" id="lblSexo" class="fw-bold">
          3. {{this.perguntas[2].pergunta}}
        </label>
      </div>
      <div class="card-body text-wrap">
        <div class="row">
          <div class="col-lg-2">
            <input-radio class="mt-3" [size]="2" [label]="this.perguntas[2].pergunta" name="radioSexo" controlName="radioSexo" [control]="form!.controls.radioSexo" [items]="lookup.SEXO" (change)="onChange($event)"></input-radio>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardChaveSexo" id="cardChaveSexo">
      <div class="card-header">
        <div class="row">
          <label name="lblChaveSexo" id="lblChaveSexo" class="fw-bold">
            4. {{this.perguntas[3].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveSexo class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveSexo.value ? 'Sim' : 'Não'" name="chaveSexo" controlName="chaveSexo" [control]="form!.controls.chaveSexo" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card my-3 cardRaca" id="cardRaca">
      <div class="card-header">
        <div class="row">
          <label name="lblRaca" id="lblRaca" class="fw-bold">
            5. {{this.perguntas[4].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let raca of lookup.COR_RACA; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioRaca" id={{this.lookup.COR_RACA[i].key}} value={{this.lookup.COR_RACA[i].key}}>
              <label class="form-check-label" for={{this.lookup.COR_RACA[i].key}}>{{lookup.COR_RACA[i].value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card my-3 cardCivil" id="cardCivil">
      <div class="card-header">
        <div class="row">
          <label name="lblCivil" id="lblCivil" class="fw-bold">
            6. {{this.perguntas[5].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let civil of lookup.ESTADO_CIVIL; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioCivil" id={{this.lookup.ESTADO_CIVIL[i].key}} value={{this.lookup.ESTADO_CIVIL[i].key}}>
              <label class="form-check-label" for={{this.lookup.ESTADO_CIVIL[i].key}}>{{lookup.ESTADO_CIVIL[i].value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card my-3 cardEscolaridade" id="cardEscolaridade">
      <div class="card-header">
        <div class="row">
          <label name="lblEscolaridade" id="lblEscolaridade" class="fw-bold">
            7. {{this.perguntas[6].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let escolaridade of lookup.ESCOLARIDADE; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioEscolaridade" id={{this.lookup.ESCOLARIDADE[i].key}} value={{this.lookup.ESCOLARIDADE[i].key}}>
              <label class="form-check-label" for={{this.lookup.ESCOLARIDADE[i].key}}>{{lookup.ESCOLARIDADE[i].value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card my-3 cardUF" id="cardUF">
      <div class="card-header">
        <div class="row">
          <label name="lblUF" id="lblUF" class="fw-bold">
            8. {{this.perguntas[7].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-6">
          <input-select #unidade [size]="12" controlName="selectUF"  [items]="this.lookup.UF"></input-select>
        </div>
      </div>
    </div>

    <div class="card my-3 cardFuncional" id="cardFuncional">
      <div class="card-header">
        <div class="row">
          <label name="lblFuncional" id="lblFuncional" class="fw-bold">
            9. {{this.perguntas[8].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let funcional of lookup.SITUACAO_FUNCIONAL; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioFuncional" id={{this.lookup.SITUACAO_FUNCIONAL[i].key}} value={{this.lookup.SITUACAO_FUNCIONAL[i].key}}>
              <label class="form-check-label" for={{this.lookup.SITUACAO_FUNCIONAL[i].key}}>{{lookup.SITUACAO_FUNCIONAL[i].value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card my-3 cardAnosInstituicao" id="cardAnosInstituicao">
      <div class="card-header">
        <div class="row">
          <label name="lblAnosInstituicao" id="lblAnosInstituicao" class="fw-bold">
            10. {{this.perguntas[9].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-1">
          <input-number class="mt-3" [size]="2" name="anosInstituicao" controlName="anosInstituicao" [control]="form!.controls.anosInstituicao" (change)="onChange($event)"></input-number>
        </div>
      </div>
    </div>

    <div class="card my-3 cardLotacao" id="cardLotacao">
      <div class="card-header">
        <div class="row">
          <label name="lblLotacao" id="lblLotacao" class="fw-bold">
            11. {{this.perguntas[10].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-6">
          <input-search #unidade [size]="12" controlName="unidade_id"  [dao]="unidadeDao" [join]="['cidade:id,nome']" fullEntity liveSearch></input-search>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardchaveAtencao" id="cardchaveAtencao">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveAtencao" id="lblchaveAtencao" class="fw-bold">
            12. {{this.perguntas[11].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveAtencao class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveAtencao.value ? 'Sim' : 'Não'" name="chaveAtencao" controlName="chaveAtencao" [control]="form!.controls.chaveAtencao" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardChaveCrianca" id="cardChaveCrianca">
      <div class="card-header">
        <div class="row">
          <label name="lblChaveCrianca" id="lblChaveCrianca" class="fw-bold">
            13. {{this.perguntas[12].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveCrianca class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveCrianca.value ? 'Sim' : 'Não'" name="chaveCrianca" controlName="chaveCrianca" [control]="form!.controls.chaveCrianca" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card my-3 cardnumeroCrianca" id="cardnumeroCrianca">
      <div class="card-header">
        <div class="row">
          <label name="lblnumeroCrianca" id="lblnumeroCrianca" class="fw-bold">
            14. {{this.perguntas[13].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-1">
          <input-number class="mt-3" [size]="2" name="numeroCrianca" controlName="numeroCrianca" [control]="form!.controls.numeroCrianca" (change)="onChange($event)"></input-number>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardchaveDeficiencia" id="cardchaveDeficiencia">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveDeficiencia" id="lblchaveDeficiencia" class="fw-bold">
            15. {{this.perguntas[14].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveDeficiencia class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveDeficiencia.value ? 'Sim' : 'Não'" name="chaveDeficiencia" controlName="chaveDeficiencia" [control]="form!.controls.chaveDeficiencia" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <separator></separator>
       <h5 class="mb-3 fw-bold">Qualidade de Vida no Trabalho, segundo Richard Walton (1973)</h5>
    <separator class="mb-3 mt-3"></separator>

    <ng-container *ngFor="let e of [].constructor(25); index as i">
      <div class="card my-3 cardFuncional" id="cardFuncional">
        <div class="card-header">
          <div class="row">
            <label name="lblFuncional" id="lblFuncional" class="fw-bold">
              {{i+16}}. {{this.perguntas[i+15].pergunta}}
            </label>
          </div>
        </div>
        <div class="card-body text-wrap">
          <div class="col-lg-12" (change)="onChange($event)">
            <ng-container *ngFor="let opcao of opcoesRichard">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioRichard{{i+1}}" id="radioRichardop{{opcao.key}}{{i}}" value={{opcao.value}}>
                <label class="form-check-label" for=radioRichardop{{opcao.key}}{{i}}>{{opcao.value}}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <separator></separator>
    <separator></separator>

    <div class="card mb-3 mt-3 cardchaveEtarismo" id="cardchaveEtarismo">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveEtarismo" id="lblchaveEtarismo" class="fw-bold">
            41. {{this.perguntas[40].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveEtarismo class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveEtarismo.value ? 'Sim' : 'Não'" name="chaveEtarismo" controlName="chaveEtarismo" [control]="form!.controls.chaveEtarismo" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardchaveDiscriminacao" id="cardchaveDiscriminacao">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveDiscriminacao" id="lblchaveDiscriminacao" class="fw-bold">
            42. {{this.perguntas[41].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveDiscriminacao class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveDiscriminacao.value ? 'Sim' : 'Não'" name="chaveDiscriminacao" controlName="chaveDiscriminacao" [control]="form!.controls.chaveDiscriminacao" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardchaveAssedio" id="cardchaveAssedio">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveAssedio" id="lblchaveAssedio" class="fw-bold">
            43. {{this.perguntas[42].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveAssedio class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveAssedio.value ? 'Sim' : 'Não'" name="chaveAssedio" controlName="chaveAssedio" [control]="form!.controls.chaveAssedio" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card mb-3 mt-3 cardchaveDiscriminacaoTrabalho" id="cardchaveDiscriminacaoTrabalho">
      <div class="card-header">
        <div class="row">
          <label name="lblchaveDiscriminacaoTrabalho" id="lblchaveDiscriminacaoTrabalho" class="fw-bold">
            44. {{this.perguntas[43].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <input-switch #chaveDiscriminacaoTrabalho class="mt-3 ml-0" [size]="2" [labelPosition]="'right'" [label]="chaveDiscriminacaoTrabalho.value ? 'Sim' : 'Não'" name="chaveDiscriminacaoTrabalho" controlName="chaveDiscriminacaoTrabalho" [control]="form!.controls.chaveDiscriminacaoTrabalho" (change)="onChange($event)"></input-switch>
      </div>
    </div>

    <div class="card my-3 cardFormaDicriminacao" id="cardFormaDicriminacao">
      <div class="card-header">
        <label name="lblFormaDicriminacao" id="lblFormaDicriminacao" class="fw-bold">
          45. {{this.perguntas[44].pergunta}}
        </label>
      </div>
      <div class="card-body text-wrap">
        <div class="row">
          <ng-container *ngFor="let opcao2 of subopcoes; let i = index">
            <div class="form-check form-check-inline" (change)="onChange($event)">
              <input class="form-check-input radioCheckDicriminacao" type="checkbox"  name="radioCheckDicriminacao" value="{{opcao2}}" id="{{opcao2}}">
              <label class="form-check-label" for="{{opcao2}}">{{opcao2}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card my-3 cardDiscriminacaoPercepcao" id="cardDiscriminacaoPercepcao">
      <div class="card-header">
        <div class="row">
          <label name="lblDiscriminacaoPercepcao" id="lblDiscriminacaoPercepcao" class="fw-bold">
            46. {{this.perguntas[45].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let opcao of opcoesDiscriminacao; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="check" name="radioDiscriminacaoPercepcao" id="radioDiscriminacaoPercepcao{{i}}" value={{opcao.value}}>
              <label class="form-check-label" for=radioDiscriminacaoPercepcao{{i}}>{{opcao.value}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <separator></separator>

    <h5 class="mb-3 fw-bold">Dass-21</h5><br>

    <p class="text-justify mb-3">
      Essa pesquisa é anônima, portanto, as informações coletadas servirão apenas para medir como esses estados emocionais estão presentes na amostra em estudo. Essa seção não se presta a realizar qualquer tipo de diagnóstico clínico dos indivíduos pesquisados.<br><br>
      (1) Lovibond, S.H. & Lovibond, P.F. (1995). Manual for the Depression Anxiety & Stress Scales. (2nd Ed.)Sydney: Psychology Foundation.<br><br>
      (2) Henry, J. D., & Crawford, J. R. (2005). The short-form version of the Depression Anxiety Stress Scales (DASS-21): Construct validity and normative data in a large non-clinical sample. British Journal of Clinical Psychology, 44(2), 227-239.<br><br>
    </p>
    <separator class="mb-3 mt-3"></separator>

    <ng-container *ngFor="let e of [].constructor(21); index as i">
      <div class="card my-3 cardDass" id="cardDass">
        <div class="card-header">
          <div class="row">
            <label name="lblDass" id="lblDass" class="fw-bold">
              {{i+47}}. {{this.perguntas[i+46].pergunta}}
            </label>
          </div>
        </div>
        <div class="card-body text-wrap">
          <div class="col-lg-12" (change)="onChange($event)">
            <ng-container *ngFor="let opcao of opcoesDass">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDass{{i+1}}" id="radioDassop{{opcao.key}}{{i}}" value={{opcao.key}}>
                <label class="form-check-label" for=radioDassop{{opcao.key}}{{i}}>{{opcao.value}}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <separator></separator>
       <h5 class="mb-3 fw-bold">PGD</h5><br>
       <p>Assinale uma das opções abaixo, em relação ao Programa de Gestão e Desempenho - PGD.</p>
    <separator class="mb-3 mt-3"></separator>

    <div class="card my-3 cardParticipaPGD" id="cardParticipaPGD">
      <div class="card-header">
        <div class="row">
          <label>OBS: Se você é terceirizado, marcar a 2ª opção abaixo: "Não participo ou não sou elegível para o Programa de Gestão e Desempenho - PGD".</label><br><br>
          <label name="lblParticipaPGD" id="lblParticipaPGD" class="fw-bold">
            68. {{this.perguntas[67].pergunta}}
          </label>
        </div>
      </div>
      <div class="card-body text-wrap">
        <div class="col-lg-12" (change)="onChange($event)">
          <ng-container *ngFor="let opcao of this.perguntas[67].respostas; index as i">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioParticipaPGD" id="radioParticipaPGD{{i}}" value="{{opcao}}">
              <label class="form-check-label" for=radioParticipaPGD{{i}}>{{opcao}}</label>
            </div>
          </ng-container>
        </div>
      </div>
    </div//-->
  </ng-template>
</editable-form>

<!--ngFor="let resposta of this.perguntas[3].pergunta.resposta; index as i"-->