<ng-container *ngIf="objetivo">
    <planejamento-show [planejamento]="objetivo.planejamento" *ngIf="objetivo.planejamento"></planejamento-show>
    <div class="objetivos arrow_box w-100">
        <h5>Objetivo:</h5>
        <h6>{{objetivo.nome}}</h6>
    </div>
</ng-container>


<ng-container *ngIf="processo">
    <div class="planejamento arrow_box first-box w-100" *ngIf="processo.cadeia_valor">
        <h6>Cadeia de valor:</h6>
        <h4>{{processo.cadeia_valor.nome}}</h4>        
    </div>
    <div class="procesos arrow_box w-100">
        <h5>Processo:</h5>
        <h6>{{processo.nome}}</h6>
    </div>
</ng-container>

<grid [dao]="dao" [title]="isModal ? '' : title" [orderBy]="orderBy" [join]="join">
    <toolbar>
        <!-- input-switch [size]="4" labelPosition="left" label="Agrupar por Unidade" controlName="agrupar" [control]="filter!.controls.agrupar" (change)="onAgruparChange($event)"></input-switch -->
    </toolbar>
    <filter [deleted]="this.auth.hasPermissionTo('MOD_AUDIT_DEL')" [form]="filter" [where]="filterWhere"
        [submit]="filterSubmit.bind(this)" [clear]="filterClear.bind(this)"
        [collapseChange]="filterCollapseChange.bind(this)" [collapsed]="!selectable && filterCollapsed">
        <div class="row">
            <input-search #unidade [size]="4" [control]="filter!.controls.unidade_id" controlName="unidade_id"
                [dao]="unidadeDao"></input-search>
            <input-search #entrega [size]="4" [control]="filter!.controls.entrega_id" controlName="entrega_id"
                [dao]="entregaDao"></input-search>
            <input-datetime [size]="2" date noIcon label="Início" controlName="data_inicio"
                [control]="filter!.controls.data_inicio"
                labelInfo="Data de início do planejamento institucional"></input-datetime>
            <input-datetime [size]="2" date noIcon label="Fim" controlName="data_fim"
                [control]="filter!.controls.data_fim"
                labelInfo="Data do fim do planejamento institucional"></input-datetime>
        </div>
    </filter>
    <columns>

        <column [title]="'Entrega\nDemandante/Destinatário'" [template]="columnEntregaCliente">
            <ng-template let-row="row" #columnEntregaCliente>
                {{row.descricao}}<br>
                <span class="d-block">
                    <badge *ngIf="row.plano_entrega && row.plano_entrega.unidade" color="light" [icon]="entityService.getIcon('Unidade')"
                        [label]="row.plano_entrega.unidade.sigla"></badge>
                    <badge *ngIf="row.destinatario?.length" color="light" icon="bi bi-mailbox"
                        [label]="row.destinatario"></badge>
                </span>
            </ng-template>
        </column>
        <column [title]="'Data Início\nData Fim'" [template]="columnDatas">
            <ng-template let-row="row" #columnDatas>
                <span *ngIf="row.data_inicio"> {{dao!.getDateFormatted(row.data_inicio)}}</span><br>
                <span *ngIf="row.data_fim"> {{dao!.getDateFormatted(row.data_fim)}}</span>
            </ng-template>
        </column>
        <!--<column [title]="'Meta'" [width]="200" [template]="columnMetaRealizado">
            <ng-template let-row="row" #columnMetaRealizado>
                <badge icon="bi bi-graph-up-arrow" [textValue]="entregaService.getValorMeta(row)" color="light" hint="Planejada"></badge><br>
                <badge icon="bi bi-check-lg" [textValue]="entregaService.getValorRealizado(row)" color="light" hint="Realizada"></badge>
            </ng-template>
        </column>-->
        <column [title]="'Progresso'" [width]="200" [template]="columnProgresso">
            <ng-template let-row="row" #columnProgresso>
                <progress-bar [value]="row.progresso_realizado" [goal]="row.progresso_esperado"
                    color="success"></progress-bar>
            </ng-template>
        </column>

        <!--LAYOUT ANTIGO
        <column title="Entrega" [template]="columnEntrega">
            <ng-template let-row="row" #columnEntrega>
                <p><b>Data:</b> {{util.getDateFormatted(row.data_inicio)}} - {{util.getDateFormatted(row.data_fim)}}</p>
                <p><b>Cliente:</b> {{row.cliente}}</p>
                <p>{{row.descricao}}</p>
                <badge icon="bi bi-list-columns-reverse" color="light" [label]="row.plano_entrega.unidade.sigla" [hint]="lex.translate('plano de entrega')"></badge>
            </ng-template>
        </column>
        <column title="Meta" [template]="columnMeta">
            <ng-template let-row="row" #columnMeta>
                <div class="meta h-100">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Meta</h5>
                            <h2 class="text-primary">{{entregaService.getValorMeta(row)}}</h2>
                        </div>
                    </div>
                </div>
            </ng-template>
        </column>
        <column title="Realizado" [template]="columnRealizado">
            <ng-template let-row="row" #columnRealizado>
                <div class="realizado h-100">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Realizado</h5>
                            <h2 *ngIf="!entregaService.isPorcentagem(row)" class="text-secondary">Regular</h2>
                            <progress-bar *ngIf="entregaService.isPorcentagem(row)" [value]="row.realizado!.porcentagem!" color="success"></progress-bar>
                        </div>
                        <div class="card-footer p-0">
                            <action-button icon="bi bi-card-checklist"></action-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </column>
    -->
    </columns>
    <pagination [rows]="rowsLimit"></pagination>
</grid>