<editable-form [form]="form!" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="GERAL" label="Geral">
            <div class="row">
                <input-search [size]="8" controlName="tipo_modalidade_id" [dao]="tipoModalidadeDao" labelInfo="Tipo de modalidade padrão utilizada ao criar plano de trabalho."></input-search>
                <input-workload [size]="4" #cargaHoraria [unit]="formaContagemCargaHoraria" label="Carga Horária" icon="bi bi-hourglass-split" controlName="carga_horaria_padrao" [unitChange]="onFormaContagemCargaHorariaChange.bind(this)" labelInfo="Carga horária e forma de contagem (horas por dia, semana ou mês) padrão utilizada ao criar plano de trabalho."></input-workload>
   
            </div>
        </tab>
        <tab key="EXPEDIENTE" label="Expediente">
            <calendar-expediente #expediente [control]="form!.controls.expediente"></calendar-expediente>
        </tab>
        <tab *ngIf="entity" key="NOTIFICACOES" label="Notificações">
            <notificacoes-config #notificacoes [entity]="entity" [entidadeId]="entity.id" [disabled]="formDisabled"></notificacoes-config>
            <!--div class="row">
                <div class="col-md-6">
                    <separator transparent title="Meios de notificação"></separator>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar no Petrvs" controlName="enviar_petrvs"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por e-mail" controlName="enviar_email"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" label="Notificar por Whatsapp" controlName="enviar_whatsapp"></input-switch>
                </div>
                <div class="col-md-6">
                    <separator transparent title="Tipos de notificação"></separator>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar distribuição ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_distribuicao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar conclusão ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_conclusao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar avaliação ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_avaliacao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar modificação ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_modificacao"></input-switch>
                    <input-switch [size]="12" scale="small" labelPosition="right" [label]="'Notificar comentário ' + lex.translate('demanda',false,true)" controlName="notifica_demanda_comentario"></input-switch>
                </div>
            </div>
            <separator transparent title="Templates das mensagens"></separator>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na criação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaDistribuicao" controlName="template_demanda_distribuicao"></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na conclusão ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaConclusao" controlName="template_demanda_conclusao"></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na avaliação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaAvaliacao" controlName="template_demanda_avaliacao"></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na modificação ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaModificacao" controlName="template_demanda_modificacao"></input-textarea>
            </div>
            <div class="row">
                <input-textarea [size]="12" [rows]="3" [label]="'Texto na inclusão de comentário ' + lex.translate('demanda', false, true)" [labelInfo]="notificacao.hintDemandaComentario" controlName="template_demanda_comentario"></input-textarea>
            </div//-->
        </tab>
        <tab key="NOMENCLATURA" label="Nomenclatura">
            <div clss="row">
                <grid [control]="form!.controls.nomenclatura" [form]="formNomenclatura" editable [hasAdd]="false">
                    <columns>
                        <column type="text" title="Nome" field="nome" [editable]="false"></column>
                        <column type="text" title="Singular" field="singular" [onChange]="onSingularChange.bind(this)"></column>
                        <column type="text" title="Plural" field="plural" [onChange]="onPluralChange.bind(this)"></column>
                        <column type="switch" title="Feminino" field="feminino"></column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>
        </tab>
    </tabs>
</editable-form>