<editable-form [form]="form!" [title]="isModal ? '' : title" (submit)="onSaveData()" (cancel)="onCancel()">
    <tabs display right>
        <tab key="GERAL" label="Geral">
            <div class="row">
                <input-search [size]="8" controlName="tipo_modalidade_id" [dao]="tipoModalidadeDao" labelInfo="Tipo de modalidade padrão utilizada ao criar plano de trabalho."></input-search>
                <input-workload [size]="4" #cargaHoraria [unit]="formaContagemCargaHoraria" label="Carga Horária" icon="bi bi-hourglass-split" controlName="carga_horaria_padrao" [unitChange]="onFormaContagemCargaHorariaChange.bind(this)" labelInfo="Carga horária e forma de contagem (horas por dia, semana ou mês) padrão utilizada ao criar plano de trabalho."></input-workload>
   
            </div>
        </tab>
        <tab key="EXPEDIENTE" label="Expediente">
            <calendar-expediente #expediente [control]="form!.controls.expediente"></calendar-expediente>
        </tab>
        <tab *ngIf="entity" key="NOTIFICACOES" label="Notificações">
            <notificacoes-config #notificacoes [entity]="entity" [entidadeId]="entity.id" [disabled]="formDisabled"></notificacoes-config>
        </tab>
        <tab *ngIf="entity" key="RELATORIOS" label="Relatórios">
            <relatorios-template #relatorios [entity]="entity" [entidadeId]="entity?.id"></relatorios-template>
        </tab>
        <tab key="NOMENCLATURA" label="Nomenclatura">
            <div clss="row">
                <grid [control]="form!.controls.nomenclatura" [form]="formNomenclatura" editable [hasAdd]="false">
                    <columns>
                        <column type="text" title="Nome" field="nome" [editable]="false"></column>
                        <column type="text" title="Singular" field="singular" [onChange]="onSingularChange.bind(this)"></column>
                        <column type="text" title="Plural" field="plural" [onChange]="onPluralChange.bind(this)"></column>
                        <column type="switch" title="Feminino" field="feminino"></column>
                        <column type="options"></column>
                    </columns>
                </grid>
            </div>
        </tab>
    </tabs>
</editable-form>